
// ----------------------------------------
// font
// ----------------------------------------
.wfont1 { font-family: 'Montserrat', sans-serif !important; }

.splash {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.splash__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  svg {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    @media #{$small} {
      max-width: 200px;
    }
  }
}
path {
  &.st1 {
    fill: none;
    stroke: #FF6727;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    stroke-width: 1;
    animation: color_1 2.6s ease-in-out forwards;
  }
}

@keyframes color_1 {
   0% {
   stroke-dashoffset: 2000;
   fill: transparent;
  }
   50% {
   fill: transparent;
  }
   100% {
     stroke-dashoffset: 0;
     fill: #FF6727;
  }
}


// ----------------------------------------
// main
// ----------------------------------------
.g_page__wrap {
  display: flex;
  width: 100%;
  position: relative;
  @media #{$small} {
    padding-top: 54px;
  }
}
.g_barba__main {
  width: 82%;
  margin: 0 0 0 auto;
  @media #{$small} {
    width: 100%;
  }
}
.g_barba__main-inner {
  padding: 0 120px 0 40px;
  @media #{$large} {
    padding-right: 64px;
    padding-left: 26px;
  }
  @media #{$small} {
    @include sp_padding;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
.g_page__area {
  display: flex;
  width: 100%;
  padding-bottom: 6rem;
  @media #{$small} {
    flex-direction: column;
    padding-bottom: 4rem;
  }
}
.g_main {
  width: 67%;
  @media #{$small} {
    width: 100%;
  }
}
.g_main__inner {}


// ----------------------------------------
// TITLE
// ----------------------------------------
.g_title__dot {
  font-size: .9rem;
  font-weight: 600;
  position: relative;
  padding: 0 0 1.8rem 0;
  text-align: left;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 12px;
    background: url(../img/bg/bg-dot.svg) repeat center bottom;
  }
}


// ----------------------------------------
// PJAX
// ----------------------------------------
.pjax_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 18%;
  width: 76.2%;
  height: 100%;
  background: #fff;
  cursor: progress;
  @media screen and (max-width: 1200px) {
    width: 83%;
  }
  @media #{$small} {
    left: 0;
    width: 100%;
  }
  .loader {
    position: absolute;
    width: 180px;
    top: 50%;
    right: 0;
    left: 0;
    margin: -60px auto auto auto;
    text-align: center;
    img {
      display: block;
      width: 160px;
      max-width: 100%;
      margin: 0 auto;
    }
    p {
      font-size: .8rem;
      color: #444;
      padding: .6rem 0 0 0;
    }
  }
}
.pjax_share__loader {
  width: 72px;
  height: 72px;
  position: fixed;
  right: 2px;
  top: 6px;
  background: #fff;
  transform: scale(0);
  transition: all .3s cubic-bezier(0,1,.64,1);
  @media #{$small} {
    z-index: 1;
    top: 0;
    right: 0;
    height: 54px;
    width: 66px;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: auto;
    font-size: 10px;
    border-top: 5px solid rgba($colorMain, .2);
    border-right: 5px solid rgba($colorMain, .2);
    border-bottom: 5px solid rgba($colorMain, .2);
    border-left: 5px solid $colorMain;
    transform: translateZ(0);
    animation: thumbsLoad .4s infinite linear;
    @media #{$small} {
      height: 16px;
      width: 16px;
    }
  }
}
.is-transition-start {
  .pjax_overlay {
    display: block;
  }
  .pjax_share__loader {
    transform: scale(1);
  }
}
