
.a_visual {
  background: #eee;
  position: relative;
  overflow: hidden;
  #particle-canvas {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 500px;
    div {
      background: none !important;
    }
  }
}
.a_visual__area {
  position: relative;
  z-index: 10;
  padding: 14rem 0;
  @media #{$mq_s} {
    padding: 12rem 0 10rem;
  }
  .a_visual__area-inner {
    @include main_width;
    max-width: 800px;
    .neolab {
      @media #{$mq_ss} {
        max-width: 240px;
      }
    }
  }
  .a_visual__description {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    .-title {
      font-size: 6.2rem;
      font-weight: 700;
      @media #{$mq_ss} {
        font-size: 3.6rem;
        margin: .8rem 0 0 0;
      }
      span {
        // background: linear-gradient(transparent 75%,#ff0 50%);
      }
    }
  }
  .g_breadcrumbs {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

.a_vision__area-inner {
  &.-primary {
    .-inner {
      @include main_width;
      max-width: 980px;
      text-align: left;
    }
    .a_vision__area-items {
      padding: 6rem 0;
      @media #{$mq_s} {
        padding: 4rem 0;
      }
      li {
        padding: 2rem 0;
        .-head {
          float: left;
          position: relative;
          @media #{$mq_s} {
            float: none;
          }
          &:after {
            content: '';
            width: 100px;
            height: 1px;
            background: #000;
            position: absolute;
            top: 13px;
            right: -120px;
            @media #{$mq_s} {
              right: inherit;
              margin: 0 0 0 3rem;
            }
          }
        }
        dl {
          padding: 0 0 0 280px;
          @media #{$mq_s} {
            padding: 0;
          }
          dt {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.75;
            @media #{$mq_s} {
              font-size: 1.4rem;
              margin: 1.4rem 0 0 0;
            }
          }
          dd {
            font-size: 1.3rem;
            margin: .6rem 0 0 0;
            color: #666;
            line-height: 1.8;
            @media #{$mq_s} {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
  &.-secondary {
    background: #eeeeee;
    .-inner {
      @include main_width;
      max-width: 640px;
      text-align: left;
      padding-top: 10rem;
      padding-bottom: 10rem;
      @media #{$mq_s} {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
    .neolab3 {
      text-align: center;
      @media #{$mq_s} {
        padding: 0 1.4rem;
      }
    }
    .-title {
      text-align: center;
      margin: 4rem 0 0 0;
      span {
        display: block;
        font-size: 3.2rem;
        font-weight: 700;
        @media #{$mq_ss} {
          font-size: 2.6rem;
        }
        &:first-child {
          font-size: 2rem;
          @media #{$mq_ss} {
            font-size: 1.6rem;
          }
        }
      }
    }
    .-description {
      margin: 4rem 0 0 0;
      @media #{$mq_s} {
        margin-top: 2rem;
      }
      p {
        margin: 1.4rem 0 0 0;
        font-size: 1.4rem;
        line-height: 2;
        @media #{$mq_s} {
          line-height: 1.8;
          font-size: 1.3rem;
        }
      }
    }
  }
}

.a_vision__area {
  &.-about {
    .-inner {
      @include main_width;
      max-width: 900px;
      padding-top: 10rem;
      padding-bottom: 10rem;
      @media #{$mq_s} {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
    .a_vision__area-list {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      margin: 6rem 0 0 0;
      @media #{$mq_s} {
        margin-top: 3rem;
      }
      .item {
        width: 50%;
        padding: 4rem 4rem;
        @media #{$mq_s} {
          width: 100%;
          padding: 1.4rem 0;
        }
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 1px solid #f6f6f6;
          @media #{$mq_s} {
            border: none;
          }
        }
        &:nth-child(1),
        &:nth-child(3) {
          border-right: 1px solid #f6f6f6;
          @media #{$mq_s} {
            border: none;
          }
        }
        .-number {
          display: block;
          font-size: 6rem;
          font-weight: 700;
          letter-spacing: -1px;
          line-height: 1.3;
          margin-top: -1rem;
          @media #{$mq_s} {
            font-size: 4rem;
          }
        }
        .-title {
          font-size: 1.8rem;
          font-weight: 700;
        }
        .-description {
          margin: 1rem 0 0 0;
          font-size: 1.3rem;
          color: #666666;
          line-height: 2;
          @media #{$mq_s} {
            margin-top: .6rem;
            line-height: 1.8;
          }
        }
      }
    }
  }
}


.a_executives__area {
  background: #eee;
}
.a_executives__area-inner {
  @include main_width;
  max-width: 900px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  @media #{$mq_s} {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.a_executives__list {
  text-align: left;
}
.a_executives__item {
  margin: 6rem 0 0 0;
  @media #{$mq_s} {
    margin-top: 4rem;
  }
  .a_executives__user {
    display: flex;
    @media #{$mq_s} {
      display: block;
    }
  }
  .a_executives__user-name {
    width: 30%;
    white-space: nowrap;
    margin: 0 auto 0 0;
    @media #{$mq_s} {
      width: auto;
    }
    .-position {
      display: block;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .-name {
      display: block;
      font-size: 1.8rem;
      font-weight: 500;
      @media #{$mq_s} {
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
  }
  .a_executives__user-description {
    width: 70%;
    margin: 0 0 0 auto;
    padding: 0 0 0 4rem;
    @media #{$mq_s} {
      width: auto;
    }
    p {
      font-size: 1.3rem;
      margin: 1rem 0 0 0;
      line-height: 1.8;
      @media #{$mq_s} {
        font-size: 1.1rem;
      }
      &:first-child {
        margin: 0;
      }
    }
  }
}
