
.company__nav-area {
  ul {
    @include main_width;
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
    flex-wrap: wrap;
    li {
      position: relative;
      margin: -1px 0 0 0;
      @media #{$mq_ss} {
        width: 50%;
      }
      &:before {
        @include transition;
        content: '';
        width: 0;
        height: 1px;
        background: #111;
        position: absolute;
        top: 0;
        left: 0;
      }
      a {
        @include transition;
        font-size: 1.4rem;
        font-weight: 500;
        display: block;
        padding: 3rem 3rem;
        color: #999;
        text-align: center;
        @media #{$mq_s} {
          font-size: 1.3rem;
          padding: 1.4rem 1.2rem;
          white-space: nowrap;
        }
      }
      &.-active,
      &:hover {
        &:before {
          width: 100%;
        }
        a {
          color: $c_default;
          font-weight: 700;
        }
      }
    }
  }
}

.company__head-title {
  padding: 6rem 0;
  h2 {
    strong {
      display: block;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 6px;
      line-height: 1;
      @media #{$mq_s} {
        font-size: 3rem;
      }
    }
    span {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

.company__contents-area {
  position: relative;
  text-align: left;
  padding: 0 0 10rem 0;
  margin: 2rem 0 0 0;
  overflow: hidden;
  @media #{$mq_s} {
    padding-bottom: 3rem;
  }
  &:before {
    @extend .gf1;
    content: attr(data-text);
    color: #f6f6f6;
    font-size: 260px;
    line-height: 1;
    white-space: nowrap;
    font-weight: 700;
    position: absolute;
    letter-spacing: 40px;
    left: -2%;
    top: 26%;
  }
}
.company__contents-inner {
  @include main_width;
  max-width: 980px;
  display: flex;
  @media #{$mq_s} {
    display: block;
  }
}
.company__contents-title {
  width: 40%;
  margin: 0 auto 0 0;
  position: relative;
  padding: 0 0 0 2rem;
  text-align: left;
  @media #{$mq_s} {
    width: auto;
  }
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 16px;
    background: #111;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 2px;
  }
  .-en {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    line-height: 1;
  }
  .-jp {
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
  }
}
.company__contents-description {
  @include main_width;
  max-width: 980px;
  text-align: left;
  font-size: 1.3rem;
  margin: 1.8rem auto 0 auto;
  line-height: 2;
  @media #{$mq_s} {
    font-size: 1.1rem;
    line-height: 1.7;
  }
}
.company__contents-info {
  width: 50%;
  margin: 0 0 0 auto;
  border-top: 2px solid #eee;
  padding: 3.2rem 0 0 0;
  position: relative;
  @media #{$mq_s} {
    border: none;
    width: auto;
    padding-top: 2rem;
  }
  &:before {
    content: '';
    width: 200px;
    background: #111;
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    @media #{$mq_s} {
      display: none;
    }
  }
  dl {
    display: flex;
    padding: 1rem 0;
    dt {
      font-size: 1.4rem;
      font-weight: 700;
      min-width: 150px;
    }
    dd {
      font-size: 1.4rem;
      font-weight: 400;
      a {
        color: $c_colorLink;
        text-decoration: underline;
      }
    }
  }
}

.company__contents-google {
  @include main_width;
  max-width: 980px;
  position: relative;
  .-map {
    height: 360px;
    position: relative;
    iframe {
      max-width: 100%;
      max-height: 100%;
      filter: grayscale(100%);
    }
    @media #{$mq_s} {
      height: 280px;
    }
  }
  .-btn {
    @include transition;
    color: $c_neolab_l;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 1.4rem;
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1.6rem;
    @media #{$mq_s} {
      width: 180px;
      font-size: 1.3rem;
      padding: 1rem;
    }
    &:hover {
      background: $c_neolab_l;
      color: #fff;
    }
    i {
      padding: 0 0 0 1rem;
    }
  }
}

.company__contents-inner {
  &.-gallery {
    display: block;
    padding-bottom: 10rem;
    @media #{$mq_s} {
      padding-bottom: 6rem;
    }
    .company__contents-title {
      margin: 5rem 0 0 0;
    }
  }
}
.company__contents-gallery {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -2rem 0 -2rem;
    @media #{$mq_s} {
      margin-right: -.7rem;
      margin-left: -.7rem;
    }
    li {
      width: 33%;
      padding: 2rem;
      @media #{$mq_s} {
        padding: .7rem;
        width: 50%;
      }
      a {
        @include transition;
        display: block;
        &:hover {
          opacity: .8;
          transform: scale(.9);
        }
        img {}
      }
    }
  }
}
.modal-images {
  .iziModal-button-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
