@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }
ul, li { list-style: none; }
a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; margin: 0; padding: 0; }
input, select { vertical-align: middle; }
a img { border: none; }
img { vertical-align: top; margin: 0; padding: 0; }
img { max-width: 100%; }

@font-face{
	font-family: "Original Yu Gothic";
	src: local("Yu Gothic");
	font-weight: 300;
}

@font-face{
	font-family: "Original Yu Gothic";
	src: local("Yu Gothic");
	font-weight: 500;
}

@font-face{
	font-family: "Original Yu Gothic";
	src: local("Yu Gothic");
	font-weight: bold;
}
@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Regular");
	font-weight: 100;
}
@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Regular");
	font-weight: 200;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Helvetica Neue", "Segoe UI", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", Meiryo, "M+ 1p", sans-serif;
	font-display: swap;
  font-size: 62.5%;
}

/* IE10以上 */
@media all and (-ms-high-contrast: none)  {
	html {
		font-family: Verdana, Meiryo, sans-serif;
	}
}
@media all and (-ms-high-contrast: active) {
	html {
		font-family: Verdana, Meiryo, sans-serif;
	}
}
body {
	text-align: center;
	position: relative;
	color: $c_default;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	line-height: 1.68;
  font-weight: 400;
	overflow-x: hidden;
}
html, body { height: 100%; }
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  letter-spacing: 0.004em;
	font-feature-settings: "palt";
}
a:link {
	color: $c_default;
	text-decoration: none;
	outline: none;
}
a:visited {
	color: $c_default;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: rgba($c_default, .6);
	text-decoration: none;
	outline: none;
}
.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }
.on a img,
.op,
.on a:hover img,
.op:hover { transition: all .3s cubic-bezier(0,1,.64,1); }
.on a:hover img,.op:hover {
	transition: all .3s cubic-bezier(0,1,.64,1);
	-webkit-opacity: .8;
	opacity: .8;
	text-decoration: none;
}
