// ----------------------------------------
//  詳細 tag
// ----------------------------------------
.g_main__inner {
  &.-single {
    text-align: left;
    padding: 2rem 0 4rem 0;
    @media #{$small} {
      padding-top: 1.4rem;
      padding-bottom: 0;
    }
  }
}
.s_post__head,
.s_post__food {
  display: flex;
  align-items: center;
  .post-categories {
    display: flex;
    align-items: center;
    margin-right: .8rem;
    @media #{$small} {
      flex-wrap: wrap;
    }
    li {
      margin-right: .4rem;
      @media #{$small} {
        margin-right: 0;
      }
      a {
        display: block;
        padding: .4rem 1rem;
        background: #EEE;
        color: #888;
        font-size: .75rem;
        font-weight: 500;
        border-radius: 3px;
        @media #{$small} {
          padding: .3rem .8rem;
          white-space: nowrap;
        }
      }
    }
  }
  .update {
    color: #888;
    font-size: 1rem;
    @media #{$small} {
      font-size: .8rem;
    }
    .new {
      font-style: normal;
      padding: 0 0 0 .6rem;
    }
  }
}
.s_post__food {
  margin-top: 2.4rem;
  @media #{$small} {
    display: block;
  }
  @media #{$small} {
    margin-top: 1.4rem;
  }
  .post-categories {
    margin-right: 0;
  }
  .s_tag {
    display: flex;
    align-items: center;
    @media #{$small} {
      flex-wrap: wrap;
      margin-top: .4rem;
    }
    li {
      margin-right: .4rem;
      @media #{$small} {

      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .4rem 1rem;
        color: #888;
        font-size: .75rem;
        font-weight: 500;
        border: 1px solid #eee;
        border-radius: 3px;
        &:before {
          @include iconfont;
          content: '\e54e';
          color: #ccc;
          font-size: 16px;
          padding-right: 4px;
          line-height: 1;
        }
      }
    }
  }
}


// ----------------------------------------
//  詳細 SNS
// ----------------------------------------
.s_facebook_area {
  background: #EEE;
  display: flex;
  align-items: center;
  margin: 1.6rem 0 0 0;
  @media #{$ssmall} {
    flex-direction: column;
    margin-top: 1.2rem;
  }
  .s_img {
    width: 50%;
    height: 100%;
    padding: 2px;
    @media #{$ssmall} {
      display: none;
    }
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }
  .s_btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media #{$ssmall} {
      width: 100%;
      padding: 1.4rem 0;
    }
    p {
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      color: #888;
      line-height: 1.6;
    }
    iframe {
      margin: .6rem 0 0 0;
    }
  }
}
.social__btn {
  margin: 1.2rem 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media #{$small} {
    margin-top: 1rem;
  }
}
.social__btn-items {
  margin: .2rem .2rem 0.2rem;
  a {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 28px;
    border-radius: 3px;
    padding: 0 .7rem;
    white-space: nowrap;
    border: 1px solid #eee;
    &:hover {
      background: #eee;
    }
    i {
      font-size: 15px;
      margin: 0 6px 0 0;
    }
    span {
      font-size: .8rem;
      color: #888;
      font-weight: 500;
    }
  }
  &.-facebook {
    height: 30px;
  }
  &.-facebook_share {
    a {
      background: #4267B2;
      color: #fff;
      border: none;
      &:hover {
        background: #365899;
      }
      span {
        color: #fff;
      }
    }
  }
}


// ----------------------------------------
//  詳細 中身
// ----------------------------------------
.s_single__title {
  font-size: 1.6rem;
  margin: 1.2rem 0 0 0;
  line-height: 1.45;
  @media #{$small} {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
}

.s_sub_title {
  padding: 1.8rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
  text-align: left;
  @media #{$small} {
    padding: 1.2rem 0;
    span {
      font-size: 1.1rem;
    }
  }
  span {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.s_post__thumbs {
  margin: 1.6rem 0 0 0;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    border: 1px solid #fafafa;
    display: block;
  }
}
.s_the_content {
  margin: 1.6rem 0 0 0;
  font-size: 1.05rem;
  line-height: 1.8;
  a {
    color: $colorLink;
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
  }
  iframe {
    max-width: 100%;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    max-height: 400px;
    margin: 1rem 0;
    display: flex;
  }
  h1, h2, h3, h4, h5,
  p,
  div,
  pre {
    margin-top: 1rem;
  }
  h1, h2, h3, h4, h5 {
    margin-top: 2.4rem;
  }
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  p {
    strong {
      display: block !important;
    }
  }
  div {
    strong {
      display: block;
      margin-top: 1rem;
    }
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1rem;
    li {
      list-style-type: disc;
      list-style-position: inside;
      padding: .8rem 0 0 1rem;
      text-indent: -1.5rem;
    }
  }
  ul, ol {
    li {
      padding: .8rem 0 0 1rem;
      span {}
      strong {
        display: inline-block;
      }
    }
  }
  pre {
    white-space: normal;
    background: #eee;
    padding: 1.4rem;
    font-size: 1.2rem;
    display: block;
    strong {
      display: block;
    }
  }
}


// ----------------------------------------
//  詳細 prev next
// ----------------------------------------
.s_prev_next {
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 1.6rem auto 0 auto;
  @media #{$small} {
    margin-top: 1.2rem;
  }
  a {
    &.prev,
    &.next {
      &:before {
        position: absolute;
        color: $colorLink;
        font-size: 24px;
      }
    }
    &.prev {
      text-align: left;
      padding-left: 1.8rem;
      @media #{$small} {
        padding-left: 0;
      }
      &:before {
        @include iconfont;
        content: '\e314';
        left: 2px;
        @media #{$small} {
          display: none;
        }
      }
      p {
        margin-left: auto;
      }
    }
    &.next {
      text-align: right;
      padding-right: 1.8rem;
      @media #{$small} {
        padding-right: 0;
      }
      &:before {
        @include iconfont;
        content: '\e315';
        right: 2px;
        @media #{$small} {
          display: none;
        }
      }
      .thumbnail {
        order: 2;
      }
      p {
        order: 1;
        margin-right: auto;
      }
    }
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1.4rem .8rem;
    position: relative;
    transition: all .3s cubic-bezier(0,1,.64,1);
    @media #{$small} {
      padding: 1rem 0;
    }
    &:hover {
      p {
        color: $colorLink;
      }
    }
    &:first-child {
      &:after {
        content: '' !important;
        width: 1px;
        height: 50%;
        display: block;
        background: #eee;
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        @media #{$small} {
          display: none;
        }
      }
    }
    .thumbnail {
      width: 70px;
      height: 70px;
      background: url(../img/common/thumbs-not_img-S.png) no-repeat center;
      background-size: cover;
      border: 1px solid #eee;
      @media #{$ssmall} {
        width: 50px;
        height: 50px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    p {
      color: #999;
      font-weight: 500;
      font-size: .75rem;
      width: 70%;
      line-height: 1.45;
      padding: 0 .4rem;
      @media #{$small} {
        font-size: .6rem;
        padding: 0 .4rem;
      }
    }
  }
}


// ----------------------------------------
//  詳細 recommend
// ----------------------------------------
.s_recommend__area {}
.s_recommend__area-inner {}
