
// ----------------------------------------
//  recruit header
// ----------------------------------------
.r_visual__area {
  .r_header__area {
    position: absolute;
    bottom: 0 !important;
    top: inherit;;
    background: #eee;
    .r_header__area-logo {
      display: none;
    }
  }
}

.r_header__area {
  @include transition;
  position: relative;
  width: 100%;
  z-index: 10;
  &.sticky {
    @include transition;
    background: rgba(255,255,255, .9) !important;
    position: fixed !important;
    bottom: inherit !important;
    top: 0;
    bottom: inherit !important;
    @media #{$mq_s} {
      position: relative !important;
    }
    .r_header__area-inner {
      .r_header__area-logo {
        display: block;
      }
    }
  }
}
.r_header__area-inner {
  display: flex;
  align-items: center;
  .r_header__area-logo {
    padding: 0 0 0 2rem;
  }
}
.r_header__area-logo {
  a {
    display: flex;
    align-items: flex-end;
    .r_logo {
      display: inline-block;
      margin: 0 10px 0 0;
    }
    .r_text {
      color: $c_neolab;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}
.r_header__area-menu {
  display: flex;
  align-items: center;
  margin: 0 12rem 0 auto;
  @media (max-width: 1000px) {
    margin-right: 10rem;
  }
  @media #{$mq_s} {
    width: 100%;
    margin: 0;
    background: #eee;
    margin: 0 0 0 0;
    padding: 0;
    justify-content: center;
  }
  li {
    a {
      display: block;
      font-weight: 700;
      font-size: 1.5rem;
      padding: 2.8rem 4.2rem;
      @media (max-width: 1000px) {
        padding: 2.8rem 3rem;
      }
      @media (max-width: 850px) {
        padding: 2.8rem 2rem;
      }
      @media #{$mq_s} {
        white-space: nowrap;
        padding: 2rem 1.4rem;
        font-size: 1.3rem;
      }
      @media #{$mq_ss} {
        padding: 2rem 1rem;
      }
      span {}
      &.entry,
      &.active,
      &:hover {
        background: #111;
        color: #fff;
      }
    }
    &.entry {
      a {}
    }
  }
}
