.cb-slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow: hidden;
  li {
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      -webkit-backface-visibility: hidden;
      animation: imageAnimation 18s linear infinite 0s;
    }
    &:nth-child(1) span {
    }
    &:nth-child(2) span {
      animation-delay: 6s;
    }
    &:nth-child(3) span {
      animation-delay: 12s;
    }
    /* &:nth-child(4) span {
      background-image: url(../images/3.jpg);
      animation-delay: 18s;
    }
    &:nth-child(5) span {
      background-image: url(../images/2.jpg);
      animation-delay: 24s;
    }
    &:nth-child(6) span {
      background-image: url(../images/1.jpg);
      animation-delay: 30s;
    } */
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    transform: scale(1.1);
  }

  25% {
    opacity: 0;
    transform: scale(1.15);
  }

  100% {
    opacity: 0;
  }
}


/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}
