

// ----------------------------------------
//  recruit visual
// ----------------------------------------
#recruit-top {
  @media #{$mq_s} {
    overflow-x: hidden;
  }
}
.r_visual__area {

}
.r_visual__area-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
  .r_visual__copy-title {
    position: absolute;
    top: 44%;
    left: 18%;
    z-index: 10;
    transform: rotate(-3deg);
    @media (max-width: 950px) {
      left: 12%;
    }
    @media #{$mq_s} {
      left: 4%;
    }
    span {
      font-size: 6rem;
      font-weight: 700;
      display: block;
      background: #111;
      color: #fff;
      margin: 2rem 0 0 0;
      padding: .6rem 3rem;
      position: relative;
      white-space: nowrap;
      @media #{$mq_s} {
        font-size: 3rem;
        margin: 1rem 0 0 0;
      }
      &.-primary {}
      &.-secondary {
        left: 8rem;
        @media #{$mq_s} {
          left: 3rem;
        }
      }
    }
  }
  .r_recruit__svg-head {
    position: absolute;
    top: 20%;
    left: 54vw;
    z-index: 1;
    @media (max-width: 1300px) {
      left: 44vw;
    }
    @media (max-width: 1050px) {
      left: 36vw;
    }
    @media (max-width: 950px) {
      left: 30vw;
    }
    @media #{$mq_s} {
      left: auto;
      right: -5rem;
      transform: scale(.7);
    }
    @media #{$mq_ss} {
      right: -12rem;
      top: 20%;
      transform: scale(.5);
    }
    .r_yer {
      position: absolute;
      top: -2rem;
      right: 3rem;
    }
    .r_text {}
  }
  .r_visual___copyright {
    position: absolute;
    top: 42%;
    left: 4.2rem;
    z-index: 10;
    font-weight: 500;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    @media #{$mq_s} {
      display: none;
    }
    i {
      font-size: 1.2rem;
    }
    small {
      font-size: 1.2rem;
    }
  }
}
.r_visual__area-block {
  position: absolute;
  top: -8vw;
  right: -24vw;
  @media (max-width: 1300px) {
    right: -20vw;
  }
  @media #{$mq_s} {
    top: 0;
    right: 0;
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../img/common/video-mask.png);
    }
  }
  .r_visual__video {
    clip-path: url(#r_visual__msk);
    -webkit-clip-path: url(#r_visual__msk);
    width: 140%;
    height: 140%;
    position: relative;
    object-fit: cover;
    @media #{$mq_s} {
      min-width: 100%;
      min-height: 100vh;
      width: 100%;
      height: 100%;
      max-width: none;
      &:before {
        filter: blur(10px);
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
      }
      clip-path: none;
      -webkit-clip-path: none;
    }
  }
  .r_svg {
    @media #{$mq_s} {
      display: none;
    }
  }
  #r_visual__msk {}
}
$color-white: #FFFFFF;
$color-black: #222222;
$ease-in-out-base: cubic-bezier(1, 0, 0, 1);
.scroll-link{
  position: absolute;
  transform: translateX(-50%);
  z-index: 6;
  left: 5rem;
  bottom: 22px;
  z-index: 20;
  @media #{$mq_s} {
    left: 50%;
    bottom: 16%;
  }
  .scroll-link-box{
    text-align: center;
    margin-top: 15px;
    position: relative;
    height: 30px;
    transform: scale(1.2);
    .scroll-link-arrow{
      animation: scroll-link-rotate 2s forwards infinite;
      path{
        stroke-dasharray: 40px 40px;
        stroke-dashoffset: 0px;
        animation: scroll-link-stroke-path 2s forwards infinite;
        @media #{$mq_s} {
          stroke: #fff;
        }
      }
    }
  }
}
.scroll-link-line{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  height: 30px;
  width: 2px;
  overflow: hidden;
  > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80px;
    width: 1px;
    background: $color-black;
    animation: scroll-link-line 2s $ease-in-out-base forwards infinite;
    @media #{$mq_s} {
      background: #fff;
    }
  }
}
@keyframes scroll-link-line {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes scroll-link-rotate{
  0% { transform: rotateY(0deg);}
  60% { transform: rotateY(360deg);}
  100% { transform: rotateY(360deg);}
}




// ----------------------------------------
//  recruit common
// ----------------------------------------
.r_section {}
.r_section__inner {}

.r_title__area {}
.r_title__inner {
  strong {
    &.-jp {
      display: block;
      font-size: 2rem;
      font-weight: 600;
      padding: 0 0 1rem 0;
      @media #{$mq_s} {
        font-size: 1.6rem;
      }
    }
  }
  span {
    &.-en {
      @extend .gf1;
      display: block;
      text-transform: uppercase;
      font-size: 14rem;
      line-height: 1;
      @media #{$mq_s} {
        font-size: 10vw;
      }
    }
  }
}
.r_title__inner-sub {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
}

.r_slider__mask {
  clip-path: url(#r_svg__path);
  -webkit-clip-path: url(#r_svg__path);
  @media #{$mq_s} {
    clip-path: none;;
    -webkit-clip-path: none;;
  }
}


// ----------------------------------------
//  recruit join
// ----------------------------------------
.r_section__join {
  background: #eeeeee;
  padding: 16rem 0 18rem;
  position: relative;
  @media #{$mq_s} {
    padding: 6rem 0;
  }
  .r_section__inner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.4rem;
    text-align: left;
    position: relative;
    .j_style_1 {
      font-size: 160px;
      color: #000;
      position: absolute;
      left: -28rem;
      top: -2rem;
      z-index: 0;
    }
    .j_style_2 {
      font-size: 80px;
      color: #000;
      position: absolute;
      right: -30rem;
      top: 20rem;
      z-index: 0;
    }
    .j_style_3 {
      font-size: 700px;
      color: #fff;
      position: absolute;
      bottom: -10rem;
      left: -6rem;
      z-index: 0;
      @media #{$mq_s} {
        font-size: 500px;
        left: 0;
        bottom: -6rem;
      }
    }
  }
  .r_primary {
    display: flex;
    align-items: center;
    @media #{$mq_s} {
      display: block;
    }
    .r_items__left {
      width: 50%;
      height: 320px;
      margin: 0 auto 0 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @media #{$mq_s} {
        width: 100%;
        margin: 0 auto;
        height: 200px;
      }
      svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        @media #{$mq_s} {
          transform: scale(.8);
        }
      }
      .r_title {
        font-size: 8rem;
        font-weight: 700;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: -4px;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$mq_s} {
          font-size: 4rem;
        }
      }
    }
    .r_items__right {
      width: 50%;
      margin: 0 0 0 auto;
      padding: 0 0 0 4rem;
      @media #{$mq_s} {
        width: auto;
        padding: 3rem 0 0 0;
      }
      .r_title {
        span {
          display: block;
          white-space: nowrap;
          &:first-child {
            font-size: 2.2rem;
            font-weight: 700;
            @media #{$mq_s} {
              font-size: 2rem;
            }
          }
          &:last-child {
            margin: .8rem 0 0 0;
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.2;
            @media #{$mq_s} {
              font-size: 3rem;
            }
          }
        }
      }
      .r_text {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.2;
        margin: 2.4rem 0 0 0;
        position: relative;
      }
    }
  }
  .r_secondary {
    .r_text {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 2;
      margin: 4rem 0 0 0;
      position: relative;
      @media #{$mq_s} {
        font-size: 2.4rem;
        margin-top: 3rem;
      }
      .high {
        background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #fcff00 0%) repeat scroll 0 0;
      }
    }
  }
}




// ----------------------------------------
//  recruit job
// ----------------------------------------
.r_section__job {
  padding: 12rem 0;
  position: relative;
  overflow: hidden;
  @media #{$mq_s} {
    padding: 6rem 0;
  }
  .r_section__inner {
    .j_style_1 {
      font-size: 700px;
      color: #eee;
      position: absolute;
      left: -80px;
      top: -80px;
      z-index: -1;
      @media #{$mq_ss} {
        font-size: 500px;
      }
    }
  }
}

.r_job__slider {
  @media #{$mq_s} {
    margin: 4rem 0 0 0;
  }
  .r_slider__items {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .r_slider__items-inner {
    @include transition;
    display: block;
    height: 600px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    @media #{$mq_s} {
      height: auto;
    }
    &:hover {
      transform: scale(1.1);
    }
    img {
      height: 100%;
      object-fit: cover;
    }
    path {
      width: 900px;
      margin: 0 auto;
    }
    .r_svg {
      position: relative;
      @media #{$mq_s} {
        display: none;
      }
    }
    .r_slider__info {
      position: absolute;
      bottom: 2rem;
      left: 52%;
      text-align: left;
      color: #111;
      background: #fff;
      padding: 3rem;
      @media #{$mq_s} {
        padding: 2.4rem 1.6rem 1.6rem 1.6rem;
        left: auto;
        right: 0;
        bottom: 0;
      }
    }
    .r_user__name {
      position: absolute;
      top: -2.2rem;
      font-size: 1.6rem;
      font-weight: 700;
      display: inline-block;
      vertical-align: top;
      background: #111;
      color: #fff;
      padding: .6rem 2rem;
      @media #{$mq_s} {
        font-size: 1rem;
        right: 0;
      }
    }
    .r_user__message {
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 1.4;
      @media #{$mq_s} {
        font-size: 1.4rem;
      }
    }
    .r_user__year {
      margin: 1rem 0 0 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 1.2rem;
      font-weight: 700;
      @media #{$mq_s} {
        display: none;
      }
    }
    .r_user__position {
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0;
      @media #{$mq_s} {
        display: none;
      }
    }
  }
}

.r_recruit__list {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.4rem;
  @media #{$mq_s} {
    margin: 3rem 0 0 0;
  }
}
.r_recruit__list-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
  li {
    width: 33.33%;
    padding: 1%;
    @media #{$mq_s} {
      width: 50%;
    }
    @media #{$mq_ss} {
      width: 100%;
      padding: 1% 0;
    }
    a {
      display: block;
      background: #111;
      color: #fff;
      padding: 2rem 1.4rem;
      font-size: 1.4rem;
      font-weight: 700;
      @media #{$mq_ss} {
        padding: 1.2rem;
        font-size: 1.3rem;
      }
      &.not_link {
        cursor: default;
        pointer-events: none;
      }
      span {}
    }
  }
}


// ----------------------------------------
//  recruit process
// ----------------------------------------
.r_section__process {
  position: relative;

  .j_style_1 {
    font-size: 500px;
    color: #eee;
    position: absolute;
    right: -80px;
    top: -400px;
    z-index: -1;
    @media #{$mq_s} {
      font-size: 300px;
    }
  }

  .r_section__inner {}
  .r_process__contents {
    padding: 8rem 0;
    @media #{$mq_s} {
      padding: 4rem 0 6rem 0;
    }
  }
  .r_process__contents-inner {
    @include main_width;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background: url(../img/recruit/top/process-line.png) no-repeat center;
    background-size: 80%;
    @media #{$mq_s} {
      display: block;
      background: none;
    }
    .items {
      width: 350px;
      height: 350px;
      text-align: center;
      position: relative;
      @media #{$mq_s} {
        width: auto;
        height: auto;
        right: 0 !important;
        left: 0 !important;
        margin: 1.6rem 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @media #{$mq_s} {
          display: block;
          height: auto;
        }
      }
      .label {
        background: #111;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1rem 0 .6em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        line-height: 1;
        margin: 0 auto;
        position: absolute;
        top: -6px;
        right: 0;
        left: 0;
        @media #{$mq_s} {
          right: initial;
          top: 0;
        }
      }
      .icon {
        @media #{$mq_s} {
          display: none;
        }
      }
      .text {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4;
        margin: 1.6rem 0 0 0;
        @media #{$mq_s} {
          padding: 0 0 0 10rem;
          text-align: left;
          margin: 0;
          line-height: 30px;
          br {
            display: none;
          }
        }

      }
      &.-s1 {
        position: relative;
        right: -2rem;
      }
      &.-s2 {

      }
      &.-s3 {
        position: relative;
        left: -2rem;
      }
    }
  }
}
