.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	pointer-events: none;
	opacity: 0;
}

.dual {

}

.dual__inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dual__content {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    padding: 1.5em 2.5em;
    font-size: 1.75em;
    line-height: 1.4;
    color: #8a7c78;
    
}

.js .dual__content {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(60px,0,0);
    transition: opacity 0.55s 0.4s, transform 0.55s 0.4s;
}

.dual__content.dual__content--show {
    opacity: 1;
    pointer-events: visible;
    transform: translate3d(0,0,0);
}