@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    @include transition(all, .3s, cubic-bezier(0,1,.64,1));
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    top: 50%;
    padding: 0;
    border: none;
    outline: none;
    color: transparent;
    z-index: 10;
    @media #{$small} {
        @include transform(scale(.5,.5));
        top: 96%;
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev {
    left: 3em;
    background: transparent url(../img/icon/icon-arrow_left_01.svg) no-repeat center center;
    &:hover {
        left: 2em;
    }
}

.slick-next {
    right: 3em;
    background: transparent url(../img/icon/icon-arrow_right_01.svg) no-repeat center center;
    &:hover {
        right: 2em;
    }
}

/* Dots */

.slick-dotted.slick-slider {
}

.slick-dots {
    position: absolute;
    bottom: -4em;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    @media #{$small} {
        bottom: -2em;
    }
    li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 10px;
        width: 10px;
        margin: 0 .7em;
        padding: 0;
        cursor: pointer;
        button {
            @include transition(all, .3s, cubic-bezier(0,1,.64,1));
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
            padding: 0;
            background: transparent;
            display: block;
            height: 10px;
            width: 10px;
            outline: none;
            color: transparent;
            border: 1px solid rgba(255,255,255, .9);
            cursor: pointer;
            border-radius: 50em;
            &:hover {
                background: rgba(255,255,255, .9);
            }
        }
        &.slick-active button {
            background: rgba(255,255,255, .9);
        }
    }
}
