

/* ---------------------------------------
	form
--------------------------------------- */

.form-control {
	box-shadow: none;
	border: none;
	padding: .6em 0;
	font-size: 1.1em;
	display: block;
	width: 100%;
	line-height: 1.42857;
	color: #555555;
	border-bottom: solid 1px #e6e6e6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&.textarea + .label_custom {
		top: 0;
		bottom: initial;
		margin-top: 2.4em;
	}
	@media #{$small} {
		padding: .4em 0;
	}
}

#confirm {
	.form_wrap {
		padding-top: 3em;
	}
}
.form_wrap {
	max-width: 580px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	padding: 6em 0;
	@media #{$small} {
		max-width: none;
		width: auto;
		padding: 2em 1.6em 4em 1.6em;
	}
	.required {
		&:before {
			position: absolute;
			top: 20px;
			right: 0;
			content: '※';
			color: #DB466B;
			width: 14px;
			height: 14px;
			display: inline-block;
			line-height: 14px;
			text-align: center;
			cursor: default;
			pointer-events: none;
			z-index: 10;
		}
	}
	.error {
		font-size: .8em !important;
		color: $red !important;
		font-weight: 500;
		margin: .6em 0 0 0;
	}
	dl {
		padding: 1.8em 0;
		position: relative;
	}
	dt {
		font-size: .9em;
		position: relative;
		text-align: left;
		font-weight: bold;
		color: #B4BACC;
		.sr-only {
			display: none;
		}
	}
	dd {
		position: relative;
		color: #777;
		font-size: 14px;
		text-align: left;
	}
}

.mw_wp_form_confirm {
	dl {
		border-bottom: 1px solid #eee;
    	margin-top: 2em;
		dd {
			.input_label {
				input {}
				.label_custom {
					bottom: .6em;
				    font-size: .9em;
				    font-weight: 500;
				}
			}
		}
	}
}


.input_label {
	position: relative;
	.line {
		width: 0px;
		height: 2px;
		top: -1px;
		display: block;
		position: relative;
		background-color: #4285f4;
	}
	.label_custom {
		color: #96a2ac;
		position: absolute;
		cursor: text;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition: transform 0.3s ease;
		-moz-transition: transform 0.3s ease;
		-ms-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
		left: 0;
		bottom: -.6em;
		font-size: 1em;
		pointer-events: none;
		-webkit-appearance: none;
		border-radius: 0;
		@media #{$small} {
			font-size: .9em;
		}
	}
	.input_custom {
		-webkit-transition: transform 0.6s ease;
		-moz-transition: transform 0.6s ease;
		-ms-transition: transform 0.6s ease;
		transition: transform 0.6s ease;
	}
	.input_custom:focus {
		outline: none;
	}
	&.animation {
		.label_custom {
			-webkit-transform: translateY(-46px);
			-moz-transform: translateY(-46px);
			-ms-transform: translateY(-46px);
			transform: translateY(-46px);
			font-size: .8em;
		}
		&.animation-color {
			.line {
				width: 100%;
			}
		}
	}
}



@media (max-width: 746px) {
	.form_wrap {
		.input_label {
			.label_custom {
				-webkit-transform: translateY(-60%);
				-moz-transform: translateY(-60%);
				-ms-transform: translateY(-60%);
				transform: translateY(-60%);
				-webkit-transition: transform 0.3s ease;
				-moz-transition: transform 0.3s ease;
				-ms-transition: transform 0.3s ease;
				transition: transform 0.3s ease;
			}
			.input_custom {
				-webkit-transition: transform 0.6s ease;
				-moz-transition: transform 0.6s ease;
				-ms-transition: transform 0.6s ease;
				transition: transform 0.6s ease;
			}
			&.error .label_custom,
			&.animation .label_custom {
				-webkit-transform: translateY(-40px);
				-moz-transform: translateY(-40px);
				-ms-transform: translateY(-40px);
				transform: translateY(-40px);
			}
		}
	}
}

@media (max-width: 746px) {
	.form_wrap {
		dl {
			padding: 1.4em 0;
		}
		dd {
			.form-control, input, textarea {
				font-size: 16px;
			}
		}
	}
}

/* ---------------------------
	select
--------------------------- */


/* -------------------
	checkbox
-------------------------------------- */
.ch_1st_ttl{
    font-size: .9em;
}
.checkbox {
	text-align: left;
    padding-top: 1em;
    span{
        width: 50%;
    }
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 1em 3em 0 0;
	}
	&.color_1 li input[type=checkbox] + label {
		color: #fff;
		font-weight: normal;
		&:before {
			background: #3080c1;
			border: none;
		}
		&:after {
			border-color: #fff;
		}
	}
	input {
		&[type=radio], &[type=checkbox] {
			display: inline-block;
			vertical-align: middle;
		}
		&[type=radio] + span, &[type=checkbox] + span {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			cursor: pointer;
		}
	}
}

@media (min-width: 1px) {
	.checkbox {
		.horizontal-item {
			margin: 0 6em 0 10px;
		}
	}
	.checkbox input {
		&[type=radio], &[type=checkbox] {
			display: none;
			margin: 0;
		}
		&[type=radio] + span, &[type=checkbox] + span {
			padding: 0 0 0 40px;
            margin-bottom: 1em;
		}
		&[type=radio] + span:before, &[type=checkbox] + span:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 1px;
			display: block;
			width: 24px;
			height: 24px;
			margin-top: -13px;
			background: #fafafa;
			border: 2px solid #dee2e5;
			border-radius: 2px;
		}
		&[type=radio] {
			+ span:before {
				border-radius: 50%;
			}
			&:checked + span:before {
				border: 2px solid #db4437;
				background: #db4437;
			}
		}
		&[type=checkbox]:checked + span:before {
			border: 2px solid #db4437;
			background: #db4437;
		}
		&[type=radio]:checked + span:after {
			content: "";
			position: absolute;
			top: 50%;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: block;
		}
		&[type=checkbox]:checked + span:after {
			content: "";
			position: absolute;
			top: 50%;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: block;
			left: 8px;
			margin-top: -6px;
			width: 14px;
			height: 8px;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&[type=radio] {
			&:checked + span:after {
				left: 8px;
				margin-top: -6px;
				width: 14px;
				height: 8px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:disabled:checked + span:after {
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
			}
		}
		&[type=checkbox]:disabled:checked + span:after {
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
		&[type='radio']:disabled + span:before, &[type='checkbox']:disabled + span:before {
			border: 1px solid #e2e5e7;
			background-color: #eeeeee;
		}
		&[type='radio']:disabled + span:hover, &[type='checkbox']:disabled + span:hover {
			cursor: not-allowed;
		}
	}
}




.form_btn {
	text-align: center;
	display: table;
	width: 100%;
	margin: 3em auto 0 auto;
	@media #{$small} {
		margin-top: 2em;
	}
	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 .4em;
		input {
			display: block;
			width: 100%;
			min-width: 150px;
			outline: none;
			background: none;
			border: 1px solid transparent;
			cursor: pointer;
			letter-spacing: 1px;
			@include transition(all, .3s, cubic-bezier(0,1,.64,1));
			border-radius: 0;
			font-size: 1.2em;
			font-weight: 600;
			padding: 1.2em 3em;
			&:hover {
				opacity: .6;
			}
		}
		@media #{$small} {
			input {
				min-width: 120px;
				font-size: 1em;
				padding: 1em 0;
			}
		}
		&.back {
			input {
				background: #bbb;
				color: #fff;
			}
		}
		&.submit {
			input {
				background: $red;
				color: #fff;
			}
		}
	}
}



.page_complete {
	padding: 4em 0;
	@media #{$small} {
		padding: 3em 1.6em 4em;
	}
	.txt_wrap {
		.txt {
			font-size: 1.1em;
			line-height: 2.4;
			b {
				font-size: 1.4em;
			}
			@media #{$small} {
				font-size: 1em;
				line-height: 2;
				b {
					display: block;
					font-size: 1.3em;
					padding-bottom: .8em;
				}
				br {
					display: none;
				}
			}
		}
	}
}


.top_btn {
	margin: 2em auto 0 auto;
	text-align: center;
	a {
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 1.2em;
	    font-weight: 600;
	    padding: 1.2em 3em;
	    background: #111;
	    color: #fff;
	    border-radius: 50em;
	    @media #{$small} {
	        font-size: 1.1em;
			padding: 1.1em 2.6em;
		}
	}
}