/* ---------------------------------------
	form
--------------------------------------- */
.header_fixed__margin {
  margin-top: 8rem;
}

.m_main__area-inner {
  &.-contact {
    max-width: 620px;
    width: 100%;
    padding: 0 1.4rem 6rem 1.4rem;
    margin: 0 auto;
    text-align: left;

    .f_top__description {
      font-size: 1.4rem;
      text-align: center;
      padding-bottom: 4rem;
    }

    .f_bottom__description {
      font-size: 1.4rem;
      padding: 3rem 0 0 0;
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
  }

  &.r_formrun__input {
    margin-top: 4rem;

    h2 {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        font-size: 2rem;
        margin-bottom: 0;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
      padding: 3rem 0;

      @media (max-width: 768px) {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }
}

.f_form__area {
  &.f_layout__row {
    dl {
      display: flex;
      align-items: flex-start;

      @media (max-width: 768px) {
        display: block;
      }
    }

    dt {
      width: 30%;
      margin: 1.6rem auto 0 0;

      @media (max-width: 768px) {
        margin: 0;
        width: 100%;

        br {
          display: none;
        }
      }
    }

    dd {
      width: 70%;
      margin: 0 0 0 auto;

      @media (max-width: 768px) {
        margin: 1rem 0 0 0;
        width: 100%;
      }
    }
  }

  dl {
    padding: 2.4rem 0 0 0;
    position: relative;

    &:first-child {
      padding-top: 0;
    }
  }

  dt {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;

    &.required {
      &:before {
        content: '\5FC5\9808';
        background: $c_neolab_l;
        color: #fff;
        font-size: .9rem;
        display: inline-block;
        vertical-align: middle;
        padding: .5rem .8rem;
        line-height: 1;
        border-radius: 2px;
        margin-right: .8rem;
      }
    }
  }

  dd {
    position: relative;
    margin: 1.2rem 0 0 0;
    font-size: 1.4rem;
  }

  input[type=email],
  input[type=text],
  input[type=tel],
  textarea {
    @include transition;
    outline: none;
    border: none;
    padding: 1.4rem;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      background: #f3f3f3;
    }

    &::placeholder {
      color: #ccc;
    }

    &:focus {
      border-color: #3273dc;
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, .25);
    }

    &.error {
      background: rgba(#B70000, .1);
      font-size: 1.4rem;
    }

  }

  select {
    background: #f9f9f9;
    padding: 1.2rem 1.4rem;
    border: 1px solid #eee;
    width: 100%;
    border-radius: 2px;
    font-size: 1.4rem;
    position: relative;
    outline: none;
    color: #666;

    &:hover {
      background: #f3f3f3;
    }

    &.error {
      background: rgba(#B70000, .1);
      border-color: rgba(#B70000, .1);
    }

    +.f_select__icon {
      position: absolute;
      top: 12px;
      right: 1.2rem;
      font-size: 24px;
      color: #aaa;
      cursor: default;
      pointer-events: none;
    }
  }

  textarea {
    min-height: 160px;
  }

  .f_input__checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }

  .f_input__checkbox-item {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .f_input__checkbox-label {
    display: flex;
    align-items: center;
    padding: .4rem 0;
    cursor: pointer;
    line-height: 1.5;

    a {
      color: #039be5;
      text-decoration: underline;
    }

    .f_input__checkbox {
      position: relative;
      outline: none;
      margin: 0 6px 0 0;

      &:before {
        @include iconfont;
        content: '\e835';
        font-size: 22px;
        color: #888;
      }

      &:checked {
        &:before {
          color: #666;
          content: '\e834';
        }
      }
    }
  }


  span.error {
    font-size: 1.4rem;
    font-weight: 500;
    padding: .6rem 0 0 0;
    color: #B70000;

    &.formrun-system-show {
      display: block;
    }
  }
}


/* ---------------------------------------
	btn
--------------------------------------- */
.f_btn__submit {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3em -1% 0 -1%;

  button[type="submit"],
  input {
    transition: all .3s cubic-bezier(0, 1, .64, 1);
    width: 48%;
    margin: 0 1%;
    outline: none;
    background: #111;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.6rem 0;
    border-radius: 3px;

    &:hover {
      opacity: .6;
    }
  }

  input[name=submitBack] {
    background: #ccc;
  }
}


/* ---------------------------------------
	comfirm
--------------------------------------- */
.mw_wp_form_confirm {
  padding: 3rem 0 10rem;
}


/* ---------------------------------------
	complete
--------------------------------------- */
.f_complete__body {
  padding: 3rem 0 8rem;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    font-size: 1.4rem;
    margin: 1.4rem 0 0 0;
  }

  .btns {
    margin: 3rem 0 0 0;
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;

  .items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 3px;
    min-width: 240px;
    padding: 1.6rem 0;
    font-weight: 500;

    &.-black {
      background: #111;
      color: #fff;
    }

    &.-orange {
      background: $c_neolab_l;
      color: #fff;
    }
  }
}