// ----------------------------------------
//  breadcrumbs
// ----------------------------------------
.breadcrumbs {
	text-align: left;
	margin: 0;
	.inner {
		max-width: 1200px;
		width: 100%;
		padding: .6em 1.4em;
		margin: 0 auto;
		font-size: .85em;
		a {
			span {}
			&:hover {
				opacity: .6;
			}
		}
		i {
			display: inline-block;
			vertical-align: middle;
			width: 7px;
			height: 7px;
			border-top: 2px solid #bbb;
			border-right: 2px solid #bbb;
			margin: 0 10px;
			transform: rotate(45deg);
		}
		span {
			color: #666;
		}
	}
}
@media #{$mq_s} {
	.breadcrumbs {
		.inner {
			max-width: none;
			width: auto;
			padding: .8em 1.6em;
			white-space: nowrap;
			overflow-x: auto;
			font-size: .7em;
			span {}
		}
	}
}

// ----------------------------------------
//  breadcrumbs
// ----------------------------------------
.r_interview__archive-header {
  .g_breadcrumbs {
    position: absolute;
    width: 100%;
    bottom: 0;
		border-top: none;
  }
	a.home {
		&:before {
			color: #fff !important;
		}
	}
  .g_breadcrumbs__inner {
    span {
      color: #fff;
    }
  }
}

.g_breadcrumbs {
	text-align: left;
	margin: 0;
	position: relative;
	border-top: 1px solid #eee;
	.mask {
		display: block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, white 100%);
		position: absolute;
		width: 60px;
		height: 40px;
		top: 12px;
		right: 0;
	}
}
.r_interview__archive-header {
	.g_breadcrumbs__inner {
		i {
			color: #fff !important;
		}
	}
}


.g_breadcrumbs__inner {
  @include main_width;
	display: flex;
	align-items: center;
	padding-top: 1.2rem;
  padding-bottom: 1.2rem;
	font-size: 1.2rem;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	@media #{$mq_s} {
		overflow-x: auto;
		padding: 1.4rem;
		-webkit-overflow-scrolling: touch;
	}
	i {
		margin-left: 6px;
		margin-right: 6px;
		font-size: 16px;
		color: #999;
	}
	span {
		a {
			&:hover {
				opacity: .6;
			}
		}
		.home {
			overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 26px;
	    height: 26px;
	    font-size: 18px;
			&:before {
				@include iconfont;
				content: '\e88a';
				color: #999;
			}
			span {
				display: none;
			}
		}
	}
	.g_breadcrumbs__icon-arrow {
		display: inline-block;
    vertical-align: middle;
    margin: 0 .6rem;
    font-size: 18px;
    color: #aaa;
	}
	span {
		color: #666;
	}
}



// ----------------------------------------
//  .wp-pagenavi
// ----------------------------------------
.g_pagenavi {
	margin-top: 4rem;
}
.g_pagenavi__inner {}
.wp-pagenavi {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	position: relative;
	a,span {
		@extend .gf1;
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
		font-size: 1.1rem;
		letter-spacing: 0;
	}
	> .pages {
		display: none;
	}
	.first i,
	.last i,
	.previouspostslink i,
	.nextpostslink i {
		line-height: 38px;
		font-size: 16px;
	}
	.previouspostslink,
	.nextpostslink,
	.first,
	.last,
	span.current,
	a.page {
		transition: all .3s cubic-bezier(0,1,.64,1);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		text-align: center;
		width: 40px;
		height: 40px;
		border-radius: 50rem;
		background: #f2f4f5;
		margin: 0 .6rem;
		color: #94989e;
		line-height: 1;
	}
	a {
		&:hover {
			transform: scale(1.4);
		}
	}
	span.current {
		background: #333;
		color: #fff;
	}
	.extend {
		margin: 0 .6rem;
		position: relative;
	}
	.previouspostslink,
	.nextpostslink,
	.first,
	.last {
		font-size: 1.6rem;
	}
	.first,
	.last {
		position: absolute;
		background: none;
	}
	.first {
		left: 0;
	}
	.last {
		right: 0;
	}
}
