

//ドキュメントのパス
$DOCUMENT_PATH: './assets';



//画像のパス
$IMG_PATH: '#{$DOCUMENT_PATH}/img/';
//背景 background: url(#{$IMG_PATH}/　← これで取得



//メディクリ
$mq_ss:  "(max-width:480px)";
$mq_s:  "(max-width:768px)";
$mq_m: "(max-width:980px)";
$mq_l:  "(max-width:1200px)";
$mq_xl: "(min-width:1201px)";

@media #{$mq_ss} {
    //480px以下
}
@media #{$mq_s} {
    //768px以下
}
@media #{$mq_m} {
    //980px以下
}
@media #{$mq_l} {
    //1200px以下
}
@media #{$mq_xl} {
    //1201px以上
}


// カラーコード
$c_default: #333;

$c_neolab: #ff6728;
$c_neolab_l: #ff6728;

$bor_color3: #ccc;
$bor_color4: #eee;
$bor_color5: #F2F2F2;

$c_colorLink: #03A9F4;
