
.home {
  .solution__area {
  }
  .solution__area-inner {
    justify-content: center;
    padding-bottom: 3rem;
  }
  .solution__items {
    @media #{$mq_s} {
      &:nth-child(1) {
        margin-top: 2rem;
      }
    }
    &:nth-child(even) {
      margin-top: 16rem;
      @media #{$mq_s} {
        margin-top: 6rem;
      }
    }
  }
}

.solution__area {
  max-width: 100%;
  &.-column4 {
    .solution__area-inner {
      .solution__items {
        width: 22%;
        margin: 2% 1.5%;
        @media #{$mq_s} {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            width: 97%;
          }
        }
        @media #{$mq_s} {
          width: 47%;
        }
        @media #{$mq_ss} {
          width: 100%;
          margin-right: 0;
          margin-left: 0;
          margin-top: 3rem;
        }
        &.-develop {
          .solution__logo-area {
            img {
              max-width: 240px;
              max-height: 100%;
            }
          }
        }
      }
      .solution__logo-area {
        height: 280px;
        @media #{$mq_s} {
          height: 200px;
        }
        @media #{$mq_ss} {
          height: 140px;
        }
        img {
          max-width: 140px;
          max-height: 100px;
          @media #{$mq_s} {
            max-width: 120px;
            max-height: 80px;
          }
        }
      }
    }
  }
}

.solution__area {
  @include main_width;
}
.solution__area-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3%;
  padding-bottom: 10rem;
  @media #{$mq_ss} {
    margin: 0;
  }
}
.solution__items {
  display: flex;
  text-align: center;
  width: 44%;
  max-width: 500px;
  margin: 6rem 3% 0 3%;
  @media #{$mq_s} {
    width: 100%;
  }
}
.solution__items-inner {
  @include transition;
  display: block;
  width: 100%;
  &.-not_link {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
  }
  &:not(.-not_link) {
    &:hover {
      transform: scale(.9);
    }
  }
}
.solution__logo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  position: relative;
  img {}
  @media #{$mq_s} {
    height: 220px;
    img {
      max-width: 140px;
      max-height: 100px;
    }
  }
  @media #{$mq_ss} {
    height: 180px;
    img {
      max-width: 120px;
    }
  }
}
.solution__info-area {
  margin: 2rem 0 0 0;
  @media #{$mq_s} {
    margin-top: 1rem;
  }
  .-title {
    color: $c_default;
    font-size: 1.8rem;
    font-weight: 500;
    @media #{$mq_s} {
      font-size: 1.6rem;
    }
  }
  .-description {
    font-size: 1.4rem;
    color: #828282;
    margin: 1rem 0 0 0;
    @media #{$mq_s} {
      font-size: 1.3rem;
      margin-top: .6rem;
    }
  }
  .-tag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    @media #{$mq_s} {
      margin-top: .6rem;
    }
    li {
      font-size: 1.1rem;
      padding: 0rem 1.2rem;
      margin: .2rem 0 0 0;
      color: #BDBDBD;
      position: relative;
      &:before {
        content: '/';
        font-size: .9rem;
        position: absolute;
        left: -2px;
        top: 0;
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
      span {}
    }
  }
}

$calling: #d90909;
$jinjer: #F1E60C;
$enigma: #0099D8;
$develop: #2C0CF0;
$kigyosapri: #53b794;
$hoiku_hiroba: #f55174;
$hr_note: #111;
$abroaders: #db0a11;
$fine_hoiku: #fc6986;
$moby: #111;
$coregano: #27b6bc;
$cocoriku: #9ED000;
$jumpit: #134579;
$stepbaito: #4499dd;
$torteo: #01579b;
$neolab: #FF6728;


.solution__items {
  &.-calling {
    .solution__logo-area {
      background: rgba($calling, .06);
      img {}
    }
  }
  &.-jinjer {
    .solution__logo-area {
      background: rgba($jinjer, .06);
      img {}
    }
  }
  &.-enigma {
    .solution__logo-area {
      background: rgba($enigma, .06);
      img {}
    }
  }
  &.-develop {
    .solution__logo-area {
      background: rgba($develop, .06);
      img {
        max-width: 360px;
        position: absolute;
        top: 8%;
        @media #{$mq_s} {
          max-height: 140px;
        }
      }
    }
  }

  &.-kigyosapri {
    .solution__logo-area {
      background: rgba($kigyosapri, .06);
    }
  }
  &.-hoiku_hiroba {
    .solution__logo-area {
      background: rgba($hoiku_hiroba, .06);
    }
  }
  &.-hr_note {
    .solution__logo-area {
      background: rgba($hr_note, .06);
    }
  }
  &.-abroaders {
    .solution__logo-area {
      background: rgba($abroaders, .06);
    }
  }
  &.-fine_hoiku {
    .solution__logo-area {
      background: rgba($fine_hoiku, .06);
    }
  }
  &.-moby {
    .solution__logo-area {
      background: rgba($moby, .06);
    }
  }
  &.-coregano {
    .solution__logo-area {
      background: rgba($coregano, .06);
    }
  }
  &.-cocoriku {
    .solution__logo-area {
      background: rgba($cocoriku, .06);
    }
  }
  &.-jumpit {
    .solution__logo-area {
      background: rgba($jumpit, .06);
    }
  }
  &.-stepbaito {
    .solution__logo-area {
      background: rgba($stepbaito, .06);
    }
  }
  &.-torteo {
    .solution__logo-area {
      background: rgba($torteo, .06);
    }
  }
  &.-neolab {
    .solution__logo-area {
      background: rgba($neolab, .06);
    }
  }


}
