@charset "UTF-8";

// ----------------------------------------
//  reset
// ----------------------------------------
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }
ul, li { list-style: none; }
a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; margin: 0; padding: 0; }
input, select { vertical-align: middle; }
a img { border: none; }
img { vertical-align: top; margin: 0; padding: 0; }
img { max-width: 100%; }

@font-face{
	font-family: "Original Yu Gothic";
	src: local("Yu Gothic");
	font-weight: 300;
}

@font-face{
	font-family: "Original Yu Gothic";
	src: local("Yu Gothic");
	font-weight: 500;
}

@font-face{
	font-family: "Original Yu Gothic";
	src: local("Yu Gothic");
	font-weight: bold;
}
@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Regular");
	font-weight: 100;
}
@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Regular");
	font-weight: 200;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Noto Sans Japanese", "Helvetica Neue", "Segoe UI", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", Meiryo, "M+ 1p", sans-serif;

}

/* IE10以上 */
@media all and (-ms-high-contrast: none)  {
	html {
		font-family: Verdana, Meiryo, sans-serif;
	}
}
@media all and (-ms-high-contrast: active) {
	html {
		font-family: Verdana, Meiryo, sans-serif;
	}
}

// ----------------------------------------
//  basic
// ----------------------------------------
body {
	text-align: center;
	position: relative;
	color: #43484d;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	line-height: 1.68;
	font-size: 78%;
	overflow-x: hidden;
}
html, body { height: 100%; }
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-appearance: none;
	letter-spacing: 0.05em;
}
a:link {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:visited {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #999999;
	text-decoration: none;
	outline: none;
}
.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }
.on a img,
.op,
.on a:hover img,
.op:hover { @include transition(all, .3s, cubic-bezier(0,1,.64,1)); }
.on a:hover img,.op:hover {
	@include transition(all, .3s, cubic-bezier(0,1,.64,1));
	-webkit-opacity: .8;
	opacity: .8;
	text-decoration: none;
}

.font_roboto { font-family: 'Roboto'; }


// ----------------------------------------
//  common
// ----------------------------------------
.g_header {
    opacity: 0;
    @include transition(all, 1s, cubic-bezier(0.19, 1, 0.22, 1));
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
}
.g_main {
	opacity: 0;
    @include transition(all, 1s, cubic-bezier(0.19, 1, 0.22, 1));
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
}
.loaded {
	.g_header,
	.g_main {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@media #{$small} {
	.g_main {
		&.sp_margin_top {
			padding: 4em 0 0 0;
		}
	}
	#confirm {
		.g_main {
			&.sp_margin_top {
				padding: 1em 0 0 0;
			}
		}
	}
}



// ----------------------------------------
//  breadcrumbs
// ----------------------------------------
.breadcrumbs {
	text-align: left;
	background: #eeeeee;
	.inner {
		max-width: 1200px;
		width: 100%;
		padding: .7em 1.8em;
		margin: 0 auto;
		font-size: .9em;
		a {
			span {}
			&:hover {
				opacity: .6;
			}
		}
		i {
			display: inline-block;
			vertical-align: middle;
			width: 7px;
			height: 7px;
			border-top: 2px solid #bbb;
			border-right: 2px solid #bbb;
			margin: 0 10px;
			transform: rotate(45deg);
		}
		span {
			color: #666;
		}
	}
}
@media #{$small} {
	.breadcrumbs {
		.inner {
			max-width: none;
			width: auto;
			padding: .8em 1.6em;
			white-space: nowrap;
			overflow-x: auto;
			font-size: .7em;
			span {}
		}
	}
}




// ----------------------------------------
//  breadcrumbs
// ----------------------------------------
.wp-pagenavi {
	margin: 6em auto 0 auto;
	text-align: center;
	a,span {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
		font-size: 1em;
	}
	> .pages {
		display: none;
	}
	.previouspostslink,
	.nextpostslink,
	.first,
	.last,
	span.current,
	a.page {
		@include transition(all, .3s, cubic-bezier(0,1,.64,1));
		display: inline-block;
		vertical-align: middle;
		padding: 0 12px;
		line-height: 32px;
		background: #eee;
		margin: 0 .2em;
		&:hover {
			background: #a4afb7;
			color: #fff;
		}
	}
	span.current {
		background: #a4afb7;
		color: #fff;
	}
	.extend {
		line-height: 1;
		margin: 0 .6em;
		position: relative;
		bottom: 2px;
	}
	.previouspostslink,
	.nextpostslink,
	.first,
	.last {
		font-size: 1.6em;
		i {
			display: block;
			&:before {
				position: relative;
				top: 2px;
			}
		}
	}
}



// ----------------------------------------
//  floating
// ----------------------------------------
.float_nav {
	position: fixed;
	z-index: 10;
	bottom: 3.2em;
	right: 4em;
	overflow: hidden;
	width: 220px;
	height: 200px;
	padding: 1.6em 2em;
	text-align: right;
	background: $red;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	@include transition(all, .1s, cubic-bezier(0,1,.64,1));
	@media #{$small} {
		bottom: 1.6em;
		right: 1.6em;
	}
	&.closed {
		width: 60px;
		height: 60px;
		border-radius: 50em;
		@media #{$small} {
			width: 50px;
			height: 50px;
		}
	}
	.button {
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
	}
	.toggle {
		position: fixed;
		padding: 0;
		margin: 0;
		border-radius: 50em;
		bottom: 3.2em;
		right: 4em;
		width: 60px;
		height: 60px;
		text-align: center;
		background: url(../img/icon/icon-btn_service_close.svg) no-repeat center center;
		transition: all 200ms;
		@media #{$small} {
			bottom: 1.6em;
			right: 1.6em;
			width: 50px;
			height: 50px;
		}
	}
	&.closed .toggle {
		background: url(../img/icon/icon-btn_service.svg) no-repeat center center;
	}
	ul {
		position: relative;
		opacity: 1;
		transition: all 200ms;
		display: block;
		li {
			padding: 0.4em 0;
			margin-bottom: 0;
			font-size: 1em;
			font-weight: 500;
			text-align: left;
			a {
				@include transition(all, .1s, cubic-bezier(0,1,.64,1));
				display: block;
				color: #fff;
				&:hover {
					padding-left: 10px;
				}
			}
		}
	}
	&.closed ul {
		opacity: 0;
		display: none;
	}
}




// ----------------------------------------
//  header
// ----------------------------------------
.top {
	.g_header {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
		.g_nav > ul li.contact {
			position: relative;
			margin-left: .8em;
		}
	}
}

.g_header {
	position: relative;
	@media #{$small} {
		display: none;
	}
	.site_title {
		position: absolute;
		top: -100%;
	}
	&.lower {
		z-index: 10;
		background: #fff;
		box-shadow: 0px 2px 2px 0.1px rgba(0, 0, 0, 0.1);
		.header_primary {
			padding: 0;
			.g_logo {
				a {
					background: url(../img/common/c_logo_color_02.png) no-repeat center center;
					background-size: 140px;
				}
			}
			.g_nav {
				>ul {
					li {
						a {
							color: #43484d;
						}
						&.contact {
							a {
								border-radius: 0;
								color: #fff;
								line-height: 80px;
								padding: 0 2.2em;
							}
						}
					}
				}
			}
		}
	}
}
.header_primary {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 2em 0 0 0;
	.g_logo {
		display: inline-block;
		vertical-align: middle;
		float: left;
		margin: 0;
		width: 14%;
		min-width: 150px;
		max-width: 150px;
		a {
			text-indent: -9999px;
			width: 100%;
			height: 80px;
			display: block;
			background: url(../img/common/c_logo_white_01.png) no-repeat center center;
			background-size: 130px;
		}
	}
	.g_nav {
		display: inline-block;
		vertical-align: middle;
		width: 76%;
		float: right;
		text-align: right;
		@media #{$small} {
			display: none;
		}
		> ul {
			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 .8em;
				a {
					display: block;
					color: #fff;
					font-size: 1.1em;
					font-weight: 600;
					padding: 1.2em 2em;
					span {
						position: relative;
						&:before {
							@include transition(all, .1s, cubic-bezier(0,1,.64,1));
							content: '';
							position: absolute;
							bottom: -8px;
							width: 0%;
							height: 1px;
							margin: 0 auto;
							background: #fff;
						}
					}
					&:hover {
						span {
							&:before {
								width: 100%;
							}
						}
					}
				}
                &.accno {
					padding-left: 2em;
					white-space: nowrap;
					padding-left: 0;
					white-space: nowrap;
					right: 0;
					margin: 0;
					top: 0;
					a {
						background: #FFF;
						border-radius: 2px;
						padding: 1.2em 3em;
						span {
							&:before {
								content: none;
							}
						}
					}
				}
				&.contact {
					padding-left: 2em;
					white-space: nowrap;
					padding-left: 0;
					white-space: nowrap;
					right: 0;
					margin: 0;
					top: 0;
					a {
						background: $red;
						border-radius: 2px;
						padding: 1.2em 3em;
						span {
							&:before {
								content: none;
							}
						}
					}
				}
			}
		}
	}
}




// ----------------------------------------
//  footer
// ----------------------------------------
.g_footer {
	border-top: 1px solid #f2f2f2;
	position: relative;
	background: #fff;
	.scroll_top {
		position: absolute;
		right: 0;
		left: 0;
		top: -25px;
		display: block;
		border-radius: 50%;
		background-color: #fff;
		width: 50px;
		height: 50px;
		margin: 0 auto 0 auto;
		i {
			display: block;
	    width: 10px;
	    height: 10px;
	    border-top: 2px solid #ccc;
	    border-right: 2px solid #ccc;
	    margin: auto;
	    position: absolute;
	    top: 50%;
	    right: 0;
	    left: 0;
	    margin-top: -3px;
	    transform: rotate(-45deg);
		}
	}
	.primary {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		padding: 3em 0;
		@media #{$small} {
			max-width: 420px;
			width: auto;
			padding: 3em 1.6em 0 1.6em;
		}
		.inner {
			.menu {
				float: left;
				li {
					display: inline-block;
					vertical-align: middle;
					a {
						display: block;
						color : #888;
						font-size: .9em;
						padding: .6em 1.2em;
						span {}
					}
				}
				@media #{$small} {
					float: none;
					li {
						display: block;
						border-bottom: 1px solid #eee;
						a {
							padding: 1.2em 0;
						}
					}
				}
			}
			.copy {
				float: right;
				font-size: 1em;
				color : #888;
			}
			@media #{$small} {
				.copy {
					float: none;
					padding: 3em 0;
					font-size: .8em;
				}
			}
		}
	}
}




// ----------------------------------------
//  ボタンEffect
// ----------------------------------------
.button {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	&:hover {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
}
.material-wave {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50em;
	margin-top: -10px;
	margin-left: -10px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s 0.4s;
	transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s 0.4s;
	pointer-events: none;
	-webkit-will-change: transform, opacity;
	will-change: transform, opacity;
}
.button.black {
	.material-wave {
		background-color: rgba(0, 0, 0, 0.2);
	}
}



.lower_title {
	background: #f8f8f8;
	padding: 5em 0;
	border-bottom: 1px solid #e6e6e6;
	.inner {
		max-width: 1200px;
		margin: 0 auto;
	}
	.title {
		.font_en {
			font-size: 1.4em;
			font-weight: 500;
			letter-spacing: 10px;
		}
	}
	@media #{$small} {
		border-top: 1px solid #e6e6e6;
		padding: 2em 0;
		.title {
			.font_en {
				font-size: 1.2em;
				letter-spacing: 5px;
			}
		}
	}
}
