
// ----------------------------------------
//  news
// ----------------------------------------
.news_header {
	background: $red;
	.inner {
		max-width: 1280px;
		text-align: left;
		padding: 2em 1.6em;
		margin: 0 auto;
		.title {
			color: #fff;
			font-size: 2em;
			font-weight: 300;
		}
	}
}
.column_two {
	position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
	.news_list {
		padding-right: 40px;
		width: 819px;
		border-right: 1px solid #efefef;
		float: left;
	}
}
.column_two {
	.g_sidebar {}
}






// ----------------------------------------
//  ニュース詳細
// ----------------------------------------
.single_news {
	margin: 6em auto 0 auto;
	text-align: left;
	.g_inner_block {
		.single_head {
			padding: 0 0 3em 0;
			.title {
		    font-size: 2.4em;
		    font-weight: 300;
		    line-height: 1.4;
		    margin-top: .2em;
			}
			.time {
				letter-spacing: 1px;
				.new {
					background: $blue;
					font-style: normal;
					color: #fff;
					display: inline-block;
					vertical-align: middle;
					padding: .2em 2em;
					font-size: 1em;
					margin-right: 1em;
				}
			}
			.category {
				text-align: right;
				a {
			    display: inline-block;
			    vertical-align: middle;
			    border: 1px solid #eee;
			    padding: .4em 2em;
			    color: #777;
			    background: #f9f9f9;
			    border-radius: 2px;
				}
			}
		}
		.post_thumbnail {
			img {}
		}
	}
	.wp_social_bookmarking_light {
		margin-top: 4em !important;
	}
}
@media #{$small} {
	.single_news {
		margin: 3em auto 0 auto;
		.g_inner_block {
			padding: 0 1.6em;
			.single_head {
				.title {
					font-size: 1.4em;
					margin-top: .6em;
				}
				.time {
					.new {}
				}
				.category {
					margin: 1em 0 0 0;
    			text-align: left;
					a {}
				}
			}
			.post_thumbnail {
				img {}
			}
		}
	}
}
.the_content {
	text-align: left;
	font-size: 1.05em;
	margin: 2em auto 0 auto;
	img {
		height: auto !important;
	}
	h1 {}
	h2 {
		font-size: 1.8em;
		font-weight: bold;
		line-height: 1.6;
		color: #2d2d2d;
		background-color: #F3F3F3;
		border-radius: 3px;
		padding: 18px;
		margin: 16px 0;
	}
	h3 {
		font-size: 1.5em;
		font-weight: bold;
		color: #2d2d2d;
		line-height: 1.6;
		padding: 14px 0;
		border-top: 1px solid #2d2d2d;
		border-bottom: 1px solid #2d2d2d;
		margin: 16px 0;
	}
	h4 {
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.6;
		padding-left: 20px;
		border-left: 1px solid #2d2d2d;
		color: #2d2d2d;
		margin: 16px 0;
	}
	ul {
		margin: 2em 0;
		li {
			margin: 0 0 7px;
			position: relative;
		}
	}
	p {
		margin: 1em 0;
	}
	blockquote {
		background: #f9f9f9;
		margin: 2em 0;
		padding: 3em;
		position: relative;
		line-height: 1.8;
		&:before, &:after {
			color: #ccc;
			font-size: 6em;
			line-height: 1;
			position: absolute;
			height: 46px;
		}
		&:before {
			content: '“';
			top: 0;
			left: 20px;
		}
		&:after {
			content: '”';
			bottom: 6px;
			right: 20px;
		}
	}
	a {
		color: #008FDE;
		&:hover {
			opacity: .6;
		}
	}
}


@media #{$small} {
	.the_content {
		text-align: left;
		font-size: 90%;
		margin: 2em auto 0 auto;
		h1 {}
		h2 {
			font-size: 90%;
			font-weight: bold;
			line-height: 1.6;
			padding: 1em;
			margin: 1.2em 0;
		}
		h3 {
			font-size: 90%;
		}
		h4 {
			font-size: 90%;
		}
		p {
			font-size: 90%;
		}
	}
}
