
// ----------------------------------------
//  policy
// ----------------------------------------
.poricy_wrap {
	max-width: 700px;
	width: 100%;
	margin: 5em auto 0 auto;
	line-height: 1.7;
	text-align: justify;
	.txt_first {
		font-size: 1em;
		border-bottom: 1px solid #eee;
		padding: 0 0 2em 0;
		color: #555;
	}
	dl {
		margin: 2em 0 0 0;
		dt {
			font-weight: bold;
		}
		dd {
			margin: .4em 0 0 0;
			font-size: .9em;
			color: #555;
		}
	}
	.company_data {
		margin: 3em 0 0 0;
		border-top: 1px solid #eee;
		padding: 2em 0 0 0;
		>h2 {
			font-size: 120%;
		}
		.txt1 {
			margin: .6em 0 0 0;
		}
		.txt2 {
			margin: .6em 0 0 0;
		}
	}
}

@media #{$small} {
	.poricy_wrap {
		margin: 3em auto 0 auto;
		padding: 0 1.6em;
		.txt_first {}
		dl {
			dt {}
			dd {}
		}
		.company_data {
			>h2 {}
			.txt1 {
				color: #555;
			}
			.txt2 {
				color: #555;
			}
		}
	}
}


// ----------------------------------------
//  404
// ----------------------------------------
.page404 {

}
@media #{$small} {

}


