#policy_add #contact_policy { display: block; }

.policy_wrap {
	max-width: 640px;
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 6em 0;
	text-align: justify;
	line-height: 2.2;
	color: #565656;
	.title_policy {
		font-size: 2.8em;
		font-weight: 200;
		letter-spacing: 1px;
		text-align: center;
	}
	.inc_policy {
	}
	.policy_top_title {
		padding: 0 0 .1em 0;
		font-size: 1.6em;
		font-weight: 400;
		border-bottom: 1px solid #ccc;
		margin-bottom: 2em;
	}
	.policy_top_txt1 {
		border-bottom: 1px solid #eee;
		padding: 0 0 2em 0;
		margin: 0;
		line-height: 2;
		font-size: 100%;
	}
	.policy_list {
		margin: 2em 0 0 0;
		font-size: 100%;
		line-height: 1.7;
	}
	.policy_list li {
		margin: 1.4em 0;
		padding-left: 1em;
		text-indent: -1em;
		font-size: .95em;
		strong {
			display: block;
			font-weight: 600;
			font-size: 1em;
			padding-bottom: .4em;
		}
	}
	.policy_bottom_txt1 {
		text-align: right;
		margin: 2em 0 0 0;
		font-size: 100%;
	}
	.policy_bottom_txt2 {
		text-align: right;
		font-size: 100%;
	}
}
@media (max-width: 768px) {
	.policy_wrap {
		padding: .4em 1.6em 4em;
		max-width: 420px;
		.policy_top_title {
			font-size: 1.4em;
			margin-bottom: 1em;
		}
		.policy_list {
			margin-top: 1em;
			li {
				font-size: .9em;
				strong {
					font-size: 1em;
				}
			}
		}
	}
}


#contact {
	.iframe_block {
		margin-top: 2em;
	}
	.policy_wrap {
		padding: 0;
		line-height: 2;
		margin-left: 10px;
		.title_policy {
			font-size: 1.2em;
			font-weight: 600;
		}
		.policy_top_title {
			padding: 0;
			font-size: 1.2em;
			font-weight: 600;
			border-bottom: none;
			margin-bottom: .6em;
		}
		.policy_top_txt1 {
			font-size: 90%;
			padding-bottom: 1em;
		}
		.policy_list {
			font-size: 90%;
			margin-top: 1em;
		}
		.policy_bottom_txt1 {
			text-align: right;
			margin: 1em 0 0 0;
			font-size: 90%;
		}
		.policy_bottom_txt2 {
			text-align: right;
			font-size: 90%;
		}
	}
	@media (max-width: 768px) {
		.policy_wrap {
			padding: 4em 1.6em;
			.policy_top_title {}
		}
	}
}





