/* =========================================================
 SERVISE 共通
========================================================= */

.title_block {
	>.title {
		max-width: 980px;
		width: 100%;
		margin: 0 auto;
		.small {
			font-size: 1.8em;
			line-height: 1;
			font-weight: 300;
			display: block;
			color: #111;
		}
		.big {
			margin: 26px 0 0 0;
			font-size: 3.6em;
			line-height: 1;
			font-weight: 200;
			display: block;
			color: #111;
		}
	}
}
@media #{$small} {
	.title_block {
		>.title {
			.small {
				font-size: 1.2em;
			}
			.big {
				margin: 16px 0 0 0;
				font-size: 2em;
				color: #111;
				line-height: 1.3;
			}
		}
	}
}

.common_btn {
	margin: 2em 0 0 0;
	.c_btn {
		display: inline-block;
		vertical-align: middle;
		padding: 1em 3em;
		font-size: 1.2em;
		border-radius: 2px;
		font-weight: 600;
		@media #{$small} {
			padding: 1.1em 3em;
			font-size: 1em;
		}
		&.blue {
			background: #3ca4f8;
			color: #fff;
		}
		&.black {
			background: #111;
			color: #fff;
		}
		span {}
	}
}


.function_list {
	padding: 8em 0 4em;
	.inner {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		>ul {
			padding: 4em 0;
			li {
				display: inline-block;
				vertical-align: top;
				max-width: 480px;
				width: 100%;
				border-bottom: 1px solid #eeeeee;
				padding: 5em 0;
				position: relative;
				&:first-child {
				}
				&.border_bottom_none {
					border-bottom: none;
				}
				&:nth-child(odd) {
					border-right: 1px solid #eeeeee;
				}
				&:nth-child(odd):before,
				&:nth-child(even):after {
					content: '';
					display: block;
					width: 40px;
					height: 20px;
					background: #fff;
					position: absolute;
				}
				&:nth-child(odd):before {
					top: 1px;
					right: -20px;
				}
				&:nth-child(even):after {
					bottom: 0;
					left: -20px;
				}
				.items {
					max-width: 370px;
					width: 100%;
					margin: 0 auto;
					text-align: center;
					position: relative;
				}
				.under_development {
					background: #999999;
					color: #fff;
					width: 60px;
					height: 60px;
					text-align: center;
					font-size: .9em;
					font-weight: 500;
					display: inline-block;
					vertical-align: middle;
					border-radius: 50em;
					line-height: 62px;
					position: absolute;
					top: -2em;
					right: 0;
				}
				.icon {
					img {
						&.w1 {
							width: 54px;
							height: 54px;
						}
						&.w2 {
							width: 66px;
						}
					}
				}
				dl {
					.f_title {
						margin: 1.8em auto 0 auto;
						span {
							display: block;
							line-height: 1;
						}
						.small {
							font-size: 1em;
							font-weight: 200;
						}
						.big {
							margin: 8px 0 0 0;
							font-size: 1.8em;
							font-weight: 300;
						}
					}
					dd {
						margin: 2em auto 0 auto;
						&.h90 {
							min-height: 90px;
						}
						p {
							font-size: .9em;
							font-weight: 200;
							line-height: 2;
						}
					}
				}
			}
		}
	}
}
@media #{$small} {
	.function_list {
		padding: 4em 0 0;
		.inner {
			max-width: 420;
			width: 100%;
			margin: 0 auto;
			>ul {
				padding: 0;
				li {
					display: block;
					vertical-align: top;
					max-width: none;
					width: 100%;
					border-bottom: 1px solid #eeeeee;
					padding: 3em 0;
					position: relative;
					&.border_bottom_none {
						border-bottom: 1px solid #eeeeee;;
					}
					&:nth-child(odd) {
						border-right: none;
					}
					&:nth-child(odd):before,
					&:nth-child(even):after {
						display: none;
					}
					.items {
						max-width: 420px;
						width: 100%;
						padding: 0 1.6em;
					}
					.under_development {
						@include transform(scale(.8,.8));
						top: -3em;
						right: 2em;
					}
					.icon {
						@include transform(scale(.8,.8));
					}
					dl {
						.f_title {
							margin: 1.6em auto 0 auto;
							.big {
								font-size: 1.4em;
							}
						}
						dd {
							margin: 1em auto 0 auto;
							&.h90 {
								min-height: 90px;
							}
							p {
								font-size: .9em;
								font-weight: 200;
								line-height: 2;
							}
						}
					}
				}
			}
		}
	}
}

.price_box {
	background: #fafafa;
	.inner {
		padding: 8em 0;
		.text_01 {
			margin: 3em 0 0 0;
			font-size: 1.1em;
			line-height: 2.4;
		}
	}
}
@media #{$small} {
	.price_box {
		.inner {
			padding: 3em 1.6em 4em 1.6em;
			.text_01 {
				margin: 2em 0 0 0;
				font-size: 1em;
				line-height: 2;
				br {
					display: none;
				}
			}
		}
	}
}

