/* =========================================================
 MEETING
========================================================= */

.meeting {
	.service_visual {
		position: relative;
		background: #f8f8f8;
		border-bottom: 1px solid #eeeeee;
		overflow: hidden;
		.inner {
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			text-align: left;
			padding: 6em 0 8em;
			.description {
				display: inline-block;
				vertical-align: middle;
				max-width: 410px;
				width: 34%;
				text-align: center;
				position: relative;
				.icon {}
				.title {
					margin: 10px auto 0 auto;
					font-size: 3.8em;
					line-height: 1;
					font-weight: 300;
				}
				.text {
					margin: 1em 0 0 0;
					font-size: 1.8em;
					line-height: 2.2;
					font-weight: 300;
				}
			}
			.service_imgs {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 60%;
				.item_1 {
					position: absolute;
					top: -230px;
					left: 0;
				}
				.item_2 {
					position: absolute;
					top: 0;
					left: 480px;
				}
				.item_3 {
					position: absolute;
					top: 250px;
					left: 10px;
				}
			}
		}
	}
}

@media #{$small} {
	.meeting {
		.service_visual {
			.inner {
				max-width: 420px;
				width: 100%;
				margin: 0 auto;
				text-align: left;
				padding: 4em 1.6em 8em 1.6em;
				.description {
					display: block;
					max-width: none;
					width: 100%;
					z-index: 5;
					.icon {}
					.title {
						margin: 10px auto 0 auto;
						font-size: 2.6em;
						line-height: 1;
						font-weight: 300;
					}
					.text {
						margin: 1em 0 0 0;
						font-size: 1.4em;
						line-height: 2;
						font-weight: 300;
					}
				}
				.service_imgs {
					@include transform(scale(.7,.7));
					opacity: .6;
					z-index: 1;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

@media #{$ssmall} {
	.meeting {
		.service_visual {
			.inner {
				.service_imgs {
					@include transform(scale(.5,.5));
					top: -20%;
    				left: -30%;
				}
			}
		}
	}
}

.app_dl_btn {
	&.visual_btn {
		position: absolute;
		z-index: 4;
		bottom: 1em;
		left: 0;
        right: 0;
		@media #{$small} {
			bottom: 2em;
			right: 0;
			left: 0;
		}
	}
	li {
		display: inline-block;
		vertical-align: top;
		max-width: 140px;
		border-radius: 2px;
		overflow: hidden;
		margin: 0 .4em 0 0;
		@media #{$small} {
			margin: 0 .2em;
		}
		a {
			display: block;
			background: #000;
			img {}
		}
		&.applying {
			position: relative;
			img {}
			.text {
				top: 0;
				margin: 0 !important;
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0, .5);
				color: #fff;
				font-size: 13px !important;
				line-height: 40px !important;
				text-align: center;
				font-weight: bold !important;
			}
		}
	}
}
#meeting {
	.applying {
		.text {
			line-height: 46px !important;
		}
	}
}


.flow_meeting_block {
	padding: 8em 0 12em;
	position: relative;
	background: #fafafa;
	.title_block {
	}
	.text_hosoku {
		position: absolute;
		bottom: -10em;
		font-size: .9em;
	}
	.inner {
		position: relative;
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
	}
	.slider_block {
		.slider {
			margin: 6em auto 0 auto;
			.items {
				.thumbnail {
					display: inline-block;
					vertical-align: middle;
					max-width: 480px;
					width: 100%;
					margin: 0 6em 0 0;
					img {
						&.img2 {
							max-width: 400px;
							margin: 0 auto;
						}
					}
				}
				.items_conts_block {
					display: inline-block;
					vertical-align: middle;
					max-width: 460px;
					width: 100%;
					text-align: left;
					.title {
						font-size: 1.8em;
						font-weight: 400;
						line-height: 1.6;
					}
					.text {
						margin: 1em 0 0 0;
						font-size: 1.1em;
						line-height: 2.4;
						font-weight: 300;
					}
					.app_dl_btn {
						margin: 2em 0 0 0;
						li {
							max-width: 180px;
							a {
							}
						}
					}
				}
			}
		}
	}
	.slick-prev {
		left: 0;
		background: transparent url(../img/icon/icon-arrow_left_02.svg) no-repeat center center;
		background-size: 10px;
		&:hover {
			left: -1em;
		}
	}

	.slick-next {
		right: 0;
		background: transparent url(../img/icon/icon-arrow_right_02.svg) no-repeat center center;
		background-size: 10px;
		&:hover {
			right: -1em;
		}
	}
	.slick-dots {
		bottom: -6em;
		li {
			width: 12px;
			height: 12px;
			&.slick-active {
				button {
					background: #666666;
					border: none;
					width: 10px;
					height: 10px;
					position: relative;
					top: 1px;
				}
			}
			button {
				background: none;
				border: 2px solid #d2d2d2;
				width: 12px;
				height: 12px;
			}
		}
	}
}

@media #{$small} {
	.flow_meeting_block {
		padding: 4em 1.6em 7em 1.6em;
		.text_hosoku {
			display: none;
		}
		.inner {
			position: relative;
			max-width: 420px;
			margin: 0 auto;
		}
		.slider_block {
			.slider {
				margin: 2em auto 0 auto;
				.items {
					padding: 0;
					.thumbnail {
						display: block;
						margin: 0 auto;
						img {
							&.img2 {
								max-width: 100%;
							}
						}
					}
					.items_conts_block {
						display: block;
						max-width: none;
						width: 100%;
						text-align: left;
						margin: 2em auto 0 auto;
						.title {
							font-size: 1.4em;
							br { display: none; }
						}
						.text {
							margin: 1em 0 0 0;
							font-size: 1em;
							line-height: 2;
						}
						.app_dl_btn {
							margin: 2em 0 0 0;
							text-align: center;
							li {
								max-width: 130px;
								margin: 0 .2em;
								a {
								}
							}
						}
					}
				}
			}
		}
		.slick-prev,
		.slick-next {
			display: none !important;
		}
		.slick-dots {
			bottom: -5em;
			li {
				@include transform(scale(.8,.8));
			}
		}
	}
}











