.chatbot {
	.service_visual {
		position: relative;
		background: #f8f8f8;
		border-bottom: 1px solid #eeeeee;
		overflow: hidden;
		.inner {
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			text-align: left;
			padding: 6em 0 0;
			white-space: nowrap;
			.description {
				display: inline-block;
				vertical-align: middle;
				max-width: 410px;
				width: 34%;
				text-align: center;
				position: relative;
				.icon {}
				.title {
					margin: 10px auto 0 auto;
					font-size: 3.8em;
					line-height: 1;
					font-weight: 300;
				}
				.text {
					margin: 1em 0 0 0;
					font-size: 1.8em;
					line-height: 2.2;
					font-weight: 300;
				}
			}
			.img_mock {
				display: inline-block;
				vertical-align: middle;
				width: 900px;
				height: 520px;
				text-align: center;
				position: relative;
				background: transparent url(../img/service/bot/visual_mock_01.png) no-repeat center top;
			}
		}
	}
}


.tab_chatbot {
	ul {
		display: table;
		width: 100%;
		li {
			display: table-cell;
			vertical-align: middle;
            width: 50%;
			&:first-child {
				padding-right: 2px;
			}
			a {
				display: block;
				padding: 1.2em 0;
				font-size: 1.4em;
				font-weight: 500;
				background: #cccccc;
				color: #fff;
				span {}
			}
			&.bot {
				a {
					&.active,
					&:hover {
						background: #ffcc00;
					}
				}
			}
			&.bot_InHouse {
				a {
					&.active,
					&:hover {
						background: #3ca4f8;
					}
				}
			}
		}
	}
}


.chatbot_form_block {
	background: #f6f6f6;
	padding: 6em 0;
	.inner {
		max-width: 1180px;
		width: 100%;
		margin: 0 auto;
		padding: 0 1.6em;
		.text {
			font-weight: 400;
			font-size: 1.6em;
			line-height: 2.6;
		}
		.common_btn {
			li {
				a {
					span {}
				}
			}
		}
	}
}

.flow_chatbot {
	ul {
		display: table;
		width: 100%;
		text-align: center;
		padding: 6em 0;
		li {
			display: inline-block;
			vertical-align: middle;
			width: 420px;
			&:first-child {
				border-right: 1px solid #efefef;
			}
			a {
				display: block;
				padding: 2em 0;
				.icon {
				}
				svg {
					max-width: 40px;
					max-height: 50px;
					line-height: 1;
				}
				dl {
					dt {
						font-weight: 400;
						font-size: 1.4em;
					}
					dd {
						font-weight: 300;
						font-size: 1em;
						margin: 1em 0 0 0;
						color: #888;
					}
					+ svg {
						margin: 1.6em auto 0 auto;
					}
				}
			}
		}
	}
}


.chatbot {
	.section_block_1 {
		padding: 7em 0 5em;
		.data_block1 {
			margin: 6em auto 0 auto;
			> li {
				display: inline-block;
				vertical-align: top;
				width: 200px;
				height: 200px;
				margin: 0 3em;
				.circle {
					background: #f6f6f6;
					width: 100%;
					height: 100%;
					border-radius: 50em;
					position: relative;
				}
				.border {
					border: 1.5px dashed #c3c3c3;
					border-radius: 50em;
					position: absolute;
					bottom: 4px;
					right: 8px;
					width: 100%;
					height: 100%;
					opacity: .8;
				}
				.icon {
					display: block;
					margin: 0 auto;
					padding: 3em 0 0 0;
					text-align: center;
					img {
						display: block;
						height: 40px;
						margin: 0 auto;
					}
				}
				.text {
					font-size: 1em;
					font-weight: bold;
					padding: 0 2.2em;
					margin: 1em auto 0 auto;
				}
			}
		}
		.data_block2 {
			border-bottom: 1px solid #f1f1f1;
			max-width: 420px;
			width: 100%;
			margin: 4em auto 0 auto;
			padding: 0 0 1.6em 0;
			.icon {
				display: block;
				margin: 0 auto;
				padding: 0 0 0 0;
				text-align: center;
				img {
					display: block;
					height: 44px;
					margin: 0 auto;
				}
			}
			.text {
				margin: 1em auto 0 auto;
				font-size: 1.6em;
				color: #111;
			}
		}
	}
	.section_block_2 {
		padding: 4em 0 8em;
	}
	.section_block_4 {
		padding: 8em 0;
	}
	.section_block_5 {
		padding: 8em 0;
		background: #f9f9f9;
	}
}





