/* =========================================================
 SALES
========================================================= */

.sales {
	.service_visual {
		position: relative;
		background: #fff url(../img/bg/bg-dod_1.svg) repeat;
		background-size: 17px;
		z-index: 10;
		.inner {
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			text-align: left;
			padding: 0;
			white-space: nowrap;
			.description {
				display: inline-block;
				vertical-align: middle;
				max-width: 410px;
				width: 34%;
				text-align: center;
				margin: 0 4em 0 0;
				position: relative;
				top: 4em;
				float: left;
				.icon {}
				.title {
					margin: 10px auto 0 auto;
					font-size: 3.8em;
					line-height: 1;
					font-weight: 300;
				}
				.text {
					margin: 1em 0 0 0;
					font-size: 1.8em;
					line-height: 2.2;
					font-weight: 300;
				}
			}
			.service_imgs {
				display: inline-block;
				vertical-align: middle;
				width: 780px;
				height: 470px;
				position: relative;
				top: 7em;
				float: right;
				@media (max-width: 1250px) {
					width: 60%;
					.mock_bg {
						.img {
							padding-top: 10% !important;
							.img_inner {
							}
						}
					}
				}
				@media (max-width: 1100px) {
					.mock_bg {
						.img {
							padding-top: 14% !important;
							.img_inner {
							}
						}
					}
				}
				@media (max-width: 1000px) {
					.mock_bg {
						.img {
							padding-top: 20% !important;
							.img_inner {
							}
						}
					}
				}
				.mock_bg {
					width: 100%;
					height: 100%;
					background: url(../img/common/mock-macbook_air_01.svg) no-repeat center center;
					.img {
						width: 73%;
						padding: 4.2em 0 0 0;
						margin: 0 auto;
						overflow: hidden;
						.img_inner {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media #{$small} {
	.sales {
		.service_visual {
			.inner {
				max-width: none;
				width: auto;
				margin: 0 auto;
				white-space: normal;
				.description {
					display: block;
					max-width: none;
					width: auto;
					margin: 0 auto;
					top: 0;
					float: none;
					padding: 1.6em 1.6em 0 1.6em;
					.icon {
						@include transform(scale(.7,.7));
					}
					.title {
						font-size: 2.6em;
						font-weight: 500;
					}
					.text {
						margin: 1.4em 0 0 0;
						font-size: 1.4em;
					}
				}
				.service_imgs {
					display: block;
					width: auto;
					height: auto;
					position: relative;
					margin: 0 auto;
					top: 0;
					float: none;
					padding: 4em 0 0 0;
					.mock_bg {
						background: #fff;
						.img {
							max-width: 420px;
							width: 100%;
							margin: 0 auto;
							padding: 0 !important;
							.img_inner {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}






.flow_sales_block {
	background: #d5eeef;
	padding: 10em 0 2.4em;
	position: relative;
	.bg_line {
		background: #b4dade;
		width: 100%;
		height: 60px;
		position: absolute;
		bottom: 0;
	}
	.inner {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		white-space: nowrap;
		.service_imgs {
			width: 560px;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			position: relative;
			margin: 0 8em 0 0;
			white-space: normal;
			.img_01 {
				max-width: 484px;
				width: 100%;
			}
			.img_02 {
				width: 180px;
				position: absolute;
				top: 3em;
				left: 0;
			}
			.img_03 {
				width: 130px;
				position: absolute;
				top: 8em;
				right: 2em;
			}
		}
		.description {
			max-width: 520px;
			width: 100%;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			margin-top: -4em;
			.title {
				.small {
					display: block;
					font-weight: 300;
					font-size: 1.8em;
					line-height: 1;
				}
				.big {
					display: block;
					font-weight: 200;
					font-size: 3em;
					line-height: 1;
					margin: .4em 0 0 0;
				}
			}
			.text {
				margin: 1.8em 0 0 0;
				font-size: 1.1em;
				font-weight: 200;
				line-height: 2.4;
				white-space: normal;
			}
		}
	}
}

@media #{$small} {
	.flow_sales_block {
		padding: 4em 0;
		.bg_line {
			display: none;
		}
		.inner {
			max-width: none;
			width: auto;
			white-space: normal;
			.service_imgs {
				max-width: 420px;
				width: auto;
				display: block;
				margin: 0 auto;
				white-space: normal;
				padding: 0 1.6em;
				.img_01 {
					max-width: 484px;
					width: 100%;
				}
				.img_02 {
					width: 120px;
					position: absolute;
					top: 3em;
					left: 0;
				}
				.img_03 {
					width: 80px;
					position: absolute;
					top: 8em;
					right: 2em;
				}
			}
			.description {
				max-width: 420px;
				width: auto;
				display: block;
				text-align: left;
				margin: 2em auto 0 auto;
				padding: 0 1.6em;
				.title {
					.small {
						font-weight: 400;
						font-size: 1.2em;
					}
					.big {
						display: block;
						font-weight: 300;
						font-size: 2em;
						margin: .4em 0 0 0;
					}
				}
				.text {
					margin: 1.4em 0 0 0;
					font-size: 1em;
					font-weight: 200;
					line-height: 2;
					white-space: normal;
				}
				.common_btn {
					text-align: center;
				}
			}
		}
	}
}
