

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;

.g_logo_sp {
    display: none;
    @media #{$small} {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 1.6em;
        z-index: 30;
        a {
            width: 100%;
            height: 100%;
            display: block;
            background: url(../img/common/c_logo_white_01.png) no-repeat left center;
            background-size: 100px;
        }
    }
}
@media #{$small} {
    .lower {
        .g_logo_sp {
            a {
                background: url(../img/common/c_logo_color_02.png) no-repeat left center;
                background-size: 100px;
            }
        }
    }
}

.dw_header {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 20;
    text-align: right;
    @media #{$small} {
        display: block;
    }
    .burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        width: 50px;
        cursor: pointer;
        transform: rotate(0deg);
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        #burger {
            width: 18px;
            height: 8px;
            position: relative;
            display: block;
            margin: -4px auto 0;
            top: 50%;
            .bar {
                width: 100%;
                height: 1px;
                display: block;
                position: relative;
                background: #111;
                transition: all 0.2s $cubic;
                &.topBar {
                    transform: translateY(0px) rotate(0deg);
                }
                &.btmBar {
                    transform: translateY(6px) rotate(0deg);
                }
            }
        }
    }
    ul.menu {
        position: relative;
        display: none;
        padding: 0px 3.6em;
        li.menu-item {
            border-bottom: 1px solid #333;
            text-align: left;
            a {
                display: block;
                position: relative;
                color: #FFF;
                font-size: 1.1em;
                line-height: 1.3;
                font-weight: 200;
                padding: 1.2em 0;
            }
        }
    }
    &.menu-opened {
        height: 100%;
        background-color: rgba(#000, .9);
        @include transition(all, .3s, cubic-bezier(0,1,.64,1));
        z-index: 100;
        .burger-container {
            transform: rotate(90deg);
            #burger {
                .bar {
                    background: #fff;
                    transition: all 0.2s $cubic;
                    &.topBar {
                        -webkit-transform: translateY(4px) rotate(45deg);
                        transform: translateY(4px) rotate(45deg);
                    }
                    &.btmBar {
                        -webkit-transform: translateY(3px) rotate(-45deg);
                        transform: translateY(3px) rotate(-45deg);
                    }
                }
            }
        }
        ul.menu {
            display: block;
            li.menu-item {
            }
        }
    }
}


