
.support_main {}
.support_inner {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 4em 2em;
  text-align: left;
  display: flex;
}

// コンテンツ
.support_contents {
    width: 70%;
    padding: 0 0 0 4em;
  .support_header_title {
    .title {
      font-size: 2.4em;
      font-weight: 500;
    }
  }
  .support_form {
    form {
      display: block;
    }
    .formbox {
      position: relative;
      .input {
        display: block;
        width: 100%;
        font-size: 16px;
        border: none;
        padding: 1em 1em 1em 3em;
        background: #eee;
        outline: none;
        border-radius: 3px;
        overflow: hidden;
        &:focus {
          background: #f4f4f4;
        }
      }
      .icon_search {
        background: url(../img/icon/icon-search.svg) no-repeat center center;
        background-size: 18px;
        position: absolute;
        top: 50%;
        left: 20px;
        pointer-events: none;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        opacity: .6;
      }
    }
  }
}
.support_archive_list {
  ul {
    li {
      border-bottom: 1px solid #eee;
      a {
        display: block;
        padding: .8em 0;
        font-size: 1.1em;
        color: #666;
        &:hover {
          background: #f6f6f6;
        }
      }
      .title {}
    }
  }
}



// サイドバー
.support_sidebar {
  max-width: 300px;
  width: 30%;
  .support_imtes {
    .title {
      font-weight: bold;
      font-size: 1em;
      padding: 1em 0;
      border-bottom: 1px solid #f3f3f3;
      cursor: pointer;
      a {
        color: #43484d;
        font-weight: bold;
        display: block;
      }
      &.top {
        padding: 0;
        a {
          padding: 1em 0;
        }
      }
      &.ac_head {}
    }
    .sub_items {
      background: #fafafa;
      &.ac_contents {
        display: none;
      }
      .sub_title {}
      .list {
        li {
          border-top: 1px solid #f3f3f3;
          &:first-child {
            border-top: none;
          }
          a {
            display: block;
            font-size: 1em;
            font-weight: bold;
            padding: 1em 1em;
          }
        }
      }
    }
  }
}



// 詳細
