
/*

- common box
- top
 - visual
 - service sales
 - app dl meeting
 - news

*/


/* =========================================================
	common box
========================================================= */
.common_box {
	padding: 8em 0;
	@media #{$small} {
		padding: 4em 1.6em;
	}
	&.red {
		background: $red;
		color: #fff;
	}
	.title {
		font-size: 2.6em;
		font-weight: 500;
	}
	.description {
		margin: 1.6em 0 0 0;
		font-size: 1.2em;
		font-weight: 400;
		line-height: 2.4;
	}
	.btn {
		margin: 2.8em auto 0 auto;
		text-align: center;
		display: block;
		a {
			background: #fff;
			color: $red;
			display: inline-block;
			vertical-align: middle;
			font-size: 1.2em;
			font-weight: 600;
			padding: 1.2em 3em;
			border-radius: 50em;
			@media #{$small} {
				font-size: 1.1em;
				padding: 1.1em 2.6em;
			}
		}
	}
	@media #{$small} {
		.title {
			font-size: 1.6em;
		}
		.description {
			font-size: 1em;
		}
		.btn {
			margin-top: 2em;
		}
	}
}





/* =========================================================
	top
========================================================= */
body.top {
	background: #fff url(../img/bg/bg-dod_1.svg) repeat;
	background-size: 17px;
}



/* top visual
--------------------------------------------------------- */
#top_video_1 {
	width: 100% !important;
}

.top_visual {
	position: relative;
	.visual {
		width: auto;
		height: 730px;
		padding: 0;
		@media #{$small} {
			padding: 0;
			height: 400px;
		}
		.slide {
			position: relative;
			text-align: left;
			@media #{$small} {
				padding: 0 1.6em;
			}
			&.s_01 {
				width: 100%;
				height: 100%;
				// background: url(../img/top/visual_01.jpg) no-repeat center center;
				// background-size: cover;
				.bg_overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(50,77,91,.7);
				}
				.inner {
					max-width: 1200px;
					width: 100%;
					margin: 0 auto;
					padding: 200px 0 0 0;
				}
				.head_01,
				.text_01 {
					position: relative;
					z-index: 1;
					color: #fff;
					text-align: center;
				}
				.head_01 {
					font-size: 4em;
					font-weight: 200;
					line-height: 1.7;
				}
				.text_01 {
					margin: 2em 0 0 0;
					font-size: 1.6em;
					font-weight: 400;
				}
				@media #{$small} {
					.inner {
						max-width: 420px;
						width: auto;
						margin: 0 auto;
						padding: 0 0 0 0;
					}
					.head_01 {
						padding: 4em 0 0 0;
						font-size: 2em;
						font-weight: 400;
						line-height: 1.4;
						br {
							display: none;
						}
					}
					.text_01 {
						margin: 1.2em 0 0 0;
						font-size: 1.5em;
						font-weight: 200;
						line-height: 2;
					}
				}
			}
		}
	}
	.visual_page_nav {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		@media #{$small} {
			display: none;
		}
		>li {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			a {
				display: block;
				color: rgba(255,255,255,.7);
				letter-spacing: 1px;
				padding: 2em 3em;
				position: relative;
				box-shadow: none;
				&:hover {
					background: rgba(255,255,255,.1);
				}
				.en {
					font-weight: 400;
					font-size: 3em;
					display: block;
					line-height: 1;
					letter-spacing: 2px;
					text-transform: uppercase;
				}
				.jp {
					display: block;
					line-height: 1;
					font-size: .9em;
					font-weight: 700;
					margin: .2em 0 0 0;
					padding: 0 0 .4em 0;
				}
				&.link_arrow {
					&:before {
						position: absolute;
						bottom: 1em;
						right: 0;
						left: 0;
						display: block;
						content: '';
						width: 14px;
						height: 10px;
						margin: 0 auto;
						background: url(../img/icon/icon-arrow_bottom_01.svg) no-repeat center center;
					}
				}
				&.not_link {}
			}
		}
	}
}






/* top_service sales
--------------------------------------------------------- */
.top_service {
	.title_block {
		color: #111;
		.title {
			line-height: 1;
			.big {
				display: inline-block;
				vertical-align: bottom;
				font-size: 6em;
				text-transform: uppercase;
				font-weight: 300;
			}
			.small {
				display: inline-block;
				vertical-align: bottom;
				font-size: 1.4em;
				position: relative;
				bottom: 8px;
			}
			@media #{$small} {
				.big {
					font-size: 2.6em;
				}
				.small {
					font-size: 1em;
				}
			}
		}
		.text {
			font-size: 2.2em;
			font-weight: 200;
			line-height: 1.8;
			@media #{$small} {
				font-size: 1.5em;
				line-height: 1.65;
				br { display: none; }
			}
		}
		.details_btn {
			display: inline-block;
			vertical-align: middle;
			margin: 2.6em 0 0 0;
			@media #{$small} {
				margin-top: 2em;
			}
			a {
				display: block;
				font-size: 1.2em;
				font-weight: 600;
				padding: 1.2em 3em;
				background: #111;
				color: #fff;
				border-radius: 2px;
				@media #{$small} {
					font-size: 1.1em;
					padding: 1.1em 2.6em;
				}
			}
		}
	}
	&.sales {
		.inner {
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding: 1em 0 1em;
			white-space: nowrap;
			@media #{$small} {
				max-width: 420px;
				width: auto;
				margin: 0 auto;
				padding: 0;
				white-space: normal;
			}
		}
		.description {
			display: inline-block;
			vertical-align: middle;
			width: 440px;
			text-align: left;
			@media #{$small} {
				display: block;
				width: auto;
				text-align: center;
				padding: 4em 1.6em 0 1.6em;
			}
		}
		.title_block {
			.title {
				.big {}
				.small {}
			}
			.text {
				margin: 1em 0 0 0;
			}
		}
		.service_imgs {
			display: inline-block;
			vertical-align: middle;
			width: 680px;
			height: 460px;
			position: relative;
			top: 100px;
			.mock_bg {
				width: 100%;
				height: 100%;
				background: url(../img/common/mock-macbook_air_01.svg) no-repeat center center;
				.img {
					width: 500px;
					border: 1px solid #ccc;
					margin: 0 auto;
					position: relative;
					top: 15%;
					img {}
				}
			}
			@media #{$small} {
				display: block;
				top: 0;
				width: 100%;
				margin: 0 auto;
				height: 290px;
				.mock_bg {
					background-size: 380px;
					.img {
						width: 280px;
						top: 19.5%;
					}
				}
			}
		}
	} // sales
	&.meeting {
		background: url(../img/bg/bg-line_1.png) repeat center;
		border-top: 1px solid #eeeeee;
		.inner {
			margin: 0 auto;
			text-align: left;
			padding: 9em 0 0;
			@media #{$small} {
				padding-top: 4em;
				max-width: 420px;
				margin: 0 auto;
			}
		}
		.description {
			display: block;
			text-align: center;
			&.style2 {
				background: #fff;
				padding: 3em 0 6em 0;
				@media #{$small} {
					padding: 2em 1.6em 4em 1.6em;
				}
			}
			.title {
				.big {
					display: block;
				}
				.small {
					margin: 1em 0 0 0;
					display: block;
				}
			}
		}
		.service_imgs {
			position: relative;
			display: block;
			margin: 3em auto 0 auto;
			border-bottom: 1px solid #eeeeee;
			@media #{$small} {
				margin-top: 2em;
			}
			.mock_bg_1 {
				overflow: hidden;
				height: 420px;
				margin: 0 auto;
				background: url(../img/common/mock-meeting_img_01.svg) no-repeat center top;
				background-size: 460px;
				.img {
					width: 380px;
					border: 1px solid #ccc;
					margin: 0 auto;
					position: relative;
					top: 50px;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: cover;
				}
				@media #{$small} {
					height: 300px;
					background-size: 280px;
					width: 90%;
					margin: 0 auto;
					.img {
						width: 86%;
						max-width: 250px;
						top: 36px;
					}
				}
			}
			.mock_bg_2 {
				position: absolute;
				width: 260px;
				top: 120px;
				left: 56%;
				overflow: hidden;
				height: 300px;
				margin: 0 auto;
				background: url(../img/common/mock-meeting_img_02.svg) no-repeat center top;
				background-size: 230px;
				.img {
					width: 190px;
					border: 1px solid #ccc;
					margin: 0 auto;
					position: relative;
					top: 54px;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: cover;
				}
				@media #{$small} {
					background-size: 140px;
					width: 190px;
					top: 90px;
					height: 210px;
					.img {
						width: 110px;
						top: 36px;
					}
				}
			}
			.mock_bg_3 {
				position: absolute;
				width: 260px;
				top: 120px;
				right: 56%;
				overflow: hidden;
				height: 300px;
				margin: 0 auto;
				background: url(../img/common/mock-meeting_img_02.svg) no-repeat center top;
				background-size: 230px;
				.img {
					width: 190px;
					border: 1px solid #ccc;
					margin: 0 auto;
					position: relative;
					top: 54px;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: cover;
				}
				@media #{$small} {
					background-size: 140px;
					width: 190px;
					top: 90px;
					height: 210px;
					.img {
						width: 110px;
						top: 36px;
					}
				}
			}
		}
	} // meeting
	&.column2 {
		display: table;
		width: 100%;
		padding: 8em 0;
		background: #fff;
		@media #{$small} {
			display: block;
			padding: 0;
		}
		.inner {
			@media #{$small} {
				max-width: 420px;
				margin: 0 auto;
			}
			&.col {
				display: table-cell;
				vertical-align: middle;
				width: 50%;
				@media #{$small} {
					display: block;
					width: auto;
					padding: 4em 1.6em;
				}
				&:first-child {
					border-right: 1px solid #e6e6e6;
					@media #{$small} {
						border-width: 0 0 1px 0;
						border-style: solid;
						border-color: #e6e6e6;
					}
				}
				.text {
					margin: 1em 0 0 0;
				}
			}
		}
	} // column2
}




/* app_dl_meeting sales
--------------------------------------------------------- */
.app_dl_meeting {
	background: #fafafa;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #eeeeee;
	padding: 5em 0 6em;
	@media #{$small} {
		padding: 4em 1.6em;
		text-align: center;
	}
	.inner {
		@media #{$small} {
			max-width: 420px;
			margin: 0 auto;
		}
		.logo {
			display: inline-block;
			vertical-align: middle;
			max-width: 136px;
			margin: 0 6em 0 0;
			@media #{$small} {
				display: block;
				margin: 0 auto;
				max-width: 100px;
			}
		}
		.dl_contents {
			display: inline-block;
			vertical-align: middle;
			max-width: 600px;
			width: 100%;
			text-align: left;
			dl {
				dt {
					font-weight: 500;
					font-size: 1.3em;
					color: #111;
				}
				dd {
					margin: 1em 0 0 0;
					font-size: 1em;
				}
			}
		}
		@media #{$small} {
			.dl_contents {
				display: block;
				max-width: none;
				width: auto;
				text-align: center;
				dl {
					margin-top: 1em;
					dt {
					}
					dd {
						line-height: 1.8;
						font-size: 1em;
						br {
							display: none;
						}
					}
				}
			}
		}
	}
}








/* company address
--------------------------------------------------------- */
.company_address {
	background: #fff;
	.inner {
		background: url(../img/common/grobal_map.png) no-repeat right center;
		padding: 8em 0 6em 0;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		position: relative;
		@media #{$small} {
			padding: 4em 1.6em 5em 1.6em;
			max-width: 420px;
			width: auto;
		}
		.items {
			.title {
				color: $red;
				font-size: 1.4em;
			}
			dl {
				margin: 1.6em 0 0 0;
				dt {
					color: #9fa3a7;
					font-size: 1.1em;
					font-weight: 500;
				}
				dd {
					color: #353535;
					font-size: 1em;
					font-weight: 600;
				}
			}
		}
		.pin {
			background: $red;
			width: 12px;
			height: 12px;
			border-radius: 50em;
			display: block;
			border: 1px solid #fff;
			-webkit-animation: btnAnimeRed 3s infinite;
			animation: btnAnimeRed 3s infinite;
			box-shadow: 0 0 0 0 $red;
			&:before, &:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 50em;
			}
			&.pin_neo_tokyo {
				position: absolute;
				right: 106px;
				top: 170px;
				@media #{$small} {
					top: 146px;
				}
			}
		}
	}
}

@-webkit-keyframes btnAnimeRed {
	0% {
		box-shadow: 0 0 0 0 $red;
	}

	0%,90% {
		opacity: .7;
	}

	to {
		box-shadow: 0 0 0 9pt rgba(255,255,255,0);
		opacity: 0
	}
}

@keyframes btnAnimeRed {
	0% {
		box-shadow: 0 0 0 0 $red;
	}

	0%,90% {
		opacity: .7;
	}

	to {
		box-shadow: 0 0 0 9pt rgba(255,255,255,0);
		opacity: 0
	}
}




/* news
--------------------------------------------------------- */
.news_slider {
	background: url(../img/top/bg-news_01.jpg) no-repeat center center;
	background-size: cover;
	padding: 12em 0;
	@media #{$small} {
		padding: 4em 1.6em 4em 1.6em;
	}
	.inner {
		width: 100%;
		margin: 0 auto;
		position: relative;
		@media #{$small} {
			max-width: 420px;
		}
		.items {
			margin: 0 auto;
			position: relative;
			a {
				max-width: 840px;
				width: 100%;
				color: #fff;
				margin: 0 auto;
				padding: 0 4em;
				display: block;
				position: relative;
				@media #{$small} {
					max-width: none;
					width: auto;
					padding: 1.8em 0;
				}
				&:before, &:after {
					display: block;
					position: absolute;
					content: '';
					width: 40px;
					height: 40px;
					@media #{$small} {
						@include transform(scale(.4,.4));
					}
				}
				&:before {
					background: url(../img/icon/icon-quotation_left.svg) no-repeat center center;
					left: 0;
					top: 0;
					@media #{$small} {
						top: -1em;
					}
				}
				&:after {
					background: url(../img/icon/icon-quotation_right.svg) no-repeat center center;
					right: 0;
					bottom: 0;
					@media #{$small} {
						bottom: -1em;
					}
				}
			}
			.post_title {
				font-size: 3em;
				font-weight: 200;
				line-height: 1.35;
			}
			.updata {
				font-size: .9em;
				font-weight: 500;
				letter-spacing: 1px;
				margin: 2em 0 0 0;
				text-align: center;
				.time {
					text-indent: 2em;
					display: inline-block;
					vertical-align: middle;
				}
				.new {
					display: inline-block;
					vertical-align: middle;
					font-style: normal;
					padding-left: .6em;
				}
			}
			@media #{$small} {
				.post_title {
					font-size: 1.6em;
					font-weight: 400;
					line-height: 1.45;
				}
				.updata {
					margin-top: 1em;
				}
			}
		}
	}
}





