
.gf1 { font-family: Montserrat, "Avenir Next", sans-serif; }

.f_jojo {
  font-family: 'i2fjojomix';
  pointer-events: none;
  line-height: 1;
}

.f_great_day {
  font-family: 'great_day';
  pointer-events: none;
  line-height: 1;
}

.f_m {
  font-family: "A-OTF 教科書ICA Pro", "A-OTF リュウミン Pro", Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.f_g {
  font-family: "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", Meiryo, "M+ 1p", sans-serif;
}
