
// ----------------------------------------
// sidebar
// ----------------------------------------
.g_sidebar {
  width: 30%;
  margin: 0 0 0 auto;
  @media #{$small} {
    width: 100%;
    margin: 0 auto;
  }
  .g_sidebar__inner {
    position: sticky;
    top: 2rem;
    @media #{$small} {
      position: relative;
      top: 0;
    }
  }
  .g_sidebar__inner-items {
    margin: 2rem 0 0 0;
  }
  .p_post__items {
    border: none;
    @media #{$small} {
      margin: 0;
    }
  }
  .p_post__items-inner {
    padding: .5rem 0;
    @media #{$small} {
      display: flex;
    }
    &:before {
      display: none;
    }
    &:hover {
      &:before {
        display: none;
      }
    }
    .p_post__thumb {
      min-width: 80px;
      width: 80px;
      min-height: 80px;
      height: 80px;
      overflow: hidden;
      .g_update__new {
        font-size: .6rem;
        padding: .1rem .6rem;
      }
      img {
        position: relative;
        object-fit: cover;
        width: 100%;
        min-height: 80px;
        max-height: 100%;
        &.not-thumbs {
          min-height: auto;
          height: auto;
        }
      }
    }
    .p_post__text {
      width: 80%;
      padding-left: 1rem;
      @media #{$small} {
        padding-left: 1rem !important;
      }
      .title {
        font-size: .8rem;
        line-height: 1.35;
        font-weight: 500;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      .info {
        white-space: nowrap;
        margin: .3rem 0 0 0;
        .category,
        .update {
          font-size: .7rem;
        }
      }
    }
  }
}
