.m_main__area-inner {
  &.-error404 {
    padding: 8rem 0;
    .g_breadcrumbs {
    }
    .e_404__title-top {
      color: $c_neolab_l;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      margin-top: 2rem;
    }
    .e_404__title {
      line-height: 0;
      margin: 1.4rem 0 0 0;
      font-size: 8rem;
      font-weight: 700;
      color: $c_neolab_l;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .e_404__title-svg {
      display: inline-block;
      font-size: 0;
      margin: 0 1.4rem;
      vertical-align: super;
    }
    .e_404__description {
      margin-top: 2rem;
      font-size: 1.4rem;
      padding: 0 1.4rem;
      color: #999;
      font-weight: 500;
      line-height: 2;
    }
    .btns {
      margin: 3rem 0 0 0;
    }
  }
}
