
.m_main__area-inner {
  &.-policy {
    padding: 10rem 0;
    @media #{$mq_s} {
      padding: 4rem 0;
    }
    .policy_2018 {
    }
    .policy_box {
      text-align: left;
      max-width: 680px;
      padding: 0 1.4em;
      margin: 0 auto;
      font-size: 1.4rem;
    }
    .policy_title {
    }
    .policy_h2_title {
      font-size: 1.8rem;
    }
    .policy_h2_title_sub {
      margin: .8rem 0 0 0;
    }
    .policy_box_contents {
    }
    .policy_box_contents_h3 {
      margin: 3rem 0 0 0;
    }
    .policy_box_contents_p {
      margin: 1rem 0 0 0;
    }
    .p_day {
    }
  }
}
