
$calling: #D4070C;
$jinjer: #f1e60c;
$enigma: #00aae4;
$neolab: #ff6728;
.l_loading {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  &.calling {
    .l_loading__bg {
      background-color: $calling;
    }
  }
  &.jinjer {
    .l_loading__bg {
      background-color: $jinjer;
      span {
        color: #000;
      }
    }
  }
  &.enigma {
    .l_loading__bg {
      background-color: $enigma;
    }
  }
  &.neolab {
    .l_loading__bg {
      background-color: $neolab;
    }
  }
  .l_loading__bg {
    transition: all .8s cubic-bezier(0,1,.64,1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #fff;
      font-weight: 700;
      font-size: 4rem;
      @media #{$mq_s} {
        font-size: 8vw;
      }
    }
  }
  &.hide {
    .l_loading__bg {
      transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0);
    }
  }
  .l_loading__conts {
    transition: all .8s cubic-bezier(0,1,.64,1);
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 300px;
      @media #{$mq_s} {
        max-width: 140px;
        max-height: 120px;
      }
    }
    &.active {
      width: 600px;
      height: 600px;
      right: 10%;
      top: 10%;
      @media (max-width: 1500px) {
        right: 8%;
      }
      @media (max-width: 1400px) {
        right: 6%;
      }
      @media (max-width: 1200px) {
        width: 500px;
        height: 500px;
      }
      @media #{$mq_s} {
        width: calc( 100% - 4rem );
        height: 50%;
        right: 0;
        left: 0;
        top: 36%;
        padding: 0;
        margin: 0 auto;
        img {
          max-width: 140px;
          max-height: 120px;
        }
      }
      @media #{$mq_ss} {
        width: calc( 100% - 3rem );
        height: 40%;
        top: 42%;
      }
    }
  }
}




.t_main__visual {
  background: #F6F6F6;
  position: relative;
  @media #{$mq_s} {
    padding-bottom: 8rem;
    overflow: hidden;
  }
  @media #{$mq_s} {
    &.-calling {
      .t_main__visual-description__area {
        .-head,
        .-title {
          color: #fff;
        }
      }
    }
    &.-jinjer {
      .t_main__visual-description__area {
        .-head,
        .-title {
          color: #111;
        }
      }
    }
    &.-enigma {
      .t_main__visual-description__area {
        .-head,
        .-title {
          color: #fff;
        }
      }
    }
  }
  .t_circle {
    position: absolute;
    display: block;
    right: -50%;
    top: 0;
    width: 1200px;
    height: 1200px;
    margin-top: -400px;
    @media (max-width: 1100px) {
      transform: scale(.9);
    }
    @media (max-width: 1000px) {
      transform: scale(.7);
    }
    @media #{$mq_s} {
      top: -30%;
      right: -50%;
    }
  }
  &.-calling {
    .t_circle.c_1 {
      border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
      animation: border-animation 40s infinite linear;
      background: rgba($calling, .2);
    }
    .t_circle.c_2 {
      border-radius: 80% 30% 50% 50%/50%;
      animation: border-animation 50s infinite linear;
      background: rgba($calling, .5);
    }
    .t_circle.c_3 {
      border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
      animation: border-animation 60s infinite linear;
      background: rgba($calling, .8);
    }
  }
  &.-jinjer {
    .t_circle.c_1 {
      border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
      animation: border-animation 40s infinite linear;
      background: rgba($jinjer, .2);
    }
    .t_circle.c_2 {
      border-radius: 80% 30% 50% 50%/50%;
      animation: border-animation 50s infinite linear;
      background: rgba($jinjer, .5);
    }
    .t_circle.c_3 {
      border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
      animation: border-animation 60s infinite linear;
      background: rgba($jinjer, .8);
    }
  }
  &.-enigma {
    .t_circle.c_1 {
      border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
      animation: border-animation 40s infinite linear;
      background: rgba($enigma, .2);
    }
    .t_circle.c_2 {
      border-radius: 80% 30% 50% 50%/50%;
      animation: border-animation 50s infinite linear;
      background: rgba($enigma, .5);
    }
    .t_circle.c_3 {
      border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
      animation: border-animation 60s infinite linear;
      background: rgba($enigma, .8);
    }
  }
    &.-neolab {
    .t_circle.c_1 {
      border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
      animation: border-animation 40s infinite linear;
      background: rgba($neolab, .2);
    }
    .t_circle.c_2 {
      border-radius: 80% 30% 50% 50%/50%;
      animation: border-animation 50s infinite linear;
      background: rgba($neolab, .5);
    }
    .t_circle.c_3 {
      border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
      animation: border-animation 60s infinite linear;
      background: rgba($neolab, .8);
    }
  }
  .t_main__visual-inner {
    @include main_width;
    max-width: 1200px;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    @media #{$mq_s} {
      display: block;
    }
  }
  .t_main__visual-description__area {
    width: 50%;
    position: relative;
    z-index: 1;
    text-align: left;
    padding-right: 3rem;
    padding-left: 0;
    @media #{$mq_s} {
      width: auto;
      padding: 7rem 0 0 0;
      text-align: center;
    }
    .-head {
      color: #BDBDBD;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0 0 1.4rem 0;
      @media #{$mq_s} {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
    .-title {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.7;
      position: relative;
      @media (min-width: 1501px) {
        font-size: 4.4rem;
      }
      @media (max-width: 1200px) {
        font-size: 3rem;
      }
      @media (max-width: 1024px) {
        font-size: 2.6rem;
      }
      @media #{$mq_s} {
        font-size: 2.2rem;
        line-height: 1.5;
        color: #fff;
      }
      @media #{$mq_ss} {
        font-size: 2rem;
      }
      span {
        white-space: nowrap;
        letter-spacing: -.03rem;
      }
    }
  }
  .t_main__visual-arrow {
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    display: block;
    color: #111;
    @media #{$mq_s} {
      bottom: -5.6rem;
    }
    span {
      font-weight: 600;
      font-size: 1.3rem;
      display: block;
    }
    svg {
      display: block;
    }
  }
}
@keyframes border-animation {
  to { transform: rotate(360deg); }
}



// ----------------------------------------
//  top title
// ----------------------------------------
.t_title__area {
  @include main_width;
  .-title {
    span {
      display: block;
      &.-en {
        @extend .gf1;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1;
        @media #{$mq_s} {
          font-size: 2.8rem;
        }
      }
    }
  }
  .-text {
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
    line-height: 2;
    @media #{$mq_s} {
      font-size: 1.3rem;
      line-height: 1.8;
      text-align: justify;
    }
    @media #{$mq_ss} {
      br {
        display: none;
      }
    }
  }
}


// ----------------------------------------
// about top
// ----------------------------------------
.t_about__area {}
.t_about__area-inner {
  @include main_width;
  padding-top: 10rem;
  padding-bottom: 4rem;
  @media #{$mq_s} {
    padding-top: 6rem;
  }
  .-title {
    font-size: 5rem;
    font-weight: 700;
    @media #{$mq_s} {
      font-size: 3rem;
    }
    @media #{$mq_ss} {
      font-size: 2.6rem;
    }
  }
  .-description {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 0 0;
    line-height: 2.8;
    @media #{$mq_s} {
      font-size: 1.6rem;
      margin-top: 2rem;
      line-height: 2;
      text-align: justify;
      br {
        display: none;
      }
    }
    @media #{$mq_ss} {
      margin-top: 1.4rem;
    }
  }
}

// ----------------------------------------
//  client top
// ----------------------------------------
.t_client__area {
  padding: 10rem 0;
  @media #{$mq_s} {
    padding: 6rem 0;
  }
}
.t_logo__area-inner {
  @include main_width;
  max-width: 980px;
  margin-top: 4rem;
  @media #{$mq_s} {
    margin-top: 1.4rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.8rem -.8rem -.8rem;
    li {
      width: 20%;
      height: 80px;
      padding: .4rem;
      @media #{$mq_s} {
        width: 33.3%;
      }
      @media #{$mq_ss} {
        width: 50%;
      }
      .-img_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        border: 1px solid #eee;
        height: 100%;
      }
      img {
        max-width: 100px;
        max-height: 50px;
        object-fit: cover;
      }
    }
  }
}


// ----------------------------------------
//  news top
// ----------------------------------------
.t_news__area {
  background: #FAFAFA;
  padding: 10rem 0;
  @media #{$mq_s} {
    padding: 6rem 0;
  }
  + .r__recruit-bnr__area {
    margin-top: 0;
  }
  .t_news__area-inner {
    @include main_width;
    max-width: 980px;
  }
  .t_news__list {
    margin-top: 4rem;
  }
  .p_post__items {
    &.-news {
      display: block;
      margin: 0;
      border-bottom: 1px solid #F2F2F2;
      padding: 3rem 0 !important;
      @media #{$mq_s} {
        padding: 0;
        border: none;
        margin: 3rem 0 0 0;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
      }
      &:nth-child(odd) {
        padding-left: 0;
      }
      &:nth-child(even) {
        padding-right: 0;
      }
      .p_post {
        @media #{$mq_s} {
          display: block;
        }
        &:hover {
          .p_post__thumb {
            &:after {
              border-width: 8px;
            }
          }
        }
      }
      .p_post__thumb {
        order: 1;
        max-width: 280px;
        width: 30%;
        max-height: 100%;
        margin: 0 5% 0 0;
        @media #{$mq_s} {
          max-width: 100%;
          width: 100%;
          margin: 0;
          img {
            width: 100%;
            max-height: 200px;
          }
        }
      }
      .p_post__conts {
        order: 2;
        width: 65%;
        &:before {
          content: none;
        }
        @media #{$mq_s} {
          width: auto;
          margin: 1rem 0 0 0;
        }
      }
      .p_post__updata {
        padding: 0 0 1rem 0;
        @extend .f_g;
        font-weight: 500;
        @media #{$mq_s} {
          padding-bottom: .4rem;
        }
        .time {
          font-size: 1.2rem;
          position: relative;
          padding: 0 4rem 0 0;
          color: rgba($c_default, .6);
        }
        .p_post__category {
          color: rgba($c_default, .6);
        }
      }
      .p_post__title {
        font-size: 1.8rem;
        @media #{$mq_s} {
          font-size: 1.4rem;
        }
      }
      .p_post__description {
        margin: 1rem 0 0 0;
        line-height: 1.8;
        @media #{$mq_s} {
          display: none;
        }
      }
    }
  }
}


// ----------------------------------------
//  solution
// ----------------------------------------
.service_flow__area {
  background: #FAFAFA;
  margin-top: 20rem;
  @media #{$mq_s} {
    margin-top: 16rem;
  }
}
.service_flow__inner {
  @include main_width;
  padding-top: 12rem;
  padding-bottom: 10rem;
  position: relative;
  @media #{$mq_s} {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .illust {
    max-width: 320px;
    width: 100%;
    position: absolute;
    top: -46%;
    right: 0;
    left: 0;
    margin: 0 auto;
    @media #{$mq_s} {
      max-width: 220px;
      top: -40%;
    }
    @media #{$mq_ss} {
      top: -38%;
    }
  }
  .description {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
    margin: 2rem 0 0 0;
    @media #{$mq_s} {
      font-size: 1.3rem;
      text-align: justify;
      line-height: 1.8;
      br {
        display: none;
      }
    }
    @media #{$mq_ss} {
      margin-top: 1.6rem;
    }
  }
  .service_btn__area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.6rem 0 0 0;
    @media #{$mq_s} {
      display: block;
      margin-top: 1.6rem;
    }
  }
  .service_btn__items {
    position: relative;
    margin: 1rem .6rem 0 .6rem;
    @media #{$mq_s} {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
