
// ----------------------------------------
//  reset
// ----------------------------------------
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }
ul, li { list-style: none; }
a img { border: none; }
img { vertical-align: top; margin: 0; padding: 0; }
img { max-width: 100%; }


// ----------------------------------------
//  basic
// ----------------------------------------
body {
	text-align: center;
	position: relative;
	color: #232323;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	line-height: 1.7;
	font-size: 75%;
	overflow-x: hidden;
}
html, body { height: 100%; }
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	letter-spacing: 0.05em;
}
img {
	vertical-align: top;
	max-width: 100%;
	width: auto;
	height: auto;
}
a:link {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:visited {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #999999;
	text-decoration: none;
	outline: none;
}
.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }
.on a img,.op,.on a:hover img,.op:hover {
	@include transition(all, .3s, cubic-bezier(0,1,.64,1));
}
.on a:hover img,.op:hover {
	@include transition(all, .3s, cubic-bezier(0,1,.64,1));
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	text-decoration: none;
}


// ----------------------------------------
// header
// ----------------------------------------



// ----------------------------------------
// footer
// ----------------------------------------

