
$yellow: #feeb08;
$blue_D: #0071bd;
$blue_: #34afe6;
$blue_L: #52c2e8;

.recruit_2018 {
	background: #ffffff;
}

body.loading {
	#loading_wrap {
		display: block;
	}
	#content {
		display: none;
	}
}
#loading_wrap { display: none; }
#content { display: block; }


// ----------------------------------------
//  ローディング
// ----------------------------------------
#loading_wrap {
	width: 100%;
	height: 100%;
	background: #10abfd;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	.loding_bubbles {
		display: block;
		width: 40px;
		margin: 0 auto;
	}
	#loading {
		width: 365px;
		height: 100px;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		.loding_text {
			margin: 0 auto;
			.path {
				fill: #fff;
			}
		}
	}
}
@media #{$small} {
	#loading_wrap {
		.loding_bubbles {
		}
		#loading {
			width: 100%;
			.loding_text {
				@include transform(scale(0.8,0.8));
				.path {
				}
			}
		}
	}
}



// ----------------------------------------
//  visual
// ----------------------------------------
.ceo_modal_btn {
	position: absolute;
    bottom: 8em;
    right: 30em;
	.item {
		display: block;
		@include transition(all, .3s, ease-in-out);
		.fukidashi {
			position: relative;
		}
		.ceo_img {
			position: absolute;
			top: 33px;
			right: -6px;
		}
		.ceo_name {
			position: absolute;
			bottom: -8px;
			right: 48px;
		}
		&:hover {
			.ceo_img {
				top: 26px;
			}
		}
	}
}
@media #{$middle} {
	.ceo_modal_btn {
	    bottom: 7em;
	    right: 1.6em;
	}
}
.top_visual {
	background: #34afe6;
	overflow: hidden;
	.site_title {
		background: $yellow;
		position: absolute;
		top: 0;
		left: 0;
		width: 54px;
		padding: 3em 0;
		.img1 {
			position: relative;
			width: 16px;
			margin: 0 auto;
			display: block;
		}
		.img2 {
			position: relative;
			width: 18px;
			display: block;
			margin: 1em auto 0 auto;
		}
	}
	.bg_cloud_light_blue {
		background: url(../img/img/top-visual_bg_cloud_ligit_blue.svg) repeat-x 0 top;
		height: 400px;
		position: absolute;
		width: 101%;
		bottom: 40%;
		left: 0;
		-webkit-animation: cloudMove2 20s linear infinite;
		-ms-animation: cloudMove2 20s linear infinite;
		animation: cloudMove2 20s linear infinite;
	}
	.bg_cloud_light_blue_body {
		background: #52c2e8;
		height: 40%;
		position: absolute;
		width: 101%;
		bottom: 0;
		left: 0;
	}
	.bg_cloud_white {
		background: url(../img/img/top-visual_bg_cloud_white.svg) repeat-x 0 top;
		height: 400px;
		position: absolute;
		width: 110%;
		bottom: 32%;
		left: 0;
		-webkit-animation: cloudMove1 20s linear infinite;
		-ms-animation: cloudMove1 20s linear infinite;
		animation: cloudMove1 20s linear infinite;
	}
	@media (max-width: 1300px) {
		.bg_cloud_white {
			bottom: 27%;
		}
	}
	.bg_cloud_white_body {
		background: #fff;
		height: 64%;
		position: absolute;
		width: 101%;
		bottom: 0;
		left: 0;
	}
	@media #{$middle} {
		.bg_cloud_white_body {
			height: 63%;
		}
	}
	.bg_cloud_multiple {
		height: 300px;
		position: absolute;
		width: 100%;
		-webkit-animation: cloudMove3 20s linear infinite;
		-ms-animation: cloudMove3 20s linear infinite;
		animation: cloudMove3 20s linear infinite;
		&.bg1 {
			background: url(../img/img/top-visual_bg_cloud_white_multiple_1.svg) no-repeat 0 top;
			background-size: 160px;
			top: 6%;
			left: 60%;
			z-index: 6;
		}
		&.bg2 {
			background: url(../img/img/top-visual_bg_cloud_white_multiple_2.svg) no-repeat 0 top;
			background-size: 140px;
			top: 18%;
			left: 38%;
		}
		&.bg3 {
			background: url(../img/img/top-visual_bg_cloud_white_multiple_3.svg) no-repeat 0 top;
			background-size: 100px;
			top: 12%;
			left: 20%;
			z-index: 6;
		}
	}
	.recruit2018 {
		position: absolute;
		top: -10%;
		right: -5%;
		z-index: 5;
		.img1 {}
	}
	.vr_1 {
		position: absolute;
		bottom: 0;
		height: 480px;
		left: 1em;
		overflow: hidden;
		.img_1 {
			width: 300px;
		}
	}
	.top_visual_description {
		position: absolute;
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
		right: 0;
		left: 0;
		top: 34%;
		text-align: left;
		.ttl1 {
			img {}
		}
		.text_wrap {
			margin: 5em 0 0 210px;
			position: relative;
			display: inline-block;
		}
		.txt1 {
			img {}
		}
		.txt2 {
			margin: 3em 0 0 0;
			img {}
		}
	}
	@media (max-width: 1300px) {
		.top_visual_description {
			zoom: 84%;
			.ttl1 {
				left: 2em;
				img {}
			}
			.text_wrap {
			}
			.txt1 {
				img {}
			}
			.txt2 {
				img {}
			}
		}
	}
	.scroll_btn {
		background: $yellow;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 4%;
		width: 50px;
		height: 50px;
		margin: 0 auto;
		border-radius: 50em;
		text-align: center;
		display: block;
		@include transition(all, .3s, cubic-bezier(0,1,.64,1));
		.arrow {
			color: $blue_D;
			font-size: 26px;
			display: block;
			line-height: 58px;
			text-align: center;
		}
		&:hover {
			background: $blue_D;
			.arrow {
				color: #fff;
			}
		}
	}
}
.balloon {
	position: absolute;
	width: 230px;
	bottom: 10%;
	right: 4em;
	text-align: center;
	.img1 {
		width: 230px;
		margin: 0 auto;
	}
	.shadow1 {
		position: absolute;
		bottom: -2em;
		right: 0;
		left: 0;
		width: 80px;
		margin: 0 auto;
	}
	.m_btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 90px;
		height: 90px;
		display: block;
		border-radius: 50em;
		background: $blue_D;
		svg {
			position: absolute;
			top: 45%;
			right: 0;
			left: 0;
			margin: 0 auto;
		}
	}
}
@media #{$small} {
	.top_visual {
		position: relative;
		.site_title {
			width: 46px;
		padding: 2em 0;
			.img1 {
				width: 12px;
			}
			.img2 {
				width: 12px;
			}
		}
		.bg_cloud_light_blue {
			background-size: 184%;
			bottom: 30%;
			height: 300px;
		}
		.bg_cloud_light_blue_body {}
		.bg_cloud_white {
			height: 300px;
			bottom: 24%;
			background-size: 173%;
		}
		.bg_cloud_white_body {
			height: 68%;
		}
		.bg_cloud_multiple {
			@include transform(scale(0.6,0.6));
			height: 200px;
		}
		.vr_1 {
			width: 90px;
		height: 240px;
		left: -1em;
		}
		.top_visual_description {
			max-width: none;
			padding: 0 1em;
			.ttl1 {
				left: 0;
				img {}
			}
			.text_wrap {
				margin: 3em 0 0 5em;
			display: block;
			}
			.txt1 {
				@include transform(scale(0.8,0.8));
			}
			.txt2 {
				margin-top: 1em;
				@include transform(scale(0.8,0.8));
			}
		}
		.scroll_btn {
			bottom: 2em;
		}
	}
	.balloon {
		display: none;
	}
}
.drone_block_1 {
	position: absolute;
	top: 20%;
	left: 10%;
	-webkit-animation: drone_Move1 10s linear 0s infinite;
	-ms-animation: drone_Move1 10s linear 0s infinite;
	animation: drone_Move1 10s linear 0s infinite;
	.drone_1 {
		width: 330px;
		position: relative;
		z-index: 10;
	}
	.drone_1_parts1 {
		width: 100px;
		position: absolute;
		-webkit-animation: drone_spin 1s linear 0s infinite;
		-ms-animation: drone_spin 1s linear 0s infinite;
		animation: drone_spin 1s linear 0s infinite;
		z-index: 5;
		&.p_left {
			top: 16px;
			left: 5px;
		}
		&.p_right {
			top: 16px;
			right: 2px;
		}
	}
	.drone_1_parts2 {
		position: absolute;
		width: 60px;
		margin: 0 auto;
		bottom: 0;
		right: 0;
		left: 0;
		-webkit-animation: drone_Move1_parts2 10s linear 0s infinite;
		-ms-animation: drone_Move1_parts2 10s linear 0s infinite;
		animation: drone_Move1_parts2 10s linear 0s infinite;
	}
	#eye_block,
	#eye {
		position: absolute;
		overflow: hidden;
		border-radius: 50em;
		z-index: 20;
	}
	#eye_block {
		top: 48%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 12px;
		height: 12px;
		background: #000;
	}
	#eye {
		width: 4px;
		height: 4px;
		background: #fff;
	}
}
.r_2018 {
	position: absolute;
	top: -12%;
	right: 0;
}
@media (max-width: 1300px) {
	.r_2018 {
		top: -16%;
		zoom: 90%;
	}
}
@media #{$small} {
	.drone_block_1 {
		@include transform(scale(0.6,0.6));
		margin-top: -20%;
	right: 0;
		.drone_1 {
		}
		.drone_1_parts1 {
			&.p_left {
			}
			&.p_right {
			}
		}
		.drone_1_parts2 {
		}
		#eye_block,
		#eye {
		}
		#eye_block {
		}
		#eye {
		}
	}
	.r_2018 {
	top: 10px;
	right: 10px;
	width: 40%;
	}
}





// ----------------------------------------
//  共通部分
// ----------------------------------------
.block_section {
	padding: 8em 0;
}
.c_title_block {
	.c_icon {
		width: 60px;
		height: 60px;
		margin: 0 auto;
	}
	.title {
		text-align: center;
		margin: 2em auto 0 auto;
		.item {
			display: block;
			position: relative;
			margin: 0 auto;
			overflow: hidden;
			img {
			}
			span {
				display: inline-block;
			}
			.ttl_before {
			}
			.ttl_after {
				position: absolute;
				width: 100%;
				top: 1px;
				left: -100%;
			}
		}
	}
}
@media #{$small} {
	.block_section {
		padding: 4em 0;
	}
	.c_title_block {
		.c_icon {
			width: 40px;
			height: 40px;
			margin: 0 auto;
		}
		.title {
			padding: 0 1.6em;
			margin: 1em auto 0 auto;
			.item {
				img {
				}
				span {
				}
				.ttl_before {
				}
			}
		}
	}
}


// ----------------------------------------
//  LAB TRIP選考の流れ
// ----------------------------------------
.s1-labtrip_flow {
	margin: 6em auto 0 auto;
	>ul {
		li {
			display: inline-block;
			vertical-align: top;
			max-width: 230px;
			margin: 0 6em;
			position: relative;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			.img {
				border-radius: 50em;
				overflow: hidden;
				border: 1px solid #eee;
				img {}
			}
			.label_trip {
				display: block;
				background: $blue_D;
				width: 86px;
				height: 86px;
				border-radius: 50em;
				text-align: center;
				position: absolute;
				top: -1em;
				right: -2em;
				img {
					position: relative;
    				top: 32px;
				}
			}
			p {
				margin: 2em auto 0 auto;
				img {}
			}
		}
	}
	.btn {
		margin: 4em auto 0 auto;
		text-align: center;
		a {
			display: inline-block;
			vertical-align: middle;
			background: $yellow;
			padding: 2.4em 8em;
			border-radius: 50em;
			position: relative;
			&:hover {
				opacity: .6;
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50em;
				top: 0;
				left: 0;
				animation: btnAnime 3s infinite;
				box-shadow: 0 0 0 0 $yellow;
				animation-delay: 1.5s
			}
			span {
				img {
				}
			}
		}
	}
}
@media #{$small} {
	.s1-labtrip_flow {
		margin: 3em auto 0 auto;
		>ul {
			padding: 0 1.6em;
			li {
				display: block;
				overflow: hidden;
				max-width: none;
				margin: 1em 0 0 0;
				padding: 1em 1em 2em 1em;
				border-radius: 3px;
				border: 1px solid #eee;
				box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }
				.img {
					border-radius: 0;
					border: 0;
					padding: 0 4em;
					img {
					}
				}
				.label_trip {
					@include transform(scale(0.7,0.7));
					top: 0;
					right: 0;
				}
				p {
					margin: 0 auto;
					img {}
				}
			}
		}
		.btn {
			margin: 2em auto 0 auto;
			padding: 0 1.6em;
			a {
				padding: 1.4em 0;
			display: block;
				span {
					img {
						@include transform(scale(0.6,0.6));
					}
				}
			}
		}
	}
}



// ----------------------------------------
//  ネオラボって興味ある
// ----------------------------------------
.s3-business_nav {
	margin: 5em auto 0 auto;
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 1em;
		a {
			display: block;
			border: 2px solid $blue_D;
			padding: .5em 3em;
			border-radius: 50em;
			.menu_color {
				fill: $blue_D;
				fill-rule: evenodd;
			}
			&:hover {
				background: $blue_D;
				.menu_color {
					fill: #fff;
				}
			}
		}
	}
}
@media #{$small} {
	.s3-business_nav {
		display: none;
	}
}

.business_blocks {
	&.s3-drone {
		margin: 4em auto 0 auto;
		background: #34afe6;
		overflow: hidden;
		.inner {
			position: relative;
			max-width: 1024px;
			margin: 0 auto;
			padding: 12em 0;
		}
		.illust {
			.bg_drone {
				display: inline-block;
				position: absolute;
				right: 0;
				top: 20%;
				-webkit-animation: s3_bg_drone 5s linear 0s infinite;
				-ms-animation: s3_bg_drone 5s linear 0s infinite;
				animation: s3_bg_drone 5s linear 0s infinite;
				img {}
			}
			.bg_cloud {
				position: absolute;
				bottom: 80px;
				right: 0em;
				-webkit-animation: s3_bg_cloud 5s linear 0s infinite;
				-ms-animation: s3_bg_cloud 5s linear 0s infinite;
				animation: s3_bg_cloud 5s linear 0s infinite;
				img {}
			}
			.bg_bills {
				position: absolute;
				bottom: 0;
				right: -10em;
				img {}
			}
			.operation {
				display: inline-block;
				vertical-align: top;
				position: absolute;
				bottom: 0;
				left: 36%;
				img {
				}
				.tablet_body {
					width: 180px;
				}
				.tablet_operation {
					width: 60px;
					position: absolute;
					top: 20px;
					left: 74px;
				}
				.tablet_hand {
					width: 70px;
					position: absolute;
					left: 120px;
					top: 47px;
					-webkit-animation: s3_tablet_hand 8s linear 0s infinite;
					-ms-animation: s3_tablet_hand 8s linear 0s infinite;
					animation: s3_tablet_hand 8s linear 0s infinite;
				}
			}
		}
		.text_block {
			text-align: left;
			color: #fff;
			max-width: 400px;
			>h2 {
				width: 226px;
			}
			>p {
				width: 370px;
				margin: 2.6em 0 0 0;
				font-size: 1.2em;
				font-weight: bold;
			}
		}
	}
}
@media #{$small} {
	.business_blocks {
		&.s3-drone {
			margin: 4em auto 0 auto;
			background: #34afe6;
			overflow: hidden;
			.inner {
				max-width: none;
				padding: 12em 0;
			}
			.illust {
				.bg_drone {
					@include transform(scale(0.6,0.6));
					top: 10%;
				}
				.bg_cloud {
				right: 0;
				width: 140%;
				bottom: 30%;
				}
				.bg_bills {
					position: absolute;
					bottom: 0;
					right: -10em;
				}
				.operation {
					@include transform(scale(0.8,0.8));
					bottom: -5%;
				}
			}
			.text_block {
				position: relative;
				z-index: 10;
				padding: 0 1.6em;
				>h2 {
					width: 180px;
				}
				>p {
					width: auto;
					margin: 1.6em 0 0 0;
				}
			}
		}
	}
}



.business_blocks {
	&.s3-vr {
		margin: 0 auto 0 auto;
		overflow: hidden;
		position: relative;
		.inner {
			position: relative;
			max-width: 1024px;
			margin: 0 auto;
			padding: 14em 0 12em;
		}
		.illust {
			.bg_cloud {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				svg {
					max-width: 720px;
					width: 100%;
					margin: 0 auto;
					path {
						&.color_cloud{
							fill: #f99f00;
							-webkit-animation: s3_bg_1_color_cloud 12s linear 0s infinite;
							-ms-animation: s3_bg_1_color_cloud 12s linear 0s infinite;
							animation: s3_bg_1_color_cloud 12s linear 0s infinite;
						}
					}
				}
			}
			.bg_bills {
				position: absolute;
				bottom: 50px;
				left: 32%;
				img {}
			}
			.bg_vr {
				position: absolute;
				bottom: 0;
				right: -2em;
				img {}
			}
			.bg_moon {
				position: absolute;
				top: 10%;
				left: -6em;
				width: 70px;
				-webkit-animation: s3_bg_moon 12s linear 0s infinite;
				-ms-animation: s3_bg_moon 12s linear 0s infinite;
				animation: s3_bg_moon 12s linear 0s infinite;
				img {}
			}
		}
		.text_block {
			text-align: left;
			position: relative;
			> h2 {
				width: 140px;
			}
			> p {
				margin: 3em 0 0 0;
				width: 350px;
			}
		}
		.bg_1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #ffac27;
			-webkit-animation: s3_bg_1 12s linear 0s infinite;
			-ms-animation: s3_bg_1 12s linear 0s infinite;
			animation: s3_bg_1 12s linear 0s infinite;
		}
		.bg_2 {
			background: #00ba8e;
			height: 50px;
			position: absolute;
			bottom: 30px;
			left: 0;
			width: 100%;
		}
		.bg_3 {
			background: #00cb96;
			height: 30px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}
@media #{$small} {
	.business_blocks {
		&.s3-vr {
			position: relative;
			.inner {
				position: relative;
				max-width: none;
				padding: 12em 0;
			}
			.illust {
				.bg_cloud {
				top: -10%;
				width: 120%;
				}
				.bg_bills {
					bottom: 30px;
				left: 4%;
				}
				.bg_vr {
					width: 160px;
				}
			}
			.text_block {
				padding: 0 1.6em;
				> h2 {
					width: 100px;
				}
				> p {
					margin: 2em 0 0 0;
					width: auto;
				}
			}
		}
	}
}




.business_blocks {
	background: #0981ff;
	&.s3-off {
		margin: 0 auto 0 auto;
		overflow: hidden;
		position: relative;
		.inner {
			position: relative;
			max-width: 1024px;
			margin: 0 auto;
			padding: 14em 0;
		}
		.illust {
			.bg_dev {
				max-width: 460px;
				position: absolute;
				top: 14%;
				right: 0;
			}
		}
		.text_block {
			text-align: left;
			position: relative;
			> h2 {
				width: 350px;
			}
			> p {
				margin: 3em 0 0 0;
				width: 400px;
			}
		}
	}
}
@media #{$small} {
	.business_blocks {
		&.s3-off {
			position: relative;
			.inner {
				max-width: none;
				padding: 6em 0 12em;
			}
			.illust {
				.bg_dev {
					max-width: 300px;
					position: absolute;
					top: inherit;
					right: -20%;
					bottom: -1px;
				}
			}
			.text_block {
				padding: 0 1.6em;
				> h2 {
					width: 220px;
				}
				> p {
					margin: 2em 0 0 0;
					width: auto;
				}
			}
		}
	}
}




// ----------------------------------------
//  s3
// ----------------------------------------
.s3_block {
	padding: 10em 0 0 0;
	.form_btn {
		margin: 2em auto 0 auto;
		text-align: right;
		a {
			display: inline-block;
			vertical-align: middle;
			border: 2px solid $blue_D;
			padding: .6em 2em;
			line-height: 1;
			border-radius: 50em;
			.form_btn_color {
				fill: #0071bd;
			}
			&:hover {
				background: $blue_D;
				.form_btn_color {
					fill: #ffffff;
				}
			}
			span {}
		}
	}
	.form_rule {
		max-width: 820px;
		width: 100%;
		margin: 4em auto 0 auto;
		text-align: left;
		border: 1px solid #eee;
		padding: 6em 5em;
		dl {
			margin-top: 1em;
			font-size: 1em;
			&:first-child { margin-top: 0; }
			dt {
				font-weight: bold;
				font-size: 1.2em;
			}
			dd {
				line-height: 1.8;
				padding: 0 0 0 1em;
				text-indent: -1em;
			}
		}
	}
}
@media #{$small} {
	.s3_block {
		padding: 4em 0 0 0;
		.c_title_block {
			.title {
				.ttl_before {
					img {
						width: 110px;
					}
				}
			}
		}
		.form_btn {
			text-align: center;
		}
		.form_rule {
			padding: 0 1.6em;
		    border: none;
		    margin-top: 3em;
			dl {

				dt {
					font-size: 1em;
				}
				dd {
					font-size: .9em;
				}
			}
		}

	}
}




// ----------------------------------------
//  footer
// ----------------------------------------
.g_footer {
	margin-top: 2em;
	.inner_first {
		background: #eee;
		padding: 3em 0;
		.items {
			display: inline-block;
			vertical-align: middle;
			margin: 0 2em;
			a {
				display: block;
			}
			&.poricy img {
				width: 248px;
			}
			&.poricy_text img {
				width: 289px;
			}
		}
	}
	.inner_second {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		.items {
			a {}
			&.logo {
				float: left;
				a {
					display: block;
					width: 80px;
					padding: 2em 0;
					img {}
				}
			}
			&.scroll {
				float: right;
				a {
					position: relative;
					top: 6px;
					width: 120px;
					display: block;
					padding: 2em 0;
					img {}
				}
			}
		}
	}
}
@media #{$small} {
	.g_footer {
		margin-top: 2em;
		.inner_first {
			background: #eee;
			padding: 3em 1.6em;
			.items {
				display: block;
				margin: 0;
				a {
					display: block;
				}
				&.poricy {
					display: inline-block;
				}
				&.poricy img {
					width: 180px;
				}
				&.poricy_text {
					margin-top: 2em;
				}
				&.poricy_text img {
					width: 289px;
				}
			}
		}
		.inner_second {
			padding: 0 1.6em;
		}
	}
}




.share {
	max-width: 1024px;
	width: 100%;
	margin: 6em auto 0 auto;
	text-align: right;
	ul {
		li {
			display: inline-block;
			margin: .4em;
			a {
				display: block;
				padding: .4em 2em;
				color : #fff;
				font-size : .9em;
				font-weight: bold;
				text-decoration : none;
				text-align : center;
				border-radius: 50em;
				@include transition(all, .3s, cubic-bezier(0,1,.64,1));
				&:hover {
					opacity: .6;
				}
			}
			&.tweet a{background-color : #55acee;}
			&.facebook a{background-color : #315096;}
			&.googleplus a{background-color : #dd4b39;}
			&.hatena a{background-color : #008fde;}
			&.line a{background-color: #00c300;}
			&.pocket a{background-color :#f03e51;}
			&.rss a{background-color: #ff8c00;}
			&.feedly a{background-color: #6cc655;}
		}
	}
}
@media #{$small} {
	.share {
		margin: 0 auto 0 auto;
		text-align: center;
		ul {
			li {
				display: inline-block;
				margin: .4em .2em;
			}
		}
	}
}






.ceo_modal {
	.profile {
		padding: 3em;
		text-align: left;
		.head {
			padding: 0 0 1.2em 0;
			h1 {
				font-size: 2em;
				font-weight: bold;
			}
			p {
				font-size: 1.3em;
				font-weight: bold;
			}
		}
		dl {
			margin: .8em 0 0 0;
			dt {
				font-weight: bold;
				font-size: 1.1em;
			}
			dd {
				margin: 0 0 0 0;
				line-height: 1.6;
				font-size: 1em;
			}
		}
		.wantedly_btn {
			margin: 1em 0 0 0;
			background: #00A4BB;
			color: #fff;
			display: inline-block;
			vertical-align: middle;
			font-size: 1em;
			font-weight: bold;
			padding: .8em 3em;
			span {}
		}
	}
}

@media #{$middle} {
	.ceo_modal {
		padding: 2em 1.6em !important;
	  .profile {
	    padding: 0;
	    .head {
	      padding: 0;
	      h1 {
	        font-size: 1.6em;
	      }
	      p {
	        font-size: 1em;
	      }
	    }
	    dl {
	      margin: .6em 0 0 0;
	      dt {
	        font-weight: bold;
	        font-size: 1em;
	      }
	      dd {
	        margin: 0 0 0 0;
	        line-height: 1.6;
	        font-size: .8em;
	      }
	    }
	    .wantedly_btn {
	      margin: 1em 0 0 0;
	      background: #00A4BB;
	      color: #fff;
	      display: inline-block;
	      vertical-align: middle;
	      font-size: 1em;
	      font-weight: bold;
	      padding: .8em 3em;
	      span {}
	    }
	  }
	}
}













// ----------------------------------------
//  @keyframes
// ----------------------------------------
@keyframes cloudMove1 {
	0% {background-position: 0 0px;}
	25% {background-position: 200px 10px;}
	50% {background-position: 400px 0px;}
	75% {background-position: 600px 10px;}
	100% {background-position: 800px 0px;}
}
@keyframes cloudMove2 {
	0% {background-position: 0 10px;}
	25% {background-position: 100px 0px;}
	50% {background-position: 300px 10px;}
	75% {background-position: 500px 0px;}
	100% {background-position: 700px 10px;}
}
@keyframes cloudMove3 {
	0% {background-position: 0 0;}
	25% {background-position: 200px 0;}
	50% {background-position: 400px 0;}
	75% {background-position: 600px 0;}
	100% {background-position: 800px 0;}
}
@keyframes drone_spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes drone_Move1 {
	0% { top: 16%; }
	33% { top: 24%; }
	66% { top: 20%; }
	100% { top: 16%; }
}
@keyframes drone_Move1_parts2 {
	0% { width: 60px; }
	33% { width: 140px; }
	66% { width: 100px; }
	100% { width: 60px; }
}

@keyframes btnAnime {
	0% {
		box-shadow: 0 0 0 0 $yellow
	}

	0%, 90% {
		opacity: .7
	}

	to {
		box-shadow: 0 0 0 9pt rgba(255,255,255,0);
		opacity: 0
	}
}



@keyframes s3_bg_cloud {
	0% { right: 0px; }
	33% { right: 40px; }
	66% { right: -40px; }
	100% { right: 0; }
}
@keyframes s3_bg_drone {
	0% { right: 0px; }
	33% { right: -20px; }
	66% { right: 20px; }
	100% { right: 0; }
}
@keyframes s3_tablet_hand {
	0% { left: 120px; }
	33% { left: 100px; }
	66% { left: 80px; }
	100% { left: 120px; }
}

@keyframes s3_bg_1 {
	0% { background: #ffac27; }
	66% { background: #2f4456; }
	100% { background: #ffac27; }
}
@keyframes s3_bg_1_color_cloud {
	0% { fill: #f99f00; }
	66% { fill: #ffffff; }
	100% { fill: #f99f00; }
}
// @keyframes s3_bg_moon {
// 	0% { opacity: 0; }
// 	60% { opacity: 0;
// 	66% { opacity: 1; }
// 	88% { opacity: 1; }
// 	100% { opacity: 0; }
// }


