
.form_block {
	width: 820px;
	border: 1px solid #eee;
	margin: 3em auto 0 auto;
	padding: 6em 0;
	position: relative;
}
.po-privacy-wrap {
	border: 1px solid #f3f3f3;
	width: 83%;
	margin: 0 auto;
	padding: 3em;
	text-align: left;
	font-size: .9em;
	line-height: 1.8;
	.po-privacy-policy {
	}
}
@media #{$small} {
	.po-privacy-wrap {
		width: 86%;
		padding: 2em;
		.po-privacy-policy {
		}
	}
}
.po-iframe {
	iframe {
		width: 100%;
    	min-height: 300px;
	}
}
tr.po-single,
tr.po-double {
	margin: 0 auto 0 2em;
	width: 86%;
	th.po-label {
		display: inline-block;
		vertical-align: top;
		text-align: right;
		width: 27%;
		margin: 0;
		font-size: 1.1em;
		padding: 8px 0 0 2%;
		position: relative;
	}
	th.po-required {
		.po-required-elem {
			position: absolute;
			top: 0;
			right: -1em;
			&:before {
				position: absolute;
				right: 0;
				top: 6px;
				content: '*';
				font-size: 1.1em;
				color: $color_red;
			}
		}
	}
	td.po-normal {
		text-align: left;
		display: inline-block;
		vertical-align: top;
		padding-left: 5%;
		width: 72%;
		position: relative;
		margin-bottom: 2em;
		.po-year,
		.po-month,
		.po-day { width: 20%; margin: 0 1em; }
		.po-year { margin-left: 0 !important; }
	}
	.po-dropdown {
		select {
			width: 100%;
			-webkit-appearance: none;
			height: 40px;
			border-radius: 3px;
			border: none;
			background: #eeeeee;
			padding: 0 10px;
		}
		+ .po-remark {
			display: inline-block;
			vertical-align: top;
			position: absolute;
			top: 50%;
			right: 1em;
			margin-top: -10px;
			cursor: default;
			pointer-events: none;
			.po-row-item-container {
				display: inline-block;
				background: url(../img/img/icon-select.svg) no-repeat center center;
				width: 16px;
				height: 16px;
				background-size: 12px;
			}
		}
	}
	.po-validation {
		color: #9f3a38;
		padding: 0;
		font-weight: bold;
	}
	.checkbox_vd {
		.error {
			color: #9f3a38;
			padding: 0;
			position: absolute;
			padding: 5em 0 3.4em 3em;
			height: 100%;
			width: 94%;
			left: -1px;
			bottom: -44px;
			font-weight: bold;
			background: #fff6f6;
			&:before {
			}
		}
	}
	.error + input[type=text],
	.error + input[type=tel],
	.error + input[type=email],
	.error + input[type=search],
	.error + input[type=password],
	.error + textarea {
		box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
		background-color: #fff6f6;
	}
	.uploadButton {
		background: #eee;
		position: relative;
		input[type="file"] {
			padding: 1.4em 0em 1.4em 3em;
			display: block;
			width: 94%;
		}
		.mwform-file-delete {
			background: #999;
			color: #fff;
			width: 30px;
			height: 30px;
			border-radius: 50em;
			position: absolute;
			top: -10px;
			right: -10px;
			text-align: center;
			font-size: 18px;
			line-height: 30px;
			outline: 0;
			cursor: pointer;
			@include transition(all, .3s, cubic-bezier(0,1,.64,1));
			&:hover {
				opacity: .6;
			}
		}
	}
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=search],
	input[type=password],
	textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		margin: 0;
		width: 100%;
		outline: 0;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		text-align: left;
		font-size: 1.1em;
		line-height: 1.5em;
		padding: .8em 1.2em;
		background: #eeeeee;
		border: 1px solid transparent;
		border-radius: 3px;
		-webkit-transition: box-shadow .1s ease,border-color .1s ease;
		transition: box-shadow .1s ease,border-color .1s ease;
		box-shadow: none;
		@include transition(all, .3s, cubic-bezier(0,1,.64,1));
		&:focus {
			border-color: #85B7D9;
			background: #FFF;
			color: #666;
			box-shadow: none;
		}
	}
	.mwform-checkbox-field label,
	.mwform-radio-field label {
		position: relative;
		cursor: pointer;
	}
	input[type=checkbox] {
		appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		border: none;
		background-color: #eee;
		display: inline-block;
		vertical-align: middle;
		width: 26px;
		height: 26px;
		border-radius: 2px;
		margin: 0 8px 2px 0;
		outline: none;
		cursor: pointer;
		&:checked {
			border-color: #0071bd;
			&:focus {
				outline: none;
			}
			&:after {
				position: absolute;
				top: 0;
				left: 5px;
				display: block;
				content: '';
				width: 12px;
				height: 6px;
				border-left: 3px solid #0071bd;
				border-bottom: 3px solid #0071bd;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}
.po-button-outer {
	display: table;
	width: 100%;
	text-align: center;
	.po-button-inner {
		display: inline-block;
		vertical-align: top;
		margin: 2.6em 0 0 0;
		.po-button-send {
			outline: none;
			background: none;
			border: 2px solid transparent;
			cursor: pointer;
			letter-spacing: 1px;
			border-radius: 50em;
			font-weight: bold;
			padding: .4em 3em;
			font-size: 1.2em;
			@include transition(all, .3s, cubic-bezier(0,1,.64,1));
			border-color: #0071bd;
			color: #0071bd;
			display: block;
			width: 100%;
			line-height: 42px;
			&:hover {
				background: #0071bd;
				color: #fff;
			}
		}
		&.back {
			input {
				background: #ccc;
				color: #fff;
				display: block;
				width: 100%;
				line-height: 42px;
			}
		}
	}
}




@media #{$small} {
	.form_block {
		width: auto;
		border: none;
		margin: 0 auto 0 auto;
		padding: 4em 0;
		position: relative;
	}
	tr.po-single,
	tr.po-double {
		margin: 0 auto 0 2em;
		width: 86%;
		th.po-label {
			display: block;
			width: auto;
			padding: 0 1.6em;
			text-align: left;
		}
		th.po-required {
			.po-required-elem {
				display: inline-block;
				vertical-align: top;
				position: relative;
				&:before {
					top: 0;
				}
			}
		}
		td.po-normal {
			display: block;
			padding: .4em 1.6em 0 1.6em;
			width: auto;
			position: relative;
			margin-bottom: 1.6em;
			input[type=text],
			input[type=tel],
			input[type=email],
			input[type=search],
			input[type=password],
			textarea {
				font-size: 16px;
				padding: .4em 1.2em;
			}
		}
		.po-validation {
			padding-top: .4em;
			font-size: .8em;
		}
	}
}

