
@mixin sp_width {
	max-width: 480px;
	margin: 0 auto;
}


@mixin sp_padding {
	padding-right: 1rem;
	padding-left: 1rem;
}


@mixin iconfont {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
