
// ----------------------------------------
//  breadcrumbs
// ----------------------------------------
.g_breadcrumbs {
	text-align: left;
	margin: 0;
	position: relative;
	&:before {
		content: '';
    display: block;
    position: absolute;
    left: -40px;
    top: 0;
    width: 108%;
    height: 1px;
    background: #E0E0E0;
		@media #{$small} {
			left: 0;
			width: 100%;
		}
	}
	.mask {
		display: block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, white 100%);
		position: absolute;
		width: 60px;
		height: 40px;
		top: 12px;
		right: 0;
	}
}
.g_breadcrumbs__inner {
	border-bottom: 1px solid #E0E0E0;
	display: flex;
	align-items: center;
	padding: 1.4rem 0;
	font-size: .8rem;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	@media #{$small} {
		overflow-x: auto;
		padding: 1.2rem 0;
		-webkit-overflow-scrolling: touch;
	}
	i {
		margin-left: 6px;
		margin-right: 6px;
		font-size: 16px;
		color: #999;
	}
	span {
		a {
			&:hover {
				opacity: .6;
			}
		}
		&:first-of-type {
			+ i {
				margin-left: 0;
			}
		}
		&:last-of-type {
		}
		.home {
			overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 26px;
	    height: 26px;
	    font-size: 18px;
			&:before {
				@include iconfont;
				content: '\e88a';
				color: #999;
			}
			span {
				display: none;
			}
		}
	}
	span {
		color: #666;
	}
}



// ----------------------------------------
//  .wp-pagenavi
// ----------------------------------------
@mixin pagenaviActive {
	&:before {
		content: '';
		width: 100%;
		height: 1px;
		background: $colorMain;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.wp-pagenavi {
	display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid #eee;
  margin: 3.6rem 0 0 0;
	@extend .wfont1;
	a,span {
		display: inline-block;
		vertical-align: middle;
		font-size: .75rem;
		margin-top: -1px;
		position: relative;
		font-weight: 600;
		padding: 0 .8rem;
		height: 46px;
		line-height: 48px;
		text-align: center;
		white-space: nowrap;
		@media #{$ssmall} {
			padding: 0 .6rem;
		}
	}
	.extend,
	.page {
	}
	> .pages {
		display: none;
	}
	a.page {
		transition: all .3s cubic-bezier(0,1,.64,1);
		&:before {
			transition: all .3s cubic-bezier(0,1,.64,1);
		}
		&:hover {
			@include pagenaviActive;
			color: $colorMain;
		}
	}
	span.current {
		@include pagenaviActive;
		color: $colorMain;
	}
	.extend {
		bottom: 2px;
	}
	.first,
	.last {
		transition: all .3s cubic-bezier(0,1,.64,1);
		font-size: 20px;
		padding: 0 .6rem;
		position: absolute;
		@media #{$ssmall} {
			padding: 0 .4rem;
			i {
				position: relative;
				top: 3px;
			}
		}
		&:hover {
			color: $colorMain;
		}
	}
	.first {
		left: 0;
		&:hover {
			margin-left: -6px;
		}
	}
	.last {
		right: 0;
		&:hover {
			margin-right: -6px;
		}
	}
	.previouspostslink,
	.nextpostslink {
		display: none;
	}
	& + {
		.g_pagenavi_count {
			margin-top: 0;
		}
	}
}
.g_pagenavi_count {
	margin-top: 1rem;
	color: #666;
	font-size: .7rem;
	letter-spacing: 1px;
}


// ----------------------------------------
//  wp_popular
// ----------------------------------------
.wp_popular {}
.wp_popular__items {
	text-align: left;
	display: flex;
	padding: .6rem 0;
}
.wp_popular__items-img {
	min-width: 80px;
	width: 80px;
	min-height: 80px;
	height: 80px;
	overflow: hidden;
	border: 1px solid #eee;
  background: #fff;
  position: relative;
	a {
		display: block;
	}
	img {
		height: 80px;
		width: 100%;
		object-fit: cover;
		margin: 0;
	}
}
.wp_popular__items-text {
	width: 80%;
	padding-left: 1rem;
	.title {
		font-size: .8rem;
		line-height: 1.35;
		font-weight: 500;
		a {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			&:hover {
		    color: $colorMain;
		  }
		}
	}
	.info {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: .3rem 0 0 0;
		color: #999999;
		.cat {
			font-size: .7rem;
			font-weight: 600;
			padding: 0 2rem 0 0;
			position: relative;
			&:before {
				content: '';
				width: 1px;
				height: 10px;
				background: #eee;
				position: absolute;
				right: .9rem;
				top: 50%;
				margin-top: -5px;
			}
			a {
				color: #999999;
			}
		}
		.update {
			font-weight: 600;
		}
	}
}


// ----------------------------------------
//  jetpack subscription
// ----------------------------------------
.widget_blog_subscription {
	margin: 2.4rem 0 0 0;
	text-align: left;
	.widgettitle {
		position: relative;
		color: #8a8a8a;
		font-size: .9rem;
		font-weight: 700;
		label {}
	}
	form {
		position: relative;
		padding-bottom: 64px;
	}
	p {
		color: #8a8a8a;
		font-size: .8rem;
		font-weight: 500;
		margin: .4rem 0 0 0;
	}
	#jetpack-subscribe-label {
		display: none;
	}
	input[type="email"] {
		transition: all .3s cubic-bezier(0,1,.64,1);
		background: #f6f6f6;
		border: none !important;
		width: 100%!important;
		padding: 0 70px 0 1.2rem!important;
		display: block;
		font-size: .8rem;
		height: 54px;
		line-height: 54px;
		outline: none;
		border-radius: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		&:focus,
		&:hover, {
			background: rgba($colorMain, .08);
		}
	}
	button[type="submit"] {
		transition: all .3s cubic-bezier(0,1,.64,1);
		display: block;
    width: 70px;
    height: 54px;
		line-height: 54px;
    border-radius: 0 3px 3px 0;
    background-color: #eee;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212.811%22%20height%3D%2210.981%22%20viewBox%3D%220%200%2012.811%2010.981%22%3E%20%3Cg%20id%3D%22send-button%22%20transform%3D%22translate(0%20-38.25)%22%3E%20%3Cg%20id%3D%22send%22%20transform%3D%22translate(0%2038.25)%22%3E%20%3Cpath%20id%3D%22%E3%83%91%E3%82%B9_17%22%20data-name%3D%22%E3%83%91%E3%82%B9%2017%22%20d%3D%22M0%2C49.231l12.811-5.491L0%2C38.25v4.27l9.151%2C1.22L0%2C44.961Z%22%20transform%3D%22translate(0%20-38.25)%22%20fill%3D%22%23117ebf%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E');
    outline: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    border: none !important;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999px;
		&:hover {
			opacity: .7;
		}
	}
}



// ----------------------------------------
//  jetpack 人気記事
// ----------------------------------------
#top-posts-7 {
	.widgettitle {
		display: none;
	}
}
.widgets-list-layout {
	li {
		padding: .6rem 0;
		display: flex;
		align-items: center;
		width: 100%;
		min-width: 260px;
		margin: 0 !important;
		&:hover {
			.widgets-list-layout-links {
				a {
					color: $colorMain;
				}
			}
		}
		>.bump-view {
			min-width: 80px;
			width: 80px;
			min-height: 80px;
			height: 80px;
			overflow: hidden;
			border: 1px solid #eee;
			background: #fff;
			position: relative;
			img {
				object-fit: cover;
				width: 100%;
				min-height: 80px;
				min-width: 80px;
				max-height: 100%;
			}
		}
		.widgets-list-layout-links {
			width: 80%;
			padding-left: 1rem;
			text-align: left;
			font-weight: 500;
			line-height: 1.4;
			a {
				display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 3;
		    overflow: hidden;
			}
		}
	}
}
