@charset "UTF-8";
/* =====================================================
	2017/1107 kintone ランディングページ トン
========================================================*/



#wrapper{
  width: 100%;
  height: auto;
  min-width: 320px;
}

/* ---------------
	LP_header
-------------------------------------------------------*/
.LP_header{
  width: 100%;
  max-height: 64px;
  padding:15px 0;
  background-color: #3a3634;
}

.LP_header_wrap{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.LP_header_site_title{
  position: absolute;
  top: -100%;
}

.LP_header_logo{
  width: auto;
  height: auto;
  float: left;
}

.LP_header_logo a{
  display: block;
  width: 166px;
  height: auto;
  font-size: 0;
  line-height: 1;
  text-decoration: none;
}

.LP_header_nav{
  width: auto;
  height: auto;
  float: right;
  position: relative;
  top: 7px;
}

.LP_header_nav > ul{
  width: auto;
  height: auto;
}

.LP_header_nav > ul li{
  　display: inline-block;
    vertical-align: middle;
    position: relative;
    float: left;
}

.LP_header_nav > ul li + li{
  margin-left: 50px;
}

.LP_header_nav > ul li > a{
  width: auto;
  height: auto;
  display: block;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


/* ---------------
	LP_main
-------------------------------------------------------*/
#landing{
  width: 100%;
  height: 100%;
}

.second_visual{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  padding-bottom: 70px;
}

.second_visual_img{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
}

.second_visual_inner{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.second_visual_inner_set{
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.second_visual_inner h1{
  font-size: 24px;
  color: #fff;
  display: table;
  line-height: 1;
  margin-top: 100px;
}

.second_visual_inner p.text_1{
  font-size: 44px;
  color: #fff;
  display: table;
  text-align: left;
  line-height: 1.5;
  margin-top: 40px;
  font-weight: bold;
}

.second_visual_btn{
  width: 336px;
  height: 63px;
  margin-top: 55px;
}

.second_visual_btn a{
  width: 100%;
  height: 100%;
  display: table;
  border-radius: 30px;
  overflow: hidden;
  background-color: #ff6728;
  font-weight: bold;
  text-decoration: none;
}

.second_visual_btn a span{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #fff;
}

/* ---------------
	LP_kintone_service
-------------------------------------------------------*/

/*  kintone_import  */
.kintone_import{
  width: 100%;
  height: auto;
  padding-bottom: 110px;
}

.kintone_import .inner{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.kintone_import .inner h2{
  font-size: 44px;
  color: #000;
  margin-bottom: 60px;
  text-align: center;
}

ul.kintone_import_list{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
}

.kintone_import_list li{
  width: 33.333333%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  /*opacity:0;
  -webkit-transform: translateY(100px);
	transform: translateY(100px);
	opacity:0;
	-webkit-transition: -webkit-transform 1s ease-out,opacity 1s ease-out;
	transition: transform 1s ease-out,opacity 1s ease-out;*/

}

/*.kintone_import_list li:nth-child(1){
  transition-delay:0.5s;
	-webkit-transition-delay:0.5s;
}

.kintone_import_list li:nth-child(2){
  transition-delay:1s;
	-webkit-transition-delay:1s;
}

.kintone_import_list li:nth-child(3){
  transition-delay:1.5s;
	-webkit-transition-delay:1.5s;
}

.kintone_import_list li.show{
  -webkit-transform: translateX(0px) !important;
	transform: translateX(0px) !important;
	opacity: 1 !important;
}

.kintone_import_list li:first-child(1){

}*/


.kintone_import_list li .title{
  width: 100%;
  height: 100px;
  max-width: 380px;
  min-height: 100px;
  margin-bottom: 20px;
  background-color: #025798;
  border-radius: 5px;
  overflow: hidden;
  display: table;
}

.kintone_import_list li .title span{
  font-size: 26px;
  color: #fff;
  text-align: center;
  line-height: 1.3;
  display: table-cell;
  vertical-align: middle;
}

.kintone_import_list li .text{
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  padding: 0 10px;
  box-sizing: border-box;
}




/*  kintone_merit  */
.kintone_merit{
  width: 100%;
  height: auto;
  padding: 140px 0 120px 0;
  background-color: #74ccdc;
}

.kintone_merit .inner{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.kintone_merit .inner h2{
  font-size: 44px;
  color: #f1f101;
  line-height: 1;
  margin-bottom: 60px;
  text-align: center;
}

.kintone_merit_list{
  width: 100%;
  height: auto;
}

.kintone_merit_list li{
  width: 33.333333%;
  height: auto;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  /*opacity:0;
  -webkit-transform: translateY(100px);
	transform: translateY(100px);
	opacity:0;
	-webkit-transition: -webkit-transform 0.6s ease-out,opacity 0.6s ease-out;
	transition: transform 0.6s ease-out,opacity 0.6s ease-out;*/
}

.kintone_merit_list li .title{
  font-size: 26px;
  line-height: 1.3;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.kintone_merit_list li img{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.kintone_merit_list li .text{
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}


/*  kintone_dev  */
.kintone_dev{
  width: 100%;
  height: auto;
  padding: 140px 0;
  background-color: #ebebeb;
}

.kintone_dev .inner{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.kintone_dev .inner h2{
  font-size: 44px;
  color: #000;
  margin-bottom: 60px;
  text-align: center;
}

.kintone_dev_list{
  width: 100%;
  height: auto;
}

.kintone_dev_list li{
  width: 33.333333%;
  height: auto;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  /*opacity:0;
  -webkit-transform: translateY(100px);
	transform: translateY(100px);
	opacity:0;
	-webkit-transition: -webkit-transform 0.6s ease-out,opacity 0.6s ease-out;
	transition: transform 0.6s ease-out,opacity 0.6s ease-out;*/
}

/*.kintone_dev_list li:nth-child(1){
  transition-delay:0.7s;
	-webkit-transition-delay:0.7s;
}

.kintone_dev_list li:nth-child(2){
  transition-delay:1s;
	-webkit-transition-delay:1s;
}

.kintone_dev_list li:nth-child(3){
  transition-delay:1.3s;
	-webkit-transition-delay:1.3s;
}

.kintone_dev_list li.show{
  -webkit-transform: translateX(0px) !important;
	transform: translateX(0px) !important;
	opacity: 1 !important;
}*/

.kintone_dev_list li img{
  width: 76.388888%;
  height: auto;
  margin-bottom: 55px;
}

.kintone_dev_list li .title{
  font-size: 26px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 5px solid #000;
  margin-bottom: 20px;
}

.kintone_dev_list li .text{
  font-size: 14px;
  text-align: left;
  line-height: 1.6;
}



/*  kintone_inquiry  */
.kintone_inquiry{
  width: 100%;
  height: auto;
  padding: 150px 0 120px 0;
  background-color: #cccccc;
}

.kintone_inquiry .inner{
  width: 100%;
  height: 100%;
  max-width: 585px;
  margin: 0 auto;
}

.kintone_inquiry .inner h2{
  font-size: 36px;
  line-height: 1;
  color: #000;
  margin-bottom: 70px;
  text-align: center;
}

.kintone_inquiry  dl{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.kintone_inquiry  dl:after{
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

.kintone_inquiry dl dt{
  width: 30.085%;
  height: auto;
  float: left;
  text-align: left;
  line-height: 30px;

}

.kintone_inquiry dl dd{
  width: 69.915%;
  height: auto;
  float: right;
}


dl.textarea{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

dl.textarea dt{
  width: 100%;
  height: auto;
}

dl.textarea dd{
  width: 100%;
  height: auto;
  text-align: left;
}

.text_bottom p a {
    color: #ec6320;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
/*dl.textarea dd span{
  float: left;
}*/
.kintone_inquiry input[type="text"],.kintone_inquiry input[type="email"]{
  width: 100%;
  height:30px;
  font-size: 16px;
  padding:0.3em;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: left;
  transition: all 0.3s ease-in-out;
  box-shadow: none;

}

.kintone_inquiry textarea{
  width: 100%;
  height:140px;
  font-size: 16px;
  padding:0.3em;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: left;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.LP_form_submit{
  text-align: center;
  margin: 4em 0 0 0;

}

#kintone_inquiry .btn_submit input[type="submit"]{
  width: 100%;
  max-width: 336px;
  height: 63px;
  display: table;
  border-radius: 30px;
  overflow: hidden;
  background-color: #ff6728;
  border: 1px solid #ff6728;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
    line-height: 1;
}

#kintone_inquiry .btn_submit li:nth-child(2){
  width: 100%;
  max-width: 356px;
}




@media (max-width: 1200px) {
  .LP_header_wrap,.second_visual_inner,.kintone_import .inner{
    padding: 0 20px;
    box-sizing: border-box;
  }
  /*second_visual*/
  .second_visual{
    padding-bottom: 40px;
  }

  .second_visual_inner h1{
    margin-top: 8%;
    font-size: 22px;
    font-size: 2vw;
  }

  .second_visual_inner p.text_1{
    margin-top: 3%;
    font-size: 38px;
    font-size: 3.2vw;
  }

  .second_visual_btn{
    width: 28%;
    margin-top: 6%;
    height: inherit;
  }

  .second_visual_btn a span{
    font-size: 2.5vw;
    padding: .5em 0;
  }


  .kintone_import .inner h2{
    font-size: 38px;
    margin-bottom: 40px;
  }

  /*kintone_import*/
  .kintone_import{
    padding-bottom: 60px;
  }

  .kintone_import_list li .title{
    min-height: 90px;
  }

  .kintone_import_list li .title span{
    /*font-size: 22px;*/
    font-size: 2.2vw;
  }

    /*kintone_merit;*/
  .kintone_merit{
    padding: 70px 0;
  }

  .kintone_merit .inner h2{
    font-size: 38px;
    margin-bottom: 40px;
  }

  .kintone_merit li .title{
    font-size: 2.2vw;
  }

  /*kintone_dev*/
  .kintone_dev{
    padding: 70px 0;
  }

  .kintone_dev .inner h2{
    font-size: 38px;
    margin-bottom: 40px;
  }


  .kintone_dev_list li .title{
    font-size: 2.5vw;
  }

  .kintone_inquiry{
    padding: 70px 0;
  }
}



@media (max-width: 768px) {
  /* header */
  .LP_header_logo a{
    width: 110px;
  }

  .LP_header_nav{
    top: 2px;
  }

.LP_header_nav > ul li + li{
  margin-left: 25px;
}

.LP_header_wrap,.second_visual_inner,.kintone_import .inner{
  padding: 0 10px;
}
  /*kintone_import*/
  .kintone_import{
    padding-bottom: 40px;
  }

  .kintone_import .inner h2{
    font-size: 4.2vw;
  }
  .kintone_import_list li{
    width: 100%;
    float: none;
    max-width: none;
  }

  .kintone_import_list li + li{
    margin-top: 50px;
  }

  .kintone_import_list li .title{
    max-width: none;
    height: auto;
    min-height:inherit;
    padding: 1.5em 0;
  }

  .kintone_import_list li .title span{
    font-size: 3.5vw;
  }

  .kintone_import_list li .title br{
    display: none;
  }

  .kintone_import_list li .text{
    font-size: 14px;
  }



  /*kintone_merit;*/
  .kintone_merit{
    padding: 40px 0;
  }

  .kintone_merit .inner h2{
    font-size: 4.2vw;
    margin-bottom: 40px;
  }

  .kintone_merit li{
    width: 70%;
    min-width: 320px;
    margin: 0 auto;
    float: none;
    max-width: none;
  }

  .kintone_merit li + li{
    margin-top: 30px;
  }

  .kintone_merit li .title{
    font-size: 3.5vw;
  }

  .kintone_merit li img{
    margin-bottom: 15px;
  }

  /*kintone_import*/
  .kintone_dev{
    padding-bottom: 40px;
  }

  .kintone_dev .inner h2{
    font-size: 4.2vw;
  }



  .kintone_dev_list li{
    width: 60%;
    margin: 0 auto;
    float: none;
    min-width: 320px;
  }

  .kintone_dev_list li img{
    margin-bottom: 30px;
  }

  .kintone_dev_list li .title{
    font-size: 3.5vw;
  }

  .kintone_dev_list li + li{
    margin-top: 30px;
  }

  .kintone_inquiry{
    padding: 40px 0;
  }

  .kintone_inquiry .inner{
    padding: 0 10px;
  }

  .kintone_inquiry .inner h2{
    font-size: 4vw;
    margin-bottom: 30px;
  }

  .kintone_inquiry dl{
    margin-bottom: 15px;
  }

  .kintone_inquiry dl dt{
    width: 100%;
    float: none;
  }

  .kintone_inquiry dl dd{
    width: 100%;
    float: none;
  }

  .second_visual_btn{
    min-width: 135px;
  }
  .second_visual_btn a span {
    font-size: 3.5vw;
  }

}

@media (max-width: 450px) {

  .kintone_import .inner h2{
    font-size: 18px;
  }
  .kintone_import_list li .title span{
    font-size: 14px;
  }

  .kintone_merit .inner h2{
    font-size: 18px;
  }

  .kintone_merit li .title{
    font-size: 16px;
  }

  .kintone_dev .inner h2{
    font-size: 18px;
  }
  .kintone_dev_list li .title{
    font-size: 16px;
  }
}
