/*---------------------------------------    media max-width 768   */
@media (max-width: 768px){
.main_image {
    position: inherit;
    }
.main_image .top_contact_btn {
    top: 22em;
    left: 0;
    }
.main_image img {
    top: 17em;
    left: 0;
    }
h2.heading001 {
    position: absolute;
    top: 3.5em;
    left: 0;
    font-size: 2em;
    text-align: center;
    }
#top{height: 600px;}
.inner img{width: 90%;}
.ambit{display: inherit;}
.ambit_detail { width: 100%; }

#feature h3 {
    font-size: 1.7em;
    text-align: center;
    padding: 10px;
}
.feature_list_chat h3 {
    background-image: none;
    background-color: #00b2ed;
    height: auto;
    }
.feature_list_video h3 {
    background-image: none;
    background-color: #235da4;
    height: auto;
    }
#use {
    padding: 8em 0;
    background-image: none;
    background-color: #aedcf0;
    background-size: auto auto;
}
li.case_box_chatbot{
        background-image: none;
    }
li.case_box_video{
        background-image: none;
    }

.can_list dl {max-width: inherit;width:100%;height: 500px;}
.can_list dl dt {position: inherit;}
.can_list dl dt img {width:50%;}
.can_list dl dd{height:auto;top:15em;}
.use_list li{width: 100%;}
.use_list li:nth-child(2n-1) {
    margin: 0 0 3em 0;
}
    
h2.heading003 {
    width: 100%;
    max-width: 100%;
    float: none;
    margin-bottom: 2em;
    }
table.info {
    width: 100%;
    max-width: 100%;
    float: none;
    }
dl.obtain{
    width: 100%;
    }
dl.obtain dt{
    float: none;
    font-weight: 600;
    }
dl.obtain dd {
    margin-left: 1em;
    padding-bottom: 1em;
}
.calling_introduction{
    height: auto;
    }
.use_list li h3{
    padding: 0;
    }
.can_list dl dd p{
    margin: 1em;
    }
    
    
    
    
    
    
    
}