/*---------------------------------------    media max-width 768   */
@media (max-width: 768px){
 .calling_introduction .calling_logo {
    width: 33%;
    top: 0;
	left: 10px;
}
.calling_introduction p {
    left: 1em;
	top: 0px;
	font-size: 16px;
}
.main_image {
    position: inherit;
    }
.main_image .top_contact_btn {
    left: 0;
	top: 33em;
    }
.main_image img {
    top: 17em;
    left: 0;
    }
h2.heading001 {
    position: absolute;
    top: 15em;
    left: 0;
    font-size: 1.4em;
    text-align: center;
    }
#top{height: 550px;}
.inner img{
	width: 90%;
	top: 100px;
	}
.ambit{display: inherit;}
.ambit_detail { width: 100%; }

.cost_rule {
	width: 95%;
	margin: 0 auto;	
	}
	
#feature h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}
.feature_list_chat h3 {
    background-image: none;
    background-color: #00b2ed;
    height: auto;
    }
.feature_list div:nth-child(2n-1) {
    margin: 0 1.5% 0 1.5%;
}
[class^="feature_list_"] ul {
    padding: 16px 20px 40px;
	}
.feature_list_video h3 {
    background-image: none;
    background-color: #235da4;
    height: auto;
    }
.feature_list_video {
	margin: 2% 1.5% 0 1.5%;	
	}
#use {
    padding: 8em 0;
    background-image: none;
    background-color: #aedcf0;
    background-size: auto auto;
}
li.case_box_chatbot{
        background-image: none;
    }
li.case_box_video{
        background-image: none;
    }

.can_list dl {max-width: inherit;width:100%;height: 500px;}
.can_list dl dt {position: inherit;}
.can_list dl dt img {width:50%;}
.can_list dl dd{height:auto;top:15em; padding: 90px 10px 20px;}
.can_list dl dd h3 {font-size: 1.5em; line-height: 1.5;}
.use_list li{width: 100%;}
.use_list li:nth-child(2n-1) {
    margin: 0 0 3em 0;
}
h2 {
    font-size: 2em;
	}
	
h2.heading003 {
    width: 100%;
    max-width: 100%;
    float: none;
    margin-bottom: 2em;
    }
table.info {
    width: 90%;
	margin: 0 auto;
    max-width: 100%;
    float: none;
    }
dl.obtain{
    width: 100%;
    }
dl.obtain dt{
    float: none;
    font-weight: 600;
    }
dl.obtain dd {
    margin-left: 1em;
    padding-bottom: 1em;
}
.calling_introduction{
    height: auto;
	overflow: auto;
	padding: 10px 0;
    }
.calling_introduction h1{
	float: left;
    }
.calling_introduction p{
	float: left;
    }
.use_list li h3{
    padding: 0;
	font-size: 20px;
    }
.can_list dl dd p{
    margin: 1em;
    }

#flow img {
    width: 60%;
}
/*contact-form[お問い合わせ]*/
#contact {
    padding: 0px 0 50px 0;
}
table.contact th{
  max-width: initial;
  width: 100%;
  padding:20px 20px;
  display: block;
}

table.contact td{
  width: 100%;
  display: block;
}
table.contact td textarea {
	width: 100%;	
	}
.agree_area {
    padding: 10px 10px 20px;
}
/*[Orange_Button]*/
a.contact_long_orange {
	height: 70px;
}
a.contact_long_orange span {
    font-size: 1.5em;
}

}