#wrapper{
  width: 100%;
  /* height: 100%;*/
  position: relative;
  color: #000;
}

.kata{
  letter-spacing: -1px;
  font-style: initial;
}
i {font-style: normal;}


/*=======

- header
- select
- #top
- #platform
- #feature
- #compare
- #use
- #price
- #company_info

=======*/


/*=======  header  =======*/
header{
  width: 100%;
  height: 64px;
  position: fixed;
  left: 0;
  z-index: 50;
  background-color: #fff;
  top: -100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#confirm header,#complete header{
  position: relative;
  top: 0;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}


header.show{
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  top: 0;
}

header .inner{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /*position: relative;*/
}

header .logo{
  width: 174px;
  height: 100%;
  float: left;
  display: table;
  -webkit-transition: all .5s;
  -moz-box-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

header .logo p{
  display: table-cell;
  vertical-align: middle;
}

header #drawer{
  height: 100%;
  width: auto;
  display: table;
  float: right;
  -webkit-transition: all .5s;
	transition: all .5s;
}

#menu_button{
  display: none;
}

header nav{
  width: auto;
  height: 100%;
  display: table;
  float: right;
  margin-right: 160px;
  -webkit-transition: all .5s;
	transition: all .5s;
}

header nav ul.menu{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

ul.menu li{
  width: auto;
  height: 14px;
  float: left;
  margin-right: 35px;
  -webkit-transition: all .5s;
	transition: all .5s;
}

ul.menu li a{
  width: auto;
  height: auto;
  font-size: 15px;
  line-height: 1;
  display: block;
  -webkit-transition: all .5s;
	transition: all .5s;
}

.header_contact_btn{
  display:table;
  width: 250px;
  height: 63px;
  background-color: #db4437;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all .5s;
	transition: all .5s;
}

.header_contact_btn span{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}



#main{
    width: 100%;
    height: 100%;
}

/*=======  select  =======*/
section{
  width: 100%;
  height: auto;
}
section:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
section .inner{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



/*=======  #top  =======*/
#top{
    width: 100%;
    height: 500px;

  background: #34739e; /* Old browsers */
  background: -moz-linear-gradient(45deg, #34739e 0%, #5fa4d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #34739e 0%,#5fa4d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #34739e 0%,#5fa4d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34739e', endColorstr='#5fa4d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*padding: 118px 0 0;*/
    background: url("../img/lp/bg_top_image.png") repeat-x top center;
    -moz-background-size:cover;
    background-size:cover;
}

.calling_introduction{
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
    text-align: left;
}

.calling_introduction .calling_logo{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 3em;
    left: 2em;
}

.calling_introduction p{
    color: #fff;
    font-size: 1.6em;
    position: relative;
    top: -.6em;
    left: 16em;
}

.main_image{
    position: absolute;
    text-align: left;
 }
.main_image img{
    position: absolute;
    top: 8em;
    left: 0;
 }
.main_image .top_contact_btn{
    position: relative;
    top: 9em;
    left: 37em;
 }

.chat{
  width: 50%;
  height: auto;
  float: left;
  background-color: #235da4;
}
.chat .set{
  width: 100%;
  height: 100%;
  max-width: 600px;
  float: right;
  padding: 65px 0 54px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/lp/chat_bg.png) right center no-repeat;
  background-size: auto 100%;
}

.video{
  width: 50%;
  height: auto;
  background-color: #00b2ed;
  float: right;
}
.video .set{
  width: 100%;
  height: auto;
  max-width: 750px;
  float: left;
  padding: 65px 0 54px 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/lp/video_bg.png) right center no-repeat;
  background-size: auto 100%;
}



/*=======  #platform  =======*/
#platform{
  padding: 160px 0 0;
}

#platform .text{
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 25px;
}

#platform .text em{
  color: #db4437;
  font-style: normal;
}

#platform .company_sign{
  font-size: 12px;
  line-height: 1;
  color: #db4437;
  text-align: center;
}



/*======  #feature  =======*/
#feature{
  margin: 2em 0 3em 0;
  /*background-color: #f2f2f2;*/
}

#feature h3{
    color: #fff;
    font-size: 1.7em;
    text-align: left;
    padding: 24px 0px 0px 120px;
    font-feature-settings : "palt";

}
#feature h3 i{
    font-size: 1.2em;
    font-weight: 700;
}

.feature_list{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
}

.feature_list_chat{
  width: 580px;
  border:1px #4eb0e2 solid;
    text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

.feature_list_chat h3{
  background: url("../img/lp/bg_ttl_faeture_chatbot.png") no-repeat top left;
    height: 97px;
}

.feature_list_video{
  height: auto;
  width: 580px;
border:1px #507fb9 solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feature_list_video h3{
  background: url("../img/lp/bg_ttl_faeture_video.png") no-repeat top left;
      height: 97px;
}

[class^="feature_list_"] ul{
  padding:16px 50px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

[class^="feature_list_"] ul li{
  width: 100%;
  height: auto;
  font-size: 1.5em;
  text-align: left;
  line-height: 2.2;
  border-bottom: 2px solid #cccccc;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.feature_list div:nth-child(2n-1){
  margin: 0 3% 0 0;
}

.feature_details{
  height: 100%;
  margin: 0 auto;
}
.feature_details img{
  margin: 40px auto;
}

.feature_details p{
  font-size: 1.3em;
  line-height: 1.5;
  margin: 40px auto;
}


.collaboration{
  width: 100%;
  max-width: 634px;
  height: auto;
  margin: 10px auto 60px auto;
}


#can{
  padding: 8em 0;
  background-color: #f2f2f2
}

#can h2{
}

.can_list{
  width: 100%;
  height: auto;
  margin:0 auto;
}

.can_list dl{
  width: 49%;
  height: 420px;
  display: inline-block;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
    position: relative;
}
.can_list dl:nth-child(2n-1){
  margin: 0 1% 0 0;
}
.can_list dl dt{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 10;
}

.can_list dl dd{
    width: 100%;
    height: 264px;
    position: absolute;
    top: 138px;
    padding: 90px 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #aedcef;
}

.can_list dl dd h3{
  font-size: 2em;
  line-height: 1;
  text-align: center;
  margin-bottom:24px;
  letter-spacing: -1px;
}

.can_list dl dd p{
  font-size: 1.1em;
  text-align: center;
    margin: 2em;
}



/*======  #use  =======*/
#use{
  padding: 8em 0;
  background: url("../img/lp/use_bg.png") top center no-repeat #aedcf0;
  background-size: auto auto;
}

#use h2{
}

.use_list{
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
}

/*ul.use_list{font-size: 0;}*/

.use_list li{
  width: 49%;
  height: auto;
  padding: 3em 2em;
  box-sizing: border-box;
  background-color: #fff;
 display: inline-block;
}
.use_list li:nth-child(2n-1){
  margin: 0 2% 0 0;
}
li.case_box_chatbot{
    border-top: 8px #00b2ed solid;
    background: url("../img/lp/use_list_img_c001.png") 2em 2em no-repeat #fff;
}
li.case_box_video{
    border-top: 8px #6699cc solid;
    background: url("../img/lp/use_list_img_v001.png") 2em 2em no-repeat #fff;
}


/*.use_list li:first-child{
  float: left;
}
.use_list li:last-child{
  float: right;
}*/


.use_list li h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0px 0px 0px 6em;
    margin: 0 0 1.3em 0;
    text-align: left;
}

.use_list li p{
  font-size:1.1em;
  line-height: 1.7;
  text-align:left;
}

.use_list li p span{
}



/*======  #price  =======*/
#price{
  padding: 8em 0 8em 0;
}

#price h2{
}

h3.price_sign{
  width: 100%;
  margin: 0 auto 30px auto;
}
.ambit{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
}
.ambit_detail{
    width: 48%;
}
dl.obtain{
    width:550px;
    text-align: left;
    padding: 1em;
    margin-bottom: 3em;
}
.ambit_detail h3{
    font-size: 1.3em;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #cc9696;
}
dl.obtain dl{
    font-size: 14px;
}
ul.obtain dl + dl{
  margin-right: 10px;

}
dl.obtain dt{
    float:left;
    font-weight: 500;
    line-height: 2em;
}
dl.obtain dd{
    margin-left:14em;
    line-height: 2em;
}

ul.obtain{
  width: 50%;
  float: left;
  height: auto;
}


ul.obtain li + li{
  margin-top: 10px;
}

ul.cost_rule{
  height: auto;
    margin-top: 1em;
  box-sizing: border-box;
}

ul.cost_rule li{
  text-align: left;
  font-size: 12px;
  line-height: 2;
}

li.example{
  padding-left: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

li.example p:nth-child(2){
  padding-left: 30px;
  box-sizing: border-box;
}

li.note p{
  font-size: 12px;
  line-height: 1.75;
  text-align: left;
}



/*======  #compare  =======*/
#compare{
  padding: 6em 0 8em;
  background-color: #f4f4f4;
}

#compare h2{
}

table.compare{
  width: 100%;
  height: auto;
  border-collapse: separate;
  border-spacing: 3px;
}

table.compare th{
  height: 33px;
  color: #fff;
  box-sizing: border-box;
  background-color: #333333;
  vertical-align: middle;

  font-family: "小塚ゴシック Pr6N R",sans-serif;
}

table.compare td{
  font-size: 1.2em;
  height: 53px;
  text-align: center;;
  box-sizing: border-box;
  vertical-align: middle;
  color: #000;
  background-color: #b9b7b7;
  padding-left: 20px;
}

table.compare th:first-child{
  width: 37.5%;
  text-align: left;
  padding-left: 20px;
}

table.compare th:nth-child(2){
  width: 20.8333%;
  background-color: #db4437;
  font-size: 1.6em;
}

table.compare th:nth-child(3),table th:nth-child(4){
  width: 20.8333%;
}

table.compare td:first-child{
  text-align: left;
  width: 37.5%;
}

table.compare td:nth-child(2){
  background-color:#f6dbd9;
  font-size: 1.6em;
  font-weight: bold;
}

table.compare td:nth-child(3),table td:nth-child(4){
  width: 20.8333%;
  background-color: #fff;
}

table.compare td i{
  font-style: normal;
}

#compare .text{
  font-size: 1.1em;
  line-height: 1.75;
  margin:23px auto 20px auto;
}

#compare .text em{
  color: #db4437;
  font-style: normal;
}

#compare .company_sign{
  font-size: 1.1em;
  line-height: 1;
  color: #db4437;
  text-align: center;
}



/*======  #flow  =======*/
#flow{
  padding: 8em 0;
}

#flow h2{
}

#flow img{
  width:90%;
}


/*======  #contact  =======*/
#contact{
  padding:150px 0 200px 0;
}

#contact h2{
  margin-bottom: 70px;
}

.contact_form{
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

table.contact{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 1px;
  background-color: #cccccc;
}

table.contact th{
  width: 33.5%;
  max-width: 400px;
  font-size: 14px;
  line-height: 30px;
  padding:26px 40px;
  background-color: #dfdfdf;
  text-align: left;
  line-height: 1.5;
  vertical-align: top;
  font-weight: inherit;
  position: relative;
}

#contact table.contact tr:nth-child(1) th:after,
#contact table.contact tr:nth-child(2) th:after,
#contact table.contact tr:nth-child(3) th:after,
#contact table.contact tr:nth-child(4) th:after{
  position: absolute;
  right: 40px;
  width: 46px;
  height: 26px;
  line-height: 26px;
  content: "\5FC5\9808";
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #db4437;
  margin-top: -3px;
}


table.contact td{
  width: 66.5%;
  height: auto;
  font-size: 14px;
  background-color: #fff;
  padding: 22px 40px;
  box-sizing: border-box;
  text-align: left;
}

table.contact td span{
  font-size: 13px;
  color: #B70000;
  display: block;
  line-height: 1;
  text-align: left;
  position: relative;
  top: 5px;
}

table.contact td input{
  width: 100%;
  max-width: 516px;
  height: 30px;
  background-color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  padding:  3px 5px;
  border: none;
  outline: none;
  border: 1px #cccccc solid
}

table.contact td textarea{
  width: 100%;
  height: auto;
  resize: none;
  padding:  3px 5px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 1.6;
  border: 1px #cccccc solid;
  box-sizing: border-box;
}

table.contact td input:focus,table.contact td textarea:focus {
  background: ##fff1f0;
  color: #222;
}


.agree_area{
  width: 100%;
  height: auto;
  border: 1px #cccccc solid;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 10px 50px 20px;
  box-sizing: border-box;
}

.agree_area .agreement{
  width: 100%;
  height: auto;
  padding: 10px 8px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: horizontal;
  max-width: 100%;
  text-align: left;
}

.agree_area .agreement h4{
  font-size: 16px;
  font-weight: bold;
}

.agree_area .agreement .policy_list{
  height: 100px;
  width: 100%;
  overflow-y: scroll;
}

.check_btn{
  width: 100%;
  height: auto;
  padding-top: 10px;
  border-top: 1px #cccccc solid;
  text-align: left;
  line-height: 1;
  position: relative;
}

.check_btn br{
  display: none;
}

.check_btn input[type="checkbox"]{
  width: 20px;
  height: 20px;
  border: none;
  box-sizing: border-box;
  background-color: #dcdbdb;
  margin: 0;
  -webkit-appearance:checkbox;
}

.check_btn label{
  font-size: 14px;
  line-height: 20px;
  position: relative;
  top: 3px;
}

.form_button{
  width: 100%;
  height: auto;
  margin: 50px auto 0;
  max-width: 1200px;
}


#confirm .form_button li{
  width: 48%;
}

#confirm .form_button li.back{
  float: left;
}

#confirm .form_button li.submit{
  float: right;
}

input[type="submit"]{
  width: 100%;
  max-width: 640px;
  height: 76px;
  text-align: center;
  display: block;
  font-size: 22px;
  border-radius: 35px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor:pointer;
  color: #fff;
  margin: 0 auto;
}

#confirm input[type="submit"]{
  cursor:pointer;
}

.submit input{
  background: #db4437;
}

.back input{
  background: #bbb;
}

.LP_submit:hover{
  opacity: 0.8;
}

.check_btn span{
  width: auto;
  height: auto;
  padding: 5px 15px;
  background-color: #db4437;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
  line-height: 1;
  position: absolute;
  left: -10px;
  bottom: -36px;
  opacity: 0;
  /*-webkit-transition:opacity 10.5s ease-out 0.3s,-webkit-transform 10.5s ease-out 1s;
	transition:opacity 10.5s ease-out 0.3s,transform 10.5s ease-out  1s;*/
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px,);
  transform: translateY(30px);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.check_btn span.show{
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0,);
  transform: translateY(0);
  opacity: 1;
}

span.alert:after{
  content: "";
	position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #db4437;
  left: 9px;
  top: -10px;
}


/*======  #system_info  =======*/
#system_info{
  padding: 8em 0 8em;
  background-color:#fbf9ec;
}






/*======  #company_info  =======*/
#company_info{
  padding: 6em 0 8em;
  background-color:#d5dee5;
}

table.info{
  width: 42.5%;
  max-width: 510px;
  float: left;
  border-collapse:collapse;
}

table.info tr:first-child th,table.info tr:first-child td{
  padding-top: 0;
}

table.info tr{
  border-bottom: 1px #000 dotted;
}

table.info th{
  width: 36%;
  max-width: 186px;
  padding:20px 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  text-align: left;
}

table.info td{
  width: 64%;
  padding:20px 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1;
  text-align: left;
}

table.info td p + p{
  margin-top: 20px;
}


/*======  #contact_btn_set  =======*/
.contact_btn_set{
  width: 100%;
  height: auto;
    margin: 6em auto;
}

.contact_btn_set .inner{
  width: 100%;
  position: relative;
  top: 0;
  margin: 0 auto;
}


footer{
  width: 100%;
  height: 63px;
  background-color: #fff;
  border-top: 1px #cccccc solid;
}

#confirm footer,#complete footer{
  position: fixed;
  bottom: 0;
}

footer .inner{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: table;
  margin: 0 auto;
}

footer .inner .middle{
  display: table-cell;
  vertical-align: middle;
}

footer .inner .middle ul{
  width: auto;
  float: left;
}

footer .inner .middle ul li{
  width: auto;
  height: auto;
  float: left;
}

ul.email li:first-child{
  margin-right: .6em;
  font-size: 1.8em;
  line-height: 1;
  font-weight: normal;
}
ul.email li:last-child{
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1;
  position: relative;
  top: 6px;
}

ul.infon_list{
  margin-left: 50px;
  position: relative;
  top: 4px;
}

ul.infon_list li{
  font-size: 14px;
  padding: 0 15px;
  line-height: 1;
}

ul.infon_list li:first-child{
  border-right: 1px #666666 solid;
}

p.copyright{
  float: right;
  position: relative;
  top: 8px;
  text-align: right;
  line-height: 1;
  font-size: 90%;
  font-family: 'Open Sans', sans-serif;
}




/*======  #button  =======*/
a.contact_long_orange{
  display: table;
  width: 100%;
  max-width: 656px;
  height: 90px;
  border-radius: 55px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background: #db4437; /* Old browsers */
  /* background: rgb(241,147,26); /* Old browsers */
  /* background: -moz-linear-gradient(top, rgba(241,147,26,1) 0%, rgba(254,86,45,1) 50%); FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(241,147,26,1) 0%,rgba(254,86,45,1) 50%); /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, rgba(241,147,26,1) 0%,rgba(254,86,45,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1931a', endColorstr='#fe562d',GradientType=0 ); /* IE6-9 */
}

a.contact_long_orange span{
  display: table-cell;
  vertical-align: middle;
  font-size:2em;
  text-align: center;
  color: #fff;
  line-height: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a.contact_long_orange span i{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}
a.contact_short_orange{
  display: table;
  width: 100%;
  max-width: 264px;
  height: 52px;
  border-radius: 52px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background: #db4437; /* Old browsers */
  /* background: rgb(241,147,26); /* Old browsers */
  /* background: -moz-linear-gradient(top, rgba(241,147,26,1) 0%, rgba(254,86,45,1) 50%); FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(241,147,26,1) 0%,rgba(254,86,45,1) 50%); /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, rgba(241,147,26,1) 0%,rgba(254,86,45,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1931a', endColorstr='#fe562d',GradientType=0 ); /* IE6-9 */
}
a.contact_short_orange span{
  display: table-cell;
  vertical-align: middle;
  font-size:1.4em;
  text-align: center;
  color: #fff;
  line-height: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a:hover{opacity: 0.6;}

/*======  h2  =======*/
h2{
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  position: relative;
}

h2{
  font-size: 2.6em;
  line-height: 1;
  font-weight: 500;
  display: block;
}

h2 span i.en{
  font-style: normal;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h2 span i.number{
    font-style: normal;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  padding: 0 5px;
}
h2.ttl{
    border-bottom: 3px solid #444444;
    padding-bottom: .6em;
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 2em;
}


/*h2 heading001*/
h2.heading001{
    position: relative;
    top: 3em;
    left: 21.5em;
    font-size: 2.3em;
    color: #fff;
    line-height: 1.6em;
    text-align: left;

}



/*h2 heading002*/
h2.heading002{
  max-width: 742px;
  margin-bottom: 65px;
}

h2.heading002 span{
  display: table;
  letter-spacing: -0.5px;
}

h2.heading002 span{
  width: 119px;
  height: 119px;
  position: absolute;
  right: 0;
  top: -45px;
}

h2.heading002:after{
  clear: both;
	content: "";
	display: block;
	visibility: hidden;
}



/*h2 heading003*/
h2.heading003{
  width: 28.5%;
  max-width: 340px;
  float: left;
}

h2.heading003 span{
  font-size: 32px;
  text-align: left;
  line-height: 1;
  vertical-align: top;
}



/*======  clearfix  =======*/
.clearfix:after {
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
	min-height: 1%;
}

section:after,.inner:after,ul:after,.calling_introduction_list:after,dl::after{
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
}


#confirm .agree_area,#confirm .check_btn{
  display: none;
}
