
.btn_effect__roll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 0;
  position: relative;
  padding: 0 3rem;
  line-height: 50px;
  min-width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  cursor: default;
  perspective: 500px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  .-text {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    color: #828282;
    pointer-events: none;
    letter-spacing: 1px;
    &:nth-child(1) {
      color: #828282;
      background-color: $c_neolab_l;
      transform: rotateX(90deg);
      transition: all 0.2s ease;
      transform-origin: 50% 50% -25px;
    }
    &:nth-child(2) {
      color: #828282;
      background-color: #eee;
      transform: rotateX(0deg);
      transition: all 0.2s ease;
      transform-origin: 50% 50% -25px;
    }
  }
  &:hover {
    .-text {
      &:nth-child(1) {
        color: #ffffff;
        transition: all 0.2s ease;
        transform: rotateX(0deg);
      }
      &:nth-child(2) {
        background-color: $c_neolab_l;
        transition: all 0.2s ease;
        transform: rotateX(-88deg);
      }
    }
  }
}
