
.g_logo {
  &.-fixed {
    position: fixed;
    display: block;
    max-width: 120px;
    width: 100%;
    top: 3rem;
    left: 4rem;
    z-index: 100;
    text-align: left;
    @media #{$mq_s} {
      position: absolute;
      top: 4vw;
      left: 4vw;
    }
    @media #{$mq_ss} {
      top: 5vw;
      left: 5vw;
      max-width: 100px;
    }
  }
}
@media #{$mq_ss} {
  body {
    &.top {
      .g_logo {
        &.-fixed {
          background: #fff;
          padding: 8px;
        }
      }
    }
  }
}

.h_sub__header {
  position: relative;
  overflow: hidden;
  .js_header__canvas {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
  }
}
.h_sub__header-inner {
  padding: 16rem 1.4rem;
  position: relative;
  z-index: 30;
  @media #{$mq_s} {
    padding: 7rem 1.4rem 6rem !important;
  }
  &.-short {
    padding: 8rem 1.4rem;
  }
  .h_title {
    span {
      display: block;
      &.-jp {
        font-size: 1.4rem;
        padding-bottom: 1.4rem;
        @media #{$mq_s} {
          padding-bottom: .8rem;
        }
      }
      &.-en {
        @extend .gf1;
        font-size: 6rem;
        line-height: 1;
        @media #{$mq_s} {
          font-size: 3rem;
        }
      }
    }
  }
}


#magic-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 1000000;
}

#ball {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(#aaa, 0.2);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000000;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }
  &.-hover {
    z-index: 1000001;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 50rem;
    animation: btnAnimeBlue 1s infinite;
    box-shadow: 0 0 0 0 rgba(#aaa, 0.4);
  }
}

@keyframes btnAnimeBlue {
  0% {
    box-shadow: 0 0 0 0 rgba(#aaa, 0.4);
  }

  0%, 90% {
    opacity: .7;
  }

  to {
    box-shadow: 0 0 0 9pt rgba(255, 255, 255, 0);
    opacity: 0;
  }
}
