
// ----------------------------------------
//  interview header
// ----------------------------------------
.r_interview__archive-header {
  background: #000 url(../img/interview/bg-header_interview_large.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  &::before{
    content: '';
    background: inherit;
    filter: blur(20px);
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    z-index: -1;
  }
}
.r_interview__archive-header__inner {
  @include main_width;
  max-width: 980px;
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: 9rem;
  @media #{$mq_s} {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  @media #{$mq_ss} {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
}
.r_interview__archive-header__description {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 0 0;
  .r_page__label {
    background: #444;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: .6rem 2rem;
    height: 32px;
    line-height: 22px;
    @media #{$mq_s} {
      font-size: 1.1rem;
      height: 24px;
      line-height: 14px;
    }
  }
  .r_description {
    .r_title {
      font-size: 4rem;
      font-weight: 700;
      color: #fff;
      line-height: 1.35;
      margin: .8rem 0 0 0;
      @media #{$mq_s} {
        font-size: 2.4rem;
      }
    }
    .r_text {
      font-size: 1.6rem;
      font-weight: 500;
      color: #fff;
      margin: 1.6rem 0 0 0;
      line-height: 1.8;
      @media #{$mq_s} {
        margin-top: 1rem;
        font-size: 1.3rem;
      }
    }
  }
}
.r_interview__archive-header__image {
  max-width: 340px;
  width: 100%;
  margin: 0 0 0 auto;
  position: relative;
  @media #{$mq_s} {
    display: none;
  }
  .r_img {}
  .r_label {
    position: absolute;
    top: 2rem;
    left: -10rem;
  }
}


// ----------------------------------------
//  interview nav
// ----------------------------------------
.r_interview__archive-nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4rem 0;
  @media #{$mq_s} {
    padding: 2rem 0;
  }
  &:before {
    content: '';
    position: absolute;
    top: 5.5rem;;
    left: 0;
    width: 100%;
    height: 1px;
    background: #333;
    @media #{$mq_ss} {
      display: none;
    }
  }
}
.r_interview__archive-nav__title {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0 auto 0 0;
  position: relative;
  padding: 0 1.6rem 0 0;
  background: #fff;
  @media #{$mq_ss} {
    display: none;
  }
}
.r_interview__archive-nav__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  background: #fff;
  position: relative;
  padding-left: .6rem;
  margin-right: -2.4rem;
  @media #{$mq_ss} {
    margin: 0 auto;
  }
  li {
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    @media #{$mq_s} {
      font-size: 1.3rem;
    }
    &:first-child {
      a {
        &:before {
          content: none;
        }
      }
    }
    a {
      display: block;
      padding: .4rem 2.4rem;
      position: relative;
      @media #{$mq_s} {
        padding: .4rem 1.4rem;
      }
      &:before {
        content: '';
        width: 1px;
        height: 10px;
        background: #333;
        position: absolute;
        margin-top: -5px;
        top: 50%;
        left: 0;
      }
    }
  }
}


// ----------------------------------------
//  interview main
// ----------------------------------------
.r_interview__archive-main {
  @include main_width;
  max-width: 980px;
}
.r_interview__archive-main__inner {
  .r_items {
    padding: 4rem 0;
    position: relative;
    @media #{$mq_s} {
      padding: 2rem 0;
    }
  }
  .r_items__area {
    transition: all .3s cubic-bezier(0,1,.64,1);
    display: flex;
    align-items: center;
    position: relative;
    color: #111;
    @media #{$mq_s} {
      flex-direction: column;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .r_items__image {
    max-width: 500px;
    width: 100%;
    max-height: 340px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto 0 0;
    position: relative;
    @media #{$mq_s} {
      max-height: none;
      margin: 0;
    }
    .r_msk {
      @media #{$mq_s} {
        display: none;
      }
    }
    .r_img {
      -webkit-clip-path: url(#r_interview__path_1);
      clip-path: url(#r_interview__path_1);
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      @media #{$mq_s} {
        -webkit-clip-path: none;
        clip-path: none;
        position: relative;
      }
    }
  }
  .r_items__user {
    text-align: left;
    margin: 0 0 0 auto;
    max-width: 400px;
    width: 100%;
    @media #{$mq_s} {
      margin: 1.4rem auto 0 auto !important;
    }
  }
  .r_items__user-joining {
    font-size: 1.4rem;
    font-weight: 700;
    @media #{$mq_s} {
      font-size: 1.3rem;
    }
  }
  .r_items__user-name {
    font-size: 4rem;
    font-weight: 500;
    @media #{$mq_s} {
      font-size: 2.4rem;
    }
  }
  .r_items__user-position {
    font-size: 1.4rem;
    font-weight: 500;
    margin: .6rem 0 0 0;
    @media #{$mq_s} {
      font-size: 1.3rem;
      margin: 0;
    }
  }
  .r_items {
    &:nth-child(odd),
    &:nth-child(even) {
      &:after {
        content: '';
        width: 90px;
        height: 1px;
        display: block;
        background: #eee;
        position: absolute;
        bottom: -1rem;
        right: 0;
        left: 0;
        margin: 0 auto;
        @media #{$mq_s} {
          display: none;
        }
      }
    }
    &:nth-child(even) {
      &:after {
        transform: rotate(30deg);
      }
    }
    &:nth-child(odd) {
      &:after {
        transform: rotate(-30deg);
      }
    }
  }
}

.r_items {
  &:nth-child(even) {
    .r_items__image {
      order: 2;
      margin: 0 auto 0 0;
      @media #{$mq_s} {
        order: 1;
      }
      .r_img {
        -webkit-clip-path: url(#r_interview__path_2);
        clip-path: url(#r_interview__path_2);
      }
    }
    .r_items__user {
      order: 1;
      margin: 0 0 0 auto;
      @media #{$mq_s} {
        order: 2;
      }
    }
  }
}
