// ----------------------------------------
//  recruit bnr
// ----------------------------------------
.home {
  .r__recruit-bnr__area {}
}

.r__recruit-bnr__area {}

.r__recruit-bnr__area-inner {
  position: relative;
  overflow: hidden;
}

.r__recruit-bnr__hover-area {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 300px;
  overflow: hidden;

  @media #{$mq_ss} {}
}

.r__recruit-bnr__hover-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/common/video-mask.png);
}

.r__recruit-bnr__hover-items {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  &.is-active {
    opacity: 1;
  }

  &.-new {}

  &.-mid {}

  &.-interview {}

  .r__bg {
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
  }
}

.r__recruit-bnr__nav {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;

  @media #{$mq_ss} {
    border-top: none;
    display: block;
    border-top: none;
  }

  li {
    &.-full {
      width: 100%;

      @media #{$mq_ss} {
        border-top: none;
      }

      a {
        border-right: none;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;

        @media #{$mq_ss} {
          border-bottom: none;
        }
      }
    }
  }

  &:hover {
    li {
      &.-full {
        a {
          &:before {
            width: 96.5%;
            height: 80%;

            @media #{$mq_ss} {
              width: 90%;
            }
          }
        }
      }

      a {
        border: none;

        &:before {
          width: 90%;
          height: 80%;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 20px;
          background: rgba(255, 255, 255, .7);
        }
      }
    }
  }

  li {
    width: 33.33333%;
    min-height: 300px;

    @media #{$mq_ss} {
      width: auto;
      min-height: auto;
      border-top: 1px solid #eee;

      &:last-child {
        border-bottom: 1px solid #eee;
      }
    }

    a {
      @include transition;
      border-right: 1px solid #eee;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      position: relative;

      @media #{$mq_ss} {
        padding: 2.4rem 0;
        border: none;
      }

      &:before {
        @include transition;
        content: '';
        background: #fff;
        position: absolute;
        width: 100%;
        height: 300px;
        left: 0;
        z-index: -1;
      }
    }

    &.is-active {
      a:hover {
        &:before {
          background: rgba(255, 255, 255, .9);
          transform: scale(.85, .85);
        }
      }
    }

    &:last-child {
      a {
        border-right: none;
      }
    }

    .r__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1.4rem;
      height: 100%;

      @media #{$mq_ss} {
        display: block;
        height: auto;
      }
    }

    .r__text {
      display: block;

      &.-en {
        @extend .gf1;
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.3;

        @media #{$mq_s} {
          font-size: 2.4rem;
        }
      }

      &.-jp {
        font-size: 1.8rem;
        font-weight: 700;
        margin: .8rem 0 0 0;

        @media #{$mq_ss} {
          font-size: 1.4rem;
          margin: .4rem 0 0 0;
          padding-bottom: .6rem;
        }
      }
    }

    .r__icon {
      font-size: 1.4rem;
      margin: 1.6rem 0 0 0;

      &:before {
        color: rgba($c_default, .3);
      }
    }
  }
}


// ----------------------------------------
// 新卒採用
// ----------------------------------------
.page-template-page-recruit-new {
  .g_breadcrumbs {
    border-top: none;
  }
}

.r_visual__area {}

.r_visual__area-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  .r_css__slider {}
}

.r_visual__area-description {
  position: relative;
  z-index: 10;
  color: #fff;
  margin-top: -3rem;

  @media #{$mq_s} {
    margin-top: 0;
    padding: 0 1.8rem;
  }

  .-title {
    span {
      display: block;
    }

    .-en {
      font-size: 5.2rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;

      @media #{$mq_s} {
        font-size: 12vw;
        white-space: nowrap;
      }
    }

    .-jp {
      margin: 1.8rem 0 0 0;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1;

      @media #{$mq_s} {
        margin: 1.6rem 0 0 0;
        font-size: 1.6rem;
      }
    }
  }

  .-description {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2;
    margin: 2.6rem 0 0 0;

    @media #{$mq_s} {
      font-size: 1.6rem;
      line-height: 1.8;

      br {
        display: none;
      }
    }
  }

  .btn_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto 0 auto;

    @media #{$mq_s} {
      margin-top: 2.4rem;
    }

    a {}

    .-btn {
      width: 100%;
      max-width: 240px;
      margin: 0 auto;
    }

    .-link {
      text-align: center;
      text-decoration: underline;
      font-size: 1.6rem;
      color: #fff;
      margin: 3rem 0 0 0;
      font-weight: 500;
    }
  }
}

.r_visual__join {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 4rem;
  text-align: center;
  margin: 0 auto;

  &:before {
    content: '';
    width: 1px;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: -4rem;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  @media #{$mq_s} {
    bottom: 3rem;
    max-width: 50%;

    &::before {
      height: 40px;
    }
  }
}

.-btn {
  position: relative;
  display: block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 46px;
  border-radius: 50em;
  min-width: 200px;

  @media #{$mq_s} {
    line-height: 1.8;
    padding: 1.8rem 1.6rem;
  }

  span {
    position: relative;
  }

  &.-white {
    background: #fff;
    color: #999;
  }

  &.-wave {

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 50em;
    }

    &.-white {
      animation: btnAnimeWhite 3s infinite;
      box-shadow: 0 0 0 0 #fff;
    }
  }
}

@keyframes btnAnimeWhite {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }

  0%,
  90% {}

  to {
    box-shadow: 0 0 0 6pt rgba(238, 22, 42, 0);
  }
}

.cb-slideshow-new {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;

  &:after {
    content: '';
    background: url(../img/recruit/pattern.png) repeat top left;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000;
  }

  li {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    animation: imageAnimation 18s linear infinite 0s;


    &:nth-child(1) {
      background: url(../img/recruit/new/slider_new_01.jpg) no-repeat center top;
    }

    &:nth-child(2) {
      animation-delay: 6s;
      background: url(../img/recruit/new/slider_new_02.jpg) no-repeat center top;
    }

    &:nth-child(3) {
      animation-delay: 12s;
      background: url(../img/recruit/new/slider_new_03.jpg) no-repeat center top;
    }
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.r_new__main {
  background-color: #fff;
  position: relative;

  background-image:
    url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22425px%22%20height%3D%22295px%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22rgb(173%2C%20173%2C%20234)%22%20d%3D%22M-0.000%2C-0.004%20L-0.000%2C221.002%20C19.996%2C216.091%2041.342%2C213.051%2063.998%2C213.051%20C238.625%2C213.051%20425.000%2C393.541%20425.000%2C218.852%20C425.000%2C149.720%20379.309%2C66.737%20317.110%2C-0.004%20L-0.000%2C-0.004%20Z%22%2F%3E%3C%2Fsvg%3E'),
    url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22436px%22%20height%3D%22404px%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22rgb(173%2C%20173%2C%20234)%22%20d%3D%22M435.247%2C307.002%20L236.600%2C403.868%20C232.250%2C383.742%20225.626%2C363.223%20215.696%2C342.859%20C139.158%2C185.899%20-104.759%2C97.487%2052.257%2C20.922%20C114.394%2C-9.378%20209.009%2C-4.681%20296.258%2C21.973%20L435.247%2C307.002%20Z%22%2F%3E%3C%2Fsvg%3E');

  background-repeat:
    no-repeat,
    no-repeat;
  background-position: 0 0, 119% 14%;
  background-size:
    500px,
    400px;

  @media #{$mq_s} {
    background-position: 0 0, 64vw 20%;
    background-size: 300px, 400px;
  }
}

.r_section__item {
  @include main_width();
  max-width: 980px;
  display: flex;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @media #{$mq_s} {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  +.r_section__item {
    padding-top: 0;
  }

  @media #{$mq_s} {
    &.r_2 {
      padding-bottom: 2rem;
    }
  }

  &.r_3 {
    padding-bottom: 7rem;

    @media #{$mq_s} {
      padding-bottom: 3rem;
    }
  }

  &.r_4 {}

  &.r_5 {
    padding-top: 2rem;
    padding-bottom: 14rem;

    @media #{$mq_s} {
      padding-top: 0;
      padding-bottom: 6rem;
    }
  }

  .-img {
    margin: 0 auto 0 0;

    @media #{$mq_s} {
      max-width: 360px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    &.p_1 {
      position: relative;
      right: 10rem;

      @media #{$mq_s} {
        right: 0;
        max-width: 360px;
        margin: 0 auto;
        padding: 0 2rem;
      }
    }

    img {}

    &.-img_right {
      order: 2;
      margin: 0 0 0 auto;

      @media #{$mq_s} {
        order: 1;
        padding-bottom: 2rem;
      }

      +.-description {
        order: 1;
        margin: 0 auto 0 0;
      }
    }
  }

  .-description {
    margin: 0 0 0 auto;
    max-width: 440px;
    width: 100%;
    text-align: justify;

    @media #{$mq_s} {
      margin: 2rem 0 0 0;
      max-width: 100%;
    }

    h2 {
      font-weight: 700;
      line-height: 1.25;
      font-size: 5rem;

      @media #{$mq_s} {
        font-size: 2.4rem;
        line-height: 1.4;
        text-align: center;
      }
    }

    p {
      font-size: 1.3rem;
      margin: 2.6rem 0 0 0;
      line-height: 2;

      @media #{$mq_s} {
        margin: 2rem 0 0 0;
        line-height: 1.8;
      }
    }
  }
}

.r_section {
  &.-user {

    .r_section__title-block {
      text-align: center;
      padding: 0 1.4rem;

      @media #{$mq_s} {
        max-width: 480px;
        margin: 0 auto;
      }

      .-title {
        font-size: 5rem;
        font-weight: 700;

        @media #{$mq_s} {
          font-size: 2.4rem;
          line-height: 1.4;
          text-align: center;
        }
      }

      .-description {
        font-size: 1.3rem;
        line-height: 2;
        margin: 2rem 0 0 0;

        @media #{$mq_s} {
          text-align: left;
          line-height: 1.8;
        }
      }

      .-description_1 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4;
        padding: 5rem 0 8rem;

        @media #{$mq_s} {
          font-size: 1.8rem;
          padding: 4rem 0;
          line-height: 1.7;

          br {
            display: none;
          }
        }

        span {}
      }

      .-description_2 {
        font-size: 6rem;
        position: relative;
        line-height: 1;
        display: inline-block;
        border-bottom: 4px double #111;
        padding-bottom: .8rem;
        font-family: "A-OTF 教科書ICA Pro", "A-OTF リュウミン Pro", Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif !important;

        @media #{$mq_s} {
          font-size: 3rem;
        }
      }
    }
  }
}

.r_form__area {
  background: #f0f0f9;
}

.r_form__area-inner {
  @include main_width();
  padding-bottom: 10rem;
  padding-top: 10rem;

  @media #{$mq_s} {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .-description {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4;

    @media #{$mq_s} {
      font-size: 1.4rem;
      line-height: 2;

      br {
        display: none;
      }
    }
  }

  .btn_group {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;

    li {
      display: inline-block;

      a {
        span {}

        &.-btn {
          background: #a7a4e6;
          color: #fff;
          border-radius: 3px;
          display: inline-block;
        }

        &.-link {
          color: #a7a4e6;
          font-size: 1.4rem;
          font-weight: 500;
          display: inline-block;
          padding: 0 3rem;
          margin: 3rem 0 0 0;
          text-decoration: underline;

          @media #{$mq_s} {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}


.r_interview__slider {
  @include main_width();
  max-width: 1080px;
  padding-top: 10rem;
  padding-bottom: 14rem;

  >h3 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1.8rem 3rem 1.8rem;
    text-align: left;
  }

  &:hover {
    .slick-arrow {
      opacity: 1;

      &::after {
        content: none;
      }
    }
  }
}

.r_interview__slider-inner {
  @include main_width();
  max-width: 1080px;
  display: flex;
  white-space: nowrap;

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    width: 360px;
    height: 220px;
    margin: 0 2rem;
  }

  .slick-arrow {
    opacity: 0;

    &.slick-disabled {
      visibility: hidden;
    }
  }

  .slick-prev,
  .slick-next {
    background: #111;
    border-radius: 50rem;
    width: 60px;
    height: 60px;
    margin-top: -30px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      bottom: 0;
      border-color: #fff;
      border-width: 2px;
    }
  }

  .slick-prev {
    left: -1.4rem;

    &:hover {
      transform: rotate(-45deg) scale(1.2);
    }

    &:before {
      right: 0;
      left: 0;
      margin: -6px auto auto auto;
    }
  }

  .slick-next {
    right: -1.4rem;

    &:hover {
      transform: rotate(45deg) scale(1.2);
    }

    &:before {
      right: 0;
      left: 0;
      margin: -7px auto auto auto;
    }
  }

  .r_slider__items {
    width: 360px;
    height: 220px;
    position: relative;
    overflow: hidden;
  }

  .r_slider__items-inner {
    display: block;
    height: 100%;

    .r_slider__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .r_slider__info {
      transition: all .3s cubic-bezier(0, 1, .64, 1);
      padding: 3rem 1.6rem 1.6rem 1.6rem;
      text-align: left;
      position: absolute;
      width: 100%;
      bottom: -100%;
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 70%);
      color: #fff;

      .r_user__name {
        font-weight: 700;
        font-size: 1.6rem;
      }

      .r_user__message {}

      .r_user__year {}

      .r_user__position {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.45;
        margin: .4rem 0 0 0;
      }
    }

    &:hover {
      .r_slider__info {
        position: absolute;
        bottom: 0;

        .r_user__name {}

        .r_user__message {}

        .r_user__year {}

        .r_user__position {}
      }
    }
  }
}