.icon_font_style, .linea-arrows-10, .linea-basic-10, .linea-basic-elaboration-10, .linea-music-10, .linea-software-10, .linea-weather-10 {
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linea-arrows-10 {
  font-family: "linea-arrows-10" !important;
}

.linea-basic-10 {
  font-family: "linea-basic-10" !important;
}

.linea-basic-elaboration-10 {
  font-family: "linea-basic-elaboration-10" !important;
}

.linea-music-10 {
  font-family: "linea-music-10" !important;
}

.linea-software-10 {
  font-family: "linea-software-10" !important;
}

.linea-weather-10 {
  font-family: "linea-weather-10" !important;
}

body {
  font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "Kozuka Gothic Pro Light", Meiryo, "MS PGothic", sans-serif;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary {
  display: block;
}

ul, li {
  list-style: none;
}

a img {
  border: none;
}

img {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  text-align: center;
  position: relative;
  color: #232323;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
  font-size: 75%;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body * {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: 0.05em;
}

img {
  vertical-align: top;
  max-width: 100%;
  width: auto;
  height: auto;
}

a:link {
  color: #232323;
  text-decoration: none;
  outline: none;
}

a:visited {
  color: #232323;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #999999;
  text-decoration: none;
  outline: none;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

.on a img, .op, .on a:hover img, .op:hover {
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
}

.on a:hover img, .op:hover {
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
  -moz-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  text-decoration: none;
}

::-moz-selection {
  background: rgba(254, 235, 8, 0.5);
}

::selection {
  background: rgba(254, 235, 8, 0.5);
}

::-moz-selection {
  background: rgba(254, 235, 8, 0.5);
}

.recruit_2018 {
  background: #ffffff;
}

body.loading #loading_wrap {
  display: block;
}

body.loading #content {
  display: none;
}

#loading_wrap {
  display: none;
}

#content {
  display: block;
}

#loading_wrap {
  width: 100%;
  height: 100%;
  background: #10abfd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#loading_wrap .loding_bubbles {
  display: block;
  width: 40px;
  margin: 0 auto;
}

#loading_wrap #loading {
  width: 365px;
  height: 100px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

#loading_wrap #loading .loding_text {
  margin: 0 auto;
}

#loading_wrap #loading .loding_text .path {
  fill: #fff;
}

@media (max-width: 768px) {
  #loading_wrap #loading {
    width: 100%;
  }
  #loading_wrap #loading .loding_text {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

.top_visual_wrap {
  width: 100%;
  background: #34afe6;
}

.top_visual {
  overflow: hidden;
  height: 520px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.top_visual .bg_cloud_light_blue {
  position: absolute;
  background: url(../img/img/v2-top-visual_cloud_2.svg) no-repeat left -50px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-size: cover;
}

.top_visual .bg_cloud_blue {
  position: absolute;
  background: url(../img/img/v2-top-visual_cloud_1.svg) no-repeat left 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-size: cover;
}

.top_visual .bg_airplane {
  position: absolute;
  background-image: url(../img/img/v2-top-visual_airplane.svg);
  background-repeat: no-repeat;
  background-position: 0 56%;
  width: 100%;
  height: 100%;
  -webkit-animation: airplanePC 1s ease-in-out 1;
          animation: airplanePC 1s ease-in-out 1;
}

.top_visual .bg_Landscape {
  position: absolute;
  background: url(../img/img/v2-top-visual_bottom_bg.svg) no-repeat right 105%;
  width: 100%;
  height: 100%;
  background-size: 1024px auto;
}

.top_visual .bg_Landscape:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 18px;
  background: #019444;
}

.top_visual .bg_Landscape:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 8px;
  background: #96ca3a;
}

.top_visual .main_block {
  max-width: 1400px;
  width: 100%;
  margin: 4em auto 0 auto;
  position: relative;
}

.top_visual .ttl1 {
  padding: 6em 0 0 0;
}

.top_visual .txt1 {
  padding: 5em 0 0 0;
}

.top_visual .top_visual_description {
  position: relative;
  padding: 0 0 0 4em;
  z-index: 10;
}

.top_visual .top_visual_description .ttl1 {
  display: inline-block;
}

.top_visual .top_visual_description .txt1 {
  display: inline-block;
}

@media (max-width: 1400px) {
  .top_visual .top_visual_description {
    padding: 0 0 0 10em;
  }
}

.top_visual .logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
}

.top_visual .shimekiri_label {
  background: #0071bd;
  width: 160px;
  height: 160px;
  border-radius: 50em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.top_visual .shimekiri_label img {
  position: relative;
  top: 50px;
  right: 0;
  left: 0;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.top_visual .shimekiri_label .data {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 74px;
  right: 0;
  left: 10px;
  text-align: center;
}

.top_visual .shimekiri_label .data i {
  display: inline-block;
  vertical-align: baseline;
  font-size: 70%;
  font-style: normal;
  margin: 0 4px;
}

.modal_btn_wrap {
  max-width: 1400px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.modal_btn {
  position: absolute;
  top: -8em;
  right: 0;
}

.modal_btn svg:hover {
  cursor: pointer;
  -webkit-animation: skew 0.12s linear 3;
          animation: skew 0.12s linear 3;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .top_visual {
    position: relative;
    height: 400px;
  }
  .top_visual .bg_cloud_light_blue {
    background: url(../img/img/v2-top-visual_cloud_2.svg) no-repeat left -50px;
  }
  .top_visual .bg_cloud_blue {
    background: url(../img/img/v2-top-visual_cloud_1.svg) no-repeat left 0;
  }
  .top_visual .bg_airplane {
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 600px;
    -webkit-animation: airplaneSP 1s ease-in-out 1;
            animation: airplaneSP 1s ease-in-out 1;
  }
  .top_visual .bg_Landscape {
    background: url(../img/img/v2-top-visual_bottom_bg.svg) no-repeat 40% 105%;
  }
  .top_visual .bg_Landscape:before {
    display: none;
  }
  .top_visual .bg_Landscape:after {
    display: none;
  }
  .top_visual .top_visual_description {
    padding: 0;
  }
  .top_visual .main_block {
    padding: 0 1.6em;
  }
  .top_visual .ttl1 {
    padding: 4.4em 0 0 0;
  }
  .top_visual .txt1 {
    padding: 2em 0 0 0;
    margin: 0 7em 0 0;
  }
  .top_visual .logo {
    left: -8px;
    width: 240px;
  }
  .top_visual .shimekiri_label {
    -webkit-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    top: -54%;
    right: -8%;
  }
  .modal_btn_wrap {
    position: relative;
  }
  .modal_btn {
    -webkit-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    left: 0;
    top: -17em;
  }
}

@-webkit-keyframes airplaneSP {
  0% {
    background-position: 150% center;
  }
  100% {
    background-position: 98% center;
  }
}

@keyframes airplaneSP {
  0% {
    background-position: 150% center;
  }
  100% {
    background-position: 98% center;
  }
}

@-webkit-keyframes airplanePC {
  0% {
    background-position: -100% 56%;
  }
  100% {
    background-position: 0 56%;
  }
}

@keyframes airplanePC {
  0% {
    background-position: -100% 56%;
  }
  100% {
    background-position: 0 56%;
  }
}

@-webkit-keyframes skew {
  0% {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
  10% {
    -webkit-transform: skew(2deg, 2deg);
            transform: skew(2deg, 2deg);
  }
  75% {
    -webkit-transform: skew(-2deg, -2deg);
            transform: skew(-2deg, -2deg);
  }
  100% {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
}

@keyframes skew {
  0% {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
  10% {
    -webkit-transform: skew(2deg, 2deg);
            transform: skew(2deg, 2deg);
  }
  75% {
    -webkit-transform: skew(-2deg, -2deg);
            transform: skew(-2deg, -2deg);
  }
  100% {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
}

.s0_block {
  background: #f8f8f8;
  padding: 8em 0;
}

.s0_block .inner {
  max-width: 1180px;
  width: 100%;
  margin: 6em auto 0 auto;
  text-align: left;
  position: relative;
}

.s0_block .square_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.s0_block .square_2 {
  position: absolute;
  top: 303px;
  left: 56%;
}

.s0_block .text_wrap {
  position: relative;
  z-index: 10;
  max-width: 620px;
  margin: 0 auto;
}

.s0_block .text_wrap .text_1,
.s0_block .text_wrap .text_2,
.s0_block .text_wrap .text_3,
.s0_block .text_wrap .text_4 {
  zoom: 115%;
}

.s0_block .text_wrap .text_2 {
  padding: 5em 0 0 11em;
}

.s0_block .text_wrap .text_3 {
  margin: 4em 0 0 0;
}

.s0_block .text_wrap .text_4 {
  margin: 6em 0 0 0;
  text-align: center;
}

.s0_block .text_wrap .btn {
  margin: 4em 0 0 0;
  text-align: center;
}

.s0_block .text_wrap .btn a {
  display: inline-block;
  vertical-align: middle;
  background: #feeb08;
  padding: 1em 4em;
  border-radius: 50em;
  line-height: 1;
}

@media (max-width: 768px) {
  .s0_block {
    padding: 4em 0;
  }
  .s0_block .inner {
    margin: 2.6em auto 0 auto;
    padding: 0 1.6em;
    overflow-x: hidden;
  }
  .s0_block .square_1 {
    -webkit-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    top: -30%;
    left: -40%;
  }
  .s0_block .square_2 {
    -webkit-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    top: 180px;
    left: 70%;
  }
  .s0_block .text_wrap {
    position: relative;
    z-index: 10;
    max-width: 620px;
    margin: 0 auto;
  }
  .s0_block .text_wrap .text_1 {
    padding: 0 0 0 0;
  }
  .s0_block .text_wrap .text_2 {
    padding: 2em 0 0 0;
  }
  .s0_block .text_wrap .text_3 {
    margin: 2em 0 0 0;
  }
  .s0_block .text_wrap .text_4 {
    margin: 3em 0 0 0;
    padding: 0 3em;
  }
  .s0_block .text_wrap .btn {
    margin: 1em 0 0 0;
  }
  .s0_block .text_wrap .btn a {
    display: block;
  }
}

.block_section {
  padding: 8em 0;
}

.c_title_block .c_icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.c_title_block .title {
  text-align: center;
  margin: 2em auto 0 auto;
}

.c_title_block .title .item {
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.c_title_block .title .item span {
  display: inline-block;
}

.c_title_block .title .item .ttl_after {
  position: absolute;
  width: 100%;
  top: 1px;
  left: -100%;
}

@media (max-width: 768px) {
  .block_section {
    padding: 4em 0;
  }
  .c_title_block .c_icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .c_title_block .title {
    padding: 0 1.6em;
    margin: 1em auto 0 auto;
  }
}

.s1-labtrip_flow {
  margin: 6em auto 0 auto;
}

.s1-labtrip_flow > ul li {
  display: inline-block;
  vertical-align: top;
  max-width: 230px;
  margin: 0 6em;
  position: relative;
}

.s1-labtrip_flow > ul li:first-child {
  margin-left: 0;
}

.s1-labtrip_flow > ul li:last-child {
  margin-right: 0;
}

.s1-labtrip_flow > ul li .img {
  border-radius: 50em;
  overflow: hidden;
  border: 1px solid #eee;
}

.s1-labtrip_flow > ul li .label_trip {
  display: block;
  background: #0071bd;
  width: 86px;
  height: 86px;
  border-radius: 50em;
  text-align: center;
  position: absolute;
  top: -1em;
  right: -2em;
}

.s1-labtrip_flow > ul li .label_trip img {
  position: relative;
  top: 32px;
}

.s1-labtrip_flow > ul li p {
  margin: 2em auto 0 auto;
}

.s1-labtrip_flow .btn {
  margin: 4em auto 0 auto;
  text-align: center;
}

.s1-labtrip_flow .btn a {
  display: inline-block;
  vertical-align: middle;
  background: #feeb08;
  padding: 2.4em 8em;
  border-radius: 50em;
  position: relative;
}

.s1-labtrip_flow .btn a:hover {
  opacity: .6;
}

.s1-labtrip_flow .btn a:before, .s1-labtrip_flow .btn a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50em;
  top: 0;
  left: 0;
  -webkit-animation: btnAnime 3s infinite;
          animation: btnAnime 3s infinite;
  box-shadow: 0 0 0 0 #feeb08;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media (max-width: 768px) {
  .s1-labtrip_flow {
    margin: 3em auto 0 auto;
  }
  .s1-labtrip_flow > ul {
    padding: 0 1.6em;
  }
  .s1-labtrip_flow > ul li {
    display: block;
    overflow: hidden;
    max-width: none;
    margin: 1em 0 0 0;
    padding: 1em 1em 2em 1em;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  }
  .s1-labtrip_flow > ul li:first-child {
    margin-left: 0;
  }
  .s1-labtrip_flow > ul li:last-child {
    margin-right: 0;
  }
  .s1-labtrip_flow > ul li .img {
    border-radius: 0;
    border: 0;
    padding: 1em 6em;
  }
  .s1-labtrip_flow > ul li .label_trip {
    -webkit-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    top: 0;
    right: 0;
  }
  .s1-labtrip_flow > ul li p {
    margin: 0 auto;
  }
  .s1-labtrip_flow .btn {
    margin: 2em auto 0 auto;
    padding: 0 1.6em;
  }
  .s1-labtrip_flow .btn a {
    padding: 1.4em 0;
    display: block;
  }
  .s1-labtrip_flow .btn a span img {
    -webkit-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}

.s2_block {
  background: #f8f8f8;
  padding: 8em 0;
}

.business_blocks {
  max-width: 1200px;
  width: 100%;
}

.business_blocks.s3-all {
  margin: 6em auto 0 auto;
  background: #00bcd4;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.business_blocks.s3-all .inner {
  padding: 5em 0;
  white-space: nowrap;
}

.business_blocks.s3-all .illust {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 1em;
  width: 500px;
  height: 320px;
  margin: 0 3em 0 0;
}

.business_blocks.s3-all .text_block {
  text-align: left;
  color: #fff;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.business_blocks.s3-all .text_block > p {
  margin: 2.6em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .s2_block {
    padding: 0;
    background: #fff;
  }
  .business_blocks.s3-all {
    margin: 2em auto 0 auto;
    border-radius: 0;
  }
  .business_blocks.s3-all .inner {
    padding: 4em 1.6em;
    white-space: normal;
  }
  .business_blocks.s3-all .illust {
    display: block;
    top: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0 2em;
  }
  .business_blocks.s3-all .text_block {
    max-width: none;
    display: block;
  }
  .business_blocks.s3-all .text_block > h2 {
    margin: 2em 0 0 0;
    padding: 0 6em 0 0;
  }
  .business_blocks.s3-all .text_block > p {
    margin: 1.2em 0 0 0;
  }
}

.business_blocks.s3-vr {
  background: #34afe6 url(../img/img/v2-top-business_block2_img_1.svg) no-repeat left bottom;
  margin: 5em auto 0 auto;
  position: relative;
  border-radius: 20px;
  background-size: 550px;
}

.business_blocks.s3-vr .inner {
  white-space: nowrap;
  position: relative;
  margin: 0 auto;
  padding: 5em 0;
}

.business_blocks.s3-vr .illust {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 1em;
  width: 500px;
  height: 280px;
  margin: 0 3em 0 0;
}

.business_blocks.s3-vr .bg_vr1 {
  width: 130px;
  left: -30px;
  position: absolute;
  bottom: -90px;
}

.business_blocks.s3-vr .bg_drone1 {
  position: absolute;
  top: 0;
  right: -110%;
  width: 200px;
}

.business_blocks.s3-vr .text_block {
  text-align: left;
  color: #fff;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.business_blocks.s3-vr .text_block > p {
  margin: 3em 0 0 0;
}

@media (max-width: 768px) {
  .business_blocks.s3-vr {
    background: #34afe6 url(../img/img/v2-top-business_block2_img_1.svg) no-repeat center top;
    margin: 0 auto 0 auto;
    border-radius: 0;
    background-size: 380px;
  }
  .business_blocks.s3-vr .inner {
    white-space: normal;
    padding: 5em 1.6em;
  }
  .business_blocks.s3-vr .illust {
    display: block;
    top: 0;
    width: auto;
    height: auto;
    margin: 14em 0 0 0;
  }
  .business_blocks.s3-vr .bg_vr1 {
    width: 80px;
    left: 0;
    bottom: 0;
  }
  .business_blocks.s3-vr .bg_drone1 {
    position: absolute;
    top: -200px;
    right: 0;
    width: 100px;
  }
  .business_blocks.s3-vr .text_block {
    max-width: none;
    display: block;
  }
  .business_blocks.s3-vr .text_block > h2 {
    padding: 1em 7em 0 0;
  }
  .business_blocks.s3-vr .text_block > p {
    margin: 1.6em 0 0 0;
  }
}

.business_blocks.s3-global {
  background: #1ec7f4 url(../img/img/v2-top-business_block3_img_1.svg) no-repeat left bottom;
  background-size: 680px;
  margin: 5em auto 0 auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.business_blocks.s3-global .inner {
  white-space: nowrap;
  position: relative;
  margin: 0 auto;
  padding: 5em 0;
}

.business_blocks.s3-global .illust {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 1em;
  width: 500px;
  height: 280px;
  margin: 0 3em 0 0;
}

.business_blocks.s3-global .text_block {
  text-align: left;
  color: #fff;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.business_blocks.s3-global .text_block > p {
  margin: 3em 0 0 0;
}

@media (max-width: 768px) {
  .business_blocks.s3-global {
    background: #1ec7f4 url(../img/img/v2-top-business_block3_img_1.svg) no-repeat 56% -170%;
    background-size: 500px;
    margin: 0 auto;
    border-radius: 0;
  }
  .business_blocks.s3-global .inner {
    white-space: normal;
    padding: 4em 1.6em;
  }
  .business_blocks.s3-global .illust {
    display: block;
    position: relative;
    top: 0;
    width: auto;
    height: 150px;
    margin: 0;
  }
  .business_blocks.s3-global .text_block {
    text-align: left;
    color: #fff;
    max-width: none;
    display: block;
  }
  .business_blocks.s3-global .text_block > h2 {
    padding: 1em 10em 0 0;
  }
  .business_blocks.s3-global .text_block > p {
    margin: 1.6em 0 0 0;
  }
}

.s3_block {
  padding: 8em 0 0 0;
}

.s3_block .form_btn {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 3em;
  right: 3em;
}

.s3_block .form_btn a {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #0071bd;
  padding: .6em 2em;
  line-height: 1;
  border-radius: 50em;
}

.s3_block .form_btn a .form_btn_color {
  fill: #0071bd;
}

.s3_block .form_btn a:hover {
  background: #0071bd;
}

.s3_block .form_btn a:hover .form_btn_color {
  fill: #ffffff;
}

.s3_block .form_rule {
  max-width: 820px;
  width: 100%;
  margin: 4em auto 0 auto;
  text-align: left;
  border: 1px solid #eee;
  padding: 6em 5em;
  position: relative;
}

.s3_block .form_rule dl {
  margin-top: 1em;
  font-size: 1em;
}

.s3_block .form_rule dl:first-child {
  margin-top: 0;
}

.s3_block .form_rule dl dt {
  font-weight: bold;
  font-size: 1.2em;
}

.s3_block .form_rule dl dd {
  line-height: 1.8;
  padding: 0 0 0 1em;
  text-indent: -1em;
}

.s3_block .entry_pinkup {
  max-width: 820px;
  width: 100%;
  margin: 4em auto 0 auto;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2334afe6' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 4em 4em;
  color: #0071bd;
  text-align: left;
  font-weight: bold;
}

.s3_block .entry_pinkup > h2 {
  font-size: 1.6em;
  text-shadow: -1px 1px 0 white;
}

.s3_block .entry_pinkup > ul {
  margin: 1em 0 0 0;
}

.s3_block .entry_pinkup > ul li {
  padding: .2em 0;
  font-size: 1.1em;
  text-shadow: -1px 1px 0 white;
}

@media (max-width: 768px) {
  .s3_block {
    padding: 4em 0 0 0;
  }
  .s3_block .c_title_block .title .ttl_before img {
    width: 110px;
  }
  .s3_block .form_btn {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 2em 0 0 0;
  }
  .s3_block .form_rule {
    padding: 0 1.6em;
    border: none;
    margin-top: 3em;
  }
  .s3_block .form_rule dl dt {
    font-size: 1em;
  }
  .s3_block .form_rule dl dd {
    font-size: .9em;
  }
  .s3_block .entry_pinkup {
    max-width: 820px;
    width: 100%;
    margin: 4em auto 0 auto;
    padding: 3em 1.6em;
  }
  .s3_block .entry_pinkup > h2 {
    font-size: 1.3em;
  }
  .s3_block .entry_pinkup > ul {
    margin: 1em 0 0 0;
  }
  .s3_block .entry_pinkup > ul li {
    padding: .3em 0 .3em 1em;
    font-size: .9em;
    text-indent: -1em;
    line-height: 1.5;
  }
}

.g_footer {
  margin-top: 2em;
}

.g_footer .inner_first {
  background: #eee;
  padding: 3em 0;
}

.g_footer .inner_first .items {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2em;
}

.g_footer .inner_first .items a {
  display: block;
}

.g_footer .inner_first .items.poricy img {
  width: 248px;
}

.g_footer .inner_first .items.poricy_text img {
  width: 289px;
}

.g_footer .inner_second {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.g_footer .inner_second .items.logo {
  float: left;
}

.g_footer .inner_second .items.logo a {
  display: block;
  width: 80px;
  padding: 2em 0;
}

.g_footer .inner_second .items.scroll {
  float: right;
}

.g_footer .inner_second .items.scroll a {
  position: relative;
  top: 6px;
  width: 120px;
  display: block;
  padding: 2em 0;
}

@media (max-width: 768px) {
  .g_footer {
    margin-top: 2em;
  }
  .g_footer .inner_first {
    background: #eee;
    padding: 3em 1.6em;
  }
  .g_footer .inner_first .items {
    display: block;
    margin: 0;
  }
  .g_footer .inner_first .items a {
    display: block;
  }
  .g_footer .inner_first .items.poricy {
    display: inline-block;
  }
  .g_footer .inner_first .items.poricy img {
    width: 180px;
  }
  .g_footer .inner_first .items.poricy_text {
    margin-top: 2em;
  }
  .g_footer .inner_first .items.poricy_text img {
    width: 289px;
  }
  .g_footer .inner_second {
    padding: 0 1.6em;
  }
}

.share {
  max-width: 1024px;
  width: 100%;
  margin: 6em auto 0 auto;
  text-align: right;
}

.share ul li {
  display: inline-block;
  margin: .4em;
}

.share ul li a {
  display: block;
  padding: .4em 2em;
  color: #fff;
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 50em;
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
}

.share ul li a:hover {
  opacity: .6;
}

.share ul li.tweet a {
  background-color: #55acee;
}

.share ul li.facebook a {
  background-color: #315096;
}

.share ul li.googleplus a {
  background-color: #dd4b39;
}

.share ul li.hatena a {
  background-color: #008fde;
}

.share ul li.line a {
  background-color: #00c300;
}

.share ul li.pocket a {
  background-color: #f03e51;
}

.share ul li.rss a {
  background-color: #ff8c00;
}

.share ul li.feedly a {
  background-color: #6cc655;
}

@media (max-width: 768px) {
  .share {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .share ul li {
    display: inline-block;
    margin: .4em .2em;
  }
}

.ceo_modal2 {
  max-width: 800px !important;
  padding: 3.2em 5em 7em 5em !important;
  text-align: justify;
}

.ceo_modal2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #feeb08;
}

.ceo_modal2 .remodal-close {
  top: 2em !important;
  right: 2em !important;
  left: inherit;
}

.ceo_modal2 .profile {
  text-align: left;
}

.ceo_modal2 .profile .head {
  padding: 0 0 2.6em 0;
}

.ceo_modal2 .profile .head .thumbnail {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.2em 0 0;
}

.ceo_modal2 .profile .head .head_block {
  display: inline-block;
  vertical-align: middle;
}

.ceo_modal2 .profile .head .head_block h1 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4;
}

.ceo_modal2 .profile .head .head_block p {
  font-size: 1.2em;
  font-weight: bold;
}

.ceo_modal2 .profile .data_block {
  clear: both;
  border-top: 1px solid #eee;
  padding: 2.8em 0;
}

.ceo_modal2 .profile .data_block .title {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  float: left;
  margin: .4em 0 0 0;
  font-size: .9em;
  font-weight: bold;
}

.ceo_modal2 .profile .data_block .data_inner {
  margin: 0 0 0 50px;
}

.ceo_modal2 .profile .data_block .data_inner.p_scrollbar {
  position: relative;
  height: 180px;
}

.ceo_modal2 .profile .data_block .data_inner dl {
  margin: 1.2em 0 0 0;
}

.ceo_modal2 .profile .data_block .data_inner dl:first-child {
  margin-top: 0;
}

.ceo_modal2 .profile .data_block .data_inner dl dt {
  font-weight: bold;
  font-size: 1em;
}

.ceo_modal2 .profile .data_block .data_inner dl dd {
  margin: 0;
  padding: .2em 0;
  line-height: 1.7;
  font-size: 1em;
}

.ceo_modal2 .profile .wantedly_btn {
  margin: 0;
  background: #feeb08;
  color: #0071bd;
  display: block;
  vertical-align: middle;
  font-size: 1.8em;
  font-weight: bold;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 980px) {
  .ceo_modal2 {
    max-width: none !important;
    padding: 3em 1.6em 5em !important;
  }
  .ceo_modal2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #feeb08;
  }
  .ceo_modal2 .remodal-close {
    top: 1em !important;
    right: 1em !important;
  }
  .ceo_modal2 .profile {
    text-align: left;
  }
  .ceo_modal2 .profile .head {
    padding: 0 0 1.6em 0;
    margin: 0;
  }
  .ceo_modal2 .profile .head .thumbnail {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .8em 0 0;
    width: 40px;
  }
  .ceo_modal2 .profile .head .head_block {
    display: inline-block;
    vertical-align: middle;
  }
  .ceo_modal2 .profile .head .head_block h1 {
    font-size: .9em;
    line-height: 1.4;
  }
  .ceo_modal2 .profile .head .head_block p {
    font-size: .9em;
    font-weight: bold;
  }
  .ceo_modal2 .profile .data_block {
    clear: both;
    border-top: 1px solid #eee;
    padding: 1.6em 0;
    white-space: nowrap;
  }
  .ceo_modal2 .profile .data_block .title {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    font-size: 1.2em;
    float: none;
    padding: 0 0 .6em 0;
  }
  .ceo_modal2 .profile .data_block .data_inner {
    margin: 0;
    white-space: normal;
  }
  .ceo_modal2 .profile .data_block .data_inner.p_scrollbar {
    height: 160px;
  }
  .ceo_modal2 .profile .data_block .data_inner dl {
    margin: 1.2em 0 0 0;
  }
  .ceo_modal2 .profile .data_block .data_inner dl:first-child {
    margin-top: 0;
  }
  .ceo_modal2 .profile .data_block .data_inner dl dt {
    font-weight: bold;
    font-size: 1em;
  }
  .ceo_modal2 .profile .data_block .data_inner dl dd {
    margin: 0;
    padding: .2em 0 0 0;
    line-height: 1.65;
    font-size: .9em;
  }
  .ceo_modal2 .profile .wantedly_btn {
    font-size: 1.4em;
    padding: .7em 0;
  }
}

@-webkit-keyframes cloudMove1 {
  0% {
    background-position: 0 0px;
  }
  25% {
    background-position: 200px 10px;
  }
  50% {
    background-position: 400px 0px;
  }
  75% {
    background-position: 600px 10px;
  }
  100% {
    background-position: 800px 0px;
  }
}

@keyframes cloudMove1 {
  0% {
    background-position: 0 0px;
  }
  25% {
    background-position: 200px 10px;
  }
  50% {
    background-position: 400px 0px;
  }
  75% {
    background-position: 600px 10px;
  }
  100% {
    background-position: 800px 0px;
  }
}

@-webkit-keyframes cloudMove2 {
  0% {
    background-position: 0 10px;
  }
  25% {
    background-position: 100px 0px;
  }
  50% {
    background-position: 300px 10px;
  }
  75% {
    background-position: 500px 0px;
  }
  100% {
    background-position: 700px 10px;
  }
}

@keyframes cloudMove2 {
  0% {
    background-position: 0 10px;
  }
  25% {
    background-position: 100px 0px;
  }
  50% {
    background-position: 300px 10px;
  }
  75% {
    background-position: 500px 0px;
  }
  100% {
    background-position: 700px 10px;
  }
}

@-webkit-keyframes cloudMove3 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 200px 0;
  }
  50% {
    background-position: 400px 0;
  }
  75% {
    background-position: 600px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@keyframes cloudMove3 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 200px 0;
  }
  50% {
    background-position: 400px 0;
  }
  75% {
    background-position: 600px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@-webkit-keyframes drone_spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes drone_spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes drone_Move1 {
  0% {
    top: 16%;
  }
  33% {
    top: 24%;
  }
  66% {
    top: 20%;
  }
  100% {
    top: 16%;
  }
}

@keyframes drone_Move1 {
  0% {
    top: 16%;
  }
  33% {
    top: 24%;
  }
  66% {
    top: 20%;
  }
  100% {
    top: 16%;
  }
}

@-webkit-keyframes drone_Move1_parts2 {
  0% {
    width: 60px;
  }
  33% {
    width: 140px;
  }
  66% {
    width: 100px;
  }
  100% {
    width: 60px;
  }
}

@keyframes drone_Move1_parts2 {
  0% {
    width: 60px;
  }
  33% {
    width: 140px;
  }
  66% {
    width: 100px;
  }
  100% {
    width: 60px;
  }
}

@-webkit-keyframes btnAnime {
  0% {
    box-shadow: 0 0 0 0 #feeb08;
  }
  0%, 90% {
    opacity: .7;
  }
  to {
    box-shadow: 0 0 0 9pt rgba(255, 255, 255, 0);
    opacity: 0;
  }
}

@keyframes btnAnime {
  0% {
    box-shadow: 0 0 0 0 #feeb08;
  }
  0%, 90% {
    opacity: .7;
  }
  to {
    box-shadow: 0 0 0 9pt rgba(255, 255, 255, 0);
    opacity: 0;
  }
}

@-webkit-keyframes s3_bg_cloud {
  0% {
    right: 0px;
  }
  33% {
    right: 40px;
  }
  66% {
    right: -40px;
  }
  100% {
    right: 0;
  }
}

@keyframes s3_bg_cloud {
  0% {
    right: 0px;
  }
  33% {
    right: 40px;
  }
  66% {
    right: -40px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes s3_bg_drone {
  0% {
    right: 0px;
  }
  33% {
    right: -20px;
  }
  66% {
    right: 20px;
  }
  100% {
    right: 0;
  }
}

@keyframes s3_bg_drone {
  0% {
    right: 0px;
  }
  33% {
    right: -20px;
  }
  66% {
    right: 20px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes s3_tablet_hand {
  0% {
    left: 120px;
  }
  33% {
    left: 100px;
  }
  66% {
    left: 80px;
  }
  100% {
    left: 120px;
  }
}

@keyframes s3_tablet_hand {
  0% {
    left: 120px;
  }
  33% {
    left: 100px;
  }
  66% {
    left: 80px;
  }
  100% {
    left: 120px;
  }
}

@-webkit-keyframes s3_bg_1 {
  0% {
    background: #ffac27;
  }
  66% {
    background: #2f4456;
  }
  100% {
    background: #ffac27;
  }
}

@keyframes s3_bg_1 {
  0% {
    background: #ffac27;
  }
  66% {
    background: #2f4456;
  }
  100% {
    background: #ffac27;
  }
}

@-webkit-keyframes s3_bg_1_color_cloud {
  0% {
    fill: #f99f00;
  }
  66% {
    fill: #ffffff;
  }
  100% {
    fill: #f99f00;
  }
}

@keyframes s3_bg_1_color_cloud {
  0% {
    fill: #f99f00;
  }
  66% {
    fill: #ffffff;
  }
  100% {
    fill: #f99f00;
  }
}

.form_block {
  width: 820px;
  border: 1px solid #eee;
  margin: 3em auto 0 auto;
  padding: 6em 0;
  position: relative;
}

.po-privacy-wrap {
  border: 1px solid #f3f3f3;
  width: 83%;
  margin: 0 auto;
  padding: 3em;
  text-align: left;
  font-size: .9em;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .po-privacy-wrap {
    width: 86%;
    padding: 2em;
  }
}

.po-iframe iframe {
  width: 100%;
  min-height: 300px;
}

tr.po-single,
tr.po-double {
  margin: 0 auto 0 2em;
  width: 86%;
}

tr.po-single th.po-label,
tr.po-double th.po-label {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 27%;
  margin: 0;
  font-size: 1.1em;
  padding: 8px 0 0 2%;
  position: relative;
}

tr.po-single th.po-required .po-required-elem,
tr.po-double th.po-required .po-required-elem {
  position: absolute;
  top: 0;
  right: -1em;
}

tr.po-single th.po-required .po-required-elem:before,
tr.po-double th.po-required .po-required-elem:before {
  position: absolute;
  right: 0;
  top: 6px;
  content: '*';
  font-size: 1.1em;
  color: #d9534f;
}

tr.po-single td.po-normal,
tr.po-double td.po-normal {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding-left: 5%;
  width: 72%;
  position: relative;
  margin-bottom: 2em;
}

tr.po-single td.po-normal .po-year,
tr.po-single td.po-normal .po-month,
tr.po-single td.po-normal .po-day,
tr.po-double td.po-normal .po-year,
tr.po-double td.po-normal .po-month,
tr.po-double td.po-normal .po-day {
  width: 20%;
  margin: 0 1em;
}

tr.po-single td.po-normal .po-year,
tr.po-double td.po-normal .po-year {
  margin-left: 0 !important;
}

tr.po-single .po-dropdown select,
tr.po-double .po-dropdown select {
  width: 100%;
  -webkit-appearance: none;
  height: 40px;
  border-radius: 3px;
  border: none;
  background: #eeeeee;
  padding: 0 10px;
}

tr.po-single .po-dropdown + .po-remark,
tr.po-double .po-dropdown + .po-remark {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -10px;
  cursor: default;
  pointer-events: none;
}

tr.po-single .po-dropdown + .po-remark .po-row-item-container,
tr.po-double .po-dropdown + .po-remark .po-row-item-container {
  display: inline-block;
  background: url(../img/img/icon-select.svg) no-repeat center center;
  width: 16px;
  height: 16px;
  background-size: 12px;
}

tr.po-single .po-validation,
tr.po-double .po-validation {
  color: #9f3a38;
  padding: 0;
  font-weight: bold;
}

tr.po-single .checkbox_vd .error,
tr.po-double .checkbox_vd .error {
  color: #9f3a38;
  padding: 0;
  position: absolute;
  padding: 5em 0 3.4em 3em;
  height: 100%;
  width: 94%;
  left: -1px;
  bottom: -44px;
  font-weight: bold;
  background: #fff6f6;
}

tr.po-single .error + input[type=text],
tr.po-single .error + input[type=tel],
tr.po-single .error + input[type=email],
tr.po-single .error + input[type=search],
tr.po-single .error + input[type=password],
tr.po-single .error + textarea,
tr.po-double .error + input[type=text],
tr.po-double .error + input[type=tel],
tr.po-double .error + input[type=email],
tr.po-double .error + input[type=search],
tr.po-double .error + input[type=password],
tr.po-double .error + textarea {
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  background-color: #fff6f6;
}

tr.po-single .uploadButton,
tr.po-double .uploadButton {
  background: #eee;
  position: relative;
}

tr.po-single .uploadButton input[type="file"],
tr.po-double .uploadButton input[type="file"] {
  padding: 1.4em 0em 1.4em 3em;
  display: block;
  width: 94%;
}

tr.po-single .uploadButton .mwform-file-delete,
tr.po-double .uploadButton .mwform-file-delete {
  background: #999;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50em;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
}

tr.po-single .uploadButton .mwform-file-delete:hover,
tr.po-double .uploadButton .mwform-file-delete:hover {
  opacity: .6;
}

tr.po-single input[type=text],
tr.po-single input[type=tel],
tr.po-single input[type=email],
tr.po-single input[type=search],
tr.po-single input[type=password],
tr.po-single textarea,
tr.po-double input[type=text],
tr.po-double input[type=tel],
tr.po-double input[type=email],
tr.po-double input[type=search],
tr.po-double input[type=password],
tr.po-double textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  width: 100%;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: .8em 1.2em;
  background: #eeeeee;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: box-shadow .1s ease,border-color .1s ease;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
}

tr.po-single input[type=text]:focus,
tr.po-single input[type=tel]:focus,
tr.po-single input[type=email]:focus,
tr.po-single input[type=search]:focus,
tr.po-single input[type=password]:focus,
tr.po-single textarea:focus,
tr.po-double input[type=text]:focus,
tr.po-double input[type=tel]:focus,
tr.po-double input[type=email]:focus,
tr.po-double input[type=search]:focus,
tr.po-double input[type=password]:focus,
tr.po-double textarea:focus {
  border-color: #85B7D9;
  background: #FFF;
  color: #666;
  box-shadow: none;
}

tr.po-single .mwform-checkbox-field label,
tr.po-single .mwform-radio-field label,
tr.po-double .mwform-checkbox-field label,
tr.po-double .mwform-radio-field label {
  position: relative;
  cursor: pointer;
}

tr.po-single input[type=checkbox],
tr.po-double input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: none;
  background-color: #eee;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  margin: 0 8px 2px 0;
  outline: none;
  cursor: pointer;
}

tr.po-single input[type=checkbox]:checked,
tr.po-double input[type=checkbox]:checked {
  border-color: #0071bd;
}

tr.po-single input[type=checkbox]:checked:focus,
tr.po-double input[type=checkbox]:checked:focus {
  outline: none;
}

tr.po-single input[type=checkbox]:checked:after,
tr.po-double input[type=checkbox]:checked:after {
  position: absolute;
  top: 0;
  left: 5px;
  display: block;
  content: '';
  width: 12px;
  height: 6px;
  border-left: 3px solid #0071bd;
  border-bottom: 3px solid #0071bd;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.po-button-outer {
  display: table;
  width: 100%;
  text-align: center;
}

.po-button-outer .po-button-inner {
  display: inline-block;
  vertical-align: top;
  margin: 2.6em 0 0 0;
}

.po-button-outer .po-button-inner .po-button-send {
  outline: none;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 50em;
  font-weight: bold;
  padding: .4em 3em;
  font-size: 1.2em;
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
  border-color: #0071bd;
  color: #0071bd;
  display: block;
  width: 100%;
  line-height: 42px;
}

.po-button-outer .po-button-inner .po-button-send:hover {
  background: #0071bd;
  color: #fff;
}

.po-button-outer .po-button-inner.back input {
  background: #ccc;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 42px;
}

@media (max-width: 768px) {
  .form_block {
    width: auto;
    border: none;
    margin: 0 auto 0 auto;
    padding: 4em 0;
    position: relative;
  }
  tr.po-single,
  tr.po-double {
    margin: 0 auto 0 2em;
    width: 86%;
  }
  tr.po-single th.po-label,
  tr.po-double th.po-label {
    display: block;
    width: auto;
    padding: 0 1.6em;
    text-align: left;
  }
  tr.po-single th.po-required .po-required-elem,
  tr.po-double th.po-required .po-required-elem {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  tr.po-single th.po-required .po-required-elem:before,
  tr.po-double th.po-required .po-required-elem:before {
    top: 0;
  }
  tr.po-single td.po-normal,
  tr.po-double td.po-normal {
    display: block;
    padding: .4em 1.6em 0 1.6em;
    width: auto;
    position: relative;
    margin-bottom: 1.6em;
  }
  tr.po-single td.po-normal input[type=text],
  tr.po-single td.po-normal input[type=tel],
  tr.po-single td.po-normal input[type=email],
  tr.po-single td.po-normal input[type=search],
  tr.po-single td.po-normal input[type=password],
  tr.po-single td.po-normal textarea,
  tr.po-double td.po-normal input[type=text],
  tr.po-double td.po-normal input[type=tel],
  tr.po-double td.po-normal input[type=email],
  tr.po-double td.po-normal input[type=search],
  tr.po-double td.po-normal input[type=password],
  tr.po-double td.po-normal textarea {
    font-size: 16px;
    padding: .4em 1.2em;
  }
  tr.po-single .po-validation,
  tr.po-double .po-validation {
    padding-top: .4em;
    font-size: .8em;
  }
}

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
	 Remodal's default mobile first theme
	 ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyframes
	 ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
	 ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
	 ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* perfect-scrollbar v0.6.11 */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps-container.ps-in-scrolling {
  pointer-events: none;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color .2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color .2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px;
}

.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999;
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  opacity: 0;
}

.dual__inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dual__content {
  position: relative;
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
  padding: 1.5em 2.5em;
  font-size: 1.75em;
  line-height: 1.4;
  color: #8a7c78;
}

.js .dual__content {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate3d(60px, 0, 0);
          transform: translate3d(60px, 0, 0);
  transition: opacity 0.55s 0.4s, -webkit-transform 0.55s 0.4s;
  transition: opacity 0.55s 0.4s, transform 0.55s 0.4s;
  transition: opacity 0.55s 0.4s, transform 0.55s 0.4s, -webkit-transform 0.55s 0.4s;
}

.dual__content.dual__content--show {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.animated.flipOutX, .animated.flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
      transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg);
  }
  10% {
    -webkit-transform: skewX(-8deg);
  }
  20% {
    -webkit-transform: skewX(7deg);
  }
  30% {
    -webkit-transform: skewX(-6deg);
  }
  40% {
    -webkit-transform: skewX(5deg);
  }
  50% {
    -webkit-transform: skewX(-4deg);
  }
  60% {
    -webkit-transform: skewX(3deg);
  }
  70% {
    -webkit-transform: skewX(-2deg);
  }
  80% {
    -webkit-transform: skewX(1deg);
  }
  90% {
    -webkit-transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg);
            transform: skewX(9deg);
  }
  10% {
    -webkit-transform: skewX(-8deg);
            transform: skewX(-8deg);
  }
  20% {
    -webkit-transform: skewX(7deg);
            transform: skewX(7deg);
  }
  30% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  40% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  50% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  60% {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  70% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  80% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
  90% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.wiggle {
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
            transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
            transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
            transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
            transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
            transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

@-webkit-keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
}

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
}

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
}

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

.wauto {
  width: auto !important;
}

.w80 {
  max-width: 80% !important;
  width: 100%;
  margin: 0 auto;
}

.w90 {
  max-width: 90% !important;
  width: 100%;
  margin: 0 auto;
}

.w640 {
  max-width: 640px !important;
  width: 100%;
  margin: 0 auto;
}

.w740 {
  max-width: 740px !important;
  width: 100%;
  margin: 0 auto;
}

.w840 {
  max-width: 840px !important;
  width: 100%;
  margin: 0 auto;
}

.w940 {
  max-width: 940px !important;
  width: 100%;
  margin: 0 auto;
}

.w1040 {
  max-width: 1040px !important;
  width: 100%;
  margin: 0 auto;
}

.w1200 {
  max-width: 1200px !important;
  width: 100%;
  margin: 0 auto;
}

.w1400 {
  max-width: 1400px !important;
  width: 100%;
  margin: 0 auto;
}

.width_full {
  width: 100% !important;
}

.margin_auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt0_2 {
  margin-top: .2em !important;
}

.mt0_4 {
  margin-top: .4em !important;
}

.mt0_6 {
  margin-top: .6em !important;
}

.mt0_8 {
  margin-top: .8em !important;
}

.mt1_0 {
  margin-top: 1.0em !important;
}

.mt1_2 {
  margin-top: 1.2em !important;
}

.mt1_4 {
  margin-top: 1.4em !important;
}

.mt1_6 {
  margin-top: 1.6em !important;
}

.mt1_8 {
  margin-top: 1.8em !important;
}

.mt2_0 {
  margin-top: 2.0em !important;
}

.mt2_2 {
  margin-top: 2.2em !important;
}

.mt2_4 {
  margin-top: 2.4em !important;
}

.mt2_6 {
  margin-top: 2.6em !important;
}

.mt2_8 {
  margin-top: 2.8em !important;
}

.mt3_0 {
  margin-top: 3.0em !important;
}

.mt3_2 {
  margin-top: 3.2em !important;
}

.mt3_4 {
  margin-top: 3.4em !important;
}

.mt3_6 {
  margin-top: 3.6em !important;
}

.mt3_8 {
  margin-top: 3.8em !important;
}

.mt4_0 {
  margin-top: 4.0em !important;
}

.mt4_2 {
  margin-top: 4.2em !important;
}

.mt4_4 {
  margin-top: 4.4em !important;
}

.mt4_6 {
  margin-top: 4.6em !important;
}

.mt4_8 {
  margin-top: 4.8em !important;
}

.mt5_0 {
  margin-top: 5.0em !important;
}

.mt5_2 {
  margin-top: 5.2em !important;
}

.mt5_4 {
  margin-top: 5.4em !important;
}

.mt5_6 {
  margin-top: 5.6em !important;
}

.mt5_8 {
  margin-top: 5.8em !important;
}

.mt6_0 {
  margin-top: 6.0em !important;
}

.mt6_2 {
  margin-top: 6.2em !important;
}

.mt6_4 {
  margin-top: 6.4em !important;
}

.mt6_6 {
  margin-top: 6.6em !important;
}

.mt6_8 {
  margin-top: 6.8em !important;
}

.mt7_0 {
  margin-top: 7.0em !important;
}

.mt7_2 {
  margin-top: 7.2em !important;
}

.mt7_4 {
  margin-top: 7.4em !important;
}

.mt7_6 {
  margin-top: 7.6em !important;
}

.mt7_8 {
  margin-top: 7.8em !important;
}

.mt8_0 {
  margin-top: 8.0em !important;
}

.mt8_2 {
  margin-top: 8.2em !important;
}

.mt8_4 {
  margin-top: 8.4em !important;
}

.mt8_6 {
  margin-top: 8.6em !important;
}

.mt8_8 {
  margin-top: 8.8em !important;
}

.mt9_0 {
  margin-top: 9.0em !important;
}

.mt9_2 {
  margin-top: 9.2em !important;
}

.mt9_4 {
  margin-top: 9.4em !important;
}

.mt9_6 {
  margin-top: 9.6em !important;
}

.mt9_8 {
  margin-top: 9.8em !important;
}

.mt10 {
  margin-top: 10.0em !important;
}

@media (max-width: 768px) {
  .sp_mt-1_0 {
    margin-top: -1em !important;
  }
  .sp_mt-2_0 {
    margin-top: -2em !important;
  }
  .sp_mt1_0 {
    margin-top: 1em !important;
  }
  .sp_mt2_0 {
    margin-top: 2em !important;
  }
  .mt4_0 {
    margin-top: 3.2em !important;
  }
  .mt4_2 {
    margin-top: 3.4em !important;
  }
  .mt4_4 {
    margin-top: 3.6em !important;
  }
  .mt4_6 {
    margin-top: 3.8em !important;
  }
  .mt4_8 {
    margin-top: 4em !important;
  }
  .mt5_0 {
    margin-top: 4em !important;
  }
  .mt5_2 {
    margin-top: 4em !important;
  }
  .mt5_4 {
    margin-top: 4.2em !important;
  }
  .mt5_6 {
    margin-top: 4.2em !important;
  }
  .mt5_8 {
    margin-top: 4.2em !important;
  }
  .mt6_0 {
    margin-top: 4.2em !important;
  }
  .mt6_2 {
    margin-top: 4em !important;
  }
  .mt6_4 {
    margin-top: 4em !important;
  }
  .mt6_6 {
    margin-top: 4em !important;
  }
  .mt6_8 {
    margin-top: 4em !important;
  }
  .mt7_0 {
    margin-top: 4em !important;
  }
  .mt7_2 {
    margin-top: 4em !important;
  }
  .mt7_4 {
    margin-top: 4em !important;
  }
  .mt7_6 {
    margin-top: 4em !important;
  }
  .mt7_8 {
    margin-top: 4em !important;
  }
  .mt8_0 {
    margin-top: 4em !important;
  }
  .mt8_2 {
    margin-top: 4em !important;
  }
  .mt8_4 {
    margin-top: 4em !important;
  }
  .mt8_6 {
    margin-top: 4em !important;
  }
  .mt8_8 {
    margin-top: 4em !important;
  }
  .mt9_0 {
    margin-top: 4em !important;
  }
  .mt9_2 {
    margin-top: 4em !important;
  }
  .mt9_4 {
    margin-top: 4em !important;
  }
  .mt9_6 {
    margin-top: 4em !important;
  }
  .mt9_8 {
    margin-top: 4em !important;
  }
  .mt10 {
    margin-top: 4em !important;
  }
}

.tc {
  text-align: center !important;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.tj {
  text-align: justify !important;
}

.fs1_0 {
  font-size: 1em !important;
}

.fs1_1 {
  font-size: 1.1em !important;
}

.fs1_2 {
  font-size: 1.2em !important;
}

.fs1_3 {
  font-size: 1.3em !important;
}

.fs1_4 {
  font-size: 1.4em !important;
}

.fs1_5 {
  font-size: 1.5em !important;
}

.fs1_6 {
  font-size: 1.6em !important;
}

.fs1_7 {
  font-size: 1.7em !important;
}

.fs1_8 {
  font-size: 1.8em !important;
}

.fs1_9 {
  font-size: 1.9em !important;
}

.fs2_0 {
  font-size: 2.0em !important;
}

.fs2_1 {
  font-size: 2.1em !important;
}

.fs2_2 {
  font-size: 2.2em !important;
}

.fs2_3 {
  font-size: 2.3em !important;
}

.fs2_4 {
  font-size: 2.4em !important;
}

.fs2_5 {
  font-size: 2.5em !important;
}

.fs2_6 {
  font-size: 2.6em !important;
}

.fs2_7 {
  font-size: 2.7em !important;
}

.fs2_8 {
  font-size: 2.8em !important;
}

.fs2_9 {
  font-size: 2.9em !important;
}

.fs3_0 {
  font-size: 3.0em !important;
}
