
// ----------------------------------------
//  pjax
// ----------------------------------------
.is-transition-start {
	.pjax_overlay {
		display: block;
	}
}

.pjax_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: #fff;
	display: none;
	z-index: 20;
	.loader {
	  margin: 100px auto;
	  width: 26px;
	  height: 26px;
	  border: 4px solid #eee;
	  border-top: 4px solid #000;
	  border-radius: 50%;
	  animation: spin .4s linear infinite;
	  background: transparent;
	  text-align: center;
	  line-height: 26px;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
}

.js-view {

  // リバーズ
  &.e_revealers {
    .e_inner {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      overflow: hidden;
    }
    .e_block {
      background: #fff;
      transition: all .3s cubic-bezier(0, 1, 0.64, 1) .1s;
      transform: scale(1, 1);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &.-view {
      .e_item {}
      .e_block {
        transform: scale(1, 1);
        left: 100%;
      }
    }
    + .e_revealers {
      .e_block {
        transition: all .3s cubic-bezier(0, 1, 0.64, 1) .3s;
      }
    }
  }

  // フェードイン
  &.e_fadein {
    position: relative;
    padding-top: 20px;
    opacity: 0;
    transition: all .3s cubic-bezier(0, 1, 0.64, 1) .3s;
    &.-view {
      padding-top: 0px;
      opacity: 1;
    }
  }

}
