// ----------------------------------------
//  footer
// ----------------------------------------
.f__footer {
  text-align: left;
  background: #fff;
  position: relative;
}
.f__footer-inner {
  border-top: 1px solid $bor_color5;
  border-bottom: 1px solid $bor_color5;
}
.f__footer-inner__primary {
  @include main_width;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  @media #{$mq_s} {
    display: block;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .item {
    &.-logo {
      margin: 0 auto 0 0;
      max-width: 360px;
      width: 40%;
      @media #{$mq_s} {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
      }
      .logo {
        display: inline-block;
        vertical-align: top;
        img {}
      }
      .text {
        display: block;
        font-size: 1.2rem;
        color: #888;
        margin: 2.4rem 0 0 0;
        line-height: 2;
        @media #{$mq_s} {
          margin: 1.4rem 0 0 0;
        }
      }
    }
    &.-menu {
      margin: 0 0 0 auto;
      max-width: 700px;
      width: 70%;
      display: flex;
      @media #{$mq_s} {
        max-width: 100%;
        width: 100%;
        display: block;
      }
    }
    .menu__area-item {
      max-width: 33%;
      width: 100%;
      margin: 0 0 0 auto;
      @media #{$mq_s} {
        max-width: 100%;
        margin: 1.6rem 0 0 0;
      }
      &:last-child {
        max-width: 20%;
        @media #{$mq_s} {
          max-width: 100%;
        }
      }
      .f__title {
        color: #828282;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .f__menu {
        margin: .8rem 0 0 0;
        li {
          white-space: nowrap;
          a {
            font-size: 1.3rem;
            color: rgba($c_default, .6);
            display: flex;
            align-items: center;
            padding: .4rem 0;
            span {
              position: relative;
              &:before {
                @include transition;
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background: #ddd;
                position: absolute;
                bottom: -4px;
                left: 0;
              }
            }
            .-new_window {
              position: relative;
              width: 12px;
              height: 10px;
              border: 1px solid #ddd;
              left: 10px;
              &:before {
                content: '';
                background: #fff;
                display: block;
                width: 10px;
                height: 8px;
                border: 1px solid #ddd;
                position: absolute;
                top: 1px;
                right: 1px;
              }
            }
            &:hover {
              span {
                &:before {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
.f__footer-inner__secondary {
  @include main_width;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  @media #{$mq_s} {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .item {
    &.-copy {
      margin: 0 auto 0 0;
      .text {
        display: flex;
        align-items: center;
        i {
          font-size: 1.4rem;
          padding-right: 4px;
        }
        small {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
    &.-pagetop {
      margin: 0 0 0 auto;
      a {
        display: block;
        i {
          font-size: 2rem;
        }
      }
    }
  }
}
