/* Color schemes */


.g_menu__area {
  --color-text: #fbd54a;
  --color-bg: #333;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --color-info: #fff;
  --color-main-bg: #24262d;
  --path-fill-1: #000000;
  --path-fill-2: #1d1d1f;
  --path-fill-3: #fbd54a;
  --color-title: #fff;
  --font-family-title: 'Arapey', serif;
  --font-size-title: 5vmax;
  --font-weight-title: 400;
  --color-menu: #ffffff;
  --color-menu-hover: #ffffff;
  --font-family-menu: 'Arapey', serif;
  --font-size-menu: 4vmax;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #ada4a4;
  --button-line: #222;
  overflow: hidden;
  position: relative;
}



.global-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}


.global-menu__item {
  color: var(--color-menu) !important;
  font-size: 3.6rem;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  display: block;
  margin: 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-in;
  font-family: "Times New Roman";
  text-align: center;
  span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &:before {
      transition: all .3s cubic-bezier(0,1,.64,1);
      content: '';
      width: 0%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
    }
  }
  @media #{$mq_s} {
    font-size: 2.4rem;
    margin: .8rem 0;
  }
  &:hover {
    span {
      &:before {
        width: 100%;
      }
    }
  }
}


.global-menu__item--style-3 {
  transition: transform 0.1s, opacity 0.1s;
  transform: translateY(100%);
  transition-timing-function: ease-out;
}

.global-menu__item {
  &:hover {
    color: var(--color-menu-hover);
  }
  &.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
  }
}


/* demo 3 */
.global-menu__item--style-3 {
  &.is-opened {
    transition-duration: 0.3s;
  }
  &:nth-of-type(1) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(1) {
    transition-delay: 0.65s;
  }
  &:nth-of-type(2) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(2) {
    transition-delay: 0.7s;
  }
  &:nth-of-type(3) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(3) {
    transition-delay: 0.75s;
  }
  &:nth-of-type(4) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(4) {
    transition-delay: 0.8s;
  }
  &:nth-of-type(5) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(5) {
    transition-delay: 0.85s;
  }
  &:nth-of-type(6) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(6) {
    transition-delay: 0.9s;
  }
  &:nth-of-type(7) {
    transition-delay: 0s;
  }
  &.is-opened:nth-of-type(7) {
    transition-delay: 0.95s;
  }
  &.is-opened:nth-of-type(8) {
    transition-delay: 1.0s;
  }
}


.shape-overlays {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  &.is-opened {
    pointer-events: auto;
  }
}

.shape-overlays__path {
  &:nth-of-type(1) {
    fill: var(--path-fill-1);
  }
  &:nth-of-type(2) {
    fill: var(--path-fill-2);
  }
  &:nth-of-type(3) {
    fill: #212121;
  }
  &:nth-of-type(4) {
    fill: var(--path-fill-4);
  }
}


@keyframes intervalHamburgerBorder {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}


.hamburger {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  cursor: pointer;
  position: fixed;
  top: 3em;
  right: 4em;
  z-index: 110;
  border-radius: 50%;
  background-color: #000;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media #{$mq_s} {
    transform: scale(.7);
    top: .8rem;
    right: .8rem;
  }
  &::after {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 4px solid var(--button-circle);
    border-radius: 50%;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-name: intervalHamburgerBorder;
    animation-name: intervalHamburgerBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

.hamburger__line {
  width: 28px;
  height: 2px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.hamburger__line-in {
  width: 84px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  &::before, &::after {
    width: 28px;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: #fff;
  }
  &::before {
    left: -56px;
  }
  &::after {
    left: 0;
  }
}

.hamburger__line--01, .hamburger__line--02, .hamburger__line--03, .hamburger__line--cross01, .hamburger__line--cross02 {
  left: 18px;
}

.hamburger__line--01 {
  top: 24.6px;
}

.hamburger__line--02, .hamburger__line--cross01, .hamburger__line--cross02 {
  top: 31px;
}

.hamburger__line--03 {
  top: 37.4px;
}

.hamburger__line--cross01 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger__line--cross02 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger__line {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  &::before, &::after {
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
}

.hamburger__line-in--cross01, .hamburger__line-in--cross02 {
  -webkit-transform: translateX(-33.3%);
  transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hamburger__line-in--02 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  &::before, &::after {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }
}

.hamburger__line-in--03 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  &::before, &::after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
}

.hamburger__line-in--cross01 {
  -webkit-transition-delay: 0.0s;
  transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  &::before, &::after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
}

.hamburger {
  &.is-opened-navi {
    .hamburger__line-in--01, .hamburger__line-in--02, .hamburger__line-in--03 {
      -webkit-transform: translateX(33.3%);
      transform: translateX(33.3%);
    }
    .hamburger__line-in--cross01, .hamburger__line-in--cross02 {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .hamburger__line-in--01 {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .hamburger__line-in--02 {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }
    .hamburger__line-in--03 {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
    .hamburger__line-in--cross01 {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
    }
    .hamburger__line-in--cross02 {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
  }
  &:hover {
    .hamburger__line-in {
      &::before, &::after {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
      }
    }
    .hamburger__line-in--01 {
      &::before, &::after {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
      }
    }
    .hamburger__line-in--02 {
      &::before, &::after {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
      }
    }
    .hamburger__line-in--03 {
      &::before, &::after {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
      }
    }
    .hamburger__line-in--cross01 {
      &::before, &::after {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
    .hamburger__line-in--cross02 {
      &::before, &::after {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
  }
  &.is-opened-navi:hover {
    .hamburger__line-in--cross01 {
      &::before, &::after {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
      }
    }
    .hamburger__line-in--cross02 {
      &::before, &::after {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
      }
    }
    .hamburger__line-in--01 {
      &::before, &::after {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
    .hamburger__line-in--02 {
      &::before, &::after {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
    .hamburger__line-in--03 {
      &::before, &::after {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
  }
}





#cursorBlob {
  display:  none;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    120deg,
    #FF1744,
    #E040FB,
    #2979FF,
    #00E5FF,
    #76FF03
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1000;
  transition: 0.15s linear;
  animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}
@keyframes blobRadius {
  0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
	20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
	40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
	60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
	80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
}
@keyframes blobBackground {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.g_menu__area {
  &.is-opened-body {
    + #cursorBlob {
      display: block;
    }
    ~ #magic-cursor {
      display: none;
    }
  }
}
