
// ----------------------------------------
//  news
// ----------------------------------------
.m_post__archive {}
.m_post__archive-inner {
  @include main_width;
  max-width: 980px;
  width: 100%;
  padding-bottom: 12rem;
  margin: 0 auto;
  @media #{$mq_s} {
    padding-bottom: 6rem;
  }
}
.p_post__items {
  &.-news {
    display: block;
    margin: 8rem 0 0 0;
    @media #{$mq_s} {
      margin-top: 4rem;
    }
    &:first-child {
      margin-top: 4rem;
      @media #{$mq_s} {
        margin-top: 0;
      }
    }
    &:last-of-type {
      padding-bottom: 4rem;
      @media #{$mq_s} {
        padding-bottom: 0;
      }
    }
    &:nth-child(odd) {
      padding-left: 6rem;
      @media #{$mq_s} {
        padding-left: 0;
      }
    }
    &:nth-child(even) {
      padding-right: 6rem;
      padding-left: 6rem;
      @media #{$mq_s} {
        padding-right: 0;
        padding-left: 0;
      }
    }
    .p_post {
      display: flex;
      align-items: center;
      position: relative;
      @media #{$mq_s} {
        display: block;
      }
      &:hover {
        .p_post__thumb {
          &:after {
            border-width: 8px;
          }
        }
      }
    }
    .p_post__thumb {
      order: 2;
      max-width: 420px;
      width: 62%;
      max-height: 304px;
      overflow: hidden;
      margin: 0 0 0 auto;
      position: relative;
      @media #{$mq_s} {
        max-width: 100%;
        width: 100%;
        max-height: 200px;
        height: 200px;
        &.-not {
          .not_thumb {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 240px;
            margin: auto;
          }
        }
      }
      &:after {
        content: '';
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 0 solid $c_neolab_l;
        box-sizing: border-box;
        transition: .3s cubic-bezier(.77,.2,.375,1);
      }
      img {
        object-fit: cover;
      }
      &.-not {
        border: 1px solid #eee;
        img {}
      }
    }
    .p_post__conts {
      order: 1;
      color: #111;
      text-align: left;
      width: 38%;
      margin: 0 auto 0 0;
      @media #{$mq_s} {
        width: auto;
        margin: 1rem 0 0 0;
      }
      &:before {
        content: '';
        width: 38%;
        height: 1px;
        background: #999;
        position: absolute;
        bottom: 0;
        left: 0;
        @media #{$mq_s} {
          display: none;
        }
      }
    }
    .p_post__updata {
      padding: 0 0 1.6rem 0;
      display: flex;
      align-items: center;
      font-family: 'AGaramondPro-BoldItalic', sans-serif;
      @media #{$mq_s} {
        padding-bottom: .6rem;
      }
      .time {
        font-size: 1.2rem;
        position: relative;
        padding: 0 4rem 0 0;
        @media #{$mq_s} {
          font-size: 1.3rem;
        }
        &:after {
          content: '';
          width: 1px;
          height: 10px;
          background: #aaa;
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -5px;
          right: 1.9rem;
        }
        .new {
          font-style: normal;
        }
      }
      .p_post__category {
        color: $c_neolab;
        font-weight: 500;
      }
    }
    .p_post__title {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.5;
    }
    .p_post__description {
      font-size: 1.1rem;
      color: #888;
      margin: 2rem 0 0 0;
      line-height: 2;
      @media #{$mq_s} {
        display: none;
      }
      p {}
    }
  }
}





// ----------------------------------------
//  news single
// ----------------------------------------
.s_single__main {
  @include main_width;
  max-width: 600px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: left;
  @media #{$mq_s} {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
  .s_single__title {
    margin: .8rem 0 0 0;
    h1 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.4;
      @media #{$mq_s} {
        font-size: 2.4rem;
        margin: 1rem 0 0 0;
      }
    }
  }
  .s_single__thumb {
    margin: 2rem 0 0 0;
  }
  .s_single__content {
    font-size: 1.4rem;
    line-height: 1.8;
    a {
      color: $c_colorLink;
      text-decoration: underline;
      display: inline-block;
      vertical-align: top;
      font-weight: 500;
    }
    iframe {
      max-width: 100%;
    }
    img {
      max-width: 100%;
      object-fit: cover;
      max-height: 400px;
      margin: 2rem 0 0 0;
      display: flex;
    }
    h1, h2, h3, h4, h5,
    p,
    div,
    pre {
      margin-top: 2rem;
    }
    h1, h2, h3, h4, h5 {
      margin-top: 2.4rem;
    }
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    p {
      strong {
        display: block !important;
      }
    }
    div {
      strong {
        display: block;
        margin-top: 1rem;
      }
    }
    ul {
      list-style-type: disc;
      list-style-position: inside;
      padding-left: 1rem;
      li {
        list-style-type: disc;
        list-style-position: inside;
        padding: .8rem 0 0 1rem;
        text-indent: -1.5rem;
      }
    }
    ul, ol {
      li {
        padding: .8rem 0 0 1rem;
        span {}
        strong {
          display: inline-block;
        }
      }
    }
    pre {
      white-space: normal;
      background: #eee;
      padding: 1.4rem;
      font-size: 1.2rem;
      display: block;
      strong {
        display: block;
      }
    }
  }
}



.s_post__head,
.s_post__food {
  display: flex;
  align-items: center;
  .post-categories {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    @media #{$mq_s} {
      flex-wrap: wrap;
    }
    li {
      margin-right: .4rem;
      @media #{$mq_s} {
        margin-right: 0;
      }
      a {
        display: block;
        padding: .4rem 1.6rem;
        background: #EEE;
        color: #888;
        font-size: 1.3rem;
        font-weight: 500;
        border-radius: 3px;
        @media #{$mq_s} {
          padding: .4rem 1rem;
          white-space: nowrap;
        }
      }
    }
  }
  .update {
    color: #888;
    font-size: 1.2rem;
    .g_update__new {
      background: none;
      color: #888;
    }
  }
}

.s_post__food {
  margin-top: 2.4rem;
  @media #{$mq_s} {
    display: block;
  }
  @media #{$mq_s} {
    margin-top: 1.4rem;
  }
  .post-categories {
    margin-right: 0;
  }
  .s_tag {
    display: flex;
    align-items: center;
    @media #{$mq_s} {
      flex-wrap: wrap;
      margin-top: .4rem;
    }
    li {
      margin-right: .4rem;
      @media #{$mq_s} {

      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .4rem 1rem;
        color: #888;
        font-size: 1.2rem;
        font-weight: 500;
        border: 1px solid #eee;
        border-radius: 3px;
        &:before {
          @include iconfont;
          content: '\e54e';
          color: #ccc;
          font-size: 16px;
          padding-right: 4px;
          line-height: 1;
        }
      }
    }
  }
}



// ----------------------------------------
//  詳細 prev next
// ----------------------------------------
.s_prev_next {
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 1.6rem auto 0 auto;
  @media #{$mq_s} {
    margin-top: 1.2rem;
  }
  a {
    &.prev,
    &.next {
      &:before {
        position: absolute;
        color: #333;
        font-size: 24px;
      }
    }
    &.prev {
      text-align: left;
      padding-left: 1.8rem;
      @media #{$mq_s} {
        padding-left: 0;
      }
      &:before {
        @include iconfont;
        content: '\e314';
        left: 2px;
        @media #{$mq_s} {
          display: none;
        }
      }
      p {
        margin-left: auto;
      }
    }
    &.next {
      text-align: right;
      padding-right: 1.8rem;
      @media #{$mq_s} {
        padding-right: 0;
      }
      &:before {
        @include iconfont;
        content: '\e315';
        right: 2px;
        @media #{$mq_s} {
          display: none;
        }
      }
      .thumbnail {
        order: 2;
      }
      p {
        order: 1;
        margin-right: auto;
      }
    }
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1.4rem .8rem;
    position: relative;
    transition: all .3s cubic-bezier(0,1,.64,1);
    @media #{$mq_s} {
      padding: 1rem 0;
    }
    &:hover {
      p {
        color: #333;
      }
    }
    &:first-child {
      &:after {
        content: '' !important;
        width: 1px;
        height: 50%;
        display: block;
        background: #eee;
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        @media #{$mq_s} {
          display: none;
        }
      }
    }
    .thumbnail {
      width: 70px;
      height: 70px;
      background: url(../img/common/thumbs-not_img-S.png) no-repeat center;
      background-size: cover;
      border: 1px solid #eee;
      @media #{$mq_ss} {
        width: 50px;
        height: 50px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    p {
      color: #999;
      font-weight: 500;
      font-size: 1.2rem;
      width: 70%;
      line-height: 1.45;
      padding: 0 .4rem;
      @media #{$mq_s} {
        font-size: 1.2rem;
        padding: 0 .4rem;
      }
    }
  }
}



// ----------------------------------------
//  詳細 SNS
// ----------------------------------------
.s_facebook_area {
  background: #EEE;
  display: flex;
  align-items: center;
  margin: 1.6rem 0 0 0;
  @media #{$mq_ss} {
    flex-direction: column;
    margin-top: 1.2rem;
  }
  .s_img {
    width: 50%;
    height: 100%;
    padding: 2px;
    @media #{$mq_ss} {
      display: none;
    }
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }
  .s_btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media #{$mq_ss} {
      width: 100%;
      padding: 1.4rem 0;
    }
    p {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      color: #888;
      line-height: 1.6;
    }
    iframe {
      margin: .6rem 0 0 0;
      height: 30px;
    }
  }
}

.social__btn {
  margin: 1.6rem 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social__btn-items {
  margin: .2rem .2rem 0.2rem;
  a {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 28px;
    border-radius: 3px;
    padding: 0 .7rem;
    white-space: nowrap;
    border: 1px solid #eee;
    &:hover {
      background: #eee;
    }
    i {
      font-size: 15px;
      margin: 0 6px 0 0;
    }
    span {
      font-size: 1.2rem;
      color: #888;
      font-weight: 500;
    }
  }
  &.-facebook {
    height: 30px;
  }
  &.-facebook_share {
    a {
      background: #4267B2;
      color: #fff;
      border: none;
      &:hover {
        background: #365899;
      }
      span {
        color: #fff;
      }
    }
  }
}
