

/* ---------------
	parts
-------------------------------------------------------*/
.wauto { width: auto !important; }
.w80 { max-width: 80% !important; width: 100%; margin: 0 auto; }
.w90 { max-width: 90% !important; width: 100%; margin: 0 auto; }

.w640 { max-width: 640px !important; width: 100%; margin: 0 auto; }
.w740 { max-width: 740px !important; width: 100%; margin: 0 auto; }
.w840 { max-width: 840px !important; width: 100%; margin: 0 auto; }
.w940 { max-width: 940px !important; width: 100%; margin: 0 auto; }
.w1040 { max-width: 1040px !important; width: 100%; margin: 0 auto; }
.w1200 { max-width: 1200px !important; width: 100%; margin: 0 auto; }
.w1400 { max-width: 1400px !important; width: 100%; margin: 0 auto; }
.wfull { width: 100% !important; }

.mt0 { margin-top: 0 !important; }
.mt02 { margin-top: .2em !important; }
.mt04 { margin-top: .4em !important; }
.mt06 { margin-top: .6em !important; }
.mt08 { margin-top: .8em !important; }
.mt1 { margin-top: 1em !important; }
.mt2 { margin-top: 2em !important; }
.mt3 { margin-top: 3em !important; }
.mt4 { margin-top: 4em !important; }
.mt5 { margin-top: 5em !important; }
.mt6 { margin-top: 6em !important; }
.mt7 { margin-top: 7em !important; }
.mt8 { margin-top: 8em !important; }
.mt9 { margin-top: 9em !important; }
.mt10 { margin-top: 10em !important; }

.mb1 { margin-bottom: 1em !important; }
.mb2 { margin-bottom: 2em !important; }
.mb3 { margin-bottom: 3em !important; }
.mb4 { margin-bottom: 4em !important; }
.mb5 { margin-bottom: 5em !important; }
.mb6 { margin-bottom: 6em !important; }
.mb7 { margin-bottom: 7em !important; }
.mb8 { margin-bottom: 8em !important; }
.mb9 { margin-bottom: 9em !important; }
.mb10 { margin-bottom: 10em !important; }

.mr1 { margin-right: 1em !important; }
.mr2 { margin-right: 2em !important; }
.mr3 { margin-right: 3em !important; }
.mr4 { margin-right: 4em !important; }
.mr5 { margin-right: 5em !important; }
.mr6 { margin-right: 6em !important; }
.mr7 { margin-right: 7em !important; }
.mr8 { margin-right: 8em !important; }
.mr9 { margin-right: 9em !important; }
.mr10 { margin-right: 10em !important; }

.ml1 { margin-left: 1em !important; }
.ml2 { margin-left: 2em !important; }
.ml3 { margin-left: 3em !important; }
.ml4 { margin-left: 4em !important; }
.ml5 { margin-left: 5em !important; }
.ml6 { margin-left: 6em !important; }
.ml7 { margin-left: 7em !important; }
.ml8 { margin-left: 8em !important; }
.ml9 { margin-left: 9em !important; }
.ml10 { margin-left: 10em !important; }

@media (max-width: 768px) {
	.mt3 { margin-top: 3em - .6em !important; }
    .mt4 { margin-top: 4em - 1em !important; }
    .mt5 { margin-top: 5em - 1.4em !important; }
	.mt6 { margin-top: 6em - 2.2em !important; }
	.mt7 { margin-top: 7em - 3em !important; }
	.mt8 { margin-top: 8em - 4em !important; }
	.mt9 { margin-top: 9em - 5em !important; }
	.mt10 { margin-top: 10em  - 6em !important; }

    .mb3 { margin-bottom: 3em - .6em !important; }
    .mb4 { margin-bottom: 4em - 1em !important; }
    .mb5 { margin-bottom: 5em - 1.4em !important; }
    .mb6 { margin-bottom: 6em - 2.2em !important; }
    .mb7 { margin-bottom: 7em - 3em !important; }
    .mb8 { margin-bottom: 8em - 4em !important; }
    .mb9 { margin-bottom: 9em - 5em !important; }
    .mb10 { margin-bottom: 10em  - 6em !important; }

    .mr3 { margin-right: 3em - .6em !important; }
    .mr4 { margin-right: 4em - 1em !important; }
    .mr5 { margin-right: 5em - 2em !important; }
    .mr6 { margin-right: 6em - 2.2em !important; }
    .mr7 { margin-right: 7em - 3em !important; }
    .mr8 { margin-right: 8em - 4em !important; }
    .mr9 { margin-right: 9em - 5em !important; }
    .mr10 { margin-right: 10em  - 6em !important; }

    .ml3 { margin-left: 3em - .6em !important; }
    .ml4 { margin-left: 4em - 1em !important; }
    .ml5 { margin-left: 5em - 2em !important; }
    .ml6 { margin-left: 6em - 2.2em !important; }
    .ml7 { margin-left: 7em - 3em !important; }
    .ml8 { margin-left: 8em - 4em !important; }
    .ml9 { margin-left: 9em - 5em !important; }
    .ml10 { margin-left: 10em  - 6em !important; }

    .sp_mt0 { margin-top: 0 !important; }
    .sp_pt0 { padding-top: 0 !important; }
    .sp_pb0 { padding-bottom: 0 !important; }
    .sp_plr0 { padding-left: 0 !important; padding-right: 0 !important; }
}


.pt0 { padding-top: 0 !important; }
.pt02 { padding-top: .2em !important; }
.pt04 { padding-top: .4em !important; }
.pt06 { padding-top: .6em !important; }
.pt08 { padding-top: .8em !important; }
.pt1 { padding-top: 1em !important; }
.pt2 { padding-top: 2em !important; }
.pt3 { padding-top: 3em !important; }
.pt4 { padding-top: 4em !important; }
.pt5 { padding-top: 5em !important; }
.pt6 { padding-top: 6em !important; }
.pt7 { padding-top: 7em !important; }
.pt8 { padding-top: 8em !important; }
.pt9 { padding-top: 9em !important; }
.pt10 { padding-top: 10em !important; }


.pb0 { padding-bottom: 0 !important; }
.pb1 { padding-bottom: 1em !important; }
.pb2 { padding-bottom: 2em !important; }
.pb3 { padding-bottom: 3em !important; }
.pb4 { padding-bottom: 4em !important; }
.pb5 { padding-bottom: 5em !important; }
.pb6 { padding-bottom: 6em !important; }
.pb7 { padding-bottom: 7em !important; }
.pb8 { padding-bottom: 8em !important; }
.pb9 { padding-bottom: 9em !important; }
.pb10 { padding-bottom: 10em !important; }


.f_left { float: left !important; }
.f_right { float: right !important; }

.display_none { display: none; }
.block { display: block; }
.inb_m { display: inline-block; vertical-align: middle; }
.inb_t { display: inline-block; vertical-align: top; }
.inb_b { display: inline-block; vertical-align: bottom; }

.not_link {
    pointer-events: none;
    cursor: default;
}

.over_hidden { overflow: hidden; }

.bor_t_none { border-top: none !important; }
.bor_b_none { border-bottom: none !important; }

@media (max-width: 768px) {
    .sp_none { display: none !important; }
    .over_x { overflow-x: hidden; }
    .over_y { overflow-y: hidden; }
}

.weight100 {font-weight:100;}
.weight200 {font-weight:200;}
.weight300 {font-weight:300;}
.weight400 {font-weight:400;}
.weight500 {font-weight:500;}
.weight700 {font-weight:700;}
.weight900 {font-weight:900;}


.tc { text-align: center !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }
.tj { text-align: justify !important; }

