


//ドキュメントのパス
$DOCUMENT_PATH: '../static/assets';

//画像のパス
$IMG_PATH: '#{$DOCUMENT_PATH}/img';
//背景 background: url(#{$IMG_PATH}/　← これで取得

//ベンダープレフィックス
$VENDOR_PREFIX: -webkit-, -moz-, -ms-, null;

//メディクリ
$small:  "(max-width:768px)";
$middle: "(max-width:980px)";
$large:  "(max-width:1200px)";
$largeMax: "(min-width:1201px)";


//カラーコード
$blue: #2f84dc;
$orange: #ec6320;


$facebook:#3B5999;
$hatena:#2C6EBD;
$twitter:#55ACEE;
$google:#CC3732;
$poket:#DC3D50;
$line:#00C300;


@mixin iconset {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
//@include iconset;

