

//ドキュメントのパス
$DOCUMENT_PATH: './assets';


//画像のパス
$IMG_PATH: '#{$DOCUMENT_PATH}/img/';
//背景 background: url(#{$IMG_PATH}/ ← これで取得


//ベンダープレフィックス
$VENDOR_PREFIX: -webkit-, -moz-, -ms-, null;


//メディクリ
$ssmall:  "screen and (max-width:480px)";
$small:  "screen and (max-width:768px)";
$middle: "screen and (max-width:980px)";
$large:  "screen and (max-width:1200px)";
$largeMax: "screen and (min-width:1201px)";


@media #{largeMax} {
    //1201px以上
}
@media #{$large} {
    //1200px以下
}
@media #{$middle} {
    //980px以下
}
@media #{$small} {
    //768px以下
}
@media #{$ssmall} {
    //480px以下
}


// カラーコード
$colorDefault: #484848;

$colorMain: #ff912a;

$colorLink: #039be5;
