

// ----------------------------------------
// recruit bnr
// ----------------------------------------
.g_recruit__bnr {
  margin: 0 auto;
  @media #{$small} {
    margin-top: 4rem;
  }
}
.g_recruit__bnr-inner {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 106.5%;
    height: 1px;
    background: #E0E0E0;
    position: absolute;
    top: 0;
    left: -40px;
    @media #{$small} {
      width: 100%;
      left: 0;
    }
  }
  a {
    padding: 5rem 0;
    margin: 0 -40px;
    display: block;
    text-align: center;
    position: relative;
    transition: all .3s cubic-bezier(0,1,.64,1);
    @media screen and (max-width: 1130px) and (min-width: 770px) {
      padding: 4rem 0;
    }
    @media #{$small} {
      padding: 2.4rem 0;
      margin: 0 auto;
    }
    &:before {
      transition: all .3s cubic-bezier(0,1,.64,1);
      content: '';
      background: rgba($colorDefault,.4);
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &:hover {
      &:before {
        height: 100%;
      }
      * {
        color: #fff;
      }
    }
  }
  .g_recruit__title {
    position: relative;
    z-index: 1;
    span {
      display: block;
    }
    .text_jp {
      font-weight: 600;
      font-size: .8rem;
      line-height: 2.2;
    }
    .text_en {
      font-weight: 600;
      font-size: 2.6rem;
      line-height: 1;
      @media #{$small} {
        font-size: 1.8rem;
      }
    }
  }
  .g_recruit___description {
    position: relative;
    z-index: 1;
    margin: 1rem 0 0 0;
    font-size: .8rem;
    line-height: 2.2;
    @media #{$small} {
      font-size: .7rem;
      line-height: 2;
    }
  }
  .g_recruit__icon-arrow {
    position: relative;
    z-index: 1;
    margin: 16px 0 0 0;
    font-size: 24px;
    color: $colorDefault;
  }
}


// ----------------------------------------
// footer
// ----------------------------------------
.g_footer {
  padding: 0 4.6% 0 18%;
  @media #{$small} {
    @include sp_padding;
  }
}
.g_footer__inner {
  padding: 0 2%;
  @media #{$small} {
    padding: 0;
  }
}
.g_footer__primary {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  @media #{$small} {
    padding: 2.6rem 0;
  }
  @media #{$ssmall} {
    flex-direction: column;
  }
  .g_footer__nav-items {
    text-align: left;
    max-width: 300px;
    width: 30%;
    @media #{$small} {
      max-width: 30%;
      margin-top: 1.4rem;
    }
    @media #{$ssmall} {
      width: 100%;
      max-width: 100%;
    }
  }
  .list {
    margin: .8rem 0 0 0;
    @media #{$small} {
      margin-top: 0;
    }
    li {
      padding: .4rem 0;
      @media #{$small} {
        padding: 0;
      }
      a {
        display: block;
        font-weight: 500;
        @media #{$small} {
          padding: .4rem 0;
        }
        &:hover {
          color: rgba($colorDefault,.6);
        }
        span {}
      }
    }
  }
}
.g_footer__secondary {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 1.6rem 2rem;
  @media #{$small} {
    border-top: 1px solid #eee;
    padding: 2.4rem 1em 1.4rem 1em;
    flex-direction: column;
  }
  .g_copy {
    display: flex;
    align-items: center;
    @media #{$small} {
      order: 3;
    }
    i {
      font-size: 14px;
      margin: 0 4px 0 0;
    }
    span {}
  }
  .g_footer__sns {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    @media #{$small} {
      order: 2;
      margin: 0 auto;
      padding: 1.4rem 0;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        i {
          font-size: 16px;
          &:before {
            color: $colorDefault;
          }
        }
      }
    }
  }
}
