.g_update__new {
  background: $colorMain;
  font-weight: 600;
  color: #fff;
  font-size: .7rem;
  display: inline-block;
  vertical-align: middle;
  padding: .2rem .8rem;
}

.-thumbs_load {
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: auto;
    font-size: 10px;
    border-top: 4px solid rgba($colorMain, 0.2);
    border-right: 4px solid rgba($colorMain, 0.2);
    border-bottom: 4px solid rgba($colorMain, 0.2);
    border-left: 4px solid $colorMain;
    transform: translateZ(0);
    animation: thumbsLoad .4s infinite linear;
  }
}

@keyframes thumbsLoad {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// ----------------------------------------
//  記事
// ----------------------------------------
.p_post__items {
  border-top: 1px solid #eee;
  margin-top: -1px;
  width: 100%;
  &:last-child {
    border-bottom: 1px solid #eee;
  }
  @media #{$ssmall} {
    border: none;
    margin: 0 auto;
  }
}
.p_post__items-inner {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  position: relative;
  transition: all .3s cubic-bezier(0,1,.64,1);
  @media #{$ssmall} {
    display: block;
    padding: 1.2rem 0;
  }
  &:hover {
    .p_post__text {
      color: $colorLink;
    }
  }
  .p_post__thumb {
    width: 25%;
    border: 1px solid #eee;
    background: #fff;
    position: relative;
    height: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    @media #{$ssmall} {
      height: 200px;
    }
    @media #{$ssmall} {
      width: 100%;
    }
    &.-thumbs_load {}
    .not-thumbs {}
    .g_update__new {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
    }
    img {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 120px;
      @media #{$small} {
        height: 100%;
        &.not-thumbs {
          height: auto;
        }
      }
      @media #{$ssmall} {
        max-height: 220px;
        &.not-thumbs {
          margin: 0 auto;
        }
      }
    }
  }
  .p_post__text {
    width: 75%;
    text-align: left;
    padding: 0 0 0 1.7rem;
    position: relative;
    @media #{$large} {
      padding-left: 1rem !important;
    }
    @media screen and (max-width: 600px) {
      width: 74.5%;
      margin-left: auto;
    }
    @media #{$ssmall} {
      width: 100%;
      padding: 0 !important;
    }
    .title {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.35;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      @media #{$small} {
        font-size: 1.15rem;
      }
      @media #{$ssmall} {
        margin: .6rem 0 0 0;
        font-size: 1rem;
        line-height: 1.5;
        overflow: visible;
        -webkit-line-clamp: inherit;
      }
    }
    .info {
      display: flex;
      text-align: left;
      align-items: center;
      font-weight: 500;
      color: #999999;
      margin: .6rem 0 0 0;
      white-space: nowrap;;
      .category {
        font-weight: 600;
        padding: 0 2rem 0 0;
        position: relative;
        &:before {
          content: '';
          width: 1px;
          height: 10px;
          background: #eee;
          position: absolute;
          right: .9rem;
          top: 50%;
          margin-top: -5px;
        }
      }
      .update {
        font-weight: 600;
      }
    }
  }
}

.barba-container {

  @media screen and (min-width: 770px) and (max-width: 1130px) {
    .p_post__items {
      &:nth-child(2) {
        margin-top: 1rem !important;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 100% !important;
        .p_post__items-inner {
          padding-top: .5rem !important;
          padding-bottom: .5rem !important;
        }
      }
    }
  }

  &.blog:not(.paged) {

    .g_main__inner.-home {
      display: flex;
      flex-wrap: wrap;

      // 1件目
      @media screen and (min-width:769px) {
        .p_post__items {
          &:first-child {
            .p_post__items-inner {
              display: block;
              transition: all .3s cubic-bezier(0,1,.64,1);
              padding-bottom: 0;
              &:before {
                display: none;
              }
              &:hover {
                opacity: .8;
              }
              .p_post__thumb {
                width: 100%;
                border: none;
                height: auto;
                .g_update__new {
                  padding: .6rem 2rem;
                  font-size: 1rem;
                }
                img {
                  position: relative;
                  object-fit: cover;
                  width: 100%;
                  min-height: 400px;
                  max-height: 460px;
                }
              }
              .p_post__text {
                background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
                color: #fff;
                text-align: left;
                padding: 4rem 2rem 1.6rem 2rem;
                position: absolute;
                width: 100%;
                bottom: 0;
                display: flex;
                flex-direction: column;
                .title {
                  font-weight: 700;
                  font-size: 1.8rem;
                  line-height: 1.4;
                  @media screen and (max-width: 1130px) and (min-width: 770px) {
                    font-size: 1.4rem;
                  }
                }
                .info {
                  color: rgba(#fff, .8);
                  padding: 0;
                  font-size: .9rem;
                  .category {
                    &:before {
                      background: rgba(#fff, .4);
                    }
                  }
                  .update {
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }

      // 2 〜 5件目
      @media screen and (min-width:769px) {
        .p_post__items {
          &:nth-child(6) {
            border-top: 1px solid #eee;
          }
          &:nth-child(2),
          &:nth-child(4) {
            margin: 0 auto 0 0;
          }
          &:nth-child(3),
          &:nth-child(5) {
            margin: 0 0 0 auto;
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: 48%;
            .p_post__items-inner {
              display: flex;
              transition: all .3s cubic-bezier(0,1,.64,1);
              padding-top: 1.4rem;
              padding-bottom: 1.4rem;
              .p_post__thumb {
                min-width: 80px;
                width: 80px;
                min-height: 80px;
                height: 80px;
                overflow: hidden;
                .g_update__new {
                  font-size: .7rem;
                  padding: .2rem .8rem;
                }
                img {
                  min-height: 80px;
                  max-height: 80px;
                  &.not-thumbs {
                    min-height: auto;
                    height: auto;
                    transform: scale(1.2);
                  }
                }
              }
              .p_post__text {
                text-align: left;
                width: 86%;
                display: flex;
                flex-direction: column;
                padding-left: 1.4rem;
                .title {
                  font-weight: 700;
                  font-size: .9rem;
                  line-height: 1.45;
                }
                .info {
                  padding: 0;
                  margin-top: .4rem;
                  font-size: .7rem;
                  .category {
                    &:before {
                    }
                  }
                  .update {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.barba-container {
  &.paged {
    .p_post__items {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 100%;
      }
    }
  }
}
