
.single_area {
  &.-interview {
    .single_inner {
    }
    .single_visual__info {
      padding: 3rem 1.4rem 6rem 1.4rem;
      @media #{$mq_s} {
        padding: 3rem 1.4rem;
      }
      .single_visual__joining-year {
        font-size: 1.4rem;
        font-weight: 500;
        @media #{$mq_s} {
          font-size: 1.3rem;
        }
      }
      .single_visual__name {
        font-size: 4rem;
        font-weight: 500;
        position: relative;
        padding: 1rem 0 1.8rem 0;
        @media #{$mq_s} {
          font-size: 2.4rem;
          padding: 1rem 0;
        }
        &:after {
          content: '';
          width: 60px;
          height: 1px;
          background: #333;
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          margin: 0 auto;
        }
      }
      .single_visual__position {
        margin: 2rem 0 0 0;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .single_visual__image {
      position: relative;
      max-width: 980px;
      width: 100%;
      margin: 0 auto;
      img {
        height: auto;
        object-fit: cover;
      }
      .interview_cat__label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 50rem;
        background: #333333;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        color: #fff;
        position: absolute;
        top: -40px;
        right: -40px;
        @media #{$mq_s} {
          top: auto;
          bottom: 0;
          right: 0;
          border-radius: 0;
          height: auto;
          padding: 1rem;
        }
      }
    }
  }
}

.the_content__area {
  &.-interview {
    max-width: 640px;
    width: 100%;
    padding: 0 1.4rem;
    margin: 0 auto;
    text-align: left;
  }
}
.the_content {
	text-align: left;
	font-size: 1.45rem;
	margin: 2rem auto 0 auto;
	img {
		height: auto !important;
		display: block;
		margin: 3rem 0 0 0;
    width:100%;
    object-fit: cover;
	}
	h1 {
		margin: 1.6rem 0 1rem 0;
	}
	h2 {
		font-size: 3.2rem;
		font-weight: 700;
		line-height: 1.35;
		color: #444;
		border-radius: 3px;
		margin: 3rem 0 0 0;
    @media #{$mq_s} {
      font-size: 2.4rem;
    }
    span {
      font-weight: 700 !important;
    }
	}
	h3 {
    font-size: 2.6rem;
		font-weight: 700;
		line-height: 1.35;
		color: #444;
		border-radius: 3px;
		margin: 3rem 0 0 0;
    span {
      font-weight: 700 !important;
    }
	}
	h4 {
    font-size: 2rem;
		font-weight: 700;
		line-height: 1.35;
		color: #444;
		border-radius: 3px;
		margin: 3rem 0 0 0;
    span {
      font-weight: 700 !important;
    }
	}
	ul {
		margin: 2rem 0 0 0;
		li {
			margin: .6rem 0;
			position: relative;
		}
	}
	p {
		margin: 1.6rem 0 0 0;
		line-height: 2;
	}
	blockquote {
		background: #f9f9f9;
		margin: 2rem 0;
		padding: 3rem;
		position: relative;
		line-height: 1.8;
		&:before, &:after {
			color: #ccc;
			font-size: 6rem;
			line-height: 1;
			position: absolute;
			height: 46px;
		}
		&:before {
			content: '“';
			top: 0;
			left: 20px;
		}
		&:after {
			content: '”';
			bottom: 6px;
			right: 20px;
		}
	}
	a {
		color: #008FDE;
		&:hover {
			opacity: .6;
		}
	}
}




// ----------------------------------------
//  single_recommend
// ----------------------------------------
.single_recommend__area {
  margin: 4rem 0 0 0;
}
.single_recommend__area-inner {
  max-width: 640px;
  width: 100%;
  padding: 0 1.4rem;
  margin: 0 auto;
  text-align: left;
}
.single_recommend__area-title  {
  font-size: 2.4rem;
  font-weight: 700;
}
.single_recommend__area-list {
  margin: 3rem 0 0 0;
}
.single_recommend__area-items {
  margin: 1.4rem 0 0 0;
  a {
    color: $c_default;
    transition: all .3s cubic-bezier(0,1,.64,1);
    display: flex;
    align-items: center;
    padding: 1.4rem;
    border: 1px solid #eee;
    border-radius: 2px;
    &:hover {
      background: #f9f9f9;
    }
    .thumbs {
      width: 120px;
      height: 120px;
      border-radius: 2px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .description {
      padding: 0 0 0 2rem;
      .joining {
        font-size: 1.2rem;
        font-weight: 500;
      }
      .title {
        font-size: 2rem;
        font-weight: 500;
      }
      .position {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
