
$yellow: #feeb08;
$blue_D: #0071bd;
$blue_: #34afe6;
$blue_L: #52c2e8;

::selection {
  background: rgba(254,235,8,.5);
}
::-moz-selection {
  background: rgba(254,235,8,.5);
}

.int_2019 {
	background: #f5f5f5;
}



// ----------------------------------------
//  visual
// ----------------------------------------
.top_visual_wrap {
	width: 100%;
	background: #fbfbfb;
}
.top_visual {
	overflow: hidden;
	height: 520px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: left;
	.bg_landscape {
		position: absolute;
		background: url(../img/img/s1_base.gif) no-repeat right 105%;
		width: 100%;
		height: 100%;
		background-size: 1024px auto;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			height: 18px;
			background: #019444;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			height: 8px;
			background: #96ca3a;
		}
	}
	.main_block {
		max-width: 1400px;
		width: 100%;
		margin: 4em auto 0 auto;
		position: relative;
	}
	.ttl1 {
		padding: 6em 0 0 0;
	}
	.txt1 {
		padding: 5em 0 0 0;
	}
	.top_visual_description {
		position: relative;
		padding: 0 0 0 4em;
		z-index: 10;
		.ttl1 {
			display: inline-block;
			img {}
		}
		.txt1 {
			display: inline-block;
			img {}
		}
	}
	@media (max-width: 1400px) {
		.top_visual_description {
			padding: 0 0 0 10em;
		}
	}
	.logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		display: inline-block;
	}
	.shimekiri_label {
		background: $blue_D;
		width: 160px;
		height: 160px;
		border-radius: 50em;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		text-align: center;
		img {
			position: relative;
			top: 50px;
			right: 0;
			left: 0;
			width: 100px;
			margin: 0 auto;
			display: block;
		}
		.data {
			color: #fff;
			font-size: 2em;
			font-weight: bold;
			position: absolute;
			top: 74px;
			right: 0;
			left: 10px;
			text-align: center;
			i {
				display: inline-block;
				vertical-align: baseline;
				font-size: 70%;
				font-style: normal;
				margin: 0 4px;
			}
		}
	}
}
.modal_btn_wrap {
	max-width: 1400px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.modal_btn {
	position: absolute;
	top: -8em;
	right: 0;
	svg:hover{
		cursor: pointer;
		animation: skew 0.12s linear 3;
		opacity: 0.7;
	}
}
@media #{$small} {
	.top_visual_wrap {}
	.top_visual {
		position: relative;
		height: 400px;
		.bg_cloud_light_blue {
			background: url(../img/img/v2-top-visual_cloud_2.svg) no-repeat left -50px;
		}
		.bg_cloud_blue {
			background: url(../img/img/v2-top-visual_cloud_1.svg) no-repeat left 0;
		}
		.bg_airplane {
			background-repeat: no-repeat;
			background-position: 98% center;
			background-size: 600px;
			animation: airplaneSP 1s ease-in-out 1;
		}
		.bg_Landscape {
			background: url(../img/img/v2-top-visual_bottom_bg.svg) no-repeat 40% 105%;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		.top_visual_description {
			padding: 0;
		}
		.main_block {
			padding: 0 1.6em;
		}
		.ttl1 {
			padding: 4.4em 0 0 0;
		}
		.txt1 {
			padding: 2em 0 0 0;
			margin: 0 7em 0 0;
		}
		.logo {
			left: -8px;
    		width: 240px;
		}
		.shimekiri_label {
			transform: scale(0.5,0.5);
			top: -54%;
    		right: -8%;
		}
	}
	.modal_btn_wrap {
		position: relative;
	}
	.modal_btn {
		transform: scale(0.8,0.8);
		left: 0;
    	top: -17em;
	}
}


@keyframes airplaneSP {
	0%  { background-position: 150% center; }
	100% { background-position: 98% center; }
}
@keyframes airplanePC {
	0%  { background-position: -100% 56%; }
	100% { background-position: 0 56%; }
}
@keyframes skew {
	0%  { transform: skew(0deg,0deg); }
	10% { transform: skew(2deg, 2deg); }
	75% { transform: skew(-2deg, -2deg); }
	100% { transform: skew(0deg,0deg); }
}


// ----------------------------------------
//  S0
// ----------------------------------------
.s0_block {
	background: #f8f8f8;
	padding: 8em 0;
	.inner {
		max-width: 1180px;
		width: 100%;
		margin: 6em auto 0 auto;
		text-align: left;
		position: relative;
	}

	.text_wrap {
		position: relative;
		z-index: 10;
		max-width: 620px;
		margin: 0 auto;
		.text_1,
		.text_2,
		.text_3,
		.text_4 {
			zoom: 115%;
		}
		.text_1 {
			img {}
		}
		.text_2 {
			img {}
			padding: 5em 0 0 11em;
		}
		.text_3 {
			margin: 4em 0 0 0;
			img {}
		}
		.text_4 {
			margin: 6em 0 0 0;
			text-align: center;
			img {}
		}
		.btn {
			margin: 4em 0 0 0;
			text-align: center;
			a {
				display: inline-block;
				vertical-align: middle;
				background: $yellow;
				padding: 1em 4em;
				border-radius: 50em;
				line-height: 1;
				img {}
			}
		}
	}
}
@media #{$small} {
	.s0_block {
		padding: 4em 0;
		.inner {
			margin: 2.6em auto 0 auto;
			padding: 0 1.6em;
			overflow-x: hidden;
		}
		.square_1 {
			transform: scale(0.5,0.5);
		    top: -30%;
		    left: -40%;
		}
		.square_2 {
			transform: scale(0.8,0.8);
			top: 180px;
    		left: 70%;
		}
		.text_wrap {
			position: relative;
			z-index: 10;
			max-width: 620px;
			margin: 0 auto;
			.text_1 {
				padding: 0 0 0 0;
				img {}
			}
			.btn {
				margin: 1em 0 0 0;
				a {
					display: block;
					img {}
				}
			}
		}
	}
}












// ----------------------------------------
//  共通部分
// ----------------------------------------
.block_section {
	padding: 8em 0;
}
.c_title_block {
	.c_icon {
		width: 60px;
		height: 60px;
		margin: 0 auto;
	}
	.title {
		text-align: center;
		margin: 2em auto 0 auto;
		.item {
			display: block;
			position: relative;
			margin: 0 auto;
			overflow: hidden;
			img {
			}
			span {
				display: inline-block;
			}
			.ttl_before {
			}
			.ttl_after {
				position: absolute;
				width: 100%;
				top: 1px;
				left: -100%;
			}
		}
	}
}
@media #{$small} {
	.block_section {
		padding: 4em 0;
	}
	.c_title_block {
		.c_icon {
			width: 40px;
			height: 40px;
			margin: 0 auto;
		}
		.title {
			padding: 0 1.6em;
			margin: 1em auto 0 auto;
			.item {
				img {
				}
				span {
				}
				.ttl_before {
				}
			}
		}
	}
}



// ----------------------------------------
//  LAB TRIP選考の流れ
// ----------------------------------------
.s1-labtrip_flow {
	margin: 6em auto 0 auto;
	>ul {
		li {
			display: inline-block;
			vertical-align: top;
			max-width: 230px;
			margin: 0 6em;
			position: relative;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			.img {
				border-radius: 50em;
				overflow: hidden;
				border: 1px solid #eee;
				img {}
			}
			.label_trip {
				display: block;
				background: $blue_D;
				width: 86px;
				height: 86px;
				border-radius: 50em;
				text-align: center;
				position: absolute;
				top: -1em;
				right: -2em;
				img {
					position: relative;
						top: 32px;
				}
			}
			p {
				margin: 2em auto 0 auto;
				img {}
			}
		}
	}
	.btn {
		margin: 4em auto 0 auto;
		text-align: center;
		a {
			display: inline-block;
			vertical-align: middle;
			background: $yellow;
			padding: 2.4em 8em;
			border-radius: 50em;
			position: relative;
			&:hover {
				opacity: .6;
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50em;
				top: 0;
				left: 0;
				animation: btnAnime 3s infinite;
				box-shadow: 0 0 0 0 $yellow;
				animation-delay: 1.5s
			}
			span {
				img {
				}
			}
		}
	}
}
@media #{$small} {
	.s1-labtrip_flow {
		margin: 3em auto 0 auto;
		>ul {
			padding: 0 1.6em;
			li {
				display: block;
				overflow: hidden;
				max-width: none;
				margin: 1em 0 0 0;
				padding: 1em 1em 2em 1em;
				border-radius: 3px;
				border: 1px solid #eee;
				box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }
				.img {
					border-radius: 0;
					border: 0;
					padding: 1em 6em;
					img {
					}
				}
				.label_trip {
					@include transform(scale(0.7,0.7));
					top: 0;
					right: 0;
				}
				p {
					margin: 0 auto;
					img {}
				}
			}
		}
		.btn {
			margin: 2em auto 0 auto;
			padding: 0 1.6em;
			a {
				padding: 1.4em 0;
			display: block;
				span {
					img {
						@include transform(scale(0.6,0.6));
					}
				}
			}
		}
	}
}



// ----------------------------------------
//  ネオラボって興味ある
// ----------------------------------------

.s2_block {
	background: #f8f8f8;
	padding: 8em 0;
}
.business_blocks {
	max-width: 1200px;
	width: 100%;
	&.s3-all {
		margin: 6em auto 0 auto;
		background: #00bcd4;
		overflow: hidden;
		position: relative;
		border-radius: 20px;
		.inner {
			padding: 5em 0;
			white-space: nowrap;
		}
		.illust {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 1em;
			width: 500px;
			height: 320px;
			margin: 0 3em 0 0;
			img {}
		}
		.text_block {
			text-align: left;
			color: #fff;
			max-width: 500px;
			display: inline-block;
			vertical-align: middle;
			>h2 {}
			>p {
				margin: 2.6em 0 0 0;
				font-size: 1.2em;
				font-weight: bold;
			}
		}
	}
}
@media #{$small} {
	.s2_block {
		padding: 0;
    	background: #fff;
	}
	.business_blocks {
		&.s3-all {
			margin: 2em auto 0 auto;
			border-radius: 0;
			.inner {
				padding: 4em 1.6em;
				white-space: normal;
			}
			.illust {
				display: block;
				top: 0;
				width: auto;
				height: auto;
				margin: 0 auto;
				padding: 0 2em;
				img {}
			}
			.text_block {
				max-width: none;
    			display: block;
				>h2 {
					margin: 2em 0 0 0;
					padding: 0 6em 0 0;
				}
				>p {
					margin: 1.2em 0 0 0;
				}
			}
		}
	}
}



.business_blocks {
	&.s3-vr {
		background: #34afe6 url(../img/img/v2-top-business_block2_img_1.svg) no-repeat left bottom;
		margin: 5em auto 0 auto;
		position: relative;
		border-radius: 20px;
		background-size: 550px;
		.inner {
			white-space: nowrap;
			position: relative;
			margin: 0 auto;
			padding: 5em 0;
		}
		.illust {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 1em;
			width: 500px;
			height: 280px;
			margin: 0 3em 0 0;
		}
		.bg_vr1 {
			width: 130px;
			left: -30px;
			position: absolute;
			bottom: -90px;
			img {}
		}
		.bg_drone1 {
			position: absolute;
			top: 0;
			right: -110%;
			width: 200px;
			img {}
		}
		.text_block {
			text-align: left;
			color: #fff;
			max-width: 500px;
			display: inline-block;
			vertical-align: middle;
			> h2 {
			}
			> p {
				margin: 3em 0 0 0;
			}
		}
	}
}
@media #{$small} {
	.business_blocks {
		&.s3-vr {
			background: #34afe6 url(../img/img/v2-top-business_block2_img_1.svg) no-repeat center top;
		    margin: 0 auto 0 auto;
		    border-radius: 0;
		    background-size: 380px;
			.inner {
				white-space: normal;
				padding: 5em 1.6em;
			}
			.illust {
				display: block;
				top: 0;
				width: auto;
				height: auto;
				margin: 14em 0 0 0;
			}
			.bg_vr1 {
				width: 80px;
			    left: 0;
			    bottom: 0;
			}
			.bg_drone1 {
				position: absolute;
				top: -200px;
				right: 0;
				width: 100px;
			}
			.text_block {
				max-width: none;
				display: block;
				> h2 {
					padding: 1em 7em 0 0;
				}
				> p {
					margin: 1.6em 0 0 0;
				}
			}
		}
	}
}

.business_blocks {
	&.s3-global {
		background: #1ec7f4 url(../img/img/v2-top-business_block3_img_1.svg) no-repeat left bottom;
		background-size: 680px;
		margin: 5em auto 0 auto;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		.inner {
			white-space: nowrap;
			position: relative;
			margin: 0 auto;
			padding: 5em 0;
		}
		.illust {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 1em;
			width: 500px;
			height: 280px;
			margin: 0 3em 0 0;
		}
		.text_block {
			text-align: left;
			color: #fff;
			max-width: 500px;
			display: inline-block;
			vertical-align: middle;
			> h2 {
			}
			> p {
				margin: 3em 0 0 0;
			}
		}
	}
}
@media #{$small} {
	.business_blocks {
		&.s3-global {
			background: #1ec7f4 url(../img/img/v2-top-business_block3_img_1.svg) no-repeat 56% -170%;
			background-size: 500px;
			margin: 0 auto;
			border-radius: 0;
			.inner {
				white-space: normal;
				padding: 4em 1.6em;
			}
			.illust {
				display: block;
				position: relative;
				top: 0;
				width: auto;
				height: 150px;
				margin: 0;
			}
			.text_block {
				text-align: left;
				color: #fff;
				max-width: none;
				display: block;
				> h2 {
					padding: 1em 10em 0 0;
				}
				> p {
					margin: 1.6em 0 0 0;
				}
			}
		}
	}
}




// ----------------------------------------
//  s3
// ----------------------------------------
.s3_block {
	padding: 8em 0 0 0;
	.form_btn {
		    text-align: right;
		    display: inline-block;
		    vertical-align: top;
		    position: absolute;
		    top: 3em;
		    right: 3em;
		a {
			display: inline-block;
			vertical-align: middle;
			border: 2px solid $blue_D;
			padding: .6em 2em;
			line-height: 1;
			border-radius: 50em;
			.form_btn_color {
				fill: #0071bd;
			}
			&:hover {
				background: $blue_D;
				.form_btn_color {
					fill: #ffffff;
				}
			}
			span {}
		}
	}
	.form_rule {
		max-width: 820px;
		width: 100%;
		margin: 4em auto 0 auto;
		text-align: left;
		border: 1px solid #eee;
		padding: 6em 5em;
		position: relative;
		dl {
			margin-top: 1em;
			font-size: 1em;
			&:first-child { margin-top: 0; }
			dt {
				font-weight: bold;
				font-size: 1.2em;
			}
			dd {
				line-height: 1.8;
				padding: 0 0 0 1em;
				text-indent: -1em;
			}
		}
	}
	.entry_pinkup {
		max-width: 820px;
	    width: 100%;
	    margin: 4em auto 0 auto;
		background-color: #ffffff;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2334afe6' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
		padding: 4em 4em;
		color: #0071bd;
		text-align: left;
		font-weight: bold;
		>h2 {
			font-size: 1.6em;
			text-shadow: -1px 1px 0 rgba(255,255,255,1);
		}
		>ul {
			margin: 1em 0 0 0;
			li {
				padding: .2em 0;
				font-size: 1.1em;
				text-shadow: -1px 1px 0 rgba(255,255,255,1);
			}
		}
	}
}
@media #{$small} {
	.s3_block {
		padding: 4em 0 0 0;
		.c_title_block {
			.title {
				.ttl_before {
					img {
						width: 110px;
					}
				}
			}
		}
		.form_btn {
			text-align: center;
			position: relative;
			left: 0;
			right: 0;
			top: 0;
			margin: 2em 0 0 0;
		}
		.form_rule {
			padding: 0 1.6em;
				border: none;
				margin-top: 3em;
			dl {

				dt {
					font-size: 1em;
				}
				dd {
					font-size: .9em;
				}
			}
		}
		.entry_pinkup {
			max-width: 820px;
		    width: 100%;
		    margin: 4em auto 0 auto;
			padding: 3em 1.6em;
			>h2 {
				font-size: 1.3em;
			}
			>ul {
				margin: 1em 0 0 0;
				li {
					padding: .3em 0 .3em 1em;
					font-size: .9em;
					text-indent: -1em;
					line-height: 1.5;
				}
			}
		}
	}
}




// ----------------------------------------
//  footer
// ----------------------------------------
.g_footer {
	margin-top: 2em;
	.inner_first {
		background: #eee;
		padding: 3em 0;
		.items {
			display: inline-block;
			vertical-align: middle;
			margin: 0 2em;
			a {
				display: block;
			}
			&.poricy img {
				width: 248px;
			}
			&.poricy_text img {
				width: 289px;
			}
		}
	}
	.inner_second {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		.items {
			a {}
			&.logo {
				float: left;
				a {
					display: block;
					width: 80px;
					padding: 2em 0;
					img {}
				}
			}
			&.scroll {
				float: right;
				a {
					position: relative;
					top: 6px;
					width: 120px;
					display: block;
					padding: 2em 0;
					img {}
				}
			}
		}
	}
}
@media #{$small} {
	.g_footer {
		margin-top: 2em;
		.inner_first {
			background: #eee;
			padding: 3em 1.6em;
			.items {
				display: block;
				margin: 0;
				a {
					display: block;
				}
				&.poricy {
					display: inline-block;
				}
				&.poricy img {
					width: 180px;
				}
				&.poricy_text {
					margin-top: 2em;
				}
				&.poricy_text img {
					width: 289px;
				}
			}
		}
		.inner_second {
			padding: 0 1.6em;
		}
	}
}




.share {
	max-width: 1024px;
	width: 100%;
	margin: 6em auto 0 auto;
	text-align: right;
	ul {
		li {
			display: inline-block;
			margin: .4em;
			a {
				display: block;
				padding: .4em 2em;
				color : #fff;
				font-size : .9em;
				font-weight: bold;
				text-decoration : none;
				text-align : center;
				border-radius: 50em;
				@include transition(all, .3s, cubic-bezier(0,1,.64,1));
				&:hover {
					opacity: .6;
				}
			}
			&.tweet a{background-color : #55acee;}
			&.facebook a{background-color : #315096;}
			&.googleplus a{background-color : #dd4b39;}
			&.hatena a{background-color : #008fde;}
			&.line a{background-color: #00c300;}
			&.pocket a{background-color :#f03e51;}
			&.rss a{background-color: #ff8c00;}
			&.feedly a{background-color: #6cc655;}
		}
	}
}
@media #{$small} {
	.share {
		margin: 0 auto 0 auto;
		text-align: center;
		ul {
			li {
				display: inline-block;
				margin: .4em .2em;
			}
		}
	}
}


.ceo_modal2 {
	max-width: 800px !important;
	padding: 3.2em 5em 7em 5em !important;
	text-align: justify;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 8px;
		background: #feeb08;
	}
	.remodal-close {
		top: 2em !important;
		right: 2em !important;
		left: inherit;
	}
	.profile {
		text-align: left;
		.head {
			padding: 0 0 2.6em 0;
			.thumbnail {
				display: inline-block;
				vertical-align: middle;
				margin: 0 1.2em 0 0;
			}
			.head_block {
				display: inline-block;
				vertical-align: middle;
				h1 {
					font-size: 1.2em;
					font-weight: bold;
					line-height: 1.4;
				}
				p {
					font-size: 1.2em;
					font-weight: bold;
				}
			}
		}
		.data_block {
			clear: both;
			border-top: 1px solid #eee;
			padding: 2.8em 0;
			.title {
				writing-mode: vertical-rl;
				-ms-writing-mode: tb-rl;
				-webkit-writing-mode:vertical-rl;
				float: left;
				margin: .4em 0 0 0;
				font-size: .9em;
				font-weight: bold;
			}
			.data_inner {
				margin: 0 0 0 50px;
				&.p_scrollbar {
					position: relative;
					height: 180px;
				}
				dl {
					margin: 1.2em 0 0 0;
					&:first-child { margin-top: 0; }
					dt {
						font-weight: bold;
						font-size: 1em;
					}
					dd {
						margin: 0;
						padding: .2em 0;
						line-height: 1.7;
						font-size: 1em;
					}
				}
			}
		}
		.wantedly_btn {
			margin: 0;
			background: #feeb08;
			color: #0071bd;
			display: block;
			vertical-align: middle;
			font-size: 1.8em;
			font-weight: bold;
			padding: 1em 0;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			span {}
		}
	}
}

@media #{$middle} {
	.ceo_modal2 {
		max-width: none !important;
		padding: 3em 1.6em 5em !important;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 8px;
			background: #feeb08;
		}
		.remodal-close {
			top: 1em !important;
			right: 1em !important;
		}
		.profile {
			text-align: left;
			.head {
				padding: 0 0 1.6em 0;
				margin: 0;
				.thumbnail {
					display: inline-block;
					vertical-align: middle;
					margin: 0 .8em 0 0;
					width: 40px;
				}
				.head_block {
					display: inline-block;
					vertical-align: middle;
					h1 {
						font-size: .9em;
						line-height: 1.4;
					}
					p {
						font-size: .9em;
						font-weight: bold;
					}
				}
			}
			.data_block {
				clear: both;
				border-top: 1px solid #eee;
				padding: 1.6em 0;
				white-space: nowrap;
				.title {
					writing-mode: horizontal-tb;
					-webkit-writing-mode: horizontal-tb;
					font-size: 1.2em;
					float: none;
					padding: 0 0 .6em 0;
				}
				.data_inner {
					margin: 0;
					white-space: normal;
					&.p_scrollbar {
						height: 160px;
					}
					dl {
						margin: 1.2em 0 0 0;
						&:first-child { margin-top: 0; }
						dt {
							font-weight: bold;
							font-size: 1em;
						}
						dd {
							margin: 0;
							padding: .2em 0 0 0;
							line-height: 1.65;
							font-size: .9em;
						}
					}
				}
			}
			.wantedly_btn {
			font-size: 1.4em;
			padding: .7em 0;
				span {}
			}
		}
	}

}














// ----------------------------------------
//  @keyframes
// ----------------------------------------
@keyframes cloudMove1 {
	0% {background-position: 0 0px;}
	25% {background-position: 200px 10px;}
	50% {background-position: 400px 0px;}
	75% {background-position: 600px 10px;}
	100% {background-position: 800px 0px;}
}
@keyframes cloudMove2 {
	0% {background-position: 0 10px;}
	25% {background-position: 100px 0px;}
	50% {background-position: 300px 10px;}
	75% {background-position: 500px 0px;}
	100% {background-position: 700px 10px;}
}
@keyframes cloudMove3 {
	0% {background-position: 0 0;}
	25% {background-position: 200px 0;}
	50% {background-position: 400px 0;}
	75% {background-position: 600px 0;}
	100% {background-position: 800px 0;}
}
@keyframes drone_spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes drone_Move1 {
	0% { top: 16%; }
	33% { top: 24%; }
	66% { top: 20%; }
	100% { top: 16%; }
}
@keyframes drone_Move1_parts2 {
	0% { width: 60px; }
	33% { width: 140px; }
	66% { width: 100px; }
	100% { width: 60px; }
}

@keyframes btnAnime {
	0% {
		box-shadow: 0 0 0 0 $yellow
	}

	0%, 90% {
		opacity: .7
	}

	to {
		box-shadow: 0 0 0 9pt rgba(255,255,255,0);
		opacity: 0
	}
}



@keyframes s3_bg_cloud {
	0% { right: 0px; }
	33% { right: 40px; }
	66% { right: -40px; }
	100% { right: 0; }
}
@keyframes s3_bg_drone {
	0% { right: 0px; }
	33% { right: -20px; }
	66% { right: 20px; }
	100% { right: 0; }
}
@keyframes s3_tablet_hand {
	0% { left: 120px; }
	33% { left: 100px; }
	66% { left: 80px; }
	100% { left: 120px; }
}

@keyframes s3_bg_1 {
	0% { background: #ffac27; }
	66% { background: #2f4456; }
	100% { background: #ffac27; }
}
@keyframes s3_bg_1_color_cloud {
	0% { fill: #f99f00; }
	66% { fill: #ffffff; }
	100% { fill: #f99f00; }
}
// @keyframes s3_bg_moon {
// 	0% { opacity: 0; }
// 	60% { opacity: 0;
// 	66% { opacity: 1; }
// 	88% { opacity: 1; }
// 	100% { opacity: 0; }
// }


