
// ----------------------------------------
// sidebar left
// ----------------------------------------
.g_header {
  position: fixed;
  width: 18%;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  text-align: left;
  background: #ffff;
  @media #{$small} {
    display: none;
  }
}
.g_header__inner {
  .g_logo {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 4.6rem 0 3rem 0;
    @media #{$large} {
      padding: 3rem 0;
    }
  }
  .g_logo__inner {
    display: block;
  }
  .g_logo__image {
    display: block;
  }
  .g_logo__text {
    color: $colorDefault !important;
    margin: 8px 0 0 0;
    display: block;
    font-weight: 500;
    font-size: 14px;
  }
  .g_nav__inner {
    &.-menu {
      li {
        position: relative;
        &:hover,
        &.current {
          &:before {
            background: $colorMain;
            content: '';
            width: 3px;
            height: 70%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
          }
          a {
            color: $colorMain;
          }
        }
        a {
          font-weight: 600;
          position: relative;
          display: block;
          padding: .5rem 2.2rem;
          font-size: .85rem;
          @media #{$large} {
            padding-left: 1.8rem;
            padding-right: 1.8rem;
          }
          @media screen and (max-width: 1000px) {
            padding-left: 1rem;
            padding-right: 1rem;
          }
          &:hover {
            color: $colorMain;
          }
        }
      }
    }
    &.-sub {
      margin: 1.4rem 0 0 0;
      li {
        a {
          color: rgba($colorDefault, .5);
          transition: all .3s cubic-bezier(0,1,.64,1);
          display: block;
          padding: .3rem 2.2rem;
          font-size: .75rem;
          @media screen and (max-width: 1000px) {
            padding-left: 1rem;
            padding-right: 1rem;
          }
          &:hover {
            color: rgba($colorDefault,.6);
          }
        }
      }
    }
  }
}

a.new_window {
  span {
    position: relative;
    &:after {
      @include iconfont;
      content: '\e89e';
      transition: all .3s cubic-bezier(0,1,.64,1);
      font-size: 12px;
      color: rgba($colorLink,1);
      padding: 0;
      position: relative;
      top: 1px;
      opacity: 0;
      @media #{$small} {
        opacity: 1;
        margin-left: 4px;
        color: rgba($colorDefault, .5);
      }
    }
  }
  &:hover {
    span {
      &:after {
        opacity: 1;
        margin-left: 4px;
      }
    }
  }
}


// ----------------------------------------
// sidebar right
// ----------------------------------------
@keyframes pop-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pop-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@mixin snsLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  line-height: 46px;
  border-radius: 50%;
  background-color: #FFF;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: .8rem;
  box-shadow: 0.5px 0.87px 4px 0 rgba(0, 0, 0, 0.3);
}

.g_navigation__sns {
  margin-top: 1.4rem;
  display: inline-block;
  text-align: center;
  .g_navigation__sns-btn {
    @include snsLayout;
    background: $colorMain;
    color: #fff;
    transition: all .3s cubic-bezier(0,1,.64,1);
    &:hover {
      transform: scale(1.2) !important;
    }
  }
  &:hover .g_navigation__sns-btn__inner a {
    animation: pop-in .3s ease both;
  }
  .g_navigation__sns-btn__inner {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      transition: all .3s cubic-bezier(0,1,.64,1);
      &:hover {
        transform: scale(1.2) !important;
      }
    }
    a {
      @include snsLayout;
      transform: scale(0);
      animation: pop-out .3s ease both;
    }
    @for $i from 0 through 4 {
      li:nth-child(#{$i}) a {
        animation-delay: $i * 0.1s;
    }
    }
  }
}
.g_navigation__fixed {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  border-left: 1px solid #E0E0E0;
  @media #{$large} {
    border: none;
    width: 64px;
  }
  @media #{$small} {
    display: none;
  }
}
.g_page__scroll-btn {
  @include snsLayout;
  position: fixed;
  right: 16px;
  bottom: 1.4rem;
  margin: 0 auto;
  transition: all .3s cubic-bezier(0,1,.64,1);
  i {
    color: $colorMain;
    font-size: 24px;
  }
  &:hover {
    transform: scale(1.2) !important;
    background: $colorMain;
    i {
      color: #fff;
    }
  }
}
