
.sp_header {
  text-align: left;
  display: none;
  @media #{$small} {
    display: block;
  }
}
.sp_header__inner {
}
.nav-head {
  padding: 1rem;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.nav-body {
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
  background: rgba(#fff, 1);
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 100;
  .nav-inner  {
    margin: 0;
  }
  ul {
    li {
      border-bottom: 1px solid #f6f6f6;
      position: relative;
      a {
        display: block;
        padding: 1rem 1rem;
        font-weight: 700;
        font-size: 1.1em;
        position: relative;
        &:after {
          content: '\e315';
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: block;
          font-size: 20px;
          position: absolute;
          top: 50%;
          right: 1rem;
          margin-top: -10px;
          color: #999;
        }
        span {}
      }
    }
  }
}
.drawr-nav-main {
  overflow: hidden;
  &.is-opened {
    .nav-body {
      top: 56px;
    }
  }
}




.drawr-nav-main {
  z-index: 1;
  .nav-toggle {
    cursor: pointer;
    z-index: 2;
    .button-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 54px;
      height: 54px;
      display: none;
      @media #{$small} {
        display: block;
      }
    }
    .shape-top {
      display: block;
      position: absolute;
      top: 0;
      right: -2px;
      width: 100%;
      z-index: 2;
      transform: scaleY(0);
      transform-origin: 50% 0;
      .svg {
        width: 150px;
        height: 20px;
      }
    }
    .shape {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 54px;
      height: 54px;
      background: #fff;
      z-index: 0;
    }
  }
}

.drawr-nav-main {
  .nav-toggle {
    .lines {
      position: absolute;
      top: 7px;
      margin: 0 auto;
      width: 54px;
      height: 54px;
      z-index: 2;
      text-align: center;
      overflow: hidden;
      &.open {
        .line {
          position: relative;
          width: 16px;
          height: 2px;
          margin: 2px auto 0 auto;
          background: #111;
          z-index: 2;
          transform: scaleX(0);
          animation: open-in 0.3s cubic-bezier(0.18, 0.89, 0.67, 1.16) 0.3s 1 normal forwards;
          + .line {
            margin-top: 3px;
          }
          &:nth-child(1) {
            margin-top: 15px;
          }
          &:nth-child(2) {
            animation-delay: 0.36s;
          }
          &:nth-child(3) {
            animation-delay: 0.42s;
            animation-timing-function: cubic-bezier(0.18, 0.89, 0.63, 1.26);
          }
        }
      }
      &.close {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 1;
        .line {
          position: absolute;
          background: #999;
          z-index: 2;
          &:nth-child(1) {
            top: 15px;
            left: 22px;
            width: 2px;
            height: 16px;
            animation: close-out-1 0.3s linear 0.1s 1 normal forwards;
          }
          &:nth-child(2) {
            top: 22px;
            left: 15px;
            width: 16px;
            height: 2px;
            animation: close-out-2 0.3s linear 0s 1 normal forwards;
          }
        }
      }
    }
  }
  &.is-opened {
    .nav-toggle {
      .open {
        .line {
          animation: open-out-1 0.4s linear 0s 1 normal forwards;
          transform: scaleX(1) translateX(0);
          &:nth-child(1) {
            animation-delay: 0.16s;
          }
          &:nth-child(2) {
            animation-delay: 0.08s;
            animation-name: open-out-2;
          }
          &:nth-child(3) {
            animation-delay: 0s;
            animation-timing-function: linear;
          }
        }
      }
      .close {
        .line {
          &:nth-child(1) {
            animation: close-in-1 0.3s cubic-bezier(0.18, 0.89, 0.67, 1.16) 0.6s 1 normal forwards;
            transform: scaleY(0);
          }
          &:nth-child(2) {
            animation: close-in-2 0.3s cubic-bezier(0.18, 0.89, 0.67, 1.16) 0.5s 1 normal forwards;
            transform: scaleX(0);
          }
        }
      }
    }
  }
}


@keyframes open-in {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
}


@keyframes close-out-1 {
  0% {
    transform: scaleY(1) translateY(0);
    transform-origin: 100% 100%;
  }

  100% {
    transform: scaleY(0) translateY(10px);
    transform-origin: 100% 100%;
  }
}


@keyframes close-out-2 {
  0% {
    transform: scaleX(1) translateX(0);
    transform-origin: 100% 100%;
  }

  100% {
    transform: scaleX(0) translateX(10px);
    transform-origin: 100% 100%;
  }
}


@keyframes open-out-1 {
  0% {
    transform: scaleX(1) translateX(0);
    transform-origin: 100% 0;
  }

  35% {
    transform: scaleX(0.9) translateX(-5px);
    transform-origin: 100% 0;
  }

  100% {
    transform: scaleX(0) translateX(5px);
    transform-origin: 100% 0;
  }
}


@keyframes open-out-2 {
  0% {
    transform: scaleX(1) translateX(0);
    transform-origin: 0 0;
  }

  35% {
    transform: scaleX(0.9) translateX(5px);
    transform-origin: 0 0;
  }

  100% {
    transform: scaleX(0) translateX(-5px);
    transform-origin: 0 0;
  }
}


@keyframes close-in-1 {
  0% {
    transform: scaleY(0) translateY(-10px);
    transform-origin: 0 0;
  }

  100% {
    transform: scaleY(1) translateY(0);
    transform-origin: 0 0;
  }
}


@keyframes close-in-2 {
  0% {
    transform: scaleX(0) translateX(-10px);
    transform-origin: 0 0;
  }

  100% {
    transform: scaleX(1) translateX(0);
    transform-origin: 0 0;
  }
}
