
// ----------------------------------------
//  parts
// ----------------------------------------

.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }
.on a img,
.op,
.on a:hover img,
.op:hover { transition: all .3s cubic-bezier(0,1,.64,1); }
.on a:hover img,.op:hover {
	transition: all .3s cubic-bezier(0,1,.64,1);
	opacity: .7;
	text-decoration: none;
}

.pc_block {
	@media #{$small} {
		display: none;
	}
}

.pc_block_ip {
	@media #{$small} {
		display: none !important;
	}
}
.sp_block {
	display: none;
	@media #{$small} {
		display: block;
	}
}

.mt0 { margin-top: 0 !important; }
.mt02 { margin-top: .2em !important; }
.mt04 { margin-top: .4em !important; }
.mt06 { margin-top: .6em !important; }
.mt08 { margin-top: .8em !important; }
.mt1 { margin-top: 1em !important; }
.mt2 { margin-top: 2em !important; }
.mt3 { margin-top: 3em !important; }
.mt4 { margin-top: 4em !important; }
.mt5 { margin-top: 5em !important; }
.mt6 { margin-top: 6em !important; }
.mt7 { margin-top: 7em !important; }
.mt8 { margin-top: 8em !important; }
.mt9 { margin-top: 9em !important; }
.mt10 { margin-top: 10em !important; }

@media #{$small} {
	.mt3 { margin-top: 3em - .6em !important; }
	.mt4 { margin-top: 4em - 1em !important; }
	.mt5 { margin-top: 5em - 1.4em !important; }
	.mt6 { margin-top: 6em - 2.2em !important; }
	.mt7 { margin-top: 7em - 3em !important; }
	.mt8 { margin-top: 8em - 4em !important; }
	.mt9 { margin-top: 9em - 5em !important; }
	.mt10 { margin-top: 10em  - 6em !important; }
}

.pt0 { padding-top: 0 !important; }
.pt1 { padding-top: 1em !important; }
.pt2 { padding-top: 2em !important; }
.pt3 { padding-top: 3em !important; }
.pt4 { padding-top: 4em !important; }
.pt5 { padding-top: 5em !important; }
.pt6 { padding-top: 6em !important; }
.pt7 { padding-top: 7em !important; }
.pt8 { padding-top: 8em !important; }
.pt9 { padding-top: 9em !important; }
.pt10 { padding-top: 10em !important; }


.weight100 {font-weight:100;}
.weight200 {font-weight:200;}
.weight300 {font-weight:300;}
.weight400 {font-weight:400;}
.weight500 {font-weight:500;}
.weight700 {font-weight:700;}
.weight900 {font-weight:900;}
