
@mixin main_width {
  max-width: 1240px;
  width: 100%;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  margin: 0 auto;
  @media #{$mq_s} {
    max-width: 480px;
  }
}

@mixin sp_width {
}

@mixin transition {
  transition: all .3s cubic-bezier(0,1,.64,1);
}


@mixin iconfont {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
