
.btn {
	display: block;
	text-decoration: none;
	font-size: 1.3em;
	padding: 1em 0;
	border-radius: 2px;
}
.btn_center {
	.btn {
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
}
.btn.size_s {
	max-width: 220px;
	width: 100%;
}
.btn.size_m {
	max-width: 320px;
	width: 100%;
}
.btn.orange {
	background: $orange;
	color: #fff;
}
.btns {
	margin-top: 4em;
	&.btn_center {
		text-align: center;
	}
	> li {
		display: inline-block;
		vertical-align: middle;
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		a {
			display: block;
			position: relative;
			text-decoration: none;
			position: relative;
			font-size: 1.2em;
			padding: .8em 0;
			line-height: 1;
			font-weight: bold;
			border-radius: 2px;
		}
	}
}
@media #{$small} {
	.btn {
		font-size: 1.2em;
	}
	.btns {
		margin-top: 2em;
		> li {
			a {
				padding: 1em 0;
				font-size: 1em;
			}
		}
	}
}


.btn_bor_white {
	border: 2px solid #fff;
	color: #fff;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 0;
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.2);
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	&:hover {
		color: #fff;
		span { color: #fff; position: relative; z-index: 1; }
		&:before {
			width: 100%;
			height: 100%;
		}
	}
	> i {
		font-size: 22px;
		line-height: 1;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
}
.btn_bor_orange {
	border: 2px solid $orange;
	color: $orange;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 0;
		margin: 0 auto;
		background: $orange;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	&:hover {
		color: #fff;
		span { color: #fff; position: relative; z-index: 1; }
		&:before {
			width: 100%;
			height: 100%;
		}
	}
	> i {
		font-size: 22px;
		line-height: 1;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
}
@media #{$small} {
	.btn_bor_white {
		> span {}
		> i {}
	}
	.btn_bor_orange {
		> span {}
		> i {}
	}
}



/* ---------------
	TOP VISUAL
-------------------------------------------------------*/
.top_visual {
	background: url(../img/top/visual_01.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	height: 500px;
	text-align: center;
	.visual_txt {
		color: #fff;
		padding-top: 12em;
		.txt_1 {
			font-size: 1.8em;
		}
		.txt_2 {
			margin-top: .6em;
			strong {
				display: block;
				font-size: 2.6em;
			}
		}
	}
	&.second_visual {
		.title {
			position: relative;
			bottom: 1em;
		}
		.visual_btn {
			position: absolute;
			left: 0;
			right: 0;
			top: 34%;
		}
	}
	&.bg:before {
	}
	.visual_btn {
		margin-top: 2em;
		a {
			i {
				font-size: 1.3em;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				bottom: 2px;
			}
			span {
				display: inline-block;
				vertical-align: middle;
				padding: 0 .6em;
			}
		}
	}
}
@media #{$small} {
	.top_visual {
		&.second_visual {
			.title {
				bottom: 0;
			}
			.visual_btn {
			}
		}
		.visual_txt {
			.txt_1 {
				font-size: 1.4em;
				font-weight: bold;
			}
			.txt_2 {
				margin: 1em 0 0 0;
				font-size: .6em;
				line-height: 1.5;
				strong {}
			}
		}
		.visual_btn {
			padding: 0 1.6em;
			a {
				i {}
				span {}
			}
		}
	}
}


.top_contents_1 {
	padding: 10em 0;
	.inner {
		max-width: 780px;
		width: 100%;
		margin: 0 auto;
		.title {
			font-size: 2.4em;
			font-weight: normal;
		}
		.txt_1_wrap {
			margin: 3em 0 0 0;
			.txt_1 {
				color: $orange;
				font-size: 1.2em;
				font-family: 'Futura Medium';
				font-weight: bold;
			}
			.txt_2 {
				img {
					width: 140px;
				}
			}
		}
		.txt_2_wrap {
			margin: 2.8em 0 0 0;
			text-align: justify;
			.txt_1 {
				font-size: 1.2em;
				line-height: 2;
			}
		}
	}
}
@media #{$small} {
	.top_contents_1 {
		padding: 4em 0;
		.inner {
			padding: 0 1.6em;
			.title {
				font-size: 1.6em;
				line-height: 1.6;
			}
			.txt_1_wrap {
				.txt_1 {
					display: block;
				}
				.txt_2 {
					display: block;
					margin: 1em 0 0 0;
					img {
						max-width: 100px;
					}
				}
			}
			.txt_2_wrap {
				margin-top: 2em;
				.txt_1 {
					font-size: 1.2em;
					line-height: 1.8;
				}
			}
		}
	}
}


.top_contents_4 {
	padding: 10em 0;
	.inner {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		.title {
			font-size: 2.4em;
			font-weight: normal;
		}
	}
}
.logo_list {
	margin: 3em auto 0 auto;
	text-align: center;
	max-width: 1024px;
	width: 100%;
	&.results {
		li {
			margin: 1em;
		}
	}
	li {
		display: inline-block;
		vertical-align: top;
		max-width: 300px;
		margin: 1.4em .6em 0 .6em;
		a {
			display: block;
		}
		img {
			width: 100%;
			background: #fff;
		}
	}
}
@media #{$small} {
	.top_contents_4 {
		padding: 4em 0;
		.inner {
			padding: 0 1.6em;
			.title {
				font-size: 1.6em;
				line-height: 1.6;
			}
		}
	}
	.logo_list {
		&.results {
			li {
				display: block;
				max-width: none;
				padding: 0 1.6em;
				margin: 1.6em 0 0 0;
			}
		}
		li {
			max-width: 42%;
			margin: .8em .2em 0 .2em;
		}
	}
}
.foot_neolabox {
	.bx-wrapper {
		.bx-viewport {
			height: 330px !important;
			max-height: 330px;
		}
	}
	&.archive {
		.post_list {
			li {
				margin-bottom: 1.6em !important;
			}
			&.text_list {
				li {
					a {
						.article {}
						.post_data {
							.post_title {}
							.post_data_group {}
							.time {}
							.category {}
						}
					}
				}
			}
		}
	}
	background: url(../img/top/top_bg_04.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	.bx-wrapper {
		position: relative;
		margin: 6em auto 0 auto;
		max-width: 1000px !important;
		.bx-controls {
			text-align: center;
		}
	}
	.bx-pager {
		display: none;
	}
	.bx-controls-direction {
		a {
			text-decoration: none;
			font-size: 2em;
			font-weight: normal;
			position: absolute;
			top: 50%;
			width: 40px;
			height: 40px;
			margin-top: -20px;
			color: #fff;
			text-align: center;
			background: $orange;
			border-radius: 50em;
			transition: all 0.3s ease-in-out;
			&:hover {
				opacity: .7;
			}
			i {
				line-height: 40px;
			}
			&.bx-prev {
				left: -4em;
			}
			&.bx-next {
				right: -4em;
			}
		}
	}
	.inner {
		padding: 10em 0;
		.title {
			span {
				display: inline-block;
				vertical-align: middle;
			}
			.img {}
			.txt {
				font-size: 2.2em;
				font-weight: normal;
			}
		}
		.post_list {
			text-align: center;
			&.text_list {
				max-width: 1024px;
				width: 100%;
				margin: 0 auto;
				li {
					max-width: none;
					max-width: none;
					margin: 1em 0 0 0;
					a {
						zoom: 90%;
						.article {}
						.post_data {
							.post_title {}
							.post_data_group {}
							.time {}
							.category {}
						}
					}
				}
			}
			li {
				display: inline-block;
				vertical-align: top;
				max-width: 320px;
				width: 100% !important;
				margin: 0 .6em;
				background: #fff;
				a {
					display: block;
					background: #fff;
					text-decoration: none;
					color: #666;
					text-align: left;
					.image {
						overflow: hidden;
						width: 100%;
						height: 220px;
						img {
							width: 100%;
							height: auto !important;
							opacity: 1;
							-webkit-transform: scale(1,1);
							-webkit-transition-timing-function: ease-out;
							-webkit-transition-duration: 250ms;
							-moz-transform: scale(1,1);
							-moz-transition-timing-function: ease-out;
							-moz-transition-duration: 250ms;
						}
					}
					&:hover {
						.image {
							img {
								opacity: .7;
								-webkit-transform: scale(1.15,1.15);
								-webkit-transition-timing-function: ease-out;
								-webkit-transition-duration: 250ms;
								-moz-transform: scale(1.15,1.15);
								-moz-transition-timing-function: ease-out;
								-moz-transition-duration: 250ms;
							}
						}
					}
					.post_data {
						padding: 1em;
					}
					.post_data_group {
						margin: .8em 0 0 0;
					}
					.post_title {
						font-weight: normal;
						font-size: 1.3em;
						line-height: 1.3;
					}
					.category {
						float: right;
						&:before {
							@include iconset;
							content: "\69";
						}
					}
					.time {
						float: left;
						&:before {
							@include iconset;
							content: "\7d";
						}
						.new {}
					}
				}
			}
		}
	}
}

@media #{$small} {
	.foot_neolabox {
		.bx-wrapper {
			margin: 2em auto 0 auto;
			.bx-controls {
				text-align: center;
			}
		}
		.bx-pager {
		}
		.bx-controls-direction {
			a {
				&.bx-prev {
					left: 0;
				}
				&.bx-next {
					right: 0;
				}
			}
		}
		.inner {
			padding: 4em 0 6em 0;
			.title {
				padding: 0 1.6em;
				span {
					display: block;
				}
				.img {}
				.txt {
					margin: .6em 0 0 0;
					font-size: 1.4em;
				}
			}
			.post_list {
				li {
					max-width: 320px;
					margin: 0;
					a {
						.image {
							img {
							}
						}
						&:hover {
							.image {
								img {
								}
							}
						}
						.post_data {
						}
						.post_data_group {
						}
						.post_title {
						}
						.category {
							&:before {
							}
						}
						.time {
							&:before {
							}
							.new {}
						}
					}
				}
			}
		}
	}
}





/* ---------------
	second news
-------------------------------------------------------*/
.g_main {}
.second_visual {
	display: table;
	width: 100%;
	height: 500px;
	text-align: center;
	position: relative;
	.title {
		display: table-cell;
		vertical-align: middle;
		font-size: 3em;
		color: #fff;
		letter-spacing: 2px;
		text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	}
}
@media #{$small} {
	.second_visual {
		height: 300px;
		.title {
			font-size: 2em;
		}
	}
}




/* ---------------
	visual
-------------------------------------------------------*/
.second_visual.visual404,
#contact .second_visual,
#confirm .second_visual,
#complete .second_visual {
	background: url(../img/bg/bg_contact.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#results .second_visual {
	background: url(../img/bg/bg_results.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#company .second_visual {
	background: url(../img/bg/bg_company.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#glossary .second_visual {
	background: url(../img/bg/bg_glossary.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#service .second_visual {
	background: url(../img/bg/bg_service.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#professional .second_visual {
	background: url(../img/bg/bg_service-professional.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#laboratory .second_visual {
	background: url(../img/bg/bg_service-laboratory.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}
#entrusted .second_visual {
	background: url(../img/bg/bg_service-entrusted.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
}




/* ---------------
	title
-------------------------------------------------------*/
.g_title {
	margin: 5em auto 0 auto;
	text-align: center;
	padding: 0 1.6em;
	.title {
		font-size: 2.6em;
		line-height: 1.5;
		border-bottom: 2px solid $orange;
		padding: 0 .5em 4px .5em;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
		font-weight: normal;
	}
	.txt1 {
		font-size: 1.2em;
		margin: 2em 0 0 0;
	}
}
@media #{$small} {
	.g_title {
		margin-top: 2em;
		.title {
			font-size: 1.6em;
		}
		.txt1 {}
	}
}


/* ---------------
	second from
-------------------------------------------------------*/
.step_inner {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 6em 0 3em 0;
	max-width: 680px;
	position: relative;
}
.step {
	width: 20px;
	height: 20px;
	background-color: #eee;
	border: 3px solid;
	border-color: transparent;
	border-radius: 50%;
	color: #cdd0da;
	font-weight: bold;
	text-align: left;
	line-height: 100px;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	&:after {
	opacity: .2;
	}
}
.step.t-indent-1:after {
	text-indent: -70px;
}
.step.t-indent-2:after {
	text-indent: -54px;
}
.step.t-indent-3:after {
	text-indent: -54px;
}
.step:nth-child(n+1) {
	transform: translate(0, -4px);
	-webkit-transform: translate(0, -4px);
	-ms-transform: translate(0, -4px);
	-moz-transform: translate(0, -4px);
}
.step:nth-child(n+2) {
	margin: 0 0 0 160px;
	transform: translate(0, -4px);
	-webkit-transform: translate(0, -4px);
	-ms-transform: translate(0, -4px);
	-moz-transform: translate(0, -4px);
}
.step:nth-child(n+2):before {
	width: 120px;
	height: 2px;
	display: block;
	background-color: #eee;
	transform: translate(-93px, 6px);
	-webkit-transform: translate(-93px, 6px);
	-ms-transform: translate(-93px, 6px);
	-ms-transform: translate(-93px, 6px);
	content: '';
	position: absolute;
	left: -54px;
}
.step:after {
	width: 200px;
	display: block;
	transform: translate(-64px, 0px);
	-webkit-transform: translate(-64px, 0px);
	-moz-transform: translate(-64px, 0px);
	-ms-transform: translate(-64px, 0px);
	color: #818698;
	content: attr(data-desc);
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.step:first-child:after {
	transform: translate(-55px, -1px);
	-webkit-transform: translate(-55px, -1px);
	-moz-transform: translate(-55px, -1px);
	-ms-transform: translate(-55px, -1px);
}
.step.active:before {
	position: relative;
}
.step.active,
.step.done {
	&:after {
		opacity: 1;
	}
}
.step.active {
	background-color: #e9ecef;
	border-color: #e9ecef;
	position: relative;
}
.step.done {
	background-color: #e9ecef;
	border-color: #e9ecef;
	position: relative;
}
.step .radius {
	width: 14px;
	height: 14px;
	border-radius: 50em;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.step.done .radius {
	background: #fff;
}
.step.active .radius {
	background: #888;
}


/* ---------------
	会社概要
-------------------------------------------------------*/
.company_wrap {
	max-width: 1180px;
	width: 100%;
	margin: 2em auto 0 auto;
	text-align: left;
	padding-bottom: 6em;
}
.company_table {
	dl {
		border-bottom: 1px solid #ddd;
		padding: 2.4em 0;
		font-size: 1.2em;
		dt {
			display: inline-block;
			vertical-align: middle;
			width: 24%;
			padding: 0 2%;
		}
		dd {
			display: inline-block;
			vertical-align: middle;
			width: 75%;
		}
	}
}
.neolab_company {
	> li {
		margin: 4em 0 0 0;
		&:first-child {
			margin-top: 6em;
		}
		.name {
			font-weight: 100;
			font-size: 4em;
			line-height: 1;
		}
		.access {
			font-size: 1.1em;
		}
		.google {
			margin: 1em 0 0 0;
			iframe {}
		}
	}
}
@media #{$small} {
	.company_wrap {
		margin-top: 1em;
	}
	.company_table {
		padding: 0 1.6em;
		dl {
			padding: 1em 0;
			&:first-child {
				padding-top: 0;
			}
			dt {
				display: block;
				width: auto;
				padding: 0;
				font-weight: bold;
			}
			dd {
				display: block;
				width: auto;
				font-size: 90%;
			}
		}
	}
	.neolab_company {
		padding: 0 1.6em;
		> li {
			&:first-child {
				margin-top: 4em;
			}
			.name {
				font-size: 2em;
			}
			.access {
				margin-top: .2em;
			}
			.google {
				iframe {
					height: 200px;
				}
			}
		}
	}
}




/* ---------------
	サービス　トップ
-------------------------------------------------------*/
.second_visual {
	&.service_top {
		.title {
			display: block;
			margin: 4em auto 0 auto;
			font-weight: normal;
			color: #444;
			letter-spacing: 1px;
			text-shadow: none;
			font-size: 2.6em;
		}
		.logo {
			display: block;
			width: 380px;
			margin: 3em auto 0 auto;
			overflow: hidden;
			#path_logo {
				path {
					width: 100%;
					fill: $orange;
				}
			}
		}
		.visual_btn {
			margin-top: 4em;
			a {}
		}
	}
}
.neolab_sevice {
	&.sevice_1 {
		background: #f9b345;
		.inner {
			.image {
				background: url(../img/service/bg_service_top_4.jpg) no-repeat center top;
				background-size: cover;
				-webkit-background-size: cover;
			}
		}
	}
	&.sevice_2 {
		background: #eed719;
		.inner {
			.image {
				background: url(../img/service/bg_service_top_5.jpg) no-repeat center top;
				background-size: cover;
				-webkit-background-size: cover;
			}
		}
	}
	&.sevice_3 {
		background: #c2d34c;
		.inner {
			.image {
				background: url(../img/service/bg_service_top_6.jpg) no-repeat center top;
				background-size: cover;
				-webkit-background-size: cover;
			}
		}
	}
	.inner {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		overflow: hidden;
		.image {
			max-width: 640px;
			width: 100%;
			.img {
				height: auto;
				min-height: 500px;
			}
		}
		.contents {
			max-width: 520px;
			width: 100%;
			margin: 4em 0 0 0;
			.title_wrap {
				.number {
					font-size: 14em;
					line-height: 1;
					color: #fff;
					font-weight: 100;
					display: inline-block;
					vertical-align: middle;
					margin-right: 20px;
				}
				.title {
					display: inline-block;
					vertical-align: middle;
					.ttl_first {
						color: #fff;
						display: block;
						line-height: 1;
						span {
							display: block;
							&:first-child {
								font-size: 1.2em;
							}
							&:last-child {
								margin: .2em 0 0 0;
								font-size: 1.8em;
							}
						}
					}
					.ttl_secont {
						color: $siteTextColor;
						font-size: 3em;
						font-weight: normal;
						margin: 16px 0 0 0;
						display: block;
						line-height: 1;
					}
				}
			}
			.text {
				margin: 0;
				padding: 0 0 0 1em;
				p {
					font-size: 1.2em;
					line-height: 1.8;
				}
			}
		}
	}
}
@media #{$small} {
	.second_visual {
		&.service_top {
			.title {
				display: block;
				margin: 4em auto 0 auto;
				font-weight: normal;
				color: #444;
				letter-spacing: 1px;
				text-shadow: none;
				font-size: 1.6em;
				padding: 0 1.6em;
			}
			.logo {
				display: block;
				width: 40%;
				margin: 2em auto 0 auto;
				overflow: hidden;
				#path_logo {
					path {
						width: 100%;
						fill: $orange;
					}
				}
			}
			.visual_btn {
				max-width: 90%;
				margin: 2em auto 0 auto;
				a {}
			}
		}
	}
	.neolab_sevice {
		&.sevice_1 {
			.inner {
				.image {}
			}
		}
		&.sevice_2 {
			.inner {
				.image {}
			}
		}
		&.sevice_3 {
			.inner {
				.image {}
			}
		}
		.inner {
			.image {
				float: none;
				background-size: auto 114% !important;
				-webkit-background-size: auto 114% !important;
				.img {
					min-height: 260px;
					overflow: hidden;
				}
			}
			.contents {
				float: none;
				padding: 2em 0 4em 0;
				margin: 0;
				.title_wrap {
					text-align: left;
					padding: 0 1.6em;
					.number {
						font-size: 7em;
						margin-right: 10px;
					}
					.title {
						zoom: 80%;
						.ttl_first {
							text-align: left;
							span {
								&:first-child {}
								&:last-child {}
							}
						}
						.ttl_secont {
							font-size: 2.4em;
						}
					}
				}
				.text {
					padding: 0 1.6em;
					margin-top: 1em;
					p {
						font-size: 1em;
						line-height: 1.7;
					}
				}
			}
		}
	}
}






/* ---------------
	お問い合わせ
-------------------------------------------------------*/
.g_form {
	max-width: 640px;
	width: 100%;
	margin: 6em auto;
	text-align: center;
	.contact_form {
		margin: 4em 0 0 0;
	}
	.text_bottom {
		margin: 2em 0 0 0;
		p {
			font-size: 1.1em;
			a {
				color: $orange;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.contact_complete {
		text-align: center;
		margin-top: 5em;
		> h3 {
			font-size: 2em;
		}
		> p {
			font-size: 1.2em;
			margin: 1em 0 0 0;
			line-height: 2;
		}
	}
	@media #{$small} {
		.contact_complete {
			margin-top: 3em;
			> h3 {
				font-size: 1.5em;
			}
			> p {
				font-size: 1em;
				br {
					display: none;
				}
			}
		}
	}
}
.g_form dl {
	display: table;
	width: 100%;
	font-size: 13px;
	margin: 2em 0 0 0;
	text-align: left;
}
.g_form dl dt {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}
.g_form dl dt.required:before {
	background: #d12929;
	color: #fff;
	content: '必須';
	font-weight: bold;
	font-size: 70%;
	padding: 0 6px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	margin: 0 .5em 0 0;
}
.g_form dl dd {
	display: block;
	padding: 10px 0 0 0;
	position: relative;
}
.g_form textarea,
.g_form dl dd input[type^="file"],
.g_form dl dd input[type^="tel"],
.g_form dl dd input[type^="email"],
.g_form dl dd input[type^="text"] {
	-webkit-appearance: none;
	border: none;
	background: #fff;
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
	margin: 0;
	text-align: left;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
	padding: .8em;
}
.select select:focus,
.g_form textarea:focus,
.g_form dl dd input[type^="email"]:focus,
.g_form dl dd input[type^="tel"]:focus,
.g_form dl dd input[type^="text"]:focus {
	outline: none;
	background: #fcfcfc;
	border-color: #66afe9;
}
.mwform-file-delete {
	display: none;
}
.mw_wp_form .error {
	font-size: 12px !important;
	font-weight: bold;
	display: block;
	margin-top: .8em !important;
}
.g_form textarea {
	-webkit-appearance: none;
	min-height: 140px;
	margin: 0;
	width: 100%;
	box-shadow: none;
}
.radio span {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4% 0 0;
	cursor: pointer;
}
.radio input[type="radio"] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	width: 22px !important;
	height: 22px !important;
	content: "";
	background-color: #FFF;
	border: 1px solid #666;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 50em !important;
	border-radius: 50em !important;
	margin: 0 8px 0 0;
	outline: none;
	display: inline-block !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.radio input[type="radio"]:checked:after {
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	content: "";
	width: 14px;
	height: 14px;
	background: #565656;
	-webkit-border-radius: 50em !important;
	border-radius: 50em !important;
}
.select select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background: #f9f9f9;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	vertical-align: middle;
	border: none;
	border-radius: 2px !important;
	width: 100%;
	color: #2d2d2d;
	text-indent: 1em;
	cursor: pointer;
}
.select dd:after {
	content: "\43";
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 50%;
	font-size: 16px;
	margin-top: -4px;
	right: 1em;
	pointer-events: none;
	cursor: default;
}
.checkbox dd {
	span {
		display: inline-block;
		vertical-align: middle;
		margin: 0 3em 0 0;
		label {
			position: relative;
		}
	}
}
.checkbox input[type=checkbox] {
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	border: none;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	border: 1px solid #bbb;
	margin: 0 8px 2px 0;
}
.checkbox input[type=checkbox]:checked {
	border-color: #2f84dc;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.checkbox input[type=checkbox]:checked:after {
	position: absolute;
	top: 0;
	left: 5px;
	display: block;
	content: '';
	width: 12px;
	height: 6px;
	border-left: 2px solid #2f84dc;
	border-bottom: 2px solid #2f84dc;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn_submit {
	text-align: center;
	margin: 4em 0 0 0;
}
.btn_submit li {
	position: relative;
	display: inline-block;
	margin: 2% 1%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_submit li input {
	background: $orange;
	font-size: 1.2em;
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	min-width: 260px;
	border: 1px solid $orange;
	color: #fff;
	border-radius: 2px;
}
.mw_wp_form_input .btn_submit li.back { display: none; }
.btn_submit li {}
.btn_submit li:hover {
	opacity: .6;
}
.btn_submit li.back:before,
.btn_submit li.submit:before {
	position: absolute;
	top: 50%;
	font-size: 20px;
	margin-top: -10px;
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}
.btn_submit li.back {
	input {
		color: $orange;
		background: #fff;
	}
}

.btn_submit li.back:before {
	left: 16px;
	content: "\34";
	color: $orange;
}
.btn_submit li.submit:before {
	right: 16px;
	content: "\35";
}
.g_form_complet {}
.g_form_complet .ttl {
	font-size: 18px;
	font-weight: bold;
}
.g_form_complet .txt {
	font-size: 13px;
	margin: 1em 0;
}
.g_form_complet .btns {
	margin: 2em 0 0 0;
}
.g_form_complet .g_btn.btns li p { display: none; }
@media #{$small} {
	.g_form {
		.step_inner {
			padding: 3em 0;
		}
		.step:nth-child(n+2) {
			margin: 0 0 0 3em;
		}
		.step:nth-child(n+2):before {
			width: 2em;
			left: 40px;
		}
	}
	.g_form .radio span { display: inline-block; width: 40%; }
	.g_form .select .item {
		width: 33%;
		margin: 0;
		padding-right: 8px;
	}
	.g_form dl:last-of-type { border: none; }
	.g_form {
		margin: 4em 0;
		padding: 0 1.6em;
		.contact_form {
			margin: 0;
		}
	}
	.g_form dl {
		display: block;
		padding: 10px 0 0 0;
		margin-top: 1em;
	}
	.g_form dl dt {
		display: block;
		width: 100%;
		padding: 8px 0;
		font-weight: bold;
		font-size: 1em;
	}
	.g_form dl dd {
		display: block;
		width: 100%;
		border: none;
		padding: 0;
		margin: 0;
	}
	.checkbox dd span {
		margin: 1em 2em 0 0;
	}
	.g_form .sp_80 { width: 80%; display: inline-block; }
	.g_form .sp_full { width: 100%; padding: 0; }
	.g_form dl dd input {
		display: block;
		width: 100%;
	}
	.btn_submit {
		margin-top: 2em;
	}
	.btn_submit li {
		display: inline-block;;
		vertical-align: top;
		margin: 1em auto 0 auto;
		width: 100%;
	}
	.btn_submit li input {
		min-width: auto;
		display: block;
		padding: 1em 0;
		margin: 0;
		text-indent: -30px;
		width: 100%;
	}
	.btn_submit li.back {}
	.btn_submit li.back input {}
	.btn_submit li.submit input {
		-webkit-appearance: none;
		display: block;
		min-width: auto;
		width: 100%;
	}
	.g_form_complet {}
	.g_form_complet .ttl {}
	.g_form_complet .txt {}
	.g_form_complet .btns {}
}

.mw_wp_form .error {
	text-align: left;
	font-size: 10px;
	margin-top: 4px;
	color: #ed6c63;
	margin-top: 8px;
}
.mw_wp_form_confirm .select .item { text-align: left; width: auto; }
.mw_wp_form_confirm .select .item:after {
	display: none;
}

@media #{$small} {
	.mw_wp_form_confirm {
		.btn_submit li {
			display: block;
			width: 100%;
		}
	}
}
.post_content{
    padding-bottom: 10em;
    br{
        line-height: 1em;
    }
}

