
/* ---------------
	RESET
-------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
ul, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; margin: 0; padding: 0; }
input, select { vertical-align: middle; }
a img { border: none; }
img { vertical-align: top; margin: 0; padding: 0; }
img { max-width: 100%; }

/* ---------------
	BASIC
-------------------------------------------------------*/
$siteTextColor : #3a3634;

body {
	text-align: center;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
	color: #3a3634;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	line-height: 1.65;
	font-size: 75%;
	overflow-x: hidden !important;
}
body.home.loadDone {}
html, body { height: 100% }
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.ease-in-out,
.ease-in-out:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.on a img,
.op,
.on a:hover img,
.op:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.on a:hover img,
.op:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	filter: alpha(opacity=70);
	-ms-filter: "alpha( opacity=70)";
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
	opacity: 0.7;
	text-decoration: none;
}
.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

.font-jp {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wf1 { font-family: 'Open Sans', sans-serif; }
.wf2 { font-family: 'Roboto', sans-serif; }



//メディクリ
// $small:  "(max-width:768px)";
// $middle: "(max-width:980px)";
// $large:  "(max-width:1200px)";
// $largeMax: "(min-width:1201px)";

@media #{large} {}
@media #{largeMax} {}
@media #{middle} {}
@media #{$small} {
	//768px以下
	a { display: block; }
	img { max-width: 100%; }
}

/* ---------------
	header
-------------------------------------------------------*/
body.entrusted,
body.professional,
body.results,
body.service {
	.g_header_logo a #path_logo path {
		fill: $orange;
	}
	.g_header_nav > .menu li > a {
		color: #444;
		text-shadow: 1px 0px 0px rgba(255, 255, 255, .4);
		&:hover {
			color: $orange;
		}
	}
}
#clone_header {
	position: fixed;
	width: 100%;
	top: -100%;
	left: 0;
	background: #fff;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.sticky {
	#clone_header {
		top: 0;
		#path_logo path {
				fill: $orange;
				fill-rule: evenodd;
		}
		.g_header_logo {
			a {
			}
		}
		.g_header_nav {
			> .menu {
				li {
					a {
						color: #444;
						&:hover {
							color: $orange;
						}
					}
					&.pulldown {
						> .sub {
							li {
								background: #fff;
								float: left;
								padding: .5em;
							}
						}
						a:hover {
							color: $orange;
						}
					}
				}
			}
		}
	}
}

.g_header {
	position: absolute;
	height: 100px;
	padding: 3em 0;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 1;
	// -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	// -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
	// -webkit-transform: translate3d(0, -100px, 0);
	// -moz-transform: translate3d(0, -100px, 0);
	// transform: translate3d(0, -100px, 0);
}
.loaded .g_header {
	// opacity: 1;
	// -webkit-transform: translate3d(0, 0, 0);
	// -moz-transform: translate3d(0, 0, 0);
	// -ms-transform: translate3d(0, 0, 0);
	// transform: translate3d(0, 0, 0);
}
.g_header_site_title {
	position: absolute;
	top: -100%;
}
.g_header_wrap {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}
.drawer-open {
	.g_header_logo {
		display: none;
	}
}
.g_header_logo {
	float: left;
	a {
		display: block;
		width: 140px;
		text-decoration: none;
		#path_logo {
			path {
				fill: #fff;
						fill-rule: evenodd;
			}
		}
	}
}
.g_header_nav {
	float: right;
	> .menu {
		li {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin: 0 1.6em;
			&.pulldown {
				margin-right: 2em;
				&.current {
					a {
						i.up { display: block; }
						i.down { display: none; }
					}
				}
				a {
					i.up { display: none; }
					i.down { display: block; }
					i {
						position: absolute;
						top: 50%;
						right: -1em;
						font-size: 16px;
						margin-top: -8px;
					}
				}
				&.current {
					.sub {
						height: auto;
						opacity: 1;
					}
				}
				& .sub {
    				color: #000;
					position: absolute;
					top: 30px;
					left: 0;
					height: 0;
					opacity: 0;
                    background-color: rgba(255,255,255,0.8);
                    padding: .5em;
					> li {
						white-space: nowrap;
						margin: 0;
						width: 100%;
						a {
                            color: #3a3634;
							display: inline-block;
							vertical-align: middle;
							padding: 2px 0;
							span {
								&:before {
									content: none;
								}
							}
							&:hover {
								color: $orange;
							}
						}
					}
				}
			}
			> a {
				font-size: 13px;
				color: #fff;
				display: block;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 1px;
				position: relative;
				span {
					display: block;
					padding: 4px 4px 4px 4px;
					&:before {
						content: '';
						display: block;
						width: 0;
						height: 2px;
						background: $orange;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: 0 auto;
						opacity: 0;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			a:hover {
				span {
					&:before {
						opacity: 1;
						width: 100%;
					}
				}
			}
		}
	}
}
@media #{$small} {
	.g_header_site_title {
		display: none;
	}
	.g_header {
		padding: 0;
		height: 60px;
	}
	.g_header_wrap {
		max-width: none;
		width: auto;
		padding: 0 2em;
		position: relative;
		height: 100%;
	}
	.g_header_logo {
		position: absolute;
		top: 36%;
		z-index: 10;
		float: none;
		a {
			max-width: 100px;
		}
	}
	.g_header_nav {
		display: none;
		> ul {
			li {
				a {
					em {
					}
					span {}
				}
			}
		}
	}
}



#topcontrol {
	background: $orange;
	padding: 1.2em;
	border-radius: 50em;
	.pagetop {
		position:relative;
		display: block;
		width: 10px;
		height: 10px;
		border-style: solid;
		border-width: 1px 0 0 1px;
		border-color: #fff;
		transform: rotate(45deg);
		transition: all 0.3s ease-in-out;
		&:hover {
			border-color: #ccc;
		}
	}
}



/* ---------------
	共有パーツ [ 1 ]
-------------------------------------------------------*/
.c_parts_development {
	padding: 10em 0;
	&.bg {
		background: url(../img/top/top_bg_02.jpg) no-repeat center top;
		background-size: cover;
		-webkit-background-size: cover;
	}
	.inner {
		display: table;
		max-width: 1180px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		.item {
			display: inline-block;
			vertical-align: top;
			width: 49%;
			text-align: left;
			padding: 0 4em;
			position: relative;
			&:first-child:before {
				content: '';
				background: #fff;
				position: absolute;
				top: 10%;
				right: 0;
				height: 80%;
				width: 2px;
			}
		}
		.title {
			font-size: 2.4em;
			font-weight: normal;
			display: inline-block;
			border-bottom: 2px solid $orange;
			padding-bottom: 4px;
			color: #444;
		}
		.txt_1_wrap {
			margin: 2.6em 0 0 0;
			.txt_1 {
				font-size: 1.2em;
				line-height: 2;
			}
		}
		.btns {
			li {
				a {
					span {}
				}
			}
		}
	}
}
.c_parts_calling {
	padding: 10em 0;
	&.bg {
		background-color: #eeeeee;
		background-size: cover;
		-webkit-background-size: cover;
	}
	.inner {
		display: table;
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
		h2{
			img {
					width: 350px;
			}
		}
		.txt_1_wrap {
			.txt_1{
					font-size: 1.2em;
					text-align: left;
                    margin: 2.8em 0 0 0;
            }
		}
	}
}
.c_parts_kintone {
	padding: 10em 0;
	&.bg {
		background-color: #eeeeee;
		background-size: cover;
		-webkit-background-size: cover;
	}
	.inner {
		display: table;
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
		h2{
			img {
					width: 350px;
			}
		}
		.txt_1_wrap {
			.txt_1{
					font-size: 1.2em;
					text-align: left;
                    margin: 2.8em 0 0 0;
            }
		}
	}
}
@media #{$small} {
    .c_parts_calling {
       padding: 4em 0;
        .inner {
			padding: 0 1.6em;
        }
        h2{
			img {
                width: 260px;
			}
		}
    	.txt_1_wrap {
		    margin-top: 1.8em;
			.txt_1 {
					line-height: 1.7;
					font-size: 1em;
			}
        }
    }
    .c_parts_kintone {
       padding: 4em 0;
        .inner {
			padding: 0 1.6em;
        }
        h2{
			img {
                width: 260px;
			}
		}
    	.txt_1_wrap {
		    margin-top: 1.8em;
			.txt_1 {
					line-height: 1.7;
					font-size: 1em;
			}
        }
    }
}

@media #{$small} {
	.c_parts_development {
		padding: 0 0 4em 0;
		&.bg {
			background: url(../img/top/top_bg_02.jpg) no-repeat center top;
			-webkit-background-size: cover;
		}
		.inner {
			.item {
				display: block;
				width: 100%;
				text-align: left;
				padding: 0 1.6em;
				position: relative;
				margin-top: 4em;
				&:first-child:before {
					display: none;
				}
			}
			.title {
				font-size: 1.8em;
				display: block;
			}
			.txt_1_wrap {
				margin: 1.6em 0 0 0;
				.txt_1 {
					font-size: 1em;
					line-height: 1.7;
				}
			}
			.btns {
				li {
					a {
						span {}
					}
				}
			}
		}
	}

}

@media #{$small} {
	.top_contents_3 {
		padding: 4em 0;
		.inner {
			display: block;
			.item {
				max-width: none;
				display: block;
				width: 100%;
				padding: 0 1.6em;
				&:first-child {
					padding-bottom: 4em;
					&:before {
						content: none;
					}
				}
			}
			.title {
				font-size: 1.6em;
				line-height: 1.6;
			}
			.txt_1_wrap {
				margin-top: 1.8em;
				.txt_1 {
					line-height: 1.7;
					font-size: 1em;
				}
			}
			.btns {
				li {
					a {
						span {}
					}
				}
			}
		}
	}
}


/* ---------------
	共有パーツ [ 2 ]
-------------------------------------------------------*/
.c_parts_development_link {
	text-align: center;
	a {
		display: block;
		background: $orange;
		text-align: center;
		text-decoration: none;
		padding: 2em 0;
		color: #fff;
		white-space: nowrap;
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.logo {
			max-width: 120px;
		}
		.txt {
			font-size: 1.4em;
			font-weight: bold;
			margin: 0 .2em 0 .5em;
		}
		i {
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
			line-height: 1;
		}
	}
}
@media #{$small} {
	.c_parts_development_link {
		a {
			span {}
			.logo {
				display: block;
				margin: 0 auto .6em auto;
			}
			.txt {
				font-size: 94%;
			}
			i {
				font-size: 20px;
			}
		}
	}
}


/* ---------------
	共有パーツ [ 3 ]
-------------------------------------------------------*/
.neolab_contents {
	width: 100%;
	padding: 10em 0;
	&.bg1 {
	background: url(../img/top/top_bg_01.jpg) no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	}
	&.bg2 {
		background: url(../img/top/top_bg_03.jpg) no-repeat center top;
		background-size: cover;
		-webkit-background-size: cover;
	}
	&.service_top_1 {
		background: url(../img/service/bg_service_top_1.png) no-repeat 90% top;
		* {
			color: $siteTextColor;
		}
	}
	&.service_top_2 {
		background: #f8f8f8 url(../img/service/bg_service_top_2.png) no-repeat left top;
		* {
			color: $siteTextColor;
		}
	}
	&.service_top_3 {
		background: url(../img/service/bg_service_top_3.jpg) no-repeat center 0;
		background-size: cover;
		-webkit-background-size: cover;
		padding: 3em 0 24em 0;
		.txt_1_wrap {
			.txt_1{
				span {
					display: block;
				}
				.txt1 {
					font-size: 1.2em;
				}
				.txt2 {
					font-size: 2em;
				}
			}
		}
	}
	&.c_black {
		* {
			color: $siteTextColor;
		}
	}
	&.service_pro_1 {
		background: url(../img/service/professional/bg_service_img_1.png) no-repeat center 0;
		background-size: cover;
		-webkit-background-size: cover;
		* {
			color: $siteTextColor;
		}
	}
	&.service_pro_2 {
		background: url(../img/service/professional/bg_service_img_2.jpg) no-repeat center 0;
		background-size: cover;
		-webkit-background-size: cover;
		* {
			color: $siteTextColor;
		}
	}
	&.lab_contents_1 {
		background: url(../img/service/laboratory/bg_laboratory_01.jpg) no-repeat center 0;
		background-size: cover;
		-webkit-background-size: cover;
	}
	&.lab_contents_2 {
		background: url(../img/service/laboratory/bg_laboratory_02.jpg) no-repeat center 0;
		background-size: cover;
		-webkit-background-size: cover;
	}
	&.lab_contents_3 {
		background: url(../img/service/laboratory/bg_laboratory_03.jpg) no-repeat center 0;
		background-size: cover;
		-webkit-background-size: cover;
	}
	&.neo_member {
		* {
			color: $siteTextColor;
		}
		.member_list {
			> li {
				margin: 6em 0 0 0;
				.thumb {
					width: 140px;
					height: 140px;
					overflow: hidden;
					display: inline-block;
					vertical-align: middle;
					margin-right: 2em;
					img {
						border-radius: 50em;
					}
				}
				.profile_text {
					display: inline-block;
					vertical-align: middle;
					width: 82%;
					text-align: center;
					position: relative;
					top: 1.4em;
					p {
						text-align: left;
						span {
							display: block;
						}
					}
					.name {
						font-size: 1.6em;
						text-align: left;
					}
					.name_em {
						font-size: 1em;
						text-align: left;
					}
					.more_btn {
							vertical-align: middle;
							cursor: pointer;
							width: 100%;
							margin: 0 auto;
							white-space: nowrap;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							height: 50px;
							line-height: 50px;
							-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
						background: url(../img/service/professional/bg_service_pro_member.png) no-repeat center bottom;
						span {
							color: $orange;
							font-size: 1.2em;
							line-height: 25px;
							display: inline-block;
							vertical-align: middle;
							margin-left: -11em;
						}
						.more {
							display: inline-block;
							margin: 0 auto;
						}
						.close {
							display: none;
						}
						&.open {
							bottom: -50px;
						.more {
							display: none;
						}
						.close {
							display: inline-block;
							margin: 0 auto;
						}
							i {
								&.down {
									display: none;
								}
								&.up {
									display: inline-block;
								}
							}
						}
						i {
							font-size: 2em;
							color: $orange;
							font-weight: normal;
							line-height: 25px;
							vertical-align: middle;
							&.down {
								display: inline-block;
							}
							&.up {
								display: none;
							}
						}
					}
					.more_btn.open + .text {
						height: inherit;
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
					}
					.text {
						font-size: 1.1em;
						line-height: 1.6;
						margin-top: .6em;
						height: 100px;
						overflow: hidden;
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
	.pro_list {
		li {
			max-width: 800px;
			width: 100%;
			margin: 5em auto 0 auto;
			.number {
				font-size: 6.4em;
				font-weight: 100;
				line-height: 1;
				font-style: italic;
				&.lab_txt {
					display: inline-block;
					vertical-align: top;
					margin: 0 auto;
					font-size: 4em;
					&:before {
						content: '解決策';
						font-size: 20px;
						font-style: normal;
						padding-right: 4px;
					}
				}
			}
			dl {
				margin: .2em 0 0 0;
				dt {
					font-size: 2.2em;
					line-height: 1.4;
					small {
						font-size: 80%;
					}
				}
				dd {
					margin: 1.4em 0 0 0;
					font-size: 1.2em;
					line-height: 2;
					text-align: justify;
				}
			}
		}
	}
	.lab_list {
		margin: 6em 0 0 0;
		> li {
			display: inline-block;
			vertical-align: top;
			max-width: 28%;
			width: 100%;
			margin: 0 2%;
			dl {
				text-align: justify;
				dt {
					font-weight: normal;
					font-size: 1.4em;
					i {
						font-weight: 100;
						font-size: 2.2em;
						line-height: 1;
					}
				}
				dd {
					margin-top: 1em;
					font-size: 1.1em;
					line-height: 2;
				}
			}
		}
	}
	.advantages_disadvantages {
		margin: 4em 0 0 0;
		.item {
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
			}
			dl {
				text-align: justify;
				dt {
					font-size: 1.4em;
				}
				dd {
					margin: .4em 0 0 0;
					font-size: 1.2em;
				}
			}
		}
	}
	.inner {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		color: #fff;
		text-align: justify;
		.title {
			font-size: 2.2em;
			font-weight: normal;
			display: inline-block;
			border-bottom: 2px solid $orange;
			padding: 0 .4em 4px .4em;
		}
		.txt_1_wrap {
			margin: 2.8em auto 0 auto;
			.txt_1 {
				font-size: 1.2em;
				line-height: 2;
			}
		}
		.btns {
			li {
				a {
					span {}
				}
			}
		}
	}
}
@media #{$small} {
	.neolab_contents {
		padding: 4em 0;
		&.service_top_3 {
			padding: 4em 0 18em 0;
			.txt_1_wrap {
				.txt_1{
					.txt1 {
						font-size: 1em;
					}
					.txt2 {
						margin-top: 1em;
						font-size: 1.6em;
							line-height: 1.4;
					}
				}
			}
		}
		&.neo_member {
			padding-top: 6em;
			.member_list {
				> li {
					margin-top: 4em;
					padding: 0 0 2em 0;
					.thumb {
						display: block;
						margin: 0 auto;
					}
					.profile_text {
						display: block;
						width: 100%;
						position: relative;
						p {
							font-size: .7em;
							line-height: 1.8;
						}
						.name {
						}
						.name_em {
						}
						.more_btn {
							span {
							}
							.more {
							}
							i {
								&.down {
								}
								&.up {
								}
							}
						}
						.more_btn.open + .text {
						}
						.text {
							overflow-y: auto;
						}
					}
				}
			}
		}
		.pro_list {
			margin: 4em 0 0 0;
			li {
				margin-top: 1.6em;
				.number {
					zoom: 70%;
				}
				dl {
					dt {
						font-size: 1.5em;
						small {}
					}
					dd {
						margin-top: 1em;
						font-size: 1em;
						line-height: 1.7;
					}
				}
			}
		}
		.lab_list {
			margin-top: 4em;
			> li {
				display: block;
					max-width: none;
					margin: 1.6em 0 0 0;
					&:first-child {
						margin-top: 0;
					}
				dl {
					dt {
						i {}
					}
					dd {
						font-size: 1em;
						line-height: 1.7;
					}
				}
			}
		}
		.advantages_disadvantages {
			margin: 3em 0 0 0;
			.item {
				float: none !important;
				dl {
					margin: 2em 0 0 0;
					padding: 0 0 0 1em;
					dt {}
					dd {
						text-indent: -1em;
						font-size: 1em;
					}
				}
			}
		}
		.inner {
			padding: 0 1.6em;
			.title {
				font-size: 1.6em;
				line-height: 1.6;
			}
			.txt_1_wrap {
				margin-top: 2em;
				.txt_1 {
					line-height: 1.8;
					font-size: 1em;
					br {
						display: none;
					}
				}
			}
			.txt_2_wrap {
				.txt_1 {}
			}
		}
	}
}


/* ---------------
	共有パーツ [ 4 ]
-------------------------------------------------------*/
.c_parts_contact_bottom {
	display: block;
	text-align: center;
	padding: 6em 0;
	.title {
		font-size: 2.2em;
		font-weight: normal;
	}
	a {
		display: inline-block;
		vertical-align: middle;
		padding: 1em 2.8em;
		background: $orange;
		text-decoration: none;
		color: #fff;
		margin: 3em auto 0 auto;
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.logo {
			width: 100px;
		}
		.txt {
			font-size: 1.2em;
			font-weight: bold;
			margin: 0 .2em 0 .4em;
		}
		i {
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;
		}
	}
}
@media #{$small} {
	.c_parts_contact_bottom {
		padding: 4em 1.6em;
		.title {
			font-size: 1.2em;
		}
		a {
			margin-top: 2em;
			display: block;
			padding: 2em 0;
			span {}
			.logo {
				display: block;
				margin: 0 auto .4em auto;
			}
			.txt {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
			}
			i {}
		}
	}
}



/* ---------------
	pankuzu
-------------------------------------------------------*/
.breadcrumbs_wrap {
	.breadcrumbs_inner {
		max-width: 1180px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		padding: 1em 0;
		white-space: nowrap;
		overflow: hidden;
		span {
			display: inline-block;
			vertical-align: top;
			font-size: 10px;
			font-weight: bold;
			letter-spacing: 1px;
			color: #666;
			br { display: none; }
			> a {
				display: inline-block;
				vertical-align: middle;
				color: #fff;
				text-decoration: none;
			}
			> span {
				display: inline-block;
				vertical-align: middle;
				color: #aaa;
			}
		}
		i {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			margin: 0 8px;
			position: relative;
			top: 1px;
		}
	}
}
@media #{$small} {
	.breadcrumbs_wrap {
		.breadcrumbs_inner {
			max-width: none;
			padding: 1em 1.6em;
			overflow-x: scroll;
			span {
				> a {}
				> span {}
			}
			i {}
		}
	}
}




/* ---------------
	PAGER PC
-------------------------------------------------------*/
.wp-pagenavi {
	border-bottom: 1px solid #eee;
	padding: 6em 0;
	font-size: 10px;
	position: relative;
	text-align: center;
	a, span {
	display: inline-block;
	vertical-align: middle;
	padding: 0 6px;
	margin: 0 6px;
	height: 20px;
	line-height: 20px;
	}
	.pages {
	display: none;
	}
	.extend {
	margin: 0;
	}
	.previouspostslink, .nextpostslink {
	white-space: nowrap;
	text-align: center;
	}
	a {
	color: #666;
	i {
		font-size: 16px;
		position: relative;
		top: 2px;
	}
	}
	.first, .last {
	width: 40px;
	white-space: nowrap;
	text-align: center;
	}
	.first i, .last i {
	position: relative;
	padding: 0;
	}
	a {
	font-size: 10px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover {
		background: $blue;
		border-color: $blue;
		color: #fff;
	}
	}
	span {
	font-size: 10px;
	&.current {
		background: $blue;
		color: #fff;
	}
	}
}



/* ---------------
	PAGER SP
-------------------------------------------------------*/
.pagination {
	position: relative;
	height: 52px;
	margin-top: 4em;
	border-bottom: 1px solid #eee;
	a {
	background-color: #fff;
	position: absolute;
	top: 10px;
	width: 50px;
	height: 32px;
	padding: 0 6px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	text-decoration: none;
	font-size: 16px;
	line-height: 32px;
	color: #666;
	i {
		position: relative;
		line-height: 32px;
	}
	}
	.arrow-left-2 { left: 10px; }
	.arrow-left-1 { left: 70px; }
	.arrow-right-2 { right: 10px; }
	.arrow-right-1 { right: 70px; }
	.current {
	font-size: 11px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 54px;
	z-index: 5;
	}
}




/* ---------------
	footer
-------------------------------------------------------*/
.g_footer {}
.g_footer_primary {
	background: #3a3634;
	padding: 6em 0;
	.g_footer_logo {
		width: 120px;
		margin: 0 0 2em 0;
		a {
			display: block;
			img {}
		}
	}
	.wrap {
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		color: #fff;
		.item_center {
			display: inline-block;
			vertical-align: top;
			width: 7%;
		}
		.item {
			display: inline-block;
			vertical-align: top;
			width: 46%;
			> .menu {
				display: inline-block;
				vertical-align: top;
				&:first-child {
					margin: 0 4em 0 0;
				}
				li {
					margin: 0 0 4px 0;
					a {
						display: block;
						color: #fff;
						font-size: 12px;
						text-decoration: none;
						&:hover {
							color: #ddd;
						}
						span {}
					}
				}
			}
			.g_footer_txt {
				font-size: 1.1em;
				line-height: 2;
			}
			.g_footer_sns {
				margin: 2em 0 0 0;
				li {
					display: inline-block;
					vertical-align: top;
					margin: 0 1em 0 0;
					a {
						color: #fff;
						text-decoration: none;
						display: block;
						width: 40px;
						height: 40px;
						border-radius: 50em;
						text-align: center;
						&.facebook {
							background: $facebook;
						}
						&.twitter {
							background: $twitter;
						}
						i {
							line-height: 40px;
						}
					}
				}
			}
			.menu {
				li {
					a {
						span {}
					}
				}
			}
		}
	}
}
.g_footer_secondary {
	background: #fff;
	.wrap {
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		color: #3a3634;
		padding: 2em 0;
		.contact {
			float: left;
			span {
				display: inline-block;
				vertical-align: middle;
			}
			.title {
				margin-right: .6em;
				font-size: 1.8em;
				line-height: 1;
				font-weight: normal;
			}
			.mail {
				font-size: 1em;
				letter-spacing: 1px;
			}
		}
		.copy {
			float: right;
			font-size: 90%;
		}
	}
}
@media #{$small} {
	.g_footer {}
	.g_footer_primary {
		padding: 4em 0;
		.g_footer_logo {
			margin: 0 auto 2em auto;
			width: 120px;
			a {
				img {}
			}
		}
		.wrap {
			.item_center {
				display: none;
			}
			.item {
				display: block;
				width: auto;
				padding: 0 1.6em;
				.g_footer_txt {
					font-size: 1em;
					line-height: 1.8;
					br { display: none; }
				}
				.g_footer_sns {
					margin: 1.6em 0;
					li {
						a {
							i {}
						}
					}
				}
				.menu {
					display: block;
					margin: 0 !important;
					li {
						margin: 0;
						a {
							padding: .6em 0;
							position: relative;
							&:after {
								@include iconset;
								content: "\35";
								position: absolute;
								top: 50%;
								right: 0;
								font-size: 12px;
								margin-top: -6px;
							}
							span {}
						}
					}
				}
			}
		}
	}
	.g_footer_secondary {
		.wrap {
			padding: 1.6em;
			text-align: center;
			.contact {
				float: none;
				.title {
					font-size: 1.3em;
				}
				.mail {}
			}
			.copy {
				margin: .5em 0 0 0;
				float: none;
			}
		}
	}
}


#loading_wrap {
	width: 100%;
	height: 100%;
	background: $orange;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
#loading {
	width: 320px;
	height: 82px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}
#load {
	color: #fff;
	font-size: 1.2em;
	position: relative;
	top: 4px;
	font-weight: bold;
	letter-spacing: 2px;
}
.loding_txt {
	color: #fff;
	white-space: nowrap;
	letter-spacing: 2px;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 0 0;
	text-align: center;
	position: relative;
	top: 4px;
}
.loding_logo {
	margin: 0 auto 10px auto;
	svg {
		width: 140px;
		margin: 0 auto;
		path {
			fill: #fff;
		}
	}
}
#bar {
	width: 120px;
	height: 2px;
	padding: 1px;
	margin: 10px auto 0 auto;
	font-size: 1px;
	span {
		display: block;
		width: 0px;
		height: 2px;
		background: #fff;
	}
}


