

/*!
 * jquery-drawer v3.2.0
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */
/* ---------------
	drawer
-------------------------------------------------------*/

.drawer-nav {
	position: fixed;
	z-index: 1010;
	top: 0;
	overflow: hidden;
	width: 16.25rem;
	height: 100%;
	color: #222;
	background-color: #fff;
}
.drawer-hamburger { display: none !important; }
@media #{$small} {
	.drawer-hamburger { display: block !important; }
}
.drawer-brand {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 3.75rem;
	display: block;
	padding-right: .75rem;
	padding-left: .75rem;
	text-decoration: none;
	color: #222;
}

.drawer-menu {
	margin: 2em 0 0 0;
	padding: 0;
	list-style: none;
	text-align: left;
	li {
		margin: 0 0 0 0;
		a {
			display: block;
			font-size: 1em;
			text-decoration: none;
			padding: .7em 1.6em;
			color: #777;
		}
	}
}

.drawer-menu-item {
	font-size: 1rem;
	display: block;
	padding: .75rem;
	text-decoration: none;
	color: #222;
	&:hover {
	text-decoration: underline;
	color: #555;
	background-color: transparent;
	}
}

.drawer-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.drawer-open .drawer-overlay {
	display: block;
}

.drawer--top {
	.drawer-nav {
	top: -100%;
	left: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
	-webkit-transition: top 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: top 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	}
	&.drawer-open .drawer-nav {
	top: 0;
	}
	.drawer-hamburger, &.drawer-open .drawer-hamburger {
	right: 0;
	}
}

.drawer--left {
	.drawer-nav {
	left: -16.25rem;
	-webkit-transition: left 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: left 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	}
	.drawer-hamburger {
	left: 0;
	}
	&.drawer-open {
	.drawer-nav, .drawer-navbar .drawer-hamburger {
		left: 0;
	}
	.drawer-hamburger {
		left: 16.25rem;
	}
	}
}

.drawer--right {
	.drawer-nav {
	right: -16.25rem;
	-webkit-transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	}
	.drawer-hamburger {
	right: 0;
	}
	&.drawer-open {
	.drawer-nav, .drawer-navbar .drawer-hamburger {
		right: 0;
	}
	.drawer-hamburger {
		right: 16.25rem;
	}
	}
}
.sticky {
	.drawer-hamburger {
		position: fixed;
	}
}
.drawer-hamburger {
	position: absolute;
	z-index: 4;
	top: 0;
	display: block;
	box-sizing: content-box;
	width: 26px;
	height: 60px;
	padding: 0 1.4em;
	-webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	border: 0;
	outline: 0;
	background-color: $orange;
	&:hover {
	cursor: pointer;
	background-color: $orange;
	}
}

.drawer-hamburger-icon {
	position: relative;
	display: block;
	margin-top: 4px;
	width: 100%;
	height: 1px;
	-webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	background-color: #fff;
	&:after, &:before {
	width: 100%;
	height: 1px;
	-webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	background-color: #fff;
	}
	&:after, &:before {
	position: absolute;
	top: -8px;
	left: 0;
	content: " ";
	}
	&:after {
	top: 8px;
	}
}

.drawer-open .drawer-hamburger-icon {
	background-color: transparent;
	&:after {
	top: 0;
	}
	&:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}
	&:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
}

.sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.sr-only-focusable {
	&:active, &:focus {
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
	}
}

.drawer--sidebar {
	background-color: #fff;
	.drawer-contents {
	background-color: #fff;
	}
}

@media (min-width: 64em) {
	.drawer--sidebar {
	.drawer-hamburger {
		display: none;
		visibility: hidden;
	}
	.drawer-nav {
		display: block;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		position: fixed;
		width: 12.5rem;
		height: 100%;
	}
	&.drawer--left {
		.drawer-nav {
		left: 0;
		border-right: 1px solid #ddd;
		}
		.drawer-contents {
		margin-left: 12.5rem;
		}
	}
	&.drawer--right {
		.drawer-nav {
		right: 0;
		border-left: 1px solid #ddd;
		}
		.drawer-contents {
		margin-right: 12.5rem;
		}
	}
	.drawer-container {
		max-width: 48rem;
	}
	}
}

@media (min-width: 75em) {
	.drawer--sidebar {
	.drawer-nav {
		width: 16.25rem;
	}
	&.drawer--left .drawer-contents {
		margin-left: 16.25rem;
	}
	&.drawer--right .drawer-contents {
		margin-right: 16.25rem;
	}
	.drawer-container {
		max-width: 60rem;
	}
	}
}

.drawer--navbarTopGutter {
	padding-top: 3.75rem;
}

.drawer-navbar {
	.drawer-navbar-header {
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	}
	z-index: 3;
	top: 0;
	width: 100%;
}

.drawer-navbar--fixed {
	position: fixed;
}

.drawer-navbar-header {
	position: relative;
	z-index: 3;
	box-sizing: border-box;
	width: 100%;
	height: 3.75rem;
	padding: 0 .75rem;
	text-align: center;
}

.drawer-navbar {
	.drawer-brand {
	line-height: 3.75rem;
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: none;
	&:hover {
		background-color: transparent;
	}
	}
	.drawer-nav {
	padding-top: 3.75rem;
	}
	.drawer-menu {
	padding-bottom: 7.5rem;
	}
}

@media (min-width: 64em) {
	.drawer-navbar {
	height: 3.75rem;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	.drawer-navbar-header {
		position: relative;
		display: block;
		float: left;
		width: auto;
		padding: 0;
		border: 0;
	}
	.drawer-menu--right {
		float: right;
	}
	.drawer-menu li {
		float: left;
	}
	.drawer-menu-item {
		line-height: 3.75rem;
		padding-top: 0;
		padding-bottom: 0;
	}
	.drawer-hamburger {
		display: none;
	}
	.drawer-nav {
		position: relative;
		left: 0;
		overflow: visible;
		width: auto;
		height: 3.75rem;
		padding-top: 0;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	.drawer-menu {
		padding: 0;
	}
	.drawer-dropdown-menu {
		position: absolute;
		width: 16.25rem;
		border: 1px solid #ddd;
	}
	.drawer-dropdown-menu-item {
		padding-left: 0.75rem;
	}
	}
}

.drawer-dropdown-menu {
	display: none;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	> li {
	width: 100%;
	list-style: none;
	}
}

.drawer-dropdown-menu-item {
	line-height: 3.75rem;
	display: block;
	padding: 0;
	padding-right: .75rem;
	padding-left: 1.5rem;
	text-decoration: none;
	color: #222;
	&:hover {
	text-decoration: underline;
	color: #555;
	background-color: transparent;
	}
}

.drawer-dropdown {
	&.open > .drawer-dropdown-menu {
	display: block;
	}
	.drawer-caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	-webkit-transition: opacity .2s ease,-webkit-transform .2s ease;
	transition: opacity .2s ease,-webkit-transform .2s ease;
	transition: transform .2s ease,opacity .2s ease;
	transition: transform .2s ease,opacity .2s ease,-webkit-transform .2s ease;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	}
	&.open .drawer-caret {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	}
}

.drawer-container {
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 64em) {
	.drawer-container {
	max-width: 60rem;
	}
}

@media (min-width: 75em) {
	.drawer-container {
	max-width: 70rem;
	}
}

