
/* ---------------
	parts
-------------------------------------------------------*/

.m_width_s {
	max-width: 640px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.m_width_l {
	max-width:1280px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.m_w_none { max-width: auto; }
.c_white { color: #fff !important; }

.w_auto { margin-right: auto; margin-left: auto; }

.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }

.d_block { display: block; }
.d_inb { display: inline-block; vertical-align: middle; }
.f-bold { font-weight: bold; }
.f_left { float: left; }
.f_right { float: right; }

.tc { text-align: center !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }
.tj { text-align: justify !important; }
.re { position: relative;}

.mt0 { margin-top: 0 !important; }
.mt02 { margin-top: .2em !important; }
.mt04 { margin-top: .4em !important; }
.mt06 { margin-top: .6em !important; }
.mt08 { margin-top: .8em !important; }
.mt1 { margin-top: 1em !important; }
.mt2 { margin-top: 2em !important; }
.mt3 { margin-top: 3em !important; }
.mt4 { margin-top: 4em !important; }
.mt5 { margin-top: 5em !important; }
.mt6 { margin-top: 6em !important; }
.mt7 { margin-top: 7em !important; }
.mt8 { margin-top: 8em !important; }
.mt9 { margin-top: 9em !important; }
.mt10 { margin-top: 10em !important; }
.mb1 { margin-bottom: 1em !important; }
.mb2 { margin-bottom: 2em !important; }
.mb3 { margin-bottom: 3em !important; }
.mb4 { margin-bottom: 4em !important; }
.mb5 { margin-bottom: 5em !important; }
.mb6 { margin-bottom: 6em !important; }
.mb7 { margin-bottom: 7em !important; }
.mb8 { margin-bottom: 8em !important; }
.mb9 { margin-bottom: 9em !important; }
.mb10 { margin-bottom: 10em !important; }

@media (max-width: 768px) {
	.mt3 { margin-top: 2.4em !important; }
	.mt4 { margin-top: 3em !important; }
	.mt5 { margin-top: 3em !important; }
	.mt6 { margin-top: 3.8em !important; }
	.mt7 { margin-top: 4em !important; }
	.mt8 { margin-top: 4em !important; }
	.mt9 { margin-top: 4em !important; }
	.mt10 { margin-top: 4em !important; }
	.mb3 { margin-bottom: 2.4em !important; }
	.mb4 { margin-bottom: 3em !important; }
	.mb5 { margin-bottom: 3em !important; }
	.mb6 { margin-bottom: 3.8em !important; }
	.mb7 { margin-bottom: 4em !important; }
	.mb8 { margin-bottom: 4em !important; }
	.mb9 { margin-bottom: 4em !important; }
	.mb10 { margin-bottom: 4em !important; }
	.sp_mt0 { margin-top: 0 !important; }
	.sp_pt0 { padding-top: 0 !important; }
	.sp_pb0 { padding-bottom: 0 !important; }
	.sp_plr0 { padding-left: 0 !important; padding-right: 0 !important; }
}

.pt0 { padding-top: 0 !important; }
.pt02 { padding-top: .2em !important; }
.pt04 { padding-top: .4em !important; }
.pt06 { padding-top: .6em !important; }
.pt08 { padding-top: .8em !important; }
.pt1 { padding-top: 1em !important; }
.pt2 { padding-top: 2em !important; }
.pt3 { padding-top: 3em !important; }
.pt4 { padding-top: 4em !important; }
.pt5 { padding-top: 5em !important; }
.pt6 { padding-top: 6em !important; }
.pt7 { padding-top: 7em !important; }
.pt8 { padding-top: 8em !important; }
.pt9 { padding-top: 9em !important; }
.pt10 { padding-top: 10em !important; }


.prl1 { padding-right: 1em; padding-left: 1em; }
.prl2 { padding-right:  2em; padding-left:  2em; }
.b0 { bottom: 0 !important; }


