@charset "UTF-8";

@font-face {
  font-family: 'i2fjojomix';
  src: url('../font/jojomix/jojomix_-webfont.eot');
  src: url('../font/jojomix/jojomix_-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/jojomix/jojomix_-webfont.woff2') format('woff2'),
    url('../font/jojomix/jojomix_-webfont.woff') format('woff'),
    url('../font/jojomix/jojomix_-webfont.svg#i2fjojomix') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'great_day';
  src: url('../font/great_day/great_day_bold_personal_use-webfont.eot');
  src: url('../font/great_day/great_day_bold_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/great_day/great_day_bold_personal_use-webfont.woff2') format('woff2'),
    url('../font/great_day/great_day_bold_personal_use-webfont.woff') format('woff'),
    url('../font/great_day/great_day_bold_personal_use-webfont.svg#i2fgreat_day') format('svg');
  font-weight: normal;
  font-style: normal;
}

// utils
@import './utils/_setting';
@import './utils/_mixin';


// plugin wp
@import './plugin_wp/_wp_style';
@import './plugin_wp/_mw_wp_form';


// plugin js
@import './plugin_js/menu/_menu';
@import './plugin_js/izModal/_izModal';
@import './plugin_js/slick/_slick';
@import './plugin_js/slick/_slick-theme';


// components
@import "./components/_reset";
@import "./components/_font";
@import "./components/_btn";
@import "./components/_header";
@import "./components/_footer";
@import "./components/_animation";


// entries
@import "./entries/_top";
@import "./entries/_news";
@import "./entries/_about";
@import "./entries/_company";
@import "./entries/solution/_solution";
@import "./entries/interview/archive";
@import "./entries/interview/single";
@import "./entries/recruit/_slide";
@import "./entries/recruit/_header";
@import "./entries/recruit/_base";
@import "./entries/recruit/_top";
@import "./entries/_policy";
@import "./entries/_404";