

/*
// ----------------------------------------
//  common
// ----------------------------------------*/
.btn_sm{
    margin: 40px 0 0 12em;
    font-size: 1.2em;
    width: 200px;
}

.btn_sm a:link,
.btn_sm a:active,
.btn_sm a:visited{
    width: 200px;
    height: 48px;
    display: block;
    color: #FFFFFF;
    background-color: #333333;
    padding: 10px 0 0;
    cursor: auto;
}
.btn_sm a:hover{
    opacity:  0.6;
}

.btn_lg{
    margin: 60px auto 0;
    width: 320px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.btn_lg a:link,
.btn_lg a:active,
.btn_lg a:visited{
    width: 320px;
    height: 68px;
    display: block;
    color: #FFFFFF;
    background-color: #333333;
    padding: 18px 0 0;
    cursor: auto;
}
.btn_lg a:hover,
.btn_lg_w a:hover{
    opacity:  0.6;
}

.btn_lg_w{
    margin: 70px auto 0;
    width: 320px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.btn_lg_w a:link,
.btn_lg_w a:active,
.btn_lg_w a:visited{
    width: 320px;
    height: 68px;
    display: block;
    color: #333333;
    background-color: #FFFFFF;
    padding: 18px 0 0;
    cursor: auto;
}

/*
// ----------------------------------------
//  reset
// ----------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }
ul, li { list-style: none; }
a img { border: none; }
img { vertical-align: top; margin: 0; padding: 0; }
img { max-width: 100%; }

/*
// ----------------------------------------
//  basic
// ----------------------------------------*/
body {
	text-align: center;
	position: relative;
	color: #232323;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	line-height: 1.7;
	font-size: 80%;
	overflow-x: hidden;
    background-color: #f5f5f5;
}
body {
  font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "Kozuka Gothic Pro Light", Meiryo, "MS PGothic", sans-serif;
}

html, body { height: 100%; }
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	letter-spacing: 0.05em;
}
img {
	vertical-align: top;
	max-width: 100%;
	width: auto;
	height: auto;
}
a:link {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:visited {
	color: #232323;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #999999;
	text-decoration: none;
	outline: none;
}
.cf:after { content: ""; display: block; clear: both; height:0; overflow: hidden; }
.on a img,.op,.on a:hover img,.op:hover {
	@include transition(all, .3s, cubic-bezier(0,1,.64,1));
}
.on a:hover img,.op:hover {
	@include transition(all, .3s, cubic-bezier(0,1,.64,1));
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	opacity: 0.6;
	text-decoration: none;
}

/*
// ----------------------------------------
// header
// ----------------------------------------*/
.mv_sns_icn{
    position: absolute;
    top:20px;
    right:50px;
}
.mv_sns_icn ul li{
        display: block;
    margin: 0 0 10px 0;
}

.mv_sns_icn ul li a{
        display: block;
}

.h_icon-twitter{
    display: block;
    width: 20px;
    height: 25px;
    background: url(../img/img/header_icn_twi.svg) no-repeat center top;
}
.f_icon-facebook{
    display: block;
    width: 20px;
    height: 25px;
    background: url(../img/img/header_icn_fb.svg) no-repeat center top;
}
@media (max-width: 768px) {
    .mv_sns_icn{
        display: none;
}

}
/*
// ----------------------------------------
// footer
// ----------------------------------------*/
.g_footer {
  margin-top: 2em;
}

.g_footer .inner_first {
  background: #eee;
  padding: 3em 0;
}

.g_footer .inner_first .items {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2em;
}

.g_footer .inner_first .items a {
  display: block;
}

.g_footer .inner_first .items.poricy img {
  width: 248px;
}

.g_footer .inner_first .items.poricy_text img {
  width: 289px;
}

.g_footer .inner_second {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.g_footer .inner_second .items.logo {
  float: left;
}

.g_footer .inner_second .items.logo a {
  display: block;
  width: 80px;
  padding: 2em 0;
}

.g_footer .inner_second .items.scroll {
  float: right;
}

.g_footer .inner_second .items.scroll a {
  position: relative;
  top: 6px;
  width: 120px;
  display: block;
  padding: 2em 0;
}

@media (max-width: 768px) {
  .g_footer {
    margin-top: 2em;
  }
  .g_footer .inner_first {
    background: #eee;
    padding: 3em 1.6em;
  }
  .g_footer .inner_first .items {
    display: block;
    margin: 0;
  }
  .g_footer .inner_first .items a {
    display: block;
  }
  .g_footer .inner_first .items.poricy {
    display: inline-block;
  }
  .g_footer .inner_first .items.poricy img {
    width: 180px;
  }
  .g_footer .inner_first .items.poricy_text {
    margin-top: 2em;
  }
  .g_footer .inner_first .items.poricy_text img {
    width: 289px;
  }
  .g_footer .inner_second {
    padding: 0 1.6em;
  }
}
.share {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.share ul li {
  display: inline-block;
  margin: .4em;
}

.share ul li a {
  display: block;
  padding: .4em 2em;
  color: #fff;
  font-size: .9em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 50em;
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
}

.share ul li a:hover {
  opacity: .6;
}

.share ul li.tweet a {
  background-color: #55acee;
}

.share ul li.facebook a {
  background-color: #315096;
}

.share ul li.googleplus a {
  background-color: #dd4b39;
}

.share ul li.hatena a {
  background-color: #008fde;
}

.share ul li.line a {
  background-color: #00c300;
}

.share ul li.pocket a {
  background-color: #f03e51;
}

.share ul li.rss a {
  background-color: #ff8c00;
}

.share ul li.feedly a {
  background-color: #6cc655;
}

@media (max-width: 768px) {
  .share {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .share ul li {
    display: inline-block;
    margin: .4em .2em;
  }
}


/*
// ----------------------------------------
//  main visual
// ----------------------------------------*/

h1.logo {
		position: absolute;
		top: 50px;
		left: 0;
        right: 0;
		z-index: 10;
	}
h1.logo span{
    padding: 125px 0 0 0;
}
.lpttl{
    margin: 20px 0 0;
}
.top_visual_wrap {
	width: 100%;
}
.top_visual {
	overflow: hidden;
	height: 860px;
    max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
    background: url(../img/img/mv_bg.jpg) no-repeat center top;
}
.main_block {
		max-width: 1400px;
		width: 100%;
		margin: 0 auto 0 auto;
        position: absolute;
        top: 360px;
        left: 0;
        right: 0;
        z-index: 10;
	}
.top_visual_description .txt1 {
		padding: 125px 0 0 0;
	}
.top_visual_description h2 img{
            width: 80%
        }
/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    h1.logo {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .top_visual {
        overflow: hidden;
        height: 700px;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        background: url(../img/img/mv_bg.jpg) no-repeat center 100%;
    }
    .main_block {
            max-width: 1400px;
            width: 100%;
            margin: 0 auto 0 auto;
            position: absolute;
            top: 290px;
            left: 0;
            right: 0;
            z-index: 10;
        }
    .top_visual_description .txt1 {
            padding: 125px 0 0 0;
        }
    .top_visual_description h2 img{
            width: 80%;
        }

}



/*
// ----------------------------------------
//  section01　驚きを
// ----------------------------------------*/
.s1_block{
	height: 700px;
	width: 100%;
	text-align: center;
    background: url(../img/img/s1_base.gif) no-repeat center top;
}
.c_title_block{
    padding-top: 64px;
    margin-bottom:30px;
    background: url(../img/img/s1_dot.svg) no-repeat center 170px; 
}
.c_title_block h1{
    font-size: 3em;
    color: #FFFFFF;
    height: 130px;
}

.text_wrap{
    color: #FFFFFF;
    font-size: 130%;
}
.text_wrap strong{
    line-height: 2em;
    font-size: 1.3em;
}
.s1_block .inner_sp{
    display: none;
}

/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
.s1_block{
	height: 100%;
	width: 100%;
	text-align: center;
    background: url(../img/img/s1_base.gif) no-repeat center 100%;
    padding-bottom: 30px;
}
.c_title_block{
    padding-top: 20px;
    margin-bottom: 0px;
    background: url(../img/img/s1_dot.svg) no-repeat center 80px; 
}
.c_title_block h1{
    font-size: 2.2em;
    color: #FFFFFF;
    height: 100px;
}

.text_wrap{
    color: #FFFFFF;
    font-size: 100%;
}
.text_wrap strong{
    line-height: 1.5em;
    font-size: 1.3em;
}   
.s1_block .inner{
    display: none;
}
.s1_block .inner_sp{
    width: 90%;
    display: block;
    margin: 0 auto;
}
    
}
/*
// ----------------------------------------
//  section02　実施概要
// ----------------------------------------*/
.s2_block{
	height: 1340px;
	width: 100%;
	text-align: center;
    background: url(../img/img/s2_base.gif) repeat-y center top;
}

.c_title_block h1.cl_bl{
    color: #000000;
}
.s2_subtxt p{
    max-width: 1000px;
    margin: 0px auto 50px auto;
}

.s2-outline_flow{
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
}
.s2-outline_flow ul li{

}
.s2-outline_flow ul li.flow_bl{
    margin: 0 0 50px 0;
}

.s2-outline_flow ul li img.fl{
    float: left;
    margin-right: 4em;
}
.s2-outline_flow ul li img.fr{
    float: right;
}
.s2-outline_flow ul li .inner{
    float: left;
    text-align: left;
    padding-top: 7%;
}
.s2-outline_flow ul li .inner h2{
    padding: 0 0 0 1em;
    font-size: 2em;
    width: 50%;
    margin: 0 0 20px 0;
}
.s2-outline_flow ul li .inner ul li{
    list-style: disc;
    list-style-position: inside;
    text-align: left;
    font-size: 1.2em;
}
.s2-outline_flow ul li .inner ul li strong{
    background-color: yellow;
    font-size: 1.2em;
}
.s2-outline_flow ul li .inner h2.flow01{
    background: url(../img/img/s2_flow_ttlimg01.svg) no-repeat left 12px;
}
.s2-outline_flow ul li .inner h2.flow02{
    background: url(../img/img/s2_flow_ttlimg02.svg) no-repeat left 12px;
}
.s2-outline_flow ul li .inner h2.flow03{
    background: url(../img/img/s2_flow_ttlimg03.svg) no-repeat left 12px;
}

/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    .s2_block{
        height: 100%;
        width: 100%;
        text-align: center;
        background: url(../img/img/s2_base.gif) repeat-y center top;
        
    }

    .c_title_block h1.cl_bl{
        color: #000000;
    }
    .s2_subtxt p{
    max-width: 90%;
    margin: 0px auto 50px auto;
    }
    .s2-outline_flow{
        max-width: 1010px;
        width: 100%;
        margin: 0 auto;
    }
    .s2-outline_flow ul li{

    }
    .s2-outline_flow ul li.flow_bl{
        margin: 0 0 50px 0;
    }

    .s2-outline_flow ul li img.fl{
        float: none;
        margin-right: 0;
    }
    .s2-outline_flow ul li img.fr{
        float: none;
    }
    .s2-outline_flow ul li .inner{
        float: none;
        text-align: left;
        padding-top: 2%;
        width: 90%;
        margin-left: 5%;
    }
    .s2-outline_flow ul li .inner h2{
        padding: 0 0 0 1em;
        font-size: 1.5em;
        width: 100%;
        margin: 0 0 20px 0;
    }
    .s2-outline_flow ul li .inner ul li{
        list-style: disc;
        list-style-position: inside;
        text-align: left;
        font-size: 1em;

    }
    .s2-outline_flow ul li .inner h2.flow01{
        background: url(../img/img/s2_flow_ttlimg01.svg) no-repeat left 8px;
    }
    .s2-outline_flow ul li .inner h2.flow02{
        background: url(../img/img/s2_flow_ttlimg02.svg) no-repeat left 8px;
    }
    .s2-outline_flow ul li .inner h2.flow03{
        background: url(../img/img/s2_flow_ttlimg03.svg) no-repeat left 8px;
    }   
    
}

/*
// ----------------------------------------
//  section03　募集要項
// ----------------------------------------*/
.s3_block{
	height: 730px;
	width: 100%;
	text-align: center;
    background: url(../img/img/s3_base.gif) repeat-y center 100%;
    color: #FFFFFF;
}
.recruit_blocks{
    text-align: left;
}
.recruit_blocks dl{
    width: 800px;
    min-height: 60px;
    margin: 0 auto;
    padding: 1.5em 0;
    border-bottom: 1px solid #FFFFFF;  
}

.recruit_blocks dl dt{
    float:left;
    width: 200px;
    margin: 0 auto;
    font-weight: bold;
}
.recruit_blocks dl dd{
    float:left;
    width: 460px;
    margin: 0 auto;
}
 .recruit_blocks dl dd:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 8px;
    }
/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    .s3_block{
	height: 100%;
	text-align: center;
    background: url(../img/img/s3_base.gif) repeat-y center 100%;
    padding-bottom: 30px;
    }
    .recruit_blocks{
        text-align: center;
    }
    .recruit_blocks dl{
        width: 90%;
        margin: 1em auto;
        border-bottom: 0; 
    }

    .recruit_blocks dl dt{
        float:none;
        width: 80%;
        margin: 0 auto;
        font-weight: bold;
        line-height: 3em;
        border-bottom: 1px solid #FFFFFF; 
        font-size: 120%;
    }
    .recruit_blocks dl dd{
        float:none;
        width: 80%;
        margin: 0 auto;
        line-height: 2em;
    }
     .recruit_blocks dl dd:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 8px;
        }
      .s3_block .inner{
        width: 100%;

      }
    
}
/*
// ----------------------------------------
//  section04　社長メッセージ
// ----------------------------------------*/
.s4_block{
	height: 880px;
	width: 100%;
    margin: 0 auto;
	text-align: center;
    background: url(../img/img/s4_base.gif) no-repeat center top;
}
.s4_block .inner_sp{
    display: none;
}
/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    .s4_block{
	height: 100%;
    padding-bottom:30px; 
}
    .inner{
        width: 80%;
        margin: 0 auto;
    }
    .s4_block .inner_sp{
    display: block;
    width: 90%;
    margin: 0 auto;
}
    .s4_block .inner{
    display: none;
}
}
/*
// ----------------------------------------
//  section05 ネオラボ経営陣
// ----------------------------------------*/
.s5_block{
	height: 820px;
	width: 100%;
    margin: 0 auto;
    background: url(../img/img/s5_base.gif) no-repeat center top;
    display: block;
    padding-bottom: 30px;
}
.s5_block .inner{
    position: relative;
    max-width: 1280px;
	width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.s5_block .inner dl{
    width: 33%;
    position: relative;
    /*margin-right: 100px;*/
    float: left;
    color: #FFFFFF;
    padding: 0 65px;
}
.s5_block .inner dl dd{

}
.s5_block .inner dl dd h2{
    font-size: 1em;
    font-weight: bold;
    margin: 10px auto;
}
.s5_block .inner dl dd h3{
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px auto;
}
.s5_block .inner dl dd p{
    font-size: .9em;
    margin: 20px auto;
}

/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    .s5_block{
	height: 100%;
    background: url(../img/img/s5_base.gif) repeat-y center top;
    }
    .s5_block .inner dl{
    width: 100%;
    float: none;
    left: 0;
    padding-bottom:30px; 
    }   
        
}


/*
// ----------------------------------------
//  section06　ネオラボ
// ----------------------------------------*/
.s6_block{
	height: 740px;
    max-width: 1280px;
	width: 100%;
    margin: 0 auto;
    background-color: #eef1f4;
}
.s6_about_neolab{
    max-width: 1010px;
    width: 100%;
    margin: 50px auto 0;
}
.s6_about_neolab .aboutimg{
    float: right;
}
.s6_about_neolab .aboutimg a:link{
    cursor: auto;
    display: block;
}
.s6_about_neolab .aboutimg a:hover{
    cursor: auto;
    display: block;
    opacity:  0.6;
}


.s6_about_neolab p{
    text-align: left;
}

/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    .s6_block{
	height: 100%;
    margin: 0 auto 30px auto;
    }
    .s6_about_neolab{
        width: 100%;
        margin: 50px auto 0;
    }
    .s6_about_neolab .aboutimg{
        float: none;
    }
    .s6_about_neolab p{
        text-align: left;
        margin: 20px auto;
        width: 90%;
    }
    .btn_sm{
    margin: 0 auto;
}
    
}

/*
// ----------------------------------------
//  section07　お問い合わせ　
// ----------------------------------------*/
.s7_block{
	height: 360px;
	width: 100%;
    margin: 0 auto;
	text-align: center;
}

/*----------------- Responsive　---------------*/

@media (max-width: 768px) {
    .s7_block{
	height: 100%;
    }
}