@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7u3yr3');
  src:  url('fonts/icomoon.eot?7u3yr3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7u3yr3') format('truetype'),
    url('fonts/icomoon.woff?7u3yr3') format('woff'),
    url('fonts/icomoon.svg?7u3yr3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e80d";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-copyright:before {
  content: "\e90f";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-home:before {
  content: "\e88a";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-lens:before {
  content: "\e3fa";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-arrow2:before {
  content: "\e90c";
  color: #ff6728;
}
.icon-neolab:before {
  content: "\e90d";
  color: #ff6728;
}
.icon-evernote:before {
  content: "\e900";
  color: #2dbd60;
}
.icon-facebook:before {
  content: "\e901";
  color: #3b5998;
}
.icon-feedly:before {
  content: "\e902";
  color: #2bb24c;
}
.icon-googleplus:before {
  content: "\e903";
  color: #dc4e41;
}
.icon-hatenabookmark:before {
  content: "\e904";
  color: #00a4de;
}
.icon-instagram:before {
  content: "\e905";
  color: #e4405f;
}
.icon-line:before {
  content: "\e906";
  color: #00c300;
}
.icon-messenger:before {
  content: "\e907";
  color: #0084ff;
}
.icon-pinterest:before {
  content: "\e908";
  color: #bd081c;
}
.icon-pocket:before {
  content: "\e909";
  color: #ef3f56;
}
.icon-qiita:before {
  content: "\e90a";
  color: #55c500;
}
.icon-twitter:before {
  content: "\e90b";
  color: #1da1f2;
}
