/* chatbody */
.balloon-box {
    overflow: hidden;
    margin: 0.4rem 0 0.4rem;
  text-align:left;
}
.balloon-box:last-of-type {
    margin: 0 0 1.7rem;
}
.balloon-icon {
    width: 70px;
    text-align: center;
    line-height: 1rem;
}
.bot-icon:before{
  content:"";
  background: url(../img/callingbot/roboto.png) no-repeat center center;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  vertical-align: middle;
}
.user-icon:before{
  content:"";
  background: url(../img/callingbot/user-icon.svg) no-repeat center center;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  vertical-align: middle;
}
.balloon-icon img {
    width: 70px;
    height: auto;
}
.balloon-icon span {
    position: absolute;
    top: 0;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}
.balloon-left .balloon-icon {
    position: relative;
    float: left;
    margin:0 -70px 0 0;
}
.balloon-left .balloon-serif {
    position: relative;
    float: left;
    margin: 0 70px 0 90px;
    padding: 10px 0 0;
}
.balloon-left .balloon-serif:before, .balloon-left .balloon-serif::before {
    position: absolute;
    content: "";
    top: 20px; left: -10px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: transparent #eeeeee transparent transparent;
    z-index: 1;
}
.balloon-left .balloon-serif .balloon-content {
    position: relative;
    padding: 1.1rem 0.6rem;
    line-height: 1.1rem;
    background: #eeeeee;
    border-radius: 6px;
    z-index: 2;
}
.balloon-right .balloon-icon {
    position: relative;
    float: right;
    margin: 0 0 0 -90px;
}
.balloon-right .balloon-serif {
    position: relative;
    float: right;
    margin: 0 110px 0 90px;
    padding: 10px 0 0;
}
.balloon-right .balloon-serif:before, .balloon-right .balloon-serif::before {
    position: absolute;
    content: "";
    top: 20px; right: -10px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #eeeeee;
    z-index: 1;
}
.balloon-right .balloon-serif .balloon-content {
    position: relative;
    padding: 1.1rem 0.6rem;
    line-height: 1.1rem;
    background: #eeeeee;
    border-radius:6px;
    z-index:2;
}

/* body */
#chat{
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#chat-head:before{
  content:"";
  background: url(../img/common/c_logo_white_01.png) no-repeat center center;
  display: inline-block;
  width: 130px;
  height: 30px;
  background-size: contain;
  vertical-align: middle;
}
#chat-head{
  color:#3f3f3f;
  height:40px;
  text-align:left;
}
.chat-title{
  font-size:1.6em;
  color:white;
  font-weight:500;
}
#chat-body{
  overflow-y:scroll;
  height:380px;
  background-color:#db4437;
  border-top:solid 1px #fff;
  overflow: -moz-scrollbars-none;
}
#chat-body::-webkit-scrollbar{
  background-color:#db4437;
}

#menu { list-style: none}

#menu .balloon-content {
  width: 200px;
  padding: 0
}

#menu li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
  padding: 15px;
  text-align: center;
}

#menu li a:hover {
  text-decoration: none;
}

/* chat input */
#bot-form{
}
span.bot-important{
  font-weight: 600;
  color:#db4437;
}
.bot-send{
  background-color:#db4437;
  color:#FFF;
  top:0;
  bottom:0;
  border-color:#FFF;
}
#bot-input{
  padding:0.4rem;
  background-color:#FFF;
  color:#db4437;
  border-color:#FFF;
}
#bot-input::-webkit-input-placeholder {
    color: #db4437;
    font-size: 1.0em;
    font-weight: 100;
    letter-spacing: 0.2em;
}
/* calling.fun */

#bot.float_nav {
  width: 400px;
  height: 550px;
  bottom: 3.2em;
  right: 4em;
}
#bot.float_nav.closed {
    width: 60px;
    height: 60px;
    border-radius: 50em;
}
#bot.float_nav{
    border-radius: 2em;
}
#bot.float_nav.closed .toggle {
    background: url(../img/callingbot/roboto.png) no-repeat center center;
    background-size:3.2em;
    bottom:3.2em;
}

#bot.float_nav .toggle{
  background: url(../img/icon/icon-btn_service_close.svg) no-repeat center center;
  background-size:5.2em;

}
#bot.float_nav .toggle {
    position: fixed;
    padding: 0;
    margin: 0;
    border-radius: 50em;
    bottom: 3.2em;
    right: 4em;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: all 200ms;
}

@media (max-width: 768px){
  #chat-input{
    margin :0.4rem;
  }
  #chat-head:before{
    height:0;
  }
  #chat-head:before{
    display:none;
  }
  #chat-body{
    border:none;
  }
  .float_nav{
    padding:0.4em;
  }
  #bot.float_nav{
      bottom: 0em;
      right: 0em;
      border-radius:0;
  }
  #chat{
    height:100%;
  }
  #bot.float_nav.closed {
      bottom: 0em;
      right: 0em;
  }
  #bot.float_nav.closed {
      bottom: 0.4em;
      right: 0.4em;
  }
  #bot.float_nav .toggle {
      bottom: 0.4em;
      right: 0.4em;
      width: 50px;
      height: 50px;
  }
  #bot.float_nav.closed .toggle{
      bottom: 0.8em;
      right: 0.8em;
  }
  #bot.float_nav{
    width:100%;
    height:90%;
  }
  .balloon-right .balloon-serif{
    margin: 0 90px 0 0;
  }
  .balloon-left .balloon-serif{
    margin: 0 0 0 70px;
  }
  .balloon-icon{
    width:50px;
  }
}